<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.wise.advisor.prepare.udefoutlier.service.WadUodMapper">
  
  <resultMap id="BaseResultMap" type="kr.wise.advisor.prepare.udefoutlier.service.WadUod"  extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap" >
    <id column="UDF_OTL_DTC_ID"     jdbcType="VARCHAR"   property="udfOtlDtcId" />  
    <result column="UDF_OTL_DTC_NM" jdbcType="VARCHAR"   property="udfOtlDtcNm" />  
    <result column="MDL_JSON_INF"   jdbcType="CLOB"      property="mdlJsonInf"  />  
    <result column="ANA_STR_DTM"    jdbcType="TIMESTAMP" property="anaStrDtm"   />     
    <result column="ANA_END_DTM"    jdbcType="TIMESTAMP" property="anaEndDtm"   />  
  </resultMap>
  <resultMap id="ErrDataResultMap" type="kr.wise.advisor.prepare.udefoutlier.service.WadErrData">
    <id column="UDF_OTL_DTC_ID" jdbcType="VARCHAR" property="udfOtlDtcId" />
    <id column="ANA_STR_DTM" jdbcType="TIMESTAMP" property="anaStrDtm" />
    <id column="ER_DATA_SNO" jdbcType="DECIMAL" property="erDataSno" />
    <result column="CRE_COMP_ID" jdbcType="VARCHAR" property="creCompId" />
    <result column="ANA_DGR" jdbcType="VARCHAR" property="anaDgr" />
    <result column="COL_CNT" jdbcType="DECIMAL" property="colCnt" />
    <result column="COL_NM1" jdbcType="VARCHAR" property="colNm1" />
    <result column="COL_NM2" jdbcType="VARCHAR" property="colNm2" />
    <result column="COL_NM3" jdbcType="VARCHAR" property="colNm3" />
    <result column="COL_NM4" jdbcType="VARCHAR" property="colNm4" />
    <result column="COL_NM5" jdbcType="VARCHAR" property="colNm5" />
    <result column="COL_NM6" jdbcType="VARCHAR" property="colNm6" />
    <result column="COL_NM7" jdbcType="VARCHAR" property="colNm7" />
    <result column="COL_NM8" jdbcType="VARCHAR" property="colNm8" />
    <result column="COL_NM9" jdbcType="VARCHAR" property="colNm9" />
    <result column="COL_NM10" jdbcType="VARCHAR" property="colNm10" />
    <result column="COL_NM11" jdbcType="VARCHAR" property="colNm11" />
    <result column="COL_NM12" jdbcType="VARCHAR" property="colNm12" />
    <result column="COL_NM13" jdbcType="VARCHAR" property="colNm13" />
    <result column="COL_NM14" jdbcType="VARCHAR" property="colNm14" />
    <result column="COL_NM15" jdbcType="VARCHAR" property="colNm15" />
    <result column="COL_NM16" jdbcType="VARCHAR" property="colNm16" />
    <result column="COL_NM17" jdbcType="VARCHAR" property="colNm17" />
    <result column="COL_NM18" jdbcType="VARCHAR" property="colNm18" />
    <result column="COL_NM19" jdbcType="VARCHAR" property="colNm19" />
    <result column="COL_NM20" jdbcType="VARCHAR" property="colNm20" />
    <result column="COL_NM21" jdbcType="VARCHAR" property="colNm21" />
    <result column="COL_NM22" jdbcType="VARCHAR" property="colNm22" />
    <result column="COL_NM23" jdbcType="VARCHAR" property="colNm23" />
    <result column="COL_NM24" jdbcType="VARCHAR" property="colNm24" />
    <result column="COL_NM25" jdbcType="VARCHAR" property="colNm25" />
    <result column="COL_NM26" jdbcType="VARCHAR" property="colNm26" />
    <result column="COL_NM27" jdbcType="VARCHAR" property="colNm27" />
    <result column="COL_NM28" jdbcType="VARCHAR" property="colNm28" />
    <result column="COL_NM29" jdbcType="VARCHAR" property="colNm29" />
    <result column="COL_NM30" jdbcType="VARCHAR" property="colNm30" />
    <result column="COL_NM31" jdbcType="VARCHAR" property="colNm31" />
    <result column="COL_NM32" jdbcType="VARCHAR" property="colNm32" />
    <result column="COL_NM33" jdbcType="VARCHAR" property="colNm33" />
    <result column="COL_NM34" jdbcType="VARCHAR" property="colNm34" />
    <result column="COL_NM35" jdbcType="VARCHAR" property="colNm35" />
    <result column="COL_NM36" jdbcType="VARCHAR" property="colNm36" />
    <result column="COL_NM37" jdbcType="VARCHAR" property="colNm37" />
    <result column="COL_NM38" jdbcType="VARCHAR" property="colNm38" />
    <result column="COL_NM39" jdbcType="VARCHAR" property="colNm39" />
    <result column="COL_NM40" jdbcType="VARCHAR" property="colNm40" />
    <result column="COL_NM41" jdbcType="VARCHAR" property="colNm41" />
    <result column="COL_NM42" jdbcType="VARCHAR" property="colNm42" />
    <result column="COL_NM43" jdbcType="VARCHAR" property="colNm43" />
    <result column="COL_NM44" jdbcType="VARCHAR" property="colNm44" />
    <result column="COL_NM45" jdbcType="VARCHAR" property="colNm45" />
    <result column="COL_NM46" jdbcType="VARCHAR" property="colNm46" />
    <result column="COL_NM47" jdbcType="VARCHAR" property="colNm47" />
    <result column="COL_NM48" jdbcType="VARCHAR" property="colNm48" />
    <result column="COL_NM49" jdbcType="VARCHAR" property="colNm49" />
    <result column="COL_NM50" jdbcType="VARCHAR" property="colNm50" />
    <result column="COL_NM51" jdbcType="VARCHAR" property="colNm51" />
    <result column="COL_NM52" jdbcType="VARCHAR" property="colNm52" />
    <result column="COL_NM53" jdbcType="VARCHAR" property="colNm53" />
    <result column="COL_NM54" jdbcType="VARCHAR" property="colNm54" />
    <result column="COL_NM55" jdbcType="VARCHAR" property="colNm55" />
    <result column="COL_NM56" jdbcType="VARCHAR" property="colNm56" />
    <result column="COL_NM57" jdbcType="VARCHAR" property="colNm57" />
    <result column="COL_NM58" jdbcType="VARCHAR" property="colNm58" />
    <result column="COL_NM59" jdbcType="VARCHAR" property="colNm59" />
    <result column="COL_NM60" jdbcType="VARCHAR" property="colNm60" />
    <result column="COL_NM61" jdbcType="VARCHAR" property="colNm61" />
    <result column="COL_NM62" jdbcType="VARCHAR" property="colNm62" />
    <result column="COL_NM63" jdbcType="VARCHAR" property="colNm63" />
    <result column="COL_NM64" jdbcType="VARCHAR" property="colNm64" />
    <result column="COL_NM65" jdbcType="VARCHAR" property="colNm65" />
    <result column="COL_NM66" jdbcType="VARCHAR" property="colNm66" />
    <result column="COL_NM67" jdbcType="VARCHAR" property="colNm67" />
    <result column="COL_NM68" jdbcType="VARCHAR" property="colNm68" />
    <result column="COL_NM69" jdbcType="VARCHAR" property="colNm69" />
    <result column="COL_NM70" jdbcType="VARCHAR" property="colNm70" />
    <result column="COL_NM71" jdbcType="VARCHAR" property="colNm71" />
    <result column="COL_NM72" jdbcType="VARCHAR" property="colNm72" />
    <result column="COL_NM73" jdbcType="VARCHAR" property="colNm73" />
    <result column="COL_NM74" jdbcType="VARCHAR" property="colNm74" />
    <result column="COL_NM75" jdbcType="VARCHAR" property="colNm75" />
    <result column="COL_NM76" jdbcType="VARCHAR" property="colNm76" />
    <result column="COL_NM77" jdbcType="VARCHAR" property="colNm77" />
    <result column="COL_NM78" jdbcType="VARCHAR" property="colNm78" />
    <result column="COL_NM79" jdbcType="VARCHAR" property="colNm79" />
    <result column="COL_NM80" jdbcType="VARCHAR" property="colNm80" />
    <result column="COL_NM81" jdbcType="VARCHAR" property="colNm81" />
    <result column="COL_NM82" jdbcType="VARCHAR" property="colNm82" />
    <result column="COL_NM83" jdbcType="VARCHAR" property="colNm83" />
    <result column="COL_NM84" jdbcType="VARCHAR" property="colNm84" />
    <result column="COL_NM85" jdbcType="VARCHAR" property="colNm85" />
    <result column="COL_NM86" jdbcType="VARCHAR" property="colNm86" />
    <result column="COL_NM87" jdbcType="VARCHAR" property="colNm87" />
    <result column="COL_NM88" jdbcType="VARCHAR" property="colNm88" />
    <result column="COL_NM89" jdbcType="VARCHAR" property="colNm89" />
    <result column="COL_NM90" jdbcType="VARCHAR" property="colNm90" />
    <result column="COL_NM91" jdbcType="VARCHAR" property="colNm91" />
    <result column="COL_NM92" jdbcType="VARCHAR" property="colNm92" />
    <result column="COL_NM93" jdbcType="VARCHAR" property="colNm93" />
    <result column="COL_NM94" jdbcType="VARCHAR" property="colNm94" />
    <result column="COL_NM95" jdbcType="VARCHAR" property="colNm95" />
    <result column="COL_NM96" jdbcType="VARCHAR" property="colNm96" />
    <result column="COL_NM97" jdbcType="VARCHAR" property="colNm97" />
    <result column="COL_NM98" jdbcType="VARCHAR" property="colNm98" />
    <result column="COL_NM99" jdbcType="VARCHAR" property="colNm99" />
    <result column="COL_NM100" jdbcType="VARCHAR" property="colNm100" />
    <result column="OTL_YN" jdbcType="VARCHAR" property="otlYn" />
    <result column="OTL_RPL" jdbcType="VARCHAR" property="otlRpl" />
    <result column="OTL_RPL_VAL" jdbcType="VARCHAR" property="otlRplVal" />
  </resultMap>
  
  <sql id="Base_Column_List">
    UDF_OTL_DTC_ID, UDF_OTL_DTC_NM, MDL_JSON_INF, OBJ_DESCN, OBJ_VERS, REG_TYP_CD, WRIT_DTM, WRIT_USER_ID
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from WAD_UOD
    where UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from WAD_UOD
    where UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="kr.wise.advisor.prepare.udefoutlier.service.WadUod">
    insert into WAD_UOD (UDF_OTL_DTC_ID, UDF_OTL_DTC_NM, OBJ_DESCN, 
      OBJ_VERS, REG_TYP_CD, WRIT_DTM, 
      WRIT_USER_ID)
    values (#{udfOtlDtcId,jdbcType=VARCHAR}, #{udfOtlDtcNm,jdbcType=VARCHAR}, #{objDescn,jdbcType=VARCHAR}, 
      #{objVers,jdbcType=DECIMAL}, #{regTypCd,jdbcType=VARCHAR}, #{writDtm,jdbcType=TIMESTAMP}, 
      #{writUserId,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="kr.wise.advisor.prepare.udefoutlier.service.WadUod">
    insert into WAD_UOD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="udfOtlDtcId != null">
        UDF_OTL_DTC_ID,
      </if>
      <if test="udfOtlDtcNm != null">
        UDF_OTL_DTC_NM,
      </if>
      <if test="mdlJsonInf != null">
        MDL_JSON_INF,
      </if>
      
      <if test="objDescn != null">
        OBJ_DESCN,
      </if>
      <if test="objVers != null">
        OBJ_VERS,
      </if>
      <if test="regTypCd != null">
        REG_TYP_CD,
      </if>
      <if test="writDtm != null">
        WRIT_DTM,
      </if>
      <if test="writUserId != null">
        WRIT_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="udfOtlDtcId != null">
        #{udfOtlDtcId,jdbcType=VARCHAR},
      </if>
      <if test="udfOtlDtcNm != null">
        #{udfOtlDtcNm,jdbcType=VARCHAR},
      </if>
      <if test="mdlJsonInf != null">
        #{mdlJsonInf,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null">
        #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null">
        #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null">
        #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="writDtm != null">
        #{writDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="writUserId != null">
        #{writUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.advisor.prepare.udefoutlier.service.WadUod">
    update WAD_UOD
    <set>
      <if test="udfOtlDtcNm != null">
        UDF_OTL_DTC_NM = #{udfOtlDtcNm,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null">
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null">
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null">
        REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="writDtm != null">
        WRIT_DTM = #{writDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="writUserId != null">
        WRIT_USER_ID = #{writUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="kr.wise.advisor.prepare.udefoutlier.service.WadUod">
    update WAD_UOD
    set UDF_OTL_DTC_NM = #{udfOtlDtcNm,jdbcType=VARCHAR},
      OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      WRIT_DTM = #{writDtm,jdbcType=TIMESTAMP},
      WRIT_USER_ID = #{writUserId,jdbcType=VARCHAR}
    where UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
  </update>
  
 
  <select id="selectUdefOutlierList"  parameterType="kr.wise.advisor.prepare.udefoutlier.service.WadUod" resultMap="BaseResultMap">
  
  	SELECT A.UDF_OTL_DTC_ID
  	     , A.UDF_OTL_DTC_NM
  	     , A.MDL_JSON_INF  	     
  	     , A.WRIT_DTM
  	     , A.WRIT_USER_ID
  	     --, GET_USER_NM(A.WRIT_USER_ID) AS WRIT_USER_NM
  	     , '' AS WRIT_USER_NM
  	     , B.ANA_STR_DTM
  	     , B.ANA_END_DTM
      FROM WAD_UOD A
           LEFT JOIN 
           (SELECT B.SHD_JOB_ID
                 , MAX(ANA_STR_DTM) AS ANA_STR_DTM 
                 , MAX(ANA_END_DTM) AS ANA_END_DTM  
              FROM WAA_SHD_LOG B
             WHERE B.ANA_STS_CD = '01' 
             GROUP BY B.SHD_JOB_ID
             ) B 
             ON B.SHD_JOB_ID = A.UDF_OTL_DTC_ID
     WHERE 1 = 1
     <if test="udfOtlDtcNm != null"> 
       AND UPPER(A.UDF_OTL_DTC_NM) LIKE CONCAT('%', UPPER(#{udfOtlDtcNm,jdbcType=VARCHAR}) ,'%')
     </if> 
     ORDER BY IFNULL(B.ANA_END_DTM,DATE_FORMAT('1900-01-01','%Y-%m-%d')) DESC
  </select>
  
  <update id="updateMdlScrtJson" parameterType="kr.wise.advisor.prepare.udefoutlier.service.WadUod"  >
  
  	 UPDATE WAD_UOD
  	    SET UDF_OTL_DTC_NM = #{udfOtlDtcNm,jdbcType=VARCHAR}
  	      , MDL_JSON_INF   = #{mdlJsonInf,jdbcType=VARCHAR} 
  	  WHERE UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}  
  </update>
  
  <select id="selectResViewColNm" parameterType="kr.wise.advisor.prepare.udefoutlier.service.WadErrData" resultMap="ErrDataResultMap">
  -- 컬럼정보 조회...
  SELECT   A.*
    FROM WAD_UOD_ERR_DATA A
    WHERE A.UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
      <!--  AND ANA_STR_DTM = DATE_FORMAT(#{objDate}, '%Y%m%d%T') -->
      AND A.ER_DATA_SNO = 0
  </select>
  
  <select id="selectResultDataList" parameterType="kr.wise.advisor.prepare.udefoutlier.service.WadErrData" resultMap="ErrDataResultMap">
  -- 이상값 조회...
  SELECT UDF_OTL_DTC_ID, ANA_STR_DTM, ER_DATA_SNO, CRE_COMP_ID, COL_CNT, OTL_YN, OTL_RPL
    	${colNm}
    FROM WAD_UOD_ERR_DATA 
    WHERE	UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
    	AND	ER_DATA_SNO != 0
      <!--  AND ANA_STR_DTM = DATE_FORMAT(#{objDate}, '%Y%m%d%T') -->
  </select>
  
  <update id="updateOtlYn" parameterType="kr.wise.advisor.prepare.udefoutlier.service.WadErrData">
  	UPDATE	WAD_UOD_ERR_DATA
    SET		OTL_YN		= #{otlYn, jdbcType=VARCHAR}
    	<if test="otlYn eq 'N'.toString()">
	        , OTL_RPL = ''
	    </if>
	    <if test="otlYn eq 'Y'.toString()">
	        , OTL_RPL = (SELECT MAX(OTL_RPL) 
	        				FROM WAD_UOD_ERR_DATA 
	        				WHERE UDF_OTL_DTC_ID = #{udfOtlDtcId, jdbcType=VARCHAR} 
	        					AND ER_DATA_SNO != 0)
	    </if>
    WHERE	UDF_OTL_DTC_ID	= #{udfOtlDtcId, jdbcType=VARCHAR}
    	AND	ER_DATA_SNO		= #{erDataSno, jdbcType=VARCHAR}
  </update>
  
  <update id="updateOtlRpl" parameterType="kr.wise.advisor.prepare.udefoutlier.service.WadErrData">
  	UPDATE	WAD_UOD_ERR_DATA
    SET		OTL_RPL		= #{otlRpl, jdbcType=VARCHAR}
    WHERE	UDF_OTL_DTC_ID	= #{udfOtlDtcId, jdbcType=VARCHAR}
    	AND	OTL_YN = 'Y'
    	<!--  AND	ER_DATA_SNO		= #{erDataSno, jdbcType=VARCHAR} -->
  </update>
  
  <delete id="deleteOtlDataRpl" parameterType="kr.wise.advisor.prepare.udefoutlier.service.WadErrData">
  	DELETE	FROM WAD_UOD_ERR_DATA_RPL
     WHERE	UDF_OTL_DTC_ID	= #{udfOtlDtcId, jdbcType=VARCHAR}
  </delete>
  
  <insert id="insertOtlDataRpl" parameterType="kr.wise.advisor.prepare.udefoutlier.service.WadErrData">
  	INSERT INTO WAD_UOD_ERR_DATA_RPL
	    (${otlRplVal1})
	    (SELECT ${otlRplVal2}
	       FROM WAD_UOD_ERR_DATA A
	       		<if test='otlRpl != "03" and otlRpl != "04"'>
	            ,(SELECT ${otlRplVal3}
	               FROM WAD_UOD_ERR_DATA
	              WHERE UDF_OTL_DTC_ID = #{udfOtlDtcId, jdbcType=VARCHAR}
	                AND ER_DATA_SNO != 0
	                AND	OTL_YN = 'Y') B
	             </if>
	      WHERE A.UDF_OTL_DTC_ID = #{udfOtlDtcId, jdbcType=VARCHAR}
	        AND A.ER_DATA_SNO != 0
	        AND	OTL_YN = 'Y'
	    )
  </insert>
  
</mapper>