<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.dq.dbstnd.service.WamDbStwdMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.dq.dbstnd.service.WamDbStwd" extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap">
    <id column="STWD_ID" property="stwdId" jdbcType="VARCHAR" />
    <result column="STWD_LNM"   property="stwdLnm"  jdbcType="VARCHAR" />
    <result column="STWD_PNM"   property="stwdPnm"  jdbcType="VARCHAR" />
    <result column="ENG_MEAN"   property="engMean"  jdbcType="VARCHAR" />
    <result column="SYMN_LNM"   property="symnLnm"  jdbcType="VARCHAR" />
    <result column="STND_NM"    property="stndNm"   jdbcType="VARCHAR" />
    <result column="BIZ_DTL_CD" property="bizDtlCd" jdbcType="VARCHAR" />
    <result column="DMN_YN"     property="dmnYn"    jdbcType="VARCHAR" />
    <result column="DATA_TYPE"  property="dataType" jdbcType="VARCHAR" />
    <result column="DATA_LEN"   property="dataLen"  jdbcType="VARCHAR" />
    <result column="DATA_SCAL"  property="dataScal" jdbcType="VARCHAR" />
    <result column="DMN_PNM"    property="dmnPnm"   jdbcType="VARCHAR" />
    <result column="DMN_LNM"    property="dmnLnm"   jdbcType="VARCHAR" />
    <result column="FBDN_LNM"   property="fbdnLnm"  jdbcType="VARCHAR" />
    <result column="DB_NM"      property="dbNm"     jdbcType="VARCHAR" />
    <result column="OWNR_ORG"   property="ownrOrg"  jdbcType="VARCHAR"/>
    <result column="SPCL_NT"    property="spclNt"   jdbcType="VARCHAR" />
    <result column="ERR_CHK"    property="errChk"   jdbcType="VARCHAR" />
    <result column="VALID_YN"   property="validYn"  jdbcType="VARCHAR" />
    <result column="CONFIRM_YN" property="confirmYn" jdbcType="VARCHAR" />
    <result column="STWD_DTM"   property="stwdDtm"   jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    STWD_ID, STWD_LNM, STWD_PNM, ENG_MEAN, RQST_NO, RQST_SNO, OBJ_DESCN, 
    OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, 
    APRV_USER_ID, DMN_YN, DMN_LNM, SYMN_LNM, FBDN_LNM,DB_NM, OWNR_ORG, SPCL_NT   
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from WAM_DB_STWD
    where STWD_ID = #{stwdId,jdbcType=VARCHAR}
  </select>
  <select id="selectListTop30" resultMap="BaseResultMap" parameterType="kr.wise.dq.dbstnd.service.WamDbStwd">
	SELECT * FROM WAM_DB_STWD WHERE  REG_TYP_CD IN ('C', 'U')
	ORDER BY RQST_DTM DESC
	limit 30;
  </select>
  <select id="selectWordDetail" resultMap="BaseResultMap" parameterType="java.lang.String">

  SELECT A.*
  	  	,(SELECT USER_NM FROM WAA_USER WHERE USER_ID = A.FRS_RQST_USER_ID and EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d')) AS FRS_RQST_USER_NM
  	  	,(SELECT USER_NM FROM WAA_USER WHERE USER_ID = A.RQST_USER_ID and EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d')) AS RQST_USER_NM
  	  	,(SELECT USER_NM FROM WAA_USER WHERE USER_ID = A.APRV_USER_ID and EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d')) AS APRV_USER_NM 
  FROM 
  	WAM_DB_STWD A
  WHERE A.STWD_ID =  #{stwdId,jdbcType=VARCHAR}
    AND A.REG_TYP_CD IN ('C', 'U')

  </select>
  <select id="selectList" resultMap="BaseResultMap" parameterType="kr.wise.dq.dbstnd.service.WamDbStwd" >
  	SELECT * FROM 
  	(SELECT A.*,
  		   (SELECT USER_NM FROM WAA_USER WHERE USER_ID = A.FRS_RQST_USER_ID and EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d')) AS FRS_RQST_USER_NM,
    	   (SELECT USER_NM FROM WAA_USER WHERE USER_ID = A.RQST_USER_ID and EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d')) AS RQST_USER_NM,
    	   (SELECT USER_NM FROM WAA_USER WHERE USER_ID = A.APRV_USER_ID and EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d')) AS APRV_USER_NM 
    	   , CASE WHEN A.ERR_CHK IS NOT null AND A.ERR_CHK != '' THEN '#FF0000' ELSE NULL END AS FontColor
   	FROM WAM_DB_STWD A
   	WHERE 1 = 1
   	
   	<if test="vcWh != null">
         	<if test='vcWh == "Y"'>
         	AND A.VALID_YN   ='Y'
         	</if>
         	<if test='vcWh == "N"'>
         	AND (A.VALID_YN IS NULL OR A.VALID_YN = '' OR A.VALID_YN = 'N')
         	</if>
         	<if test='vcWh == "E"'>
			AND A.VALID_YN   ='E'
         	</if>
         	<if test='vcWh == "YY"'>
         	AND A.CONFIRM_YN ='Y'
         	</if>
     </if>
		AND A.REG_TYP_CD IN ('C', 'U')
	  <if test="orgNm != null" >
        AND A.ORG_NM LIKE CONCAT('%',#{orgNm,jdbcType=VARCHAR},'%')
      </if>
       <if test="dbNm != null" >
        AND REPLACE(A.DB_NM, ' ', '') LIKE CONCAT('%',REPLACE(#{dbNm,jdbcType=VARCHAR}, ' ', ''),'%')
      </if>
   	<if test='!"2".equals(usergId) and !"3".equals(usergId)' > 
   		AND REPLACE(A.DB_NM, ' ', '') IN (SELECT REPLACE(DB_NM, ' ', '') AS DB_NM FROM WAA_USER_DB WHERE USER_ID = #{userId,jdbcType=VARCHAR})
   		AND A.ORG_NM IN (SELECT ORG_NM FROM WAA_ORG WHERE ORG_CD IN (SELECT ORG_CD FROM WAA_USER_ORG WHERE USER_ID = #{userId,jdbcType=VARCHAR}))
   	</if>
   	 <if test="stndNm != null" >
        AND (A.STWD_LNM LIKE CONCAT('%' , #{stndNm,jdbcType=VARCHAR} , '%')
        	 OR A.STWD_PNM LIKE CONCAT('%' , #{stndNm,jdbcType=VARCHAR} , '%')
        	 OR A.STWD_LNM LIKE CONCAT('%' , UPPER(#{stndNm,jdbcType=VARCHAR}) , '%')
        	 OR A.STWD_PNM LIKE CONCAT('%' , UPPER(#{stndNm,jdbcType=VARCHAR}) , '%'))
      </if>
     ORDER BY RQST_DTM ASC,STWD_LNM ASC 
   	) FSQ -- 임시 Alias
   	WHERE 1=1
   	AND ROWNUM BETWEEN #{startNum,jdbcType=NUMERIC} AND  #{endNum,jdbcType=NUMERIC}
  </select>
  <select id="selectStndList" resultMap="BaseResultMap" parameterType="kr.wise.dq.dbstnd.service.WamDbStwd" >
  	SELECT 1 AS NO
  	      ,'SDITM' AS BIZ_DTL_CD
  	      ,S.SDITM_ID AS STWD_ID
  	      ,S.SDITM_LNM AS STND_NM
  	      ,S.SDITM_LNM AS STWD_LNM
  	      ,S.SDITM_PNM AS STWD_PNM
  	      ,S.OBJ_DESCN
  	      ,S.RQST_USER_ID
  	      ,U.USER_NM AS RQST_USER_NM
  	      ,D.DATA_TYPE 
          ,D.DATA_LEN  
          ,D.DATA_SCAL 
          ,D.DMN_LNM
          ,D.DMN_PNM
    FROM WAM_DB_SDITM S
    LEFT OUTER JOIN WAA_USER U
      ON S.RQST_USER_ID = U.USER_ID
     AND U.REG_TYP_CD IN ('C', 'U')
     AND U.EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
    LEFT OUTER JOIN WAM_DB_DMN D
      ON S.DMN_ID = D.DMN_ID
     AND D.REG_TYP_CD IN ('C', 'U')
  	<where>
		AND S.REG_TYP_CD IN ('C', 'U')
      <if test="stndNm != null" >
        AND (S.SDITM_LNM LIKE CONCAT('%' , #{stndNm,jdbcType=VARCHAR} , '%') 
             OR S.SDITM_PNM LIKE CONCAT('%' , #{stndNm,jdbcType=VARCHAR} , '%')
             OR S.SDITM_LNM LIKE CONCAT('%' , UPPER(#{stndNm,jdbcType=VARCHAR}) , '%')
             OR S.SDITM_PNM LIKE CONCAT('%' , UPPER(#{stndNm,jdbcType=VARCHAR}) , '%'))
      </if>
      <if test="objDescn != null" >
        AND S.OBJ_DESCN LIKE CONCAT('%' , #{objDescn,jdbcType=VARCHAR} , '%')
      </if>
      <if test="bizDtlCd != null" >
        AND 'SDITM' = #{bizDtlCd,jdbcType=VARCHAR}
      </if>
  	</where>
  	UNION ALL
  	SELECT 2 AS NO
  	      ,'DMN' AS BIZ_DTL_CD
  		  ,D.DMN_ID AS STWD_ID
  	      ,D.DMN_LNM AS STND_NM
  	      ,D.DMN_LNM AS STWD_LNM
  	      ,D.DMN_PNM AS STWD_PNM
  	      ,D.OBJ_DESCN
  	      ,D.RQST_USER_ID
  	      ,U.USER_NM AS RQST_USER_NM
  	      ,D.DATA_TYPE 
          ,D.DATA_LEN  
          ,D.DATA_SCAL 
          ,D.DMN_LNM
          ,D.DMN_PNM
    FROM WAM_DB_DMN D
    LEFT OUTER JOIN WAA_USER U
      ON D.RQST_USER_ID = U.USER_ID
     AND U.REG_TYP_CD IN ('C', 'U')
     AND U.EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
  	<where>
		AND D.REG_TYP_CD IN ('C', 'U')
      <if test="stndNm != null" >
        AND (D.DMN_LNM LIKE CONCAT('%' , #{stndNm,jdbcType=VARCHAR} , '%') 
             OR D.DMN_PNM LIKE CONCAT('%' , #{stndNm,jdbcType=VARCHAR} , '%')
             OR D.DMN_LNM LIKE CONCAT('%' , UPPER(#{stndNm,jdbcType=VARCHAR}) , '%')
             OR D.DMN_PNM LIKE CONCAT('%' , UPPER(#{stndNm,jdbcType=VARCHAR}) , '%'))
      </if>
      <if test="objDescn != null" >
        AND D.OBJ_DESCN LIKE CONCAT('%' , #{objDescn,jdbcType=VARCHAR} , '%')
      </if>
      <if test="bizDtlCd != null" >
        AND 'DMN' = #{bizDtlCd,jdbcType=VARCHAR}
      </if>
  	</where>  
  	UNION ALL
  		SELECT 3 AS NO 
  		  ,'STWD' AS BIZ_DTL_CD
  		  ,A.STWD_ID AS STWD_ID
  	      ,A.STWD_LNM AS STND_NM
  	      ,A.STWD_LNM AS STWD_LNM
  	      ,A.STWD_PNM AS STWD_PNM
  	      ,A.OBJ_DESCN
  	      ,A.RQST_USER_ID
  	      ,U.USER_NM AS RQST_USER_NM
  	      ,null as DATA_TYPE
          ,null as DATA_LEN
          ,null as DATA_SCAL
          ,null as DMN_LNM
          ,null as DMN_PNM
    FROM WAM_DB_STWD A
    LEFT OUTER JOIN WAA_USER U
      ON A.RQST_USER_ID = U.USER_ID
     AND U.REG_TYP_CD IN ('C', 'U')
     AND U.EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
  	<where>
		AND A.REG_TYP_CD IN ('C', 'U')
      <if test="stndNm != null" >
        AND (A.STWD_LNM LIKE CONCAT('%' , #{stndNm,jdbcType=VARCHAR} , '%') 
             OR A.STWD_PNM LIKE CONCAT('%' , #{stndNm,jdbcType=VARCHAR} , '%')
             OR A.STWD_LNM LIKE CONCAT('%' , UPPER(#{stndNm,jdbcType=VARCHAR}) , '%')
             OR A.STWD_PNM LIKE CONCAT('%' , UPPER(#{stndNm,jdbcType=VARCHAR}) , '%'))
      </if>
      <if test="objDescn != null" >
        AND A.OBJ_DESCN LIKE CONCAT('%' , #{objDescn,jdbcType=VARCHAR} , '%')
      </if>
      <if test="bizDtlCd != null" >
        AND 'STWD' = #{bizDtlCd,jdbcType=VARCHAR}
      </if>
  	</where>
  	ORDER BY NO, STWD_LNM   
  </select>
  
  
  <select id="selectAltHistoryList" resultMap="BaseResultMap" parameterType="kr.wise.dq.dbstnd.service.WamDbStwd" >
    	SELECT
  		   A.STWD_ID
  	      ,A.STWD_LNM AS STWD_LNM
  	      ,A.STWD_PNM AS STWD_PNM
  		  ,'STWD' AS BIZ_DTL_CD
  	      ,A.REG_TYP_CD
  	      ,A.STR_DTM
  	      ,IFNULL(A.RQST_USER_ID, A.FRS_RQST_USER_ID) AS FRS_RQST_USER_ID
  	      ,U.USER_NM AS FRS_RQST_USER_NM
  	      ,A.OBJ_DESCN 
    FROM WAH_STWD A
    LEFT OUTER JOIN WAA_USER U
      ON IFNULL(A.RQST_USER_ID, A.FRS_RQST_USER_ID) = U.USER_ID
     AND U.REG_TYP_CD IN ('C', 'U')
     AND U.EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
  	<where>
  	AND A.REG_TYP_CD LIKE                                                                         
		CASE #{regTypCd} WHEN 'U' THEN 'U'                                                                               
		                                WHEN 'C' THEN 'C'                                                                       
		                                WHEN 'D' THEN 'D'                                                                       
										WHEN 'ALL' THEN '%%' END        
      <if test="stndNm != null" >
        AND (A.STWD_LNM LIKE CONCAT('%', #{stndNm,jdbcType=VARCHAR} , '%') OR A.STWD_PNM LIKE CONCAT('%', UPPER(#{stndNm,jdbcType=VARCHAR}) , '%'))
      </if>
      <if test="objDescn != null" >
        AND A.OBJ_DESCN LIKE CONCAT('%', #{objDescn,jdbcType=VARCHAR} , '%')
      </if>
      <if test="bizDtlCd != null" >
        AND 'STWD' = #{bizDtlCd,jdbcType=VARCHAR}
      </if>
      <if test="searchBgnDe != null and searchEndDe != null and searchBgnDe != '' and searchEndDe != '' " >
			AND (DATE_FORMAT(A.STR_DTM , '%Y-%m-%d') BETWEEN #{searchBgnDe} AND #{searchEndDe})
      	</if>
  	</where>
  	UNION ALL
  	SELECT 
  		   A.DMN_ID AS STWD_ID
  	      ,A.DMN_LNM AS STWD_LNM
  	      ,A.DMN_PNM AS STWD_PNM
  		  ,'DMN' AS BIZ_DTL_CD
  	      ,A.REG_TYP_CD
  	      ,A.STR_DTM
  	      ,IFNULL(A.RQST_USER_ID, A.FRS_RQST_USER_ID) AS FRS_RQST_USER_ID
  	      ,U.USER_NM AS FRS_RQST_USER_NM
  	      ,A.OBJ_DESCN
    FROM WAH_DMN A
    LEFT OUTER JOIN WAA_USER U
      ON IFNULL(A.RQST_USER_ID, A.FRS_RQST_USER_ID) = U.USER_ID
     AND U.REG_TYP_CD IN ('C', 'U')
     AND U.EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
  	<where>
  	AND A.REG_TYP_CD LIKE                                                                         
		CASE #{regTypCd} WHEN 'U' THEN 'U'                                                                               
		                                WHEN 'C' THEN 'C'                                                                       
		                                WHEN 'D' THEN 'D'                                                                       
										WHEN 'ALL' THEN '%%' END    
      <if test="stndNm != null" >
        AND (A.DMN_LNM LIKE CONCAT( '%' , #{stndNm,jdbcType=VARCHAR},'%') OR A.DMN_PNM LIKE CONCAT( '%' , UPPER(#{stndNm,jdbcType=VARCHAR}),'%'))
      </if>
      <if test="objDescn != null" >
        AND A.OBJ_DESCN LIKE CONCAT( '%' , #{objDescn,jdbcType=VARCHAR},'%')
      </if>
      <if test="bizDtlCd != null" >
        AND 'DMN' = #{bizDtlCd,jdbcType=VARCHAR}
      </if>
      <if test="searchBgnDe != null and searchEndDe != null and searchBgnDe != '' and searchEndDe != '' " >
			AND (DATE_FORMAT(A.STR_DTM , '%Y-%m-%d') BETWEEN #{searchBgnDe} AND #{searchEndDe})
      	</if>
  	</where>
  	UNION ALL
  	SELECT
  		   A.SDITM_ID AS STWD_ID 
  	      ,A.SDITM_LNM AS STWD_LNM
  	      ,A.SDITM_PNM AS STWD_PNM
  		  ,'SDITM' AS BIZ_DTL_CD
  	      ,A.REG_TYP_CD
  	      ,A.STR_DTM
  	      ,IFNULL(A.RQST_USER_ID, A.FRS_RQST_USER_ID) AS FRS_RQST_USER_ID
  	      ,U.USER_NM AS FRS_RQST_USER_NM
  	      ,A.OBJ_DESCN
    FROM WAH_SDITM A
    LEFT OUTER JOIN WAA_USER U
      ON IFNULL(A.RQST_USER_ID, A.FRS_RQST_USER_ID) = U.USER_ID
     AND U.REG_TYP_CD IN ('C', 'U')
     AND U.EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
  	<where>
  	AND A.REG_TYP_CD LIKE                                                                         
		CASE #{regTypCd} WHEN 'U' THEN 'U'                                                                               
		                                WHEN 'C' THEN 'C'                                                                       
		                                WHEN 'D' THEN 'D'                                                                       
										WHEN 'ALL' THEN '%%' END    
      <if test="stndNm != null" >
        AND (A.SDITM_LNM LIKE CONCAT('%', #{stndNm,jdbcType=VARCHAR},'%') OR A.SDITM_PNM LIKE CONCAT('%', UPPER(#{stndNm,jdbcType=VARCHAR}),'%'))
      </if>
      <if test="objDescn != null" >
        AND A.OBJ_DESCN LIKE CONCAT('%', #{objDescn,jdbcType=VARCHAR},'%')
      </if>
      <if test="bizDtlCd != null" >
        AND 'SDITM' = #{bizDtlCd,jdbcType=VARCHAR}
      </if>
      <if test="searchBgnDe != null and searchEndDe != null and searchBgnDe != '' and searchEndDe != '' " >
			AND (DATE_FORMAT(A.STR_DTM , '%Y-%m-%d') BETWEEN #{searchBgnDe} AND #{searchEndDe})
      	</if>
  	</where>
  	ORDER BY 2,4
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WAM_DB_STWD
    where STWD_ID = #{stwdId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="kr.wise.dq.dbstnd.service.WamDbStwd" >
    insert into WAM_DB_STWD (STWD_ID, STWD_LNM, STWD_PNM, 
      ENG_MEAN, 
      RQST_NO, RQST_SNO, OBJ_DESCN, 
      OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, 
      FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, 
      APRV_DTM, APRV_USER_ID, OWNR_ORG, SPCL_NT)
    values (#{stwdId,jdbcType=VARCHAR}, #{stwdLnm,jdbcType=VARCHAR}, #{stwdPnm,jdbcType=VARCHAR}, 
      #{engMean,jdbcType=VARCHAR},
      #{rqstNo,jdbcType=VARCHAR}, #{rqstSno,jdbcType=DECIMAL}, #{objDescn,jdbcType=VARCHAR}, 
      #{objVers,jdbcType=DECIMAL}, #{regTypCd,jdbcType=VARCHAR}, #{frsRqstDtm,jdbcType=DATE}, 
      #{frsRqstUserId,jdbcType=VARCHAR}, #{rqstDtm,jdbcType=DATE}, #{rqstUserId,jdbcType=VARCHAR}, 
      #{aprvDtm,jdbcType=DATE}, #{aprvUserId,jdbcType=VARCHAR},
      #{ownrOrg,jdbcType=VARCHAR}, #{spclNt,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="kr.wise.dq.dbstnd.service.WamDbStwd" >
    insert into WAM_DB_STWD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stwdId != null" >
        STWD_ID,
      </if>
      <if test="stwdLnm != null" >
        STWD_LNM,
      </if>
      <if test="stwdPnm != null" >
        STWD_PNM,
      </if>
      <if test="engMean != null" >
        ENG_MEAN,
      </if>
      <if test="rqstNo != null" >
        RQST_NO,
      </if>
      <if test="rqstSno != null" >
        RQST_SNO,
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
      <if test="objVers != null" >
        OBJ_VERS,
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD,
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM,
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID,
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM,
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID,
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM,
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID,
      </if>
      <if test="dmnYn != null" >
        DMN_YN,
      </if>
      <if test="dmnLnm != null" >
        DMN_LNM,
      </if>
      <if test="orgNm != null" >
        ORG_NM,
      </if>
      <if test="symnLnm != null" >
        SYMN_LNM,
      </if>
      <if test="fbdnLnm != null" >
        FBDN_LNM,
      </if>
      <if test="dbNm != null" >
        DB_NM,
      </if>
      
      <if test="ownrOrg != null" >
        OWNR_ORG,
      </if>
      <if test="spclNt != null" >
        SPCL_NT,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stwdId != null" >
        #{stwdId,jdbcType=VARCHAR},
      </if>
      <if test="stwdLnm != null" >
        #{stwdLnm,jdbcType=VARCHAR},
      </if>
      <if test="stwdPnm != null" >
        UPPER(#{stwdPnm,jdbcType=VARCHAR}),
      </if>
      <if test="engMean != null" >
        #{engMean,jdbcType=VARCHAR},
      </if>
      <if test="rqstNo != null" >
        #{rqstNo,jdbcType=VARCHAR},
      </if>
      <if test="rqstSno != null" >
        #{rqstSno,jdbcType=DECIMAL},
      </if>
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        #{frsRqstDtm,jdbcType=DATE},
      </if>
      <if test="frsRqstUserId != null" >
        #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        #{rqstDtm,jdbcType=DATE},
      </if>
      <if test="rqstUserId != null" >
        #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        #{aprvDtm,jdbcType=DATE},
      </if>
      <if test="aprvUserId != null" >
        #{aprvUserId,jdbcType=VARCHAR},
      </if>
      <if test="dmnYn != null" >
        #{dmnYn,jdbcType=VARCHAR},
      </if>
      <if test="dmnLnm != null" >
        #{dmnLnm,jdbcType=VARCHAR},
      </if>
      <if test="orgNm != null" >
        #{orgNm,jdbcType=VARCHAR},
      </if>
      <if test="symnLnm != null" >
        #{symnLnm,jdbcType=VARCHAR},
      </if>
      <if test="fbdnLnm != null" >
        #{fbdnLnm,jdbcType=VARCHAR},
      </if>
        <if test="dbNm != null" >
         #{dbNm,jdbcType=VARCHAR},
      </if>
      
      <if test="ownrOrg != null" >
         #{ownrOrg,jdbcType=VARCHAR},
      </if>
      <if test="spclNt != null" >
         #{spclNt,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.dq.dbstnd.service.WamDbStwd" >
    update WAM_DB_STWD
    <set >
      <if test="stwdLnm != null" >
        STWD_LNM = #{stwdLnm,jdbcType=VARCHAR},
      </if>
      <if test="stwdPnm != null" >
        STWD_PNM = UPPER(#{stwdPnm,jdbcType=VARCHAR}),
      </if>
      <if test="engMean != null" >
        ENG_MEAN = #{engMean,jdbcType=VARCHAR},
      </if>
      <if test="rqstNo != null" >
        RQST_NO = #{rqstNo,jdbcType=VARCHAR},
      </if>
      <if test="rqstSno != null" >
        RQST_SNO = #{rqstSno,jdbcType=DECIMAL},
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM = #{frsRqstDtm,jdbcType=DATE},
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM = #{rqstDtm,jdbcType=DATE},
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM = #{aprvDtm,jdbcType=DATE},
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      </if>
      <if test="dmnYn != null" >
        DMN_YN= #{dmnYn,jdbcType=VARCHAR},
      </if>
      <if test="dmnLnm != null" >
        DMN_LNM = #{dmnLnm,jdbcType=VARCHAR},
      </if>
      <if test="orgNm != null" >
        ORG_NM = #{orgNm,jdbcType=VARCHAR},
      </if>
      <if test="symnLnm != null" >
        SYMN_LNM = #{symnLnm,jdbcType=VARCHAR},
      </if>
      <if test="fbdnLnm != null" >
        FBDN_LNM = #{fbdnLnm,jdbcType=VARCHAR},
      </if>
      <if test="dbNm != null" >
        DB_NM = #{dbNm,jdbcType=VARCHAR},
      </if>
      
      <if test="ownrOrg != null" >
        OWNR_ORG = #{ownrOrg,jdbcType=VARCHAR},
      </if>
      <if test="spclNt != null" >
        SPCL_NT = #{spclNt,jdbcType=VARCHAR},
      </if>
      
    </set>
    where STWD_ID = #{stwdId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="kr.wise.dq.dbstnd.service.WamDbStwd" >
    update WAM_DB_STWD
    set STWD_LNM = #{stwdLnm,jdbcType=VARCHAR},
      STWD_PNM = UPPER(#{stwdPnm,jdbcType=VARCHAR}),
      ENG_MEAN = #{engMean,jdbcType=VARCHAR},
      CCH_NM = #{cchNm,jdbcType=VARCHAR},
      ORG_DS = #{orgDs,jdbcType=VARCHAR},
      RQST_NO = #{rqstNo,jdbcType=VARCHAR},
      RQST_SNO = #{rqstSno,jdbcType=DECIMAL},
      OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      FRS_RQST_DTM = #{frsRqstDtm,jdbcType=DATE},
      FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      RQST_DTM = #{rqstDtm,jdbcType=DATE},
      RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      APRV_DTM = #{aprvDtm,jdbcType=DATE},
      APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      DMN_YN= #{dmnYn,jdbcType=VARCHAR},
      DMN_LNM = #{dmnLnm,jdbcType=VARCHAR},
      ORG_NM = #{orgNm,jdbcType=VARCHAR},
      FBDN_LNM = #{fbdnLnm,jdbcType=VARCHAR},
      SYMN_LNM = #{symnLnm,jdbcType=VARCHAR},
      DB_NM = #{dbNm,jdbcType=VARCHAR},
      OWNR_ORG = #{ownrOrg,jdbcType=VARCHAR},
      SPCL_NT = #{spclNt,jdbcType=VARCHAR}
    where STWD_ID = #{stwdId,jdbcType=VARCHAR}
  </update>
  <insert id="insertWamDbStwd" parameterType="java.lang.String" >
	insert into WAM_DB_STWD
	(<include refid="Base_Column_List" />)
	select 
	<include refid="Base_Column_List" />
	from WAH_STWD
	where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
	  and EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
	  and REG_TYP_CD in ('C','U')
  </insert>
  <delete id="deleteWamDbStwd" parameterType="java.lang.String" >
	delete WAM_DB_STWD
	where STWD_ID in (select STWD_ID from WAH_STWD
	                 where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
	                   and EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
	                 )
  </delete>
  
  <select id="selectWordChangeList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT A.*
         , (SELECT USER_NM FROM WAA_USER WHERE USER_ID = A.RQST_USER_ID and EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d')) AS RQST_USER_NM
    	 , CASE WHEN A.EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d') AND A.REG_TYP_CD IN ('C', 'U') THEN '#0000FF'
    	   ELSE NULL END AS FontColor
      FROM WAH_STWD A
     WHERE STWD_ID = #{stwdId,jdbcType=VARCHAR}
     ORDER BY EXP_DTM DESC, STR_DTM DESC
  </select>
  
  <select id="selectByLnmPnm" resultMap="BaseResultMap" parameterType="map">
  SELECT *
  FROM WAM_DB_STWD
  <where>
  	(STWD_LNM = #{sbswdLnm}
  	OR STWD_LNM = UPPER(#{sbswdLnm}))
  	AND
  	(STWD_PNM = #{sbswdPnm} 
  	OR STWD_PNM = UPPER(#{sbswdPnm}))
  	AND REG_TYP_CD IN ('C', 'U')
  </where>



  </select>

    <insert id="bulkInsert" parameterType="kr.wise.dq.dbstnd.service.WamDbStwd" >
        insert into WAM_DB_STWD
        (
         STWD_ID,
         STWD_LNM,
         STWD_PNM,
         ENG_MEAN,
         RQST_NO,
         RQST_SNO,
         OBJ_DESCN,
         OBJ_VERS,
         REG_TYP_CD,
         FRS_RQST_DTM,
         FRS_RQST_USER_ID,
         RQST_DTM,
         RQST_USER_ID,
         APRV_DTM,
         APRV_USER_ID,
         DMN_YN,
         DMN_LNM,
         ORG_NM,
         SYMN_LNM,
         FBDN_LNM,
         DB_NM,
         OWNR_ORG,
         SPCL_NT
         )
        values
        <foreach collection="list" item="item" index="index" separator=",">
        (
        concat('I_', db_serial.next_value),
        #{item.stwdLnm,jdbcType=VARCHAR},
        #{item.stwdPnm,jdbcType=VARCHAR},
        #{item.engMean,jdbcType=VARCHAR},
        #{item.rqstNo,jdbcType=VARCHAR},
        #{item.rqstSno,jdbcType=DECIMAL},
        #{item.objDescn,jdbcType=VARCHAR},
        #{item.objVers,jdbcType=DECIMAL},
        'C',
        #{item.frsRqstDtm,jdbcType=DATE},
        #{item.frsRqstUserId,jdbcType=VARCHAR},
        #{item.rqstDtm,jdbcType=DATE},
        #{item.rqstUserId,jdbcType=VARCHAR},
        #{item.aprvDtm,jdbcType=DATE},
        #{item.aprvUserId,jdbcType=VARCHAR},
        #{item.dmnYn,jdbcType=VARCHAR},
        #{item.dmnLnm,jdbcType=VARCHAR},
        #{item.orgNm,jdbcType=VARCHAR},
        #{item.symnLnm,jdbcType=VARCHAR},
        #{item.fbdnLnm,jdbcType=VARCHAR},
        #{item.dbNm,jdbcType=VARCHAR},
        #{item.ownrOrg,jdbcType=VARCHAR},
        #{item.spclNt,jdbcType=VARCHAR}
        )
        </foreach>
    </insert>

    <update id="bulkUpdate" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index">
        update WAM_DB_STWD
           set
                STWD_LNM = #{item.stwdLnm,jdbcType=VARCHAR},
                STWD_PNM = #{item.stwdPnm,jdbcType=VARCHAR},
                ENG_MEAN = #{item.engMean,jdbcType=VARCHAR},
                RQST_NO = #{item.rqstNo,jdbcType=VARCHAR},
                RQST_SNO = #{item.rqstSno,jdbcType=DECIMAL},
                OBJ_DESCN = #{item.objDescn,jdbcType=VARCHAR},
                OBJ_VERS = #{item.objVers,jdbcType=DECIMAL},
                REG_TYP_CD = #{item.regTypCd,jdbcType=VARCHAR},
                FRS_RQST_DTM = #{item.frsRqstDtm,jdbcType=DATE},
                FRS_RQST_USER_ID = #{item.frsRqstUserId,jdbcType=VARCHAR},
                RQST_DTM = #{item.rqstDtm,jdbcType=DATE},
                RQST_USER_ID = #{item.rqstUserId,jdbcType=VARCHAR},
                APRV_DTM = #{item.aprvDtm,jdbcType=DATE},
                APRV_USER_ID = #{item.aprvUserId,jdbcType=VARCHAR},
                DMN_YN= #{item.dmnYn,jdbcType=VARCHAR},
                DMN_LNM = #{item.dmnLnm,jdbcType=VARCHAR},
                ORG_NM = #{item.orgNm,jdbcType=VARCHAR},
                SYMN_LNM = #{item.symnLnm,jdbcType=VARCHAR},
                FBDN_LNM = #{item.fbdnLnm,jdbcType=VARCHAR},
                DB_NM = #{item.dbNm,jdbcType=VARCHAR},
                OWNR_ORG = #{item.ownrOrg,jdbcType=VARCHAR},
                <choose>
                    <when test='item.decideYn =="Y" and item.confirmYn =="Y"'>
                        CONFIRM_DTM   = SYSDATE,
                        CONFIRM_YN    = 'Y',
                    </when>
                    <otherwise>
                        CONFIRM_YN = 'N',
                        VALID_YN = 'N',
                    </otherwise>
                </choose>
                SPCL_NT = #{item.spclNt,jdbcType=VARCHAR},
                ERR_CHK = ''
        where STWD_ID = #{item.stwdId,jdbcType=VARCHAR}
        </foreach>
    </update>

    <delete id="bulkDelete" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index">
            delete from WAM_DB_STWD
            where STWD_ID = #{item.stwdId,jdbcType=VARCHAR}
             /* AND CONFIRM_YN = 'N' */
        </foreach>
    </delete>
    
    <select id="dupliCheckDbStndStwd" resultType="Integer" parameterType="java.util.Map">
    SELECT COUNT(ORG_NM) 
    FROM WAM_DB_STWD  
    WHERE ORG_NM 	 = #{orgNm,jdbcType=VARCHAR}
    AND DB_NM        = #{dbNm,jdbcType=VARCHAR}
    AND STWD_LNM 	 = #{stwdLnm,jdbcType=VARCHAR}
    AND CONFIRM_YN   = 'Y'
  </select>
  
  <select id="selectDbStwdList" resultMap="BaseResultMap" >
      <![CDATA[
      SELECT * FROM
          (
              SELECT
                STWD_ID,
                DB_NM ,
                ORG_NM,
                NVL(STWD_LNM ,'')  AS STWD_LNM,
                NVL(STWD_PNM  ,'') AS STWD_PNM,
                NVL(DMN_YN  ,'')   AS DMN_YN,
                TO_CHAR (RQST_DTM,'YYYYMMDD') AS STWD_DTM
            FROM WAM_DB_STWD
              WHERE (CONFIRM_YN = 'N' OR CONFIRM_YN = '' OR CONFIRM_YN IS NULL)
                AND (VALID_YN = 'N' OR VALID_YN = '' OR VALID_YN IS NULL)
              ORDER BY STWD_ID ASC
          ) T1 where ROWNUM <= 1000
      ]]>
  </select>
  
  <update id="updateDbStwdSchedule" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index">
        update WAM_DB_STWD
           set
            ERR_CHK 		= #{item.errChk,jdbcType=VARCHAR},
            VALID_YN 		= #{item.validYn,jdbcType=VARCHAR}
        where STWD_ID 		= #{item.stwdId,jdbcType=VARCHAR}
    </foreach>
  </update>
  
  
   <select id="selectStwdTotalCnt" resultType="Integer" parameterType="kr.wise.dq.dbstnd.service.WamDbStwd" >
  	SELECT count(*)
   	FROM WAM_DB_STWD A
   	WHERE 1 = 1
   	<if test="vcWh != null">
         	<if test='vcWh == "Y"'>
         	AND A.VALID_YN   ='Y'
         	</if>
         	<if test='vcWh == "N"'>
         	AND (A.VALID_YN IS NULL OR A.VALID_YN = '' OR A.VALID_YN = 'N')
         	</if>
         	<if test='vcWh == "E"'>
			AND A.VALID_YN   ='E'
         	</if>
         	<if test='vcWh == "YY"'>
         	AND A.CONFIRM_YN ='Y'
         	</if>
     </if> 
		AND A.REG_TYP_CD IN ('C', 'U')
	  <if test="orgNm != null" >
        AND A.ORG_NM LIKE CONCAT('%',#{orgNm,jdbcType=VARCHAR},'%')
      </if>
       <if test="dbNm != null" >
        AND REPLACE(A.DB_NM, ' ', '') LIKE CONCAT('%',REPLACE(#{dbNm,jdbcType=VARCHAR}, ' ', ''),'%')
      </if>
   	<if test='!"2".equals(usergId) and !"3".equals(usergId)' > 
   		AND REPLACE(A.DB_NM, ' ', '') IN (SELECT REPLACE(A.DB_NM, ' ', '') AS DB_NM FROM WAA_USER_DB WHERE USER_ID = #{userId,jdbcType=VARCHAR})
   		AND A.ORG_NM IN (SELECT ORG_NM FROM WAA_ORG WHERE ORG_CD IN (SELECT ORG_CD FROM WAA_USER_ORG WHERE USER_ID = #{userId,jdbcType=VARCHAR}))
   	</if>
   	 <if test="stndNm != null" >
         AND (A.STWD_LNM LIKE CONCAT('%' , #{stndNm,jdbcType=VARCHAR} , '%')
        	 OR A.STWD_PNM LIKE CONCAT('%' , #{stndNm,jdbcType=VARCHAR} , '%')
        	 OR A.STWD_LNM LIKE CONCAT('%' , UPPER(#{stndNm,jdbcType=VARCHAR}) , '%')
        	 OR A.STWD_PNM LIKE CONCAT('%' , UPPER(#{stndNm,jdbcType=VARCHAR}) , '%'))
      </if>
  </select>

    <update id="bulkUpdateConfirm2" parameterType="kr.wise.dq.dbstnd.service.WamDbStwd" >
        update WAM_DB_STWD
        set CONFIRM_DTM = sys_datetime,
            CONFIRM_YN =  'Y',
            ERR_CHK = ''
        where VALID_YN = 'Y' AND ORG_NM = #{orgNm,jdbcType=VARCHAR}
          AND DB_NM = #{dbNm,jdbcType=VARCHAR}
    </update>
    
 <select id="getDbStndStwdList" resultMap="BaseResultMap" parameterType="kr.wise.dq.dbstnd.service.WamDbStwd" >
  	SELECT 
  		 ORG_NM 						--기관명
  		,DB_NM 							--DB명
  		,STWD_LNM 						--표준단어명
  		,NVL(ENG_MEAN,'') AS ENG_MEAN   --단어영문명
  		,STWD_PNM 						--단어영문약어명
  		,OBJ_DESCN 						--단어설명
  		,DMN_YN 						--형식단어여부
  		,NVL(DMN_LNM,'')  AS DMN_LNM  	--도메인분류명
  		,NVL(SYMN_LNM,'') AS SYMN_LNM   --이음동의어목록
  		,NVL(FBDN_LNM,'') AS FBDN_LNM   --금칙어목록
  		,NVL(OWNR_ORG,'') AS OWNR_ORG   --관리부서명
  		,RQST_DTM 						--제정일자
  		,NVL(SPCL_NT,'')  AS SPCL_NT  	--특이사항
  		,NVL(ERR_CHK,'')  AS ERR_CHK    --검증메세지
   	FROM WAM_DB_STWD A
   	WHERE 1 = 1
   	<if test="vcWh != null">
         	<if test='vcWh == "Y"'>
         	AND A.VALID_YN   ='Y'
         	</if>
         	<if test='vcWh == "N"'>
         	AND (A.VALID_YN IS NULL OR A.VALID_YN = '' OR A.VALID_YN = 'N')
         	</if>
         	<if test='vcWh == "E"'>
			AND A.VALID_YN   ='E'
         	</if>
         	<if test='vcWh == "YY"'>
         	AND A.CONFIRM_YN ='Y'
         	</if>
     </if>
		AND A.REG_TYP_CD IN ('C', 'U')
	  <if test="orgNm != null" >
        AND A.ORG_NM LIKE CONCAT('%',#{orgNm,jdbcType=VARCHAR},'%')
      </if>
       <if test="dbNm != null" >
        AND REPLACE(A.DB_NM, ' ', '') LIKE CONCAT('%',REPLACE(#{dbNm,jdbcType=VARCHAR}, ' ', ''),'%')
      </if>
   	<if test='!"2".equals(usergId) and !"3".equals(usergId)' > 
   		AND REPLACE(A.DB_NM, ' ', '') IN (SELECT REPLACE(DB_NM, ' ', '') AS DB_NM FROM WAA_USER_DB WHERE USER_ID = #{userId,jdbcType=VARCHAR})
   		AND A.ORG_NM IN (SELECT ORG_NM FROM WAA_ORG WHERE ORG_CD IN (SELECT ORG_CD FROM WAA_USER_ORG WHERE USER_ID = #{userId,jdbcType=VARCHAR}))
   	</if>
   	 <if test="stndNm != null" >
        AND (A.STWD_LNM LIKE CONCAT('%' , #{stndNm,jdbcType=VARCHAR} , '%')
        	 OR A.STWD_PNM LIKE CONCAT('%' , #{stndNm,jdbcType=VARCHAR} , '%')
        	 OR A.STWD_LNM LIKE CONCAT('%' , UPPER(#{stndNm,jdbcType=VARCHAR}) , '%')
        	 OR A.STWD_PNM LIKE CONCAT('%' , UPPER(#{stndNm,jdbcType=VARCHAR}) , '%'))
      </if>
     ORDER BY RQST_DTM ASC,STWD_LNM ASC 
  </select>
</mapper>