<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.commons.code.service.ComtccmmncodeMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.commons.code.service.Comtccmmncode" >
    <id column="CODE_ID" property="codeId" jdbcType="VARCHAR" />
    <result column="CODE_ID_NM" property="codeIdNm" jdbcType="VARCHAR" />
    <result column="CODE_ID_DC" property="codeIdDc" jdbcType="VARCHAR" />
    <result column="USE_AT" property="useAt" jdbcType="CHAR" />
    <result column="CL_CODE" property="clCode" jdbcType="CHAR" />
    <result column="CL_CODE_NM" property="clCodeNm" jdbcType="VARCHAR" />
    <result column="FRST_REGIST_PNTTM" property="frstRegistPnttm" jdbcType="TIMESTAMP" />
    <result column="FRST_REGISTER_ID" property="frstRegisterId" jdbcType="VARCHAR" />
    <result column="LAST_UPDT_PNTTM" property="lastUpdtPnttm" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDUSR_ID" property="lastUpdusrId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE_ID, CODE_ID_NM, CODE_ID_DC, USE_AT, CL_CODE, FRST_REGIST_PNTTM, FRST_REGISTER_ID, 
    LAST_UPDT_PNTTM, LAST_UPDUSR_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT A.*
	    , B.CL_CODE_NM
	FROM COMTCCMMNCODE A
	JOIN COMTCCMMNCLCODE B
	ON A.CL_CODE = B.CL_CODE
    where CODE_ID = #{codeId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectComCodeList" parameterType="kr.wise.commons.cmm.SearchVO" resultMap="BaseResultMap">
  	SELECT A.*
	    , B.CL_CODE_NM
	FROM COMTCCMMNCODE A
	JOIN COMTCCMMNCLCODE B
	ON A.CL_CODE = B.CL_CODE
  	WHERE 1=1
  	<if test="searchWrd != null and searchWrd != ''">
  		AND CODE_ID_NM LIKE '%'|| #{searchWrd} || '%'
  	</if>
  	
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from COMTCCMMNCODE
    where CODE_ID = #{codeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="kr.wise.commons.code.service.Comtccmmncode" >
    insert into COMTCCMMNCODE (CODE_ID, CODE_ID_NM, CODE_ID_DC, 
      USE_AT, CL_CODE, FRST_REGIST_PNTTM, 
      FRST_REGISTER_ID, LAST_UPDT_PNTTM, LAST_UPDUSR_ID
      )
    values (#{codeId,jdbcType=VARCHAR}, #{codeIdNm,jdbcType=VARCHAR}, #{codeIdDc,jdbcType=VARCHAR}, 
      #{useAt,jdbcType=CHAR}, #{clCode,jdbcType=CHAR}, #{frstRegistPnttm,jdbcType=TIMESTAMP}, 
      #{frstRegisterId,jdbcType=VARCHAR}, #{lastUpdtPnttm,jdbcType=TIMESTAMP}, #{lastUpdusrId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="kr.wise.commons.code.service.Comtccmmncode" >
    insert into COMTCCMMNCODE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="codeId != null" >
        CODE_ID,
      </if>
      <if test="codeIdNm != null" >
        CODE_ID_NM,
      </if>
      <if test="codeIdDc != null" >
        CODE_ID_DC,
      </if>
      <if test="useAt != null" >
        USE_AT,
      </if>
      <if test="clCode != null" >
        CL_CODE,
      </if>
      <if test="frstRegisterId != null" >
        FRST_REGISTER_ID,
      </if>
        FRST_REGIST_PNTTM,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="codeId != null" >
        #{codeId,jdbcType=VARCHAR},
      </if>
      <if test="codeIdNm != null" >
        #{codeIdNm,jdbcType=VARCHAR},
      </if>
      <if test="codeIdDc != null" >
        #{codeIdDc,jdbcType=VARCHAR},
      </if>
      <if test="useAt != null" >
        #{useAt,jdbcType=CHAR},
      </if>
      <if test="clCode != null" >
        #{clCode,jdbcType=CHAR},
      </if>
      <if test="frstRegisterId != null" >
        #{frstRegisterId,jdbcType=VARCHAR},
      </if>
        now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.commons.code.service.Comtccmmncode" >
    update COMTCCMMNCODE
    <set >
      <if test="codeIdNm != null" >
        CODE_ID_NM = #{codeIdNm,jdbcType=VARCHAR},
      </if>
      <if test="codeIdDc != null" >
        CODE_ID_DC = #{codeIdDc,jdbcType=VARCHAR},
      </if>
      <if test="useAt != null" >
        USE_AT = #{useAt,jdbcType=CHAR},
      </if>
      <if test="clCode != null" >
        CL_CODE = #{clCode,jdbcType=CHAR},
      </if>
      <if test="lastUpdusrId != null" >
        LAST_UPDUSR_ID = #{lastUpdusrId,jdbcType=VARCHAR},
      </if>
        LAST_UPDT_PNTTM = now(),
    </set>
    where CODE_ID = #{codeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="kr.wise.commons.code.service.Comtccmmncode" >
    update COMTCCMMNCODE
    set CODE_ID_NM = #{codeIdNm,jdbcType=VARCHAR},
      CODE_ID_DC = #{codeIdDc,jdbcType=VARCHAR},
      USE_AT = #{useAt,jdbcType=CHAR},
      CL_CODE = #{clCode,jdbcType=CHAR},
      FRST_REGIST_PNTTM = #{frstRegistPnttm,jdbcType=TIMESTAMP},
      FRST_REGISTER_ID = #{frstRegisterId,jdbcType=VARCHAR},
      LAST_UPDT_PNTTM = #{lastUpdtPnttm,jdbcType=TIMESTAMP},
      LAST_UPDUSR_ID = #{lastUpdusrId,jdbcType=VARCHAR}
    where CODE_ID = #{codeId,jdbcType=VARCHAR}
  </update>
  
  <delete id="deleteComCode" parameterType="java.util.Arrays">
  	DELETE FROM COMTCCMMNCODE
  	WHERE CODE_ID IN 
  	<foreach collection="array" item="item" index="index" open="(" separator="," close=")">
  		#{item}
  	</foreach>
  	
  </delete>
  
</mapper>