<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.dq.profile.colana.service.WaqPrfColAnaMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.dq.profile.colana.service.WaqPrfColAnaVO"  extends="kr.wise.dq.profile.mstr.service.WaqPrfMstrMapper.BaseResultMap">
<!--     <id column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" /> -->
<!--     <id column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" /> -->
<!--     <result column="PRF_ID" property="prfId" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" /> -->
<!--     <result column="RVW_STS_CD" property="rvwStsCd" jdbcType="VARCHAR" /> -->
<!--     <result column="RVW_CONTS" property="rvwConts" jdbcType="VARCHAR" /> -->
<!--     <result column="VRF_CD" property="vrfCd" jdbcType="VARCHAR" /> -->
<!--     <result column="VRF_RMK" property="vrfRmk" jdbcType="VARCHAR" /> -->
    <result column="MIN_MAX_VAL_ANA_YN" property="minMaxValAnaYn" jdbcType="VARCHAR" />
    <result column="AVG_ANA_YN" property="avgAnaYn" jdbcType="VARCHAR" />
    <result column="STDV_ANA_YN" property="stdvAnaYn" jdbcType="VARCHAR" />
    <result column="VRN_ANA_YN" property="vrnAnaYn" jdbcType="VARCHAR" />
    <result column="AONL_YN" property="aonlYn" jdbcType="VARCHAR" />
    <result column="SPAC_ANA_YN" property="spacAnaYn" jdbcType="VARCHAR" />
    <result column="LEN_ANA_YN" property="lenAnaYn" jdbcType="VARCHAR" />
    <result column="CRD_ANA_YN" property="crdAnaYn" jdbcType="VARCHAR" />
    <result column="PAT_ANA_YN" property="patAnaYn" jdbcType="VARCHAR" />
<!--     <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" /> -->
<!--     <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" /> -->
<!--     <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" /> -->
<!--     <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" /> -->
  </resultMap>
  <sql id="Base_Column_List" >
    RQST_NO, RQST_SNO, PRF_ID, RQST_DCD, RVW_STS_CD, RVW_CONTS, VRF_CD, VRF_RMK, MIN_MAX_VAL_ANA_YN, 
    AVG_ANA_YN, STDV_ANA_YN, VRN_ANA_YN, AONL_YN, SPAC_ANA_YN, LEN_ANA_YN, CRD_ANA_YN, 
    OBJ_DESCN, OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, 
    APRV_DTM, APRV_USER_ID, PAT_ANA_YN
  </sql>
  <sql id="RQST_COLUMN_LIST" >
	,IFNULL(C.MIN_MAX_VAL_ANA_YN, 'N') AS MIN_MAX_VAL_ANA_YN
	,IFNULL(C.AVG_ANA_YN, 'N') AS AVG_ANA_YN
	,IFNULL(C.STDV_ANA_YN, 'N') AS STDV_ANA_YN
	,IFNULL(C.VRN_ANA_YN, 'N') AS VRN_ANA_YN
	,IFNULL(C.AONL_YN, 'N') AS AONL_YN
	,IFNULL(C.SPAC_ANA_YN, 'N') AS SPAC_ANA_YN
	,IFNULL(C.LEN_ANA_YN, 'N') AS LEN_ANA_YN
	,IFNULL(C.CRD_ANA_YN, 'N') AS CRD_ANA_YN
	,IFNULL(C.PAT_ANA_YN, 'N') AS PAT_ANA_YN
    ,C.RQST_DCD
     <if test='rqstStepCd == "Q" '>
     , CASE WHEN C.RVW_STS_CD = '2' THEN '2' ELSE '0' END AS RVW_STS_CD
     </if>
     <if test='rqstStepCd != "Q" '>
     , C.RVW_STS_CD
     </if>
     ,C.RVW_CONTS
     ,C.VRF_CD
     ,C.VRF_RMK
     ,C.OBJ_DESCN
     ,C.OBJ_VERS
     ,C.REG_TYP_CD
     ,C.FRS_RQST_DTM
     ,C.FRS_RQST_USER_ID
     ,C.RQST_DTM
     ,C.RQST_USER_ID
     ,C.APRV_DTM
     ,C.APRV_USER_ID
	 , (CASE WHEN C.VRF_CD = '2' THEN '#FF0000' END  ) AS FontColor
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from WAQ_PRF_COL_ANA
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from WAQ_PRF_COL_ANA
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </delete>
  <insert id="insertSelective" parameterType="kr.wise.dq.profile.colana.service.WaqPrfColAnaVO" >
    insert into WAQ_PRF_COL_ANA
    <trim prefix="(" suffix=")" suffixOverrides="," >
        RQST_NO,
        RQST_SNO,
        MIN_MAX_VAL_ANA_YN,
        AVG_ANA_YN,
        STDV_ANA_YN,
        VRN_ANA_YN,
        AONL_YN,
        SPAC_ANA_YN,
        LEN_ANA_YN,
        CRD_ANA_YN,
        PRF_NM,
      <if test="prfId != null" >
        PRF_ID,
      </if>
      <if test="rqstDcd != null" >
        RQST_DCD,
      </if>
      <if test="rvwStsCd != null" >
        RVW_STS_CD,
      </if>
      <if test="rvwConts != null" >
        RVW_CONTS,
      </if>
      <if test="vrfCd != null" >
        VRF_CD,
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK,
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
      <if test="objVers != null" >
        OBJ_VERS,
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD,
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM,
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID,
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM,
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID,
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM,
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{rqstNo,jdbcType=VARCHAR},
<!--         #{rqstSno,jdbcType=DECIMAL}, -->
        (SELECT MAX(RQST_SNO)  FROM WAQ_PRF_MSTR WHERE RQST_NO = #{rqstNo}) ,
        IFNULL(#{minMaxValAnaYn,jdbcType=VARCHAR}, 'N'),
        IFNULL(#{avgAnaYn,jdbcType=VARCHAR}, 'N'),
        IFNULL(#{stdvAnaYn,jdbcType=VARCHAR}, 'N'),
        IFNULL(#{vrnAnaYn,jdbcType=VARCHAR}, 'N'),
        IFNULL(#{aonlYn,jdbcType=VARCHAR}, 'N'),
        IFNULL(#{spacAnaYn,jdbcType=VARCHAR}, 'N'),
        IFNULL(#{lenAnaYn,jdbcType=VARCHAR}, 'N'),
        IFNULL(#{crdAnaYn,jdbcType=VARCHAR}, 'N'),
        TRIM(UPPER(#{prfNm,jdbcType=VARCHAR} )),
      <if test="prfId != null" >
        #{prfId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDcd != null" >
        #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="rvwStsCd != null" >
        #{rvwStsCd,jdbcType=VARCHAR},
      </if>
      <if test="rvwConts != null" >
        #{rvwConts,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        #{aprvUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.dq.profile.colana.service.WaqPrfColAnaVO" >
    update WAQ_PRF_COL_ANA
    <set >
        MIN_MAX_VAL_ANA_YN = IFNULL(#{minMaxValAnaYn,jdbcType=VARCHAR}, 'N'),
        AVG_ANA_YN = IFNULL(#{avgAnaYn,jdbcType=VARCHAR}, 'N'),
        STDV_ANA_YN = IFNULL(#{stdvAnaYn,jdbcType=VARCHAR}, 'N'),
        VRN_ANA_YN = IFNULL(#{vrnAnaYn,jdbcType=VARCHAR}, 'N'),
        AONL_YN = IFNULL(#{aonlYn,jdbcType=VARCHAR}, 'N'),
        SPAC_ANA_YN = IFNULL(#{spacAnaYn,jdbcType=VARCHAR}, 'N'),
        LEN_ANA_YN = IFNULL(#{lenAnaYn,jdbcType=VARCHAR}, 'N'),
        CRD_ANA_YN = IFNULL(#{crdAnaYn,jdbcType=VARCHAR}, 'N'),
        PRF_NM = TRIM(UPPER(#{prfNm,jdbcType=VARCHAR} )),
      <if test="prfId != null" >
        PRF_ID = #{prfId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDcd != null" >
        RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="rvwStsCd != null" >
        RVW_STS_CD = #{rvwStsCd,jdbcType=VARCHAR},
      </if>
      <if test="rvwConts != null" >
        RVW_CONTS = #{rvwConts,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </update>

 <insert id="checkNoChg" parameterType="map" >
    INSERT INTO WAQ_RQST_VRF_DTLS
  	(
  	    BIZ_DTL_CD
      , RQST_NO
	  , RQST_SNO
	  , VRF_SNO
	  , RQST_DTL_SNO
	  , VRF_DTL_CD
	  , VRF_DTLS
  	)	
	SELECT #{bizDtlCd} AS BIZ_DTL_CD
           ,A.RQST_NO
	       ,A.RQST_SNO
	       ,IFNULL(C.VRF_SNO,0) + 1 AS VRF_SNO
	       ,0 AS RQST_DTL_SNO
	       ,#{vrfDtlCd} AS VRF_DTL_CD
	       ,NULL AS VRF_DTLS
	FROM WAQ_PRF_MSTR RM
	        INNER JOIN WAQ_PRF_COL_ANA A
	            ON RM.RQST_NO = A.RQST_NO
	           AND RM.RQST_SNO = A.RQST_SNO
	LEFT OUTER JOIN (SELECT MAX(VRF_SNO) AS VRF_SNO
	                       ,RQST_NO
	                       ,RQST_SNO
	                 FROM WAQ_RQST_VRF_DTLS A
	                 WHERE A.BIZ_DTL_CD = #{bizDtlCd}
	                   AND A.RQST_NO = #{rqstNo}
	                 GROUP BY RQST_NO, RQST_SNO) C
	   ON RM.RQST_NO = C.RQST_NO
	  AND RM.RQST_SNO = C.RQST_SNO
	  WHERE RM.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
	-- 검증쿼리
      AND RM.REG_TYP_CD = 'U'
      AND EXISTS (SELECT 1
			            FROM WAM_PRF_MSTR M
			                    INNER JOIN WAM_PRF_COL_ANA C
			                        ON M.PRF_ID = C.PRF_ID
			                       AND C.REG_TYP_CD IN ('C','U')
			            WHERE RM.PRF_ID = M.PRF_ID
			               AND RM.PRF_KND_CD = #{bizDtlCd}
			               AND IFNULL(A.MIN_MAX_VAL_ANA_YN,'_') = IFNULL(C.MIN_MAX_VAL_ANA_YN,'_')
			               AND IFNULL(A.AVG_ANA_YN,'_') = IFNULL(C.AVG_ANA_YN,'_')
			               AND IFNULL(A.STDV_ANA_YN,'_') = IFNULL(C.STDV_ANA_YN,'_')
			               AND IFNULL(A.VRN_ANA_YN,'_') = IFNULL(C.VRN_ANA_YN,'_')
			               AND IFNULL(A.AONL_YN,'_') = IFNULL(C.AONL_YN,'_')
			               AND IFNULL(A.SPAC_ANA_YN,'_') = IFNULL(C.SPAC_ANA_YN,'_')
			               AND IFNULL(A.LEN_ANA_YN,'_') = IFNULL(C.LEN_ANA_YN,'_')
			               AND IFNULL(A.CRD_ANA_YN,'_') = IFNULL(C.CRD_ANA_YN,'_')
			               AND IFNULL(RM.ADT_CND_SQL,'_') = IFNULL(M.ADT_CND_SQL,'_')
			               AND M.REG_TYP_CD IN ('C','U')
                  )
  </insert>
  
 <insert id="checkPc01Info" parameterType="map" >
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
	-- 검증쿼리
      AND A.REG_TYP_CD IN ('C','U')
      AND IFNULL(A.MIN_MAX_VAL_ANA_YN,'N') = 'N'
      AND IFNULL(A.AVG_ANA_YN,'N') = 'N'
      AND IFNULL(A.STDV_ANA_YN,'N') = 'N'
      AND IFNULL(A.VRN_ANA_YN,'N') = 'N'
      AND IFNULL(A.AONL_YN,'N') = 'N'
      AND IFNULL(A.SPAC_ANA_YN,'N') = 'N'
      AND IFNULL(A.LEN_ANA_YN,'N') = 'N'
      AND IFNULL(A.CRD_ANA_YN,'N') = 'N'
  </insert>
  
  
  <select id="selectPrfExlPc01Lst" resultMap="BaseResultMap" parameterType="kr.wise.commons.rqstmst.service.WaqMstr" >
  		SELECT <include refid="kr.wise.dq.profile.mstr.service.WaqPrfMstrMapper.PRF_MSTR_RQST_COLUMN_LIST"/>
  		         <include refid="RQST_COLUMN_LIST"/>
  		         , (CASE WHEN M.VRF_CD = '2' THEN '#FF0000' END  ) AS FontColor
  		  FROM WAQ_PRF_MSTR M
  		          INNER JOIN WAQ_PRF_COL_ANA C
  		             ON M.RQST_NO = C.RQST_NO
  		            AND M.RQST_SNO = C.RQST_SNO
  		 WHERE M.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
    <if test='rqstStepCd == "Q" '>
    	    AND M.VRF_CD = '1'
    </if>
    ORDER BY M.RQST_SNO
  </select>
  
  <select id="selectPrfFromMetaPc01Lst" resultMap="BaseResultMap" parameterType="kr.wise.commons.rqstmst.service.WaqMstr" >
  		-- PC01 날짜형식분석
		SELECT 'CU'        AS RQST_DCD -- "요청구분"
			 , 'I' AS IBS_STATUS
		     , DB.DB_CONN_TRG_PNM  -- "진단대상명"
		     , SCH.DB_SCH_PNM      -- "스키마명"
		     , COL.DBC_TBL_NM      -- "테이블명"
		     , COL.DBC_COL_NM  AS OBJ_NM    -- "컬럼명"
		     , COL.DBC_COL_KOR_NM AS "컬럼한글명"
		     -- , COL.DATA_TYPE      AS "데이터타입"
		     -- , COL.DATA_LEN       AS "데이터길이"
			, 'Y' AS MIN_MAX_VAL_ANA_YN
		    , 'Y' AS AVG_ANA_YN
		    , 'Y' AS STDV_ANA_YN
		    , 'Y' AS VRN_ANA_YN
		    , 'Y' AS AONL_YN
		    , 'Y' AS SPAC_ANA_YN
		    , 'Y' AS LEN_ANA_YN
		    , 'Y' AS CRD_ANA_YN
		  FROM WAA_DB_CONN_TRG DB
		    INNER JOIN WAA_DB_SCH SCH
		      ON DB.DB_CONN_TRG_ID = SCH.DB_CONN_TRG_ID
		     AND DB.EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
		     AND SCH.EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
		    INNER JOIN WAT_DBC_COL COL
		      ON SCH.DB_SCH_ID = COL.DB_SCH_ID
		    
		 WHERE 1=1
		   -- AND DB_CONN_TRG_PNM = 'CCJS' -- 임시 적용
		   -- 기등록건 제외
		   AND (DB.DB_CONN_TRG_ID,SCH.DB_SCH_ID,COL.DBC_TBL_NM,COL.DBC_COL_NM)
		      NOT IN (SELECT DB_CONN_TRG_ID,DB_SCH_ID,DBC_TBL_NM,OBJ_NM 
		                FROM WAM_PRF_MSTR 
		               WHERE PRF_KND_CD='PC01'
		              ) -- 날짜형식분석
  </select>
  
 <update id="updateidByKey" parameterType="kr.wise.dq.profile.mstr.service.WaqPrfMstrVO" >
 	UPDATE WAQ_PRF_COL_ANA 
 	     SET PRF_ID = #{prfId,jdbcType=VARCHAR}
 	 WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
       AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
 </update>
	  
   <update id="updateWaqC" parameterType="map">
   	
   </update>

<!-- 컬럼 분석 등록 -->
   <delete id="deleteWAM" parameterType="map">
    -- WAM 삭제 (등록유형코드가REG_TYP_CD 변경, 삭제일 경우)
	DELETE FROM WAM_PRF_COL_ANA A
	WHERE EXISTS (
	    SELECT 1 
	     FROM WAQ_PRF_MSTR M
	             INNER JOIN WAQ_PRF_COL_ANA B
	                 ON M.RQST_NO = B.RQST_NO
	                AND M.RQST_SNO = B.RQST_SNO
	                AND B.VRF_CD = '1'
	    WHERE M.RQST_NO = #{rqstNo}
	      AND M.RVW_STS_CD = '1'
	      AND M.VRF_CD = '1'
	      AND M.PRF_ID = A.PRF_ID
	)
   </delete>
   
   <insert id="insertWAM" parameterType="map">
   	-- WAM 추가 (WAQ 내용을 추가, REG_TYP_CD 가 신규,변경일 경우)
	INSERT INTO WAM_PRF_COL_ANA
	SELECT 
	<include refid="kr.wise.dq.profile.colana.service.WamPrfColAnaMapper.Base_Column_List"/>
	  FROM WAQ_PRF_COL_ANA A
	 WHERE EXISTS ( SELECT 1 
					     FROM WAQ_PRF_MSTR M
					             INNER JOIN WAQ_PRF_COL_ANA B
					                 ON M.RQST_NO = B.RQST_NO
					                AND M.RQST_SNO = B.RQST_SNO
					                AND B.VRF_CD = '1'
					    WHERE M.RQST_NO = #{rqstNo}
					      AND M.RVW_STS_CD = '1'
					      AND M.VRF_CD = '1'
					      AND M.RQST_NO = A.RQST_NO
					      AND M.RQST_SNO = A.RQST_SNO
					   )	  
	   AND A.REG_TYP_CD IN ('C', 'U')
   </insert>
   
   <update id="updateWAH"  parameterType="map">
   	-- WAH 이력 만료...
	UPDATE WAH_PRF_COL_ANA A
	    SET EXP_DTM = now()
	WHERE EXISTS (SELECT 1
	                     FROM WAQ_PRF_MSTR M
	                             INNER JOIN WAQ_PRF_COL_ANA B
	                                 ON M.RQST_NO = B.RQST_NO
					               AND M.RQST_SNO = B.RQST_SNO
					               AND B.VRF_CD = '1'
					    WHERE M.RQST_NO = #{rqstNo}
					       AND M.RVW_STS_CD = '1'
					       AND M.VRF_CD = '1'
					       AND M.PRF_ID = A.PRF_ID
	   				   )
	AND A.EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
   </update>
   
   <insert id="insertWAH"  parameterType="map">
   	-- WAH이력 적재...
	INSERT INTO WAH_PRF_COL_ANA (
		 <include refid="kr.wise.dq.profile.colana.service.WamPrfColAnaMapper.Base_Column_List"/>
		 ,EXP_DTM
		 ,STR_DTM
	)
	SELECT
	      <include refid="kr.wise.dq.profile.colana.service.WamPrfColAnaMapper.Base_Column_List"/>
	    , DATE_FORMAT( '9999-12-31', '%Y-%m-%d') AS EXP_DTM
	    , now() AS STR_DTM 	
	FROM WAQ_PRF_COL_ANA A
   WHERE EXISTS ( SELECT 1 
					     FROM WAQ_PRF_MSTR M
					             INNER JOIN WAQ_PRF_COL_ANA B
					                 ON M.RQST_NO = B.RQST_NO
					                AND M.RQST_SNO = B.RQST_SNO
					                AND B.VRF_CD = '1'
					    WHERE M.RQST_NO = #{rqstNo}
					      AND M.RVW_STS_CD = '1'
					      AND M.VRF_CD = '1'
					      AND M.RQST_NO = A.RQST_NO
					      AND M.RQST_SNO = A.RQST_SNO
					   )	 
   </insert>
  
  <select id="getDbcColList" parameterType="kr.wise.dq.profile.colana.service.WaqPrfColAnaVO" resultMap="BaseResultMap">
  SELECT A.DB_CONN_TRG_ID
  		,A.DB_CONN_TRG_LNM
  		,A.DB_CONN_TRG_PNM
  		,B.DB_SCH_ID
  		,B.DB_SCH_LNM
  		,B.DB_SCH_PNM
        ,D.DBC_TBL_NM
  		,D.DBC_COL_NM AS OBJ_NM
  		,'I' AS IBS_STATUS
  		<if test="crdAnaYn != null and crdAnaYn != ''">
  		,'Y' AS CRD_ANA_YN
  		</if>
  		<if test="minMaxValAnaYn != null and minMaxValAnaYn != ''">
  		,'Y' AS MIN_MAX_VAL_ANA_YN
  		</if>
  		<if test="aonlYn != null and aonlYn != ''">
  		,'Y' AS AONL_YN
  		</if>
  		<if test="lenAnaYn != null and lenAnaYn != ''">
  		,'Y' AS LEN_ANA_YN
  		</if>
  		,'CU' AS RQST_DCD
  		<if test="adtCndSql != null and adtCndSql != ''">
  		,#{adtCndSql,jdbcType=VARCHAR} AS ADT_CND_SQL
  		</if>
  		
    FROM WAA_DB_CONN_TRG A 
        INNER JOIN WAA_DB_SCH B
           ON A.DB_CONN_TRG_ID = B.DB_CONN_TRG_ID
          AND A.REG_TYP_CD IN ('C', 'U')
          AND A.EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
          AND B.REG_TYP_CD IN ('C', 'U')
          AND B.EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
        <if test="dbcTblNm != null and dbcTblNm != ''" >
        INNER JOIN WAT_DBC_TBL C
           ON B.DB_SCH_ID = C.DB_SCH_ID
          AND B.DB_CONN_TRG_ID = C.DB_CONN_TRG_ID
          AND B.REG_TYP_CD IN ('C', 'U')
          AND B.EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
<!--           AND IFNULL(C.REG_TYP, 'C') IN ('C', 'U') -->
        </if>
        INNER JOIN WAT_DBC_COL D
           ON B.DB_SCH_ID = D.DB_SCH_ID
          <if test="dbcTblNm != null and dbcTblNm != ''" >
          AND C.DBC_TBL_NM = D.DBC_TBL_NM
<!--           AND IFNULL(C.REG_TYP, 'C') IN ('C', 'U') -->
          </if>
          AND B.EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
          AND B.REG_TYP_CD IN ('C', 'U')
<!--           AND IFNULL(D.REG_TYP, 'C') IN ('C', 'U') -->
  <where>
  	<if test="dbConnTrgPnm != null">
  	AND A.DB_CONN_TRG_PNM = #{dbConnTrgPnm,jdbcType=VARCHAR}
  	</if>
  	<if test="dbSchPnm != null">
  	AND B.DB_SCH_PNM = #{dbSchPnm,jdbcType=VARCHAR}
  	</if>
  	<if test="dbcTblNm != null and dbcTblNm != ''">
  	AND D.DBC_TBL_NM = #{dbcTblNm,jdbcType=VARCHAR}
  	</if>
  	<if test="objNm != null">
  	AND (D.DBC_COL_NM LIKE REPLACE(#{objNm,jdbcType=VARCHAR}, '*', '%') OR D.DBC_COL_KOR_NM LIKE REPLACE(#{objNm,jdbcType=VARCHAR}, '*', '%') )
  	</if>
  </where>
  
  ORDER BY A.DB_CONN_TRG_ID, B.DB_SCH_ID
  
  </select>
  
  <select id="selectProfileRqstList" parameterType="kr.wise.commons.rqstmst.service.WaqMstr" resultMap="BaseResultMap">
    SELECT 
     A.RQST_NO, A.RQST_SNO, A.PRF_ID, A.PRF_NM, A.RQST_DCD
     <if test='rqstStepCd == "Q" '>
     , CASE WHEN A.RVW_STS_CD = '2' THEN '2' ELSE '0' END AS RVW_STS_CD
     </if>
     <if test='rqstStepCd != "Q" '>
     , A.RVW_STS_CD
     </if>
     , A.RVW_CONTS
     , A.VRF_CD, A.VRF_RMK, A.MIN_MAX_VAL_ANA_YN, A.AVG_ANA_YN, A.STDV_ANA_YN, A.VRN_ANA_YN
     , A.AONL_YN, A.SPAC_ANA_YN, A.LEN_ANA_YN, A.CRD_ANA_YN
     , A.OBJ_DESCN, A.OBJ_VERS, A.REG_TYP_CD, A.FRS_RQST_DTM, A.FRS_RQST_USER_ID
     , A.RQST_DTM, A.RQST_USER_ID, A.APRV_DTM, A.APRV_USER_ID
    , (CASE WHEN A.VRF_CD = '2' THEN '#FF0000' END  ) AS FontColor
    FROM WAQ_PRF_COL_ANA A
    
    WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
    <if test='rqstStepCd == "Q" '>
    	AND A.VRF_CD = '1'
    </if>
    
    ORDER BY A.RQST_SNO
    
    
  </select>
  
</mapper>