<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.portal.dashboard.service.ProgramDashMapper" >

    
    <resultMap id="programCount" type="kr.wise.portal.dashboard.service.ProgramCountDashProcVO" >
        <result column="PR_NAME" property="prName"  />
        <result column="PR_ID" property="prId"  />
        <result column="CNT_CLIENT" property="cntClient"  />
    	<result column="CNT_SERVICE"  property="cntService"  />
    	<result column="CNT_BATCH"  property="cntBatch"  />
    	<result column="CNT_FUNC"  property="cntFunc"  />
    	<result column="CNT_JSP" property="cntJsp"  />
        <result column="CNT_JAVA" property="cntJava"  />
        <result column="CNT_ETC" property="cntEtc"  />
    	<result column="CNT_WASTE"  property="cntWaste"  />
    </resultMap>

    <resultMap id="procAssistUpdate" type="kr.wise.portal.dashboard.service.ProgramSourceUpdateProcVO" >
        <result column="PR_NAME" property="prName"  />
        <result column="PR_ID" property="prId"  />
        <result column="CNT_NEW" property="cntNew"  />
    	<result column="CNT_MODIFY"  property="cntModify"  />
    	<result column="CNT_DELETE"  property="cntDelete"  />  
    </resultMap>
    
    <resultMap id="getProgramProcAssist" type="kr.wise.portal.dashboard.service.ProgramDocumentCountProcVO" >
        <result column="PR_NAME" property="prName"  />
        <result column="PR_ID" property="prId"  />
        <result column="CNT_REQUEST" property="cntRequest"  />
        <result column="CNT_CKLIST"  property="cntCklist"  />
    	<result column="CNT_REPORT"  property="cntReport"  />  
    	<result column="CNT_DIST_NORMAL"  property="cntDistNormal"  />  
    	<result column="CNT_DIST_URGENT"  property="cntDistUrgent"  />  
    	<result column="CNT_ONLINE"  property="cntOnLine"  />  
    	<result column="CNT_DATABASE"  property="cntDatabase"  />  
    	<result column="CNT_FML"  property="cntFml"  />  
    	<result column="CNT_BATCH"  property="cntBatch"  />  
    	<result column="CNT_WINDOW"  property="cntWindow"  />  
    	<result column="CNT_CODE"  property="cntCode"  />  
    	<result column="CNT_WASTE"  property="cntWaste"  />  
    </resultMap>
    
    <select id="getProcAssist" statementType="CALLABLE" resultMap="programCount">

		{call EDCM2_NEXT_COMMON.dbo.procAssistProgramCount}

    </select>
    
    <select id="getProcAssistUpdate" statementType="CALLABLE" parameterType="java.util.Map" resultMap="procAssistUpdate">
       {call EDCM2_NEXT_COMMON.dbo.procAssistSourceUpdateCountByDate(#{startDate, jdbcType=VARCHAR}, #{endDate, jdbcType=VARCHAR})}

    </select>

    <select id="getProgramProcAssistRequest" statementType="CALLABLE" parameterType="java.util.Map" resultMap="getProgramProcAssist">
       {call EDCM2_NEXT_COMMON.dbo.procAssistDocumentCountByDate(#{startDateSub, jdbcType=VARCHAR}, #{endDateSub, jdbcType=VARCHAR})}

    </select>
    
</mapper>
