<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.portal.dashboard.service.WamPdmTblMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.portal.dashboard.service.WamPdmTbl" >
    <id column="XPR_DTTM" property="xprDttm" jdbcType="TIMESTAMP" />
    <id column="ORGL_TYPE" property="orglType" jdbcType="VARCHAR" />
    <id column="OBJ_ID" property="objId" jdbcType="VARCHAR" />
    <result column="STA_DTTM" property="staDttm" jdbcType="TIMESTAMP" />
    <result column="OBJ_NM" property="objNm" jdbcType="VARCHAR" />
    <result column="OBJ_KNM" property="objKnm" jdbcType="VARCHAR" />
    <result column="OBJ_ENM" property="objEnm" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="ORGL_TYPE2" property="orglType2" jdbcType="VARCHAR" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="VARCHAR" />
    <result column="REQUEST_ID" property="requestId" jdbcType="VARCHAR" />
    <result column="DTL_SEQ" property="dtlSeq" jdbcType="DECIMAL" />
    <result column="MNG_USER" property="mngUser" jdbcType="VARCHAR" />
    <result column="MNG_USER_ID" property="mngUserId" jdbcType="VARCHAR" />
    <result column="ORGL_DTTM" property="orglDttm" jdbcType="TIMESTAMP" />
    <result column="ORGL_USER" property="orglUser" jdbcType="VARCHAR" />
    <result column="UPDT_DTTM" property="updtDttm" jdbcType="TIMESTAMP" />
    <result column="UPDT_USER" property="updtUser" jdbcType="VARCHAR" />
    <result column="APRV_DTTM" property="aprvDttm" jdbcType="TIMESTAMP" />
    <result column="APRV_USER" property="aprvUser" jdbcType="VARCHAR" />
    <result column="DEFINITION" property="definition" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="IS_OBJ_STD_YN" property="isObjStdYn" jdbcType="VARCHAR" />
    <result column="OF_OBJ_NON_STD_TYPE" property="ofObjNonStdType" jdbcType="VARCHAR" />
    <result column="OF_STD_OBJ_ID" property="ofStdObjId" jdbcType="VARCHAR" />
    <result column="STD_OBJ_NM" property="stdObjNm" jdbcType="VARCHAR" />
    <result column="OF_NON_STD_ERR_CD" property="ofNonStdErrCd" jdbcType="VARCHAR" />
    <result column="NON_STD_ERR_NM" property="nonStdErrNm" jdbcType="VARCHAR" />
    <result column="OF_OGI_DIT" property="ofOgiDit" jdbcType="VARCHAR" />
    <result column="OGI_PTH_NM" property="ogiPthNm" jdbcType="VARCHAR" />
    <result column="OF_DATAMODEL" property="ofDatamodel" jdbcType="VARCHAR" />
    <result column="DATAMODEL_NM" property="datamodelNm" jdbcType="VARCHAR" />
    <result column="OF_PRIMARY_SUBJ" property="ofPrimarySubj" jdbcType="VARCHAR" />
    <result column="PRIMARY_SUBJ_NM" property="primarySubjNm" jdbcType="VARCHAR" />
    <result column="OF_SUBJ" property="ofSubj" jdbcType="VARCHAR" />
    <result column="SUBJ_NM" property="subjNm" jdbcType="VARCHAR" />
    <result column="OF_LANG_TYPE" property="ofLangType" jdbcType="VARCHAR" />
    <result column="OF_TBL_TP_DIT" property="ofTblTpDit" jdbcType="VARCHAR" />
    <result column="OF_CTD_FCY" property="ofCtdFcy" jdbcType="VARCHAR" />
    <result column="OF_DEL_FCY" property="ofDelFcy" jdbcType="VARCHAR" />
    <result column="OF_TBL_AREA" property="ofTblArea" jdbcType="VARCHAR" />
    <result column="TBL_AREA_NM" property="tblAreaNm" jdbcType="VARCHAR" />
    <result column="TBL_PRFX_NM" property="tblPrfxNm" jdbcType="VARCHAR" />
    <result column="TBL_INFX_NM" property="tblInfxNm" jdbcType="VARCHAR" />
    <result column="TBL_PSFX_NM" property="tblPsfxNm" jdbcType="VARCHAR" />
    <result column="ROWS_TOT_SIZE" property="rowsTotSize" jdbcType="VARCHAR" />
    <result column="ROWS_INIT_CNT" property="rowsInitCnt" jdbcType="VARCHAR" />
    <result column="ROWS_MAX_CNT" property="rowsMaxCnt" jdbcType="VARCHAR" />
    <result column="ROWS_INC_CNT" property="rowsIncCnt" jdbcType="VARCHAR" />
    <result column="COL_TOT_CNT" property="colTotCnt" jdbcType="VARCHAR" />
    <result column="IS_PDMONLY" property="isPdmonly" jdbcType="VARCHAR" />
    <result column="IS_COPY_TBL_YN" property="isCopyTblYn" jdbcType="VARCHAR" />
    <result column="IS_ICD_IDX_YN" property="isIcdIdxYn" jdbcType="VARCHAR" />
    <result column="IS_FILE_TO_TBL_YN" property="isFileToTblYn" jdbcType="VARCHAR" />
    <result column="IS_TSF_TBL_YN" property="isTsfTblYn" jdbcType="VARCHAR" />
    <result column="IS_NTC_TBL_YN" property="isNtcTblYn" jdbcType="VARCHAR" />
    <result column="APV_DOC_NO" property="apvDocNo" jdbcType="VARCHAR" />
    <result column="APV_DOC_DESC" property="apvDocDesc" jdbcType="VARCHAR" />
    <result column="OF_EXTRACT" property="ofExtract" jdbcType="VARCHAR" />
    <result column="PGS_STS" property="pgsSts" jdbcType="VARCHAR" />
    <result column="MGT_YN" property="mgtYn" jdbcType="VARCHAR" />
    <result column="IS_INIT_YN" property="isInitYn" jdbcType="VARCHAR" />
    <result column="OF_TBL_TP_EXT" property="ofTblTpExt" jdbcType="VARCHAR" />
    <result column="TBL_TP_EXT_NM" property="tblTpExtNm" jdbcType="VARCHAR" />
    <result column="TBL_TP_EXT_SITE_NM" property="tblTpExtSiteNm" jdbcType="VARCHAR" />
    <result column="CODE_QLT_YN" property="codeQltYn" jdbcType="VARCHAR" />
    <result column="DBC_DMN_VV_EXIST_CNT" property="dbcDmnVvExistCnt" jdbcType="VARCHAR" />
    <result column="DBC_DMN_VV_LENGTH_CNT" property="dbcDmnVvLengthCnt" jdbcType="VARCHAR" />
    <result column="IS_EXP_YN" property="isExpYn" jdbcType="VARCHAR" />
    <result column="OF_DB_USER_INFO" property="ofDbUserInfo" jdbcType="VARCHAR" />
    <result column="OF_USE_MDJ" property="ofUseMdj" jdbcType="VARCHAR" />
    <result column="OF_OCR_PLY" property="ofOcrPly" jdbcType="VARCHAR" />
    <result column="OF_ADJ_RNG" property="ofAdjRng" jdbcType="VARCHAR" />
    <result column="OF_BAK_FCY" property="ofBakFcy" jdbcType="VARCHAR" />
    <result column="OF_BAK_MTH" property="ofBakMth" jdbcType="VARCHAR" />
    <result column="OF_DEL_MTH" property="ofDelMth" jdbcType="VARCHAR" />
    <result column="DEL_STD_TXT" property="delStdTxt" jdbcType="VARCHAR" />
    <result column="ROWS_OCR_CNT" property="rowsOcrCnt" jdbcType="VARCHAR" />
    <result column="IMP_AYZ_RST" property="impAyzRst" jdbcType="VARCHAR" />
    <result column="IMP_AYZ_TXT" property="impAyzTxt" jdbcType="VARCHAR" />
    <result column="DB_GNT_INFO" property="dbGntInfo" jdbcType="VARCHAR" />
    <result column="TBLSPACE_INFO" property="tblspaceInfo" jdbcType="VARCHAR" />
    <result column="OF_ADM_DIT" property="ofAdmDit" jdbcType="VARCHAR" />
    <result column="OF_PARTITION_DIT" property="ofPartitionDit" jdbcType="VARCHAR" />
    <result column="OF_ADD_NOTE01" property="ofAddNote01" jdbcType="VARCHAR" />
    <result column="ADD_NOTE_TXT01" property="addNoteTxt01" jdbcType="VARCHAR" />
    <result column="ROWS_INIT_UNIT" property="rowsInitUnit" jdbcType="VARCHAR" />
    <result column="ROWS_INC_UNIT" property="rowsIncUnit" jdbcType="VARCHAR" />
    <result column="ROWS_MAX_UNIT" property="rowsMaxUnit" jdbcType="VARCHAR" />
    <result column="ROWS_CTD_FCY_UNIT" property="rowsCtdFcyUnit" jdbcType="VARCHAR" />
    <result column="ROWS_DEL_FCY_UNIT" property="rowsDelFcyUnit" jdbcType="VARCHAR" />
    <result column="ROWS_BAK_FCY_UNIT" property="rowsBakFcyUnit" jdbcType="VARCHAR" />
    <result column="ROWS_OCR_UNIT" property="rowsOcrUnit" jdbcType="VARCHAR" />
    <result column="PARTITION_YN" property="partitionYn" jdbcType="VARCHAR" />
    <result column="ODS_TGT_GB" property="odsTgtGb" jdbcType="VARCHAR" />
    <result column="ADD_NOTE_TXT02" property="addNoteTxt02" jdbcType="VARCHAR" />
    <result column="IS_DAY_TBL_YN" property="isDayTblYn" jdbcType="VARCHAR" />
    <result column="IS_MON_TBL_YN" property="isMonTblYn" jdbcType="VARCHAR" />
    <result column="IS_EAI_TBL_YN" property="isEaiTblYn" jdbcType="VARCHAR" />
    <result column="IS_FI_TBL_YN" property="isFiTblYn" jdbcType="VARCHAR" />
    <result column="EAI_SYS_NM" property="eaiSysNm" jdbcType="VARCHAR" />
    <result column="PDM_RQST_TYPE" property="pdmRqstType" jdbcType="VARCHAR" />
    <result column="OF_DATA_GRD" property="ofDataGrd" jdbcType="VARCHAR" />
    <result column="ERD_APLY_DTTM" property="erdAplyDttm" jdbcType="TIMESTAMP" />
    <result column="OF_CTD_FCY_STD" property="ofCtdFcyStd" jdbcType="VARCHAR" />
    <result column="OF_DT_DEPT" property="ofDtDept" jdbcType="VARCHAR" />
    <result column="OF_SUB_CTD_FCY" property="ofSubCtdFcy" jdbcType="VARCHAR" />
    <result column="CODE_TBL_TYPE" property="codeTblType" jdbcType="VARCHAR" />
    <result column="CODE_NM" property="codeNm" jdbcType="VARCHAR" />
    <result column="CODE_STRT" property="codeStrt" jdbcType="VARCHAR" />
    <result column="IS_DW_STD_YN" property="isDwStdYn" jdbcType="VARCHAR" />
  </resultMap>

    <resultMap id="totcntmap" type="kr.wise.portal.dashboard.service.TotalCountVO" >
        <result column="CNT_NAME" property="cntName"  />
    	<result column="TOT_CNT"  property="totCnt"  />	
    </resultMap>
    
    <resultMap id="udpcntmap" type="kr.wise.portal.dashboard.service.UpdateCntVO" >
        <result column="TERM_TYPE_NM" property="termTypeNm"  />
    	<result column="CUR_CNT"  property="curCnt"  />	
    	<result column="INS_CNT"  property="insCnt"  />
    	<result column="UPD_CNT"  property="updCnt"  />
    	<result column="DEL_CNT"  property="delCnt"  />
    </resultMap>
    
     <resultMap id="errChart" type="kr.wise.dq.dashboard.service.DbcAllErrChartVO" >
        <result column="NO_ERR" property="noErr"  />
    	<result column="NO_ERR_PST"  property="noErrPst"  />	
    	<result column="TOTAL"  property="total"  />
        <result column="ANA_ACT_CNT" property="anaActCnt"  />
    	<result column="ERR_CNT"  property="errCnt"  />	
    	<result column="ERR_RATE"  property="errRate"  />
    </resultMap>
    
    
	<!-- 표준준수율 (부서별) DEPT_ID DEPT_NM CNT CNT_Y CNT_N STDRATE -->
    <resultMap id="standardList" type="kr.wise.portal.dashboard.service.StandardChartVO" >
        <result column="DEPT_ID" 	property="deptId"  />
        <result column="DEPT_NM" 	property="deptNm"  />
        <result column="CNT" 		property="cnt"  />
    	<result column="CNT_Y"  	property="cntY"  />
    	<result column="CNT_N"  	property="cntN"  />
    	<result column="STDRATE"  	property="stdRate"  />
    </resultMap>

    <select id="selectPdmTblCount" resultMap="totcntmap">
	  SELECT TBL1.TERM_TYPE_NM AS CNT_NAME
      <![CDATA[       
            ,TO_CHAR(MAX(CUR_CNT), '999,999,999,999') AS TOT_CNT
            
      FROM (SELECT 'STANDARD WORD' AS TERM_TYPE_NM
                   ,'2' AS TERM_TYPE
                   ,COUNT(1) AS CUR_CNT
            FROM WAM_TRM_TRM
            WHERE 1=1
            AND XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
            AND TERM_TYPE = '2'
            UNION ALL
            SELECT '유사어' AS TERM_TYPE_NM
                   ,'1' AS TERM_TYPE 
                   ,COUNT(1) AS CUR_CNT
            FROM WAM_TRM_TRM
            WHERE 1=1
            AND XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
            AND TERM_TYPE = '1'
            UNION ALL
            SELECT 'DOMAIN' AS TERM_TYPE_NM
                   ,'DMIS' AS TERM_TYPE
                   ,COUNT(1) AS CUR_CNT
            FROM WAM_DMN_DMN A JOIN WAM_DMN_GRP B
                               ON A.OF_DMNGRP=B.OBJ_ID
                               AND B.XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
                               AND B.ORGL_TYPE IN ('C','U')
            WHERE 1=1
            AND A.XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
            UNION ALL
            SELECT 'DOMIAN GROUP' AS TERM_TYPE_NM
                   ,'DMCL' AS TERM_TYPE
                   ,COUNT(1) AS CUR_CNT
            FROM WAM_DMN_GRP
	        WHERE 1=1
	        AND XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
	        UNION ALL
	        SELECT 'INFO TYPE' AS TERM_TYPE_NM
                   ,'DMCL' AS TERM_TYPE
                   ,COUNT(1) AS CUR_CNT
	        FROM WAM_DMN_INFO
	        WHERE 1=1
	        AND XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
	        UNION ALL
	        SELECT '표준용어' AS TERM_TYPE_NM
                   ,'3' AS TERM_TYPE
                   ,COUNT(1) AS CUR_CNT
            FROM WAM_TRM_DATAELMT A JOIN WAM_DMN_DMN  B
  	                                ON A.OF_DOMAIN=B.OBJ_ID
                                    AND B.XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
                                    AND B.ORGL_TYPE IN ('C','U')
            WHERE 1=1
            AND A.XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
           )TBL1 
           			   --INNER JOIN WAA_COMMON_CODE COMMON                   				  
                       --ON TBL1.TERM_TYPE = COMMON.VALUE                               
                       --AND COMMON.CODE_NAME ='RQST_BIZ_TYPE'                           
                       --AND COMMON.IS_DELETED ='N'
          GROUP BY TERM_TYPE_NM
          ORDER BY TERM_TYPE_NM DESC
          ]]>
    </select>
    
    <select id="selectUpdateCountStat" resultMap="udpcntmap">
          SELECT TERM_TYPE_NM 
          <![CDATA[     
                 ,TO_CHAR(MAX(CUR_CNT), '999,999,999,999') AS CUR_CNT
		         ,TO_CHAR(MAX(INS_CNT), '999,999,999,999') AS INS_CNT
		         ,TO_CHAR(MAX(UPD_CNT), '999,999,999,999') AS UPD_CNT
		         ,TO_CHAR(MAX(DEL_CNT), '999,999,999,999') AS DEL_CNT
		       ]]>  
		  FROM (SELECT 'TABLE(물리)' AS TERM_TYPE_NM
		               ,'PAC' AS TERM_TYPE
		               ,COUNT(1) AS CUR_CNT
		               ,COUNT(CASE ORGL_TYPE WHEN 'C' 
		                                     THEN 1
		                                     ELSE NULL
		                                     END
		                     )AS INS_CNT
		               ,COUNT(CASE ORGL_TYPE WHEN 'U' 
		                                     THEN 1
		                                     ELSE NULL
		                                     END
		                     )AS UPD_CNT
		               ,COUNT(CASE ORGL_TYPE WHEN 'D' 
		                                     THEN 1
		                                     ELSE NULL
		                                     END
		                     )AS DEL_CNT
		        FROM WAM_PDM_TBL
		        WHERE 1=1
		        AND XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
		        UNION ALL
		        SELECT 'COLUMN(물리)' AS TERM_TYPE_NM
		               ,'PAC' AS TERM_TYPE
		               ,COUNT(1) AS CUR_CNT
		               ,COUNT(CASE A.ORGL_TYPE WHEN 'C' 
		                                       THEN 1
		                                       ELSE NULL
		                                       END
	  	                     )AS INS_CNT
		               ,COUNT(CASE A.ORGL_TYPE WHEN 'U' 
		                                       THEN 1
		                                       ELSE NULL
		                                       END
		                     )AS UPD_CNT
		               ,COUNT(CASE A.ORGL_TYPE WHEN 'D' 
		                                       THEN 1
		                                       ELSE NULL
		                                       END
		                     )AS DEL_CNT
	    	    FROM WAM_PDM_COL A
		        WHERE 1=1
		        AND A.XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
		        UNION ALL
		        SELECT 'INDEX(물리)' AS TERM_TYPE_NM
		               ,'PAC' AS TERM_TYPE
		               ,COUNT(1) AS CUR_CNT
		               ,COUNT(CASE A.ORGL_TYPE WHEN 'C' 
		                                       THEN 1
		                                       ELSE NULL
		                                       END
		                     )AS INS_CNT
		               ,COUNT(CASE A.ORGL_TYPE WHEN 'U' 
		                                       THEN 1
		                                       ELSE NULL
		                                       END
		                     )AS UPD_CNT
		               ,COUNT(CASE A.ORGL_TYPE WHEN 'D' 
		                                       THEN 1
		                                       ELSE NULL
		                                       END
		                     )AS DEL_CNT
		   	    FROM WAM_PDM_IDX A
		        WHERE 1=1
		        AND A.XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
		        UNION ALL
		        SELECT 'TABLE(DDL)' AS TERM_TYPE_NM
		               ,'BT' AS TERM_TYPE
		               ,COUNT(1) AS CUR_CNT
		               ,COUNT(CASE ORGL_TYPE WHEN 'C' 
		                                     THEN 1
		                                     ELSE NULL
		                                     END
		                     )AS INS_CNT
		               ,COUNT(CASE ORGL_TYPE WHEN 'U' 
		                                     THEN 1
		                                     ELSE NULL
		                                     END
		                     )AS UPD_CNT
		               ,COUNT(CASE ORGL_TYPE WHEN 'D' 
		                                     THEN 1
		                                     ELSE NULL
		                                     END
		                     )AS DEL_CNT
		        FROM WAM_DB_DDL_TBL
		        WHERE 1=1
		        AND XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
		        UNION ALL
		        SELECT 'COLUMN(DDL)' AS TERM_TYPE_NM
		               ,'BT' AS TERM_TYPE
		               ,COUNT(1) AS CUR_CNT
		               ,COUNT(CASE ORGL_TYPE WHEN 'C' 
		                                     THEN 1
		                                     ELSE NULL
		                                     END
		                     )AS INS_CNT
		               ,COUNT(CASE ORGL_TYPE WHEN 'U' THEN 1
		                                     ELSE NULL
		                                     END
		                     )AS UPD_CNT
		               ,COUNT(CASE ORGL_TYPE WHEN 'D' 
		                                     THEN 1
		                                     ELSE NULL
		                                     END
		                     )AS DEL_CNT
		        FROM WAM_DB_DDL_COL
		        WHERE 1=1
		        AND XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
		        UNION ALL
		        SELECT 'INDEX(DDL)' AS TERM_TYPE_NM
		               ,'BT' AS TERM_TYPE
		               ,COUNT(1) AS CUR_CNT
		               ,COUNT(CASE ORGL_TYPE WHEN 'C' 
		                                     THEN 1
		                                     ELSE NULL
		                                     END
		                     )AS INS_CNT
		               ,COUNT(CASE ORGL_TYPE WHEN 'U' 
		                                     THEN 1
		                                     ELSE NULL
		                                     END	
		                     )AS UPD_CNT
		               ,COUNT(CASE ORGL_TYPE WHEN 'D' 
		                                     THEN 1
		                                     ELSE NULL
		                                     END
		                     )AS DEL_CNT
		        FROM WAM_DB_DDL_IDX
		        WHERE 1=1
		        AND XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
		        UNION ALL`
		        SELECT '기타오브젝트(DDL)' AS TERM_TYPE_NM
		               ,'DDFC' AS TERM_TYPE
		               ,COUNT(1) AS CUR_CNT
		               ,COUNT(CASE ORGL_TYPE WHEN 'C' 
		                                     THEN 1
		                                     ELSE NULL
		                                     END
		                     )AS INS_CNT
		               ,COUNT(CASE ORGL_TYPE WHEN 'U' 
		                                     THEN 1
		                                     ELSE NULL
		                                     END
		                     )AS UPD_CNT
		               ,COUNT(CASE ORGL_TYPE WHEN 'D' 
		                                     THEN 1
		                                     ELSE NULL
		                                     END
		                     )AS DEL_CNT
		        FROM WAM_DB_DDL_FUNC
		        WHERE 1=1
		        AND XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
		       )TBL1 INNER JOIN WAA_COMMON_CODE COMMON                   				  
		                   ON TBL1.TERM_TYPE = COMMON.VALUE                               
		                   AND COMMON.CODE_NAME ='RQST_BIZ_TYPE'                           
		                   AND COMMON.IS_DELETED ='N'
		  GROUP BY TERM_TYPE_NM
		  ORDER BY TERM_TYPE_NM DESC
    </select>

    <select id="selectErrChart" resultMap="errChart">
		SELECT IFNULL(NO_ERR, 0)AS NO_ERR
    	      ,IFNULL(CAST(ROUND(CAST(NO_ERR AS NUMERIC(15,5)) / CAST(TOTAL AS NUMERIC(15,5)) * 100,2) AS NUMERIC(15,2)), 0) AS NO_ERR_PST       
      	      ,IFNULL(TOTAL, 0)AS TOTAL                                                                                                                      
        FROM (SELECT SUM(CASE WHEN  IFNULL(A.DDL_TBL_TOT_ERR_YN,'-') = '-'  
  		                      THEN 1 
          		              END
           		        )AS NO_ERR                                              
   	 		        ,SUM(1) AS TOTAL                                                                                                     
	          FROM WAT_DBC_ALL_TBL A                                                                                                        
                INNER JOIN V_WAA_META_DBINFO B
                   ON B.OF_DBMS_USAGE_TYPE IN ('01','02')
                  AND B.DBINSTANCE_DDL = 'Y'
                  AND B.SCHEMA_DDL = 'Y'
                  AND A.OF_DBUSER = B.OF_SCHEMA
	          WHERE META_MNG_YN = 'Y'
                AND DBMS_NM NOT IN ('DW')                                                     
             )
    </select>
    <select id="selectDqErrChartList" resultMap="errChart">
			SELECT SUM(R.ANA_ACT_CNT) AS ANA_ACT_CNT  
			      ,SUM(R.ERR_CNT) AS ERR_CNT      
			      ,DECODE(SUM(R.ANA_ACT_CNT),0,100,DECODE(SUM(R.ERR_CNT),0,0,ROUND(((SUM(R.ERR_CNT))/SUM(R.ANA_ACT_CNT)*100),2))) AS ERR_RATE 
			FROM WDQ_TGT_DBMS DB INNER JOIN (SELECT OBJ_ID 
			                                       ,DB_NM
			                                       ,DBMS_ID 
			                                 FROM WDQ_BRA_MST   
			                                 WHERE XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')    
			                                 AND ORGL_TYPE IN ('C','U') 
			                                 AND USING_YN = 'Y' 
			                                )M  
			                           ON DB.DBMS_ID = M.DBMS_ID   
			                           AND DB.XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')    
			                           AND DB.ORGL_TYPE IN ('C','U') 
			                     INNER JOIN (SELECT A.BRA_ID    
			                                       ,B.DQI_ID   
			                                       ,B.DQI_NM   
			                                 FROM (SELECT BRA_ID
			                                             ,DQI_ID  
			                                       FROM WDQ_BRA_DQIMAP  
			                                       WHERE XPR_DTTM = DATE_FORMAT( '99991231', '%Y%m%d') 
			                                       AND ORGL_TYPE IN ('C', 'U')                   
			                                      )A INNER JOIN (SELECT A.DQI_NM                       
			                                                           ,A.OBJ_ID  AS DQI_ID           
			                                                           ,CASE WHEN A.DQI_LEVEL > 1     
			                                                                 THEN (SELECT DQI_NM      
			                                                                       FROM WDQ_DEF_DQI              
			                                                                       WHERE OBJ_ID = A.PARENT_DQI_ID 
			                                                                       AND ORGL_TYPE IN ('C', 'U')  
			                                                                       AND XPR_DTTM = DATE_FORMAT( '99991231', '%Y%m%d') 
			                                                                      )END AS PARENT_DQI_NM                           
			                                                           ,A.PARENT_DQI_ID    
			                                                     FROM (SELECT *           
			                                                           FROM WDQ_DEF_DQI 
			                                                           WHERE XPR_DTTM = DATE_FORMAT( '99991231', '%Y%m%d') 
			                                                           AND ORGL_TYPE IN ('C','U')) A                 
			                                                           START WITH A.DQI_LEVEL = 1                           
			                                                           CONNECT BY PRIOR A.OBJ_ID = PARENT_DQI_ID                
			                                                          )B                                                      
			                                               ON A.DQI_ID = B.DQI_ID 
			                                )DQI                            
			                           ON M.OBJ_ID = DQI.BRA_ID                  
			                     INNER JOIN (SELECT OBJ_ID        
			                                       ,EXE_NUM     
			                                       ,ANA_ACT_CNT 
			                                       ,ERR_CNT     
			                                 FROM WDQ_BRA_RESULT      
			                                 WHERE EXE_NUM IS NOT NULL 
			                                )R                        
			                           ON M.OBJ_ID = R.OBJ_ID            
			                     INNER JOIN (SELECT OBJ_ID
			                                       ,MAX(EXE_NUM)AS EXE_NUM  
			                                 FROM WDQ_BRA_RESULT 
			                                 GROUP BY OBJ_ID 
			                                )X   
			                           ON R.OBJ_ID = X.OBJ_ID         
			                           AND R.EXE_NUM = X.EXE_NUM
    </select>



	<select id="selectStandardChart" resultMap="standardList">
    	<![CDATA[
    	SELECT A.DEPT_ID, A.DEPT_NM AS DEPT_NM
	    --, A.PART_ID, A.PART_NM
	    , SUM(CNT) AS CNT, SUM(CNT_Y) AS CNT_Y, SUM(CNT_N) AS CNT_N
	    , ROUND((SUM(CNT_Y) / SUM(CNT)*100),1) AS STDRATE
	  FROM (
	    SELECT Y.OBJ_ID AS DEPT_ID, Y.OBJ_KNM AS DEPT_NM, X.OBJ_ID AS PART_ID, X.OBJ_KNM AS PART_NM
	      FROM WAA_DEPT X, WAA_DEPT Y
	     WHERE X.OF_PARENT = Y.OBJ_ID
	       AND X.XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
	       AND X.IS_DELETED = 'N'
	       AND Y.XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
	       AND Y.IS_DELETED = 'N'
	       AND SUBSTR(X.OBJ_ID,1,2) = '00'
	       AND X.IS_LEAF > '3'
	        --AND Y.OBJ_ID = '0009370'         
	        ) A, (
	   SELECT DEPT_CD AS PART_ID
	         ,SUM(1) AS CNT
	         ,SUM(CASE WHEN IS_OBJ_STD_YN = 'Y' THEN 1 END) AS CNT_Y
	         ,SUM(CASE WHEN IS_OBJ_STD_YN = 'N' THEN 1 END) AS CNT_N
	     FROM WAM_PDM_TBL X, (
	       SELECT DEPT_CD, USER_ID
	         FROM WAA_USERS
	        WHERE XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
	          AND IS_DELETED = 'N'
	      ) Y
	    WHERE X.MNG_USER_ID = Y.USER_ID
	      AND X.XPR_DTTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
	      AND X.ORGL_TYPE IN ('C','U')
	       AND X.STA_DTTM <= TO_DATE('2013-12-12','YYYY-MM-DD')     
	       GROUP BY DEPT_CD
	 ) B
	 WHERE A.PART_ID = B.PART_ID
	 GROUP BY A.DEPT_ID, A.DEPT_NM
	 ORDER BY 2
    	]]>
    </select>
</mapper>

