<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.wise.commons.cmm.service.CommonMapper">
  <resultMap id="BaseResultMap" type="kr.wise.commons.cmm.CommonVo">
    <result column="EXP_DTM" jdbcType="TIMESTAMP" property="expDtm" />
    <result column="STR_DTM" jdbcType="TIMESTAMP" property="strDtm" />
    <result column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" />
    <result column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" />
    <result column="RQST_DTL_SNO" property="rqstDtlSno" jdbcType="DECIMAL" />
    <result column="RQST_DTL_DTL_SNO" property="rqstDtlDtlSno" jdbcType="DECIMAL" />
    <result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" />
    <result column="RVW_STS_CD" property="rvwStsCd" jdbcType="VARCHAR" />
    <result column="RVW_CONTS" property="rvwConts" jdbcType="VARCHAR" />
    <result column="VRF_CD" property="vrfCd" jdbcType="VARCHAR" />
    <result column="VRF_RMK" property="vrfRmk" jdbcType="VARCHAR" />
    <result column="WRIT_DTM" jdbcType="TIMESTAMP" property="writDtm" />
    <result column="WRIT_USER_ID" jdbcType="VARCHAR" property="writUserId" />
    <result column="WRIT_USER_NM" jdbcType="VARCHAR" property="writUserNm" />
    <result column="OBJ_DESCN" jdbcType="VARCHAR" property="objDescn" />
    <result column="OBJ_VERS" jdbcType="DECIMAL" property="objVers" />
    <result column="REG_TYP_CD" jdbcType="VARCHAR" property="regTypCd" />
    <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" />
    <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" />
    <result column="FRS_RQST_USER_NM" property="frsRqstUserNm" jdbcType="VARCHAR" />
    <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" />
    <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" />
    <result column="RQST_USER_NM" property="rqstUserNm" jdbcType="VARCHAR" />
    <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" />
    <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" />
    <result column="APRV_USER_NM" property="aprvUserNm" jdbcType="VARCHAR" />
    <result column="FULL_PATH" property="fullPath" jdbcType="VARCHAR" />
    <result column="IBS_STATUS" property="ibsStatus" jdbcType="VARCHAR" />
    <result column="IBS_CHECK" property="ibsCheck" jdbcType="VARCHAR" />
    <result column="SEARCH_BGN_DE" property="searchBgnDe" jdbcType="VARCHAR" />
    <result column="SEARCH_END_DE" property="searchEndDe" jdbcType="VARCHAR" />
    <result column="MNG_USER_ID" property="mngUserId" jdbcType="VARCHAR" />
    <result column="ORG_NM" property="orgNm" jdbcType="VARCHAR" />
<!--     <result column="APL_STR_DT" property="aplStrDt" jdbcType="VARCHAR" /> -->
<!--     <result column="APL_END_DT" property="aplEndDt" jdbcType="VARCHAR" /> -->
  </resultMap>
  
  <sql id="getObjId">
  	SELECT OBJ_ID.NEXTVAL FROM DUAL
  </sql>

  <sql id="getRequestId">
  	SELECT RQST_ID.NEXTVAL FROM DUAL
  </sql>
  
  <sql id="getNextrqstSno">
  	SELECT IFNULL(MAX(RQST_SNO), 0) + 1 FROM WAQ_STWD WHERE RQST_NO = #{rqstNo}
  </sql>

  <sql id="getNextwdSno">
  	SELECT IFNULL(MAX(WD_SNO), 0) + 1 FROM WAQ_STWD_CNFG WHERE BIZ_DTL_CD = #{bizDtlCd,jdbcType=VARCHAR} AND RQST_NO = #{rqstNo,jdbcType=VARCHAR} AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </sql>
  
  <sql id="insertVrfDtlSql">
  	INSERT INTO WAQ_RQST_VRF_DTLS
  	(
  	    BIZ_DTL_CD
      , RQST_NO
	  , RQST_SNO
	  , VRF_SNO
	  , RQST_DTL_SNO
	  , VRF_DTL_CD
	  , VRF_DTLS
  	)
	SELECT #{bizDtlCd} AS BIZ_DTL_CD
           ,A.RQST_NO
	       ,A.RQST_SNO
	       ,IFNULL(C.VRF_SNO,0) + 1 AS VRF_SNO
	       ,0 AS RQST_DTL_SNO
	       ,#{vrfDtlCd} AS VRF_DTL_CD
	       ,NULL AS VRF_DTLS
	FROM ${tblnm} A
	LEFT OUTER JOIN (SELECT MAX(VRF_SNO) AS VRF_SNO
	                       ,RQST_NO
	                       ,RQST_SNO
	                 FROM WAQ_RQST_VRF_DTLS A
	                 WHERE A.BIZ_DTL_CD = #{bizDtlCd}
	                   AND A.RQST_NO = #{rqstNo}
	                 GROUP BY RQST_NO, RQST_SNO) C
	   ON A.RQST_NO = C.RQST_NO
	  AND A.RQST_SNO = C.RQST_SNO
	  WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
  </sql>
  
  <sql id="insertVrfDtls">
    INSERT INTO WAQ_RQST_VRF_DTLS
    (
        BIZ_DTL_CD
      , RQST_NO
	  , RQST_SNO
	  , VRF_SNO
	  , RQST_DTL_SNO
	  , VRF_DTL_CD
	  , VRF_DTLS
    )
	SELECT #{bizDtlCd} AS BIZ_DTL_CD
           ,A.RQST_NO
	       ,A.RQST_SNO
	       ,IFNULL(C.VRF_SNO,0) + 1 AS VRF_SNO
	       ,0 AS RQST_DTL_SNO
	       ,#{vrfDtlCd} AS VRF_DTL_CD
	       ,NULL AS VRF_DTLS
  </sql>
  <!-- 요청검증내역 순번 채번 -->
    <sql id="maxVrfSnoSql">
      LEFT OUTER JOIN (SELECT MAX(VRF_SNO) AS VRF_SNO
	                       ,RQST_NO
	                       ,RQST_SNO
	                 FROM WAQ_RQST_VRF_DTLS A
	                 WHERE A.BIZ_DTL_CD = #{bizDtlCd}
	                   AND A.RQST_NO = #{rqstNo}
	                 GROUP BY RQST_NO, RQST_SNO) C
	   ON A.RQST_NO = C.RQST_NO
	  AND A.RQST_SNO = C.RQST_SNO
  </sql>
  
  <sql id="insertVrfDtls2">
    INSERT INTO WAQ_RQST_VRF_DTLS
    (
        BIZ_DTL_CD
      , RQST_NO
	  , RQST_SNO
	  , VRF_SNO
	  , RQST_DTL_SNO
	  , VRF_DTL_CD
	  , VRF_DTLS
    )
	SELECT #{bizDtlCd} AS BIZ_DTL_CD
           ,A.RQST_NO
	       ,A.RQST_SNO
	       ,IFNULL(C.VRF_SNO,0) + 1 AS VRF_SNO
	       ,A.RQST_DTL_SNO
	       ,#{vrfDtlCd} AS VRF_DTL_CD
	       ,NULL AS VRF_DTLS
  </sql>
  

  <sql id="maxVrfSnoSql2">
      LEFT OUTER JOIN (SELECT MAX(VRF_SNO) AS VRF_SNO
	                       ,RQST_NO
	                       ,RQST_SNO
	                       ,RQST_DTL_SNO
	                 FROM WAQ_RQST_VRF_DTLS A
	                 WHERE A.BIZ_DTL_CD = #{bizDtlCd}
	                   AND A.RQST_NO = #{rqstNo}
	                 GROUP BY RQST_NO, RQST_SNO, RQST_DTL_SNO) C
	   ON A.RQST_NO = C.RQST_NO
	  AND A.RQST_SNO = C.RQST_SNO
	  AND A.RQST_DTL_SNO = C.RQST_DTL_SNO
  </sql>
  
  <sql id="updateVrfCdSql">
     SELECT CASE WHEN MAX(B.VRF_SNO) IS NULL THEN '1' ELSE '2' END
         FROM WAQ_RQST_VRF_DTLS B
         WHERE B.BIZ_DTL_CD = #{bizDtlCd}
           AND B.RQST_NO = A.RQST_NO
           AND B.RQST_SNO = A.RQST_SNO
  </sql>
  <sql id="updateVrfCdSql2">
     SELECT CASE WHEN MAX(B.VRF_SNO) IS NULL THEN '1' ELSE '2' END
         FROM WAQ_RQST_VRF_DTLS B
         WHERE B.BIZ_DTL_CD = #{bizDtlCd}
           AND B.RQST_NO = A.RQST_NO
           AND B.RQST_SNO = A.RQST_SNO
           AND B.RQST_DTL_SNO = A.RQST_DTL_SNO
  </sql>
  
  
</mapper>