<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.wise.advisor.prepare.udefoutlier.boxplot.service.WadUodcBoxplotColMapper">
	<resultMap id="BaseResultMap" type="kr.wise.advisor.prepare.udefoutlier.boxplot.service.WadUodcBoxplotCol" extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap">
		<id column="UDF_OTL_DTC_ID"   	jdbcType="VARCHAR"   property="udfOtlDtcId" />
		<id column="CRE_COMP_ID"        jdbcType="VARCHAR"   property="creCompId" />
		<id column="COL_SNO"       		jdbcType="DECIMAL"   property="colSno"    />
		<result column="ANA_VAR_ID"     jdbcType="VARCHAR"   property="anaVarId"  />
		<result column="COL_PNM"  		jdbcType="VARCHAR"   property="colPnm"    />
		<result column="COL_LNM"  		jdbcType="VARCHAR"   property="colLnm"    />
		<result column="DATA_TYPE"      jdbcType="VARCHAR"   property="dataType"  />
		<result column="OTL_COL_PNM"  	jdbcType="VARCHAR"   property="otlColPnm" />
		
		<result column="ANA_DASE_NM"  	 jdbcType="VARCHAR"   property="anaDaseNm" />
		<result column="SRC_ANA_DASE_NM" jdbcType="VARCHAR"   property="srcAnaDaseNm" />
	</resultMap>
	
	<select id="selectBoxplotColList"  parameterType="kr.wise.advisor.prepare.udefoutlier.boxplot.service.WadUodcBoxplot" resultMap="BaseResultMap">
	   SELECT B.COL_PNM
	        , B.COL_LNM
	        , E.DATA_TYPE
			, D.COL_SNO
			, D.OTL_COL_PNM
			, B.ANA_VAR_ID
			, CASE WHEN D.OTL_COL_PNM IS NOT NULL THEN 1 ELSE 0 END AS IBS_CHECK
		FROM WAD_UODC_ANA_DASE A
		     INNER JOIN WAD_UODC_ANA_DASE_COL B
		     	ON B.ANA_DASE_ID = A.ANA_DASE_ID   
		     LEFT JOIN WAD_UODC_BOXPLOT C
		     	ON C.UDF_OTL_DTC_ID  = A.UDF_OTL_DTC_ID
		     	AND C.CRE_COMP_ID    = #{creCompId,jdbcType=VARCHAR}
		     	AND C.SRC_ANA_DASE_ID = A.ANA_DASE_ID      
		     LEFT JOIN WAD_UODC_BOXPLOT_COL D  
		     	ON D.UDF_OTL_DTC_ID = C.UDF_OTL_DTC_ID
		       AND D.CRE_COMP_ID    = #{creCompId,jdbcType=VARCHAR} 
		       AND B.ANA_VAR_ID = D.ANA_VAR_ID
		     LEFT JOIN WAD_ANA_VAR E
		       ON E.ANL_VAR_ID = B.ANA_VAR_ID  
		WHERE A.ANA_DASE_ID = #{srcAnaDaseId,jdbcType=VARCHAR}
		ORDER BY B.ANA_COL_SNO
	</select>
	
	<delete id="deleteBoxplotCol" parameterType="kr.wise.advisor.prepare.udefoutlier.boxplot.service.WadUodcBoxplotCol">
		DELETE	FROM WAD_UODC_BOXPLOT_COL
		WHERE	UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
			AND	CRE_COMP_ID = #{creCompId,jdbcType=VARCHAR}
	</delete>
	
	<delete id="deleteByUdfOtlDtcId" parameterType="map">
	    delete from WAD_UODC_BOXPLOT_COL
	    where UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
	  </delete>
	
	<insert id="insertWadUodcBoxplotCol" parameterType="kr.wise.advisor.prepare.udefoutlier.boxplot.service.WadUodcBoxplotCol">
		<selectKey keyProperty="colSno" resultType="String" statementType="PREPARED" order="BEFORE">
			SELECT	IFNULL(MAX(COL_SNO), 0) + 1 
			FROM	WAD_UODC_BOXPLOT_COL 
				WHERE UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
					AND CRE_COMP_ID  = #{creCompId,jdbcType=VARCHAR}
		</selectKey>
		INSERT INTO WAD_UODC_BOXPLOT_COL
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="udfOtlDtcId != null">
					UDF_OTL_DTC_ID,
			  	</if>
			  	<if test="creCompId != null">
					CRE_COMP_ID,
				</if>
				<if test="anaVarId != null">
					ANA_VAR_ID,
				</if>
				<if test="colSno != null">
					COL_SNO,
				</if>
				<if test="colPnm != null">
					COL_PNM,
				</if>
				<if test="otlColPnm != null">
					OTL_COL_PNM,
				</if>
				<if test="objDescn != null">
					OBJ_DESCN,
				</if>
					OBJ_VERS,
					REG_TYP_CD,
					WRIT_USER_ID,
					WRIT_DTM
			</trim>
		 	<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="udfOtlDtcId != null">
					#{udfOtlDtcId,jdbcType=VARCHAR},
			  	</if>
			  	<if test="creCompId != null">
					#{creCompId,jdbcType=VARCHAR},
				</if>
				<if test="anaVarId != null">
					#{anaVarId,jdbcType=VARCHAR},
				</if>
				<if test="colSno != null">
					#{colSno,jdbcType=VARCHAR},
				</if>
				<if test="colPnm != null">
					#{colPnm,jdbcType=VARCHAR},
				</if>
				<if test="otlColPnm != null">
					#{otlColPnm,jdbcType=VARCHAR},
				</if>
				<if test="objDescn != null">
					#{objDescn,jdbcType=VARCHAR},
				</if>
					#{objVers,jdbcType=VARCHAR},
					#{regTypCd,jdbcType=VARCHAR},
					#{writUserId,jdbcType=VARCHAR},
					now()
			</trim>
	</insert>
	
	<update id="updateBoxplotAnaDaseId" parameterType="kr.wise.advisor.prepare.udefoutlier.boxplot.service.WadUodcBoxplot">
		<![CDATA[
	  	 UPDATE WAD_UODC_BOXPLOT A
	  	     SET ANA_DASE_ID = (SELECT ANA_DASE_ID
			                      FROM WAD_UODC_ANA_DASE X 
			                     WHERE X.UDF_OTL_DTC_ID = A.UDF_OTL_DTC_ID
			                       AND X.CRE_COMP_ID    = A.CRE_COMP_ID 
			                       AND ROWNUM <= 1
			                   )   
	  	  WHERE UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
	        AND CRE_COMP_ID    = #{creCompId,jdbcType=VARCHAR}
	    ]]>
	</update>
	
	<update id="updateBoxplotAnaDaseColId" parameterType="kr.wise.advisor.prepare.udefoutlier.boxplot.service.WadUodcBoxplot">
		<![CDATA[
	  	 UPDATE WAD_UODC_ANA_DASE_COL A
	  	     SET ANA_DASE_ID = (SELECT ANA_DASE_ID
			                      FROM WAD_UODC_BOXPLOT X 
			                     WHERE X.UDF_OTL_DTC_ID = A.UDF_OTL_DTC_ID
			                       AND X.CRE_COMP_ID    = A.CRE_COMP_ID 
			                       AND ROWNUM <= 1
			                   )   
	  	  WHERE UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
	        AND CRE_COMP_ID    = #{creCompId,jdbcType=VARCHAR}
	    ]]>
	</update>
	
	<select id="selectUodcBoxplotColListForScrt"  parameterType="kr.wise.advisor.prepare.udefoutlier.boxplot.service.WadUodcBoxplot" resultMap="BaseResultMap">
	   
		SELECT A.UDF_OTL_DTC_ID
		     , A.CRE_COMP_ID
		     , C.ANA_DASE_NM
		     , D.ANA_DASE_NM AS SRC_ANA_DASE_NM
		     , B.COL_PNM
		     , B.OTL_COL_PNM
		  FROM WAD_UODC_BOXPLOT A
		       INNER JOIN WAD_UODC_BOXPLOT_COL B
		          ON B.UDF_OTL_DTC_ID = A.UDF_OTL_DTC_ID
		         AND B.CRE_COMP_ID    = A.CRE_COMP_ID
		       LEFT JOIN WAD_UODC_ANA_DASE C
		         ON C.ANA_DASE_ID = A.ANA_DASE_ID
		       LEFT JOIN WAD_UODC_ANA_DASE D
		         ON D.ANA_DASE_ID = A.SRC_ANA_DASE_ID  
		 WHERE 1 = 1          
		   AND A.UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
	       AND A.CRE_COMP_ID    = #{creCompId,jdbcType=VARCHAR}
	</select>
</mapper>