<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.dq.app.service.WaqAppSditmMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.dq.app.service.WaqAppSditm" >
    <id column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" />
    <id column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" />
    <result column="APP_SDITM_ID" property="appSditmId" jdbcType="VARCHAR" />
    <result column="APP_SDITM_LNM" property="appSditmLnm" jdbcType="VARCHAR" />
    <result column="APP_SDITM_PNM" property="appSditmPnm" jdbcType="VARCHAR" />
    <result column="LNM_CRI_DS" property="lnmCriDs" jdbcType="VARCHAR" />
    <result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" />
    <result column="RVW_STS_CD" property="rvwStsCd" jdbcType="VARCHAR" />
    <result column="RVW_CONTS" property="rvwConts" jdbcType="VARCHAR" />
    <result column="VRF_RMK" property="vrfRmk" jdbcType="VARCHAR" />
    <result column="VRF_CD" property="vrfCd" jdbcType="VARCHAR" />
    <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" />
    <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" />
    <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" />
    <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" />
    <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" />
    <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" />
    <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" />
    <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" />
    <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" />
    <result column="PNM_CRI_DS" property="pnmCriDs" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RQST_NO, RQST_SNO, APP_SDITM_ID, APP_SDITM_LNM, APP_SDITM_PNM, LNM_CRI_DS, RQST_DCD, 
    RVW_STS_CD, RVW_CONTS, VRF_RMK, VRF_CD, OBJ_DESCN, OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, 
    FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID, PNM_CRI_DS
  </sql>
  <sql id="wam_col">
	, A.APP_SDITM_LNM, A.APP_SDITM_PNM, A.LNM_CRI_DS
	, A.RQST_NO , A.RQST_SNO, A.OBJ_DESCN, A.OBJ_VERS, A.REG_TYP_CD, A.FRS_RQST_DTM, A.FRS_RQST_USER_ID, A.RQST_DTM, A.RQST_USER_ID, A.APRV_DTM, A.APRV_USER_ID
	, A.PNM_CRI_DS
   </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from WAQ_APP_SDITM
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from WAQ_APP_SDITM
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="kr.wise.dq.app.service.WaqAppSditm" >
    insert into WAQ_APP_SDITM (RQST_NO, RQST_SNO, APP_SDITM_ID, 
      APP_SDITM_LNM, APP_SDITM_PNM, LNM_CRI_DS, 
      RQST_DCD, RVW_STS_CD, RVW_CONTS, 
      VRF_RMK, VRF_CD, OBJ_DESCN, 
      OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, 
      FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, 
      APRV_DTM, APRV_USER_ID, PNM_CRI_DS
      )
    values (#{rqstNo,jdbcType=VARCHAR}, #{rqstSno,jdbcType=DECIMAL}, #{appSditmId,jdbcType=VARCHAR}, 
      #{appSditmLnm,jdbcType=VARCHAR}, #{appSditmPnm,jdbcType=VARCHAR}, #{lnmCriDs,jdbcType=VARCHAR}, 
      #{rqstDcd,jdbcType=VARCHAR}, #{rvwStsCd,jdbcType=VARCHAR}, #{rvwConts,jdbcType=VARCHAR}, 
      #{vrfRmk,jdbcType=VARCHAR}, #{vrfCd,jdbcType=VARCHAR}, #{objDescn,jdbcType=VARCHAR}, 
      #{objVers,jdbcType=DECIMAL}, #{regTypCd,jdbcType=VARCHAR}, #{frsRqstDtm,jdbcType=TIMESTAMP}, 
      #{frsRqstUserId,jdbcType=VARCHAR}, #{rqstDtm,jdbcType=TIMESTAMP}, #{rqstUserId,jdbcType=VARCHAR}, 
      #{aprvDtm,jdbcType=TIMESTAMP}, #{aprvUserId,jdbcType=VARCHAR}, #{pnmCriDs,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="kr.wise.dq.app.service.WaqAppSditm" >
   	<selectKey keyProperty="rqstSno" resultType="int" statementType="PREPARED" order="BEFORE">
  		SELECT IFNULL(MAX(RQST_SNO), 0) + 1 FROM WAQ_APP_SDITM WHERE RQST_NO = #{rqstNo}
  	</selectKey>
    insert into WAQ_APP_SDITM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rqstNo != null" >
        RQST_NO,
      </if>
      <if test="rqstSno != null" >
        RQST_SNO,
      </if>
      <if test="appSditmId != null" >
        APP_SDITM_ID,
      </if>
      <if test="appSditmLnm != null" >
        APP_SDITM_LNM,
      </if>
      <if test="appSditmPnm != null" >
        APP_SDITM_PNM,
      </if>
      <if test="lnmCriDs != null" >
        LNM_CRI_DS,
      </if>
      <if test="rqstDcd != null" >
        RQST_DCD,
      </if>
      <if test="rvwStsCd != null" >
        RVW_STS_CD,
      </if>
      <if test="rvwConts != null" >
        RVW_CONTS,
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK,
      </if>
      <if test="vrfCd != null" >
        VRF_CD,
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
      <if test="objVers != null" >
        OBJ_VERS,
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD,
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM,
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID,
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM,
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID,
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM,
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID,
      </if>
      <if test="pnmCriDs != null" >
        PNM_CRI_DS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rqstNo != null" >
        #{rqstNo,jdbcType=VARCHAR},
      </if>
      <if test="rqstSno != null" >
        #{rqstSno,jdbcType=DECIMAL},
      </if>
      <if test="appSditmId != null" >
        #{appSditmId,jdbcType=VARCHAR},
      </if>
      <if test="appSditmLnm != null" >
        #{appSditmLnm,jdbcType=VARCHAR},
      </if>
      <if test="appSditmPnm != null" >
        #{appSditmPnm,jdbcType=VARCHAR},
      </if>
      <if test="lnmCriDs != null" >
        #{lnmCriDs,jdbcType=VARCHAR},
      </if>
      <if test="rqstDcd != null" >
        #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="rvwStsCd != null" >
        #{rvwStsCd,jdbcType=VARCHAR},
      </if>
      <if test="rvwConts != null" >
        #{rvwConts,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        #{aprvUserId,jdbcType=VARCHAR},
      </if>
      <if test="pnmCriDs != null" >
        #{pnmCriDs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.dq.app.service.WaqAppSditm" >
    update WAQ_APP_SDITM
    <set >
      <if test="appSditmId != null" >
        APP_SDITM_ID = #{appSditmId,jdbcType=VARCHAR},
      </if>
      <if test="appSditmLnm != null" >
        APP_SDITM_LNM = #{appSditmLnm,jdbcType=VARCHAR},
      </if>
      <if test="appSditmPnm != null" >
        APP_SDITM_PNM = #{appSditmPnm,jdbcType=VARCHAR},
      </if>
      <if test="lnmCriDs != null" >
        LNM_CRI_DS = #{lnmCriDs,jdbcType=VARCHAR},
      </if>
      <if test="rqstDcd != null" >
        RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="rvwStsCd != null" >
        RVW_STS_CD = #{rvwStsCd,jdbcType=VARCHAR},
      </if>
      <if test="rvwConts != null" >
        RVW_CONTS = #{rvwConts,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      </if>
      <if test="pnmCriDs != null" >
        PNM_CRI_DS = #{pnmCriDs,jdbcType=VARCHAR},
      </if>
    </set>
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="kr.wise.dq.app.service.WaqAppSditm" >
    update WAQ_APP_SDITM
    set APP_SDITM_ID = #{appSditmId,jdbcType=VARCHAR},
      APP_SDITM_LNM = #{appSditmLnm,jdbcType=VARCHAR},
      APP_SDITM_PNM = #{appSditmPnm,jdbcType=VARCHAR},
      LNM_CRI_DS = #{lnmCriDs,jdbcType=VARCHAR},
      RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      RVW_STS_CD = #{rvwStsCd,jdbcType=VARCHAR},
      RVW_CONTS = #{rvwConts,jdbcType=VARCHAR},
      VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      PNM_CRI_DS = #{pnmCriDs,jdbcType=VARCHAR}
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </update>
  
    <select id="selectStndItemRqstDetail" parameterType="kr.wise.dq.app.service.WaqAppSditm" resultMap="BaseResultMap">
    SELECT A.*
	  FROM WAQ_APP_SDITM A
	    
	 WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
	   AND A.RQST_SNO = #{rqstSno,jdbcType=DECIMAL} 
  </select>
    <select id="selectItemRqstListbyMst" parameterType="kr.wise.commons.rqstmst.service.WaqMstr" resultMap="BaseResultMap">
  	SELECT
  	 A.RQST_NO, A.RQST_SNO, A.APP_SDITM_ID, A.APP_SDITM_LNM, A.APP_SDITM_PNM, A.LNM_CRI_DS, A.PNM_CRI_DS, A.RQST_DCD, 
    A.RVW_CONTS, A.VRF_RMK, A.VRF_CD, 
     A.OBJ_DESCN, A.OBJ_VERS, A.REG_TYP_CD, A.FRS_RQST_DTM, 
    A.FRS_RQST_USER_ID, A.RQST_DTM, A.RQST_USER_ID, A.APRV_DTM, A.APRV_USER_ID
  	 <if test='rqstStepCd == "Q" '>
     , CASE WHEN A.RVW_STS_CD = '2' THEN '2' ELSE '0' END AS RVW_STS_CD
     </if>
     <if test='rqstStepCd != "Q" '>
     , A.RVW_STS_CD
     </if>
     , CASE WHEN A.VRF_CD = '2' THEN '#FF0000' END AS FontColor
     , U.USER_NM AS RQST_USER_NM
  	  FROM WAQ_APP_SDITM A
  	  LEFT OUTER JOIN WAA_USER U
  	    ON A.RQST_USER_ID = U.USER_ID
  	   AND U.REG_TYP_CD IN ('C', 'U')
  	   AND U.EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
  	 WHERE A.RQST_NO = #{rqstNo}
  	<if test='rqstStepCd == "Q" or rqstStepCd == "A" '>
    	AND A.VRF_CD = '1'
    </if>
  	 ORDER BY A.RQST_SNO
  </select>
  
    <!-- 검증로직  -->
   <update id="updateCheckInit" parameterType="java.lang.String" >
    UPDATE WAQ_APP_SDITM A
    SET A.REG_TYP_CD = (SELECT CASE WHEN A.RQST_DCD = 'DD' THEN 'D' ELSE CASE WHEN MAX(B.APP_SDITM_ID ) IS NULL THEN 'C' ELSE 'U' END END
                          FROM WAM_APP_SDITM B
                         WHERE B.REG_TYP_CD IN ('C','U')
                           AND B.APP_SDITM_LNM = A.APP_SDITM_LNM
                           )
       ,A.VRF_CD = '4'
    WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
  </update>
    <insert id="checkRequestDmn" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
	--검증쿼리 : 등록요청 중인 APP표준항목 존재....(AI012)
	AND EXISTS (
    		SELECT 1 FROM WAQ_MSTR E
             INNER JOIN WAQ_APP_SDITM D
             	ON E.RQST_NO = D.RQST_NO
             WHERE E.RQST_NO != #{rqstNo}
               AND E.RQST_STEP_CD = 'Q'
               AND A.APP_SDITM_LNM = D.APP_SDITM_LNM
               AND A.APP_SDITM_PNM = D.APP_SDITM_PNM
			   AND IFNULL(D.RVW_STS_CD, 0) != '2'
               ) 
  </insert>
     <insert id="checkDupSditm" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
  	--검증쿼리
    AND EXISTS (SELECT 1
             FROM WAQ_APP_SDITM D
             WHERE A.RQST_NO = D.RQST_NO
               AND A.APP_SDITM_LNM = D.APP_SDITM_LNM
<!--                표준항목 한글명은 유니크 해야 한다. -->
<!--          AND A.SDITM_PNM = D.SDITM_PNM -->
               AND A.RQST_SNO != D.RQST_SNO)
  </insert>
    <insert id="checkNotExistSditm" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
  	--검증쿼리
      AND A.RQST_DCD = 'DD'
      AND NOT EXISTS (SELECT 1
                  FROM WAM_APP_SDITM D
                  WHERE A.APP_SDITM_LNM = D.APP_SDITM_LNM
               	    AND A.APP_SDITM_PNM = D.APP_SDITM_PNM
                    AND D.REG_TYP_CD IN ('C', 'U'))      
  </insert>
   <insert id="checkLnmSymn" parameterType="map">
   
  </insert>
  
  <insert id="checkExistStwd" parameterType="map">

  </insert>
  

  <insert id="checkDupSditmPnm" parameterType="map">

  </insert>

  <insert id="checkSditmPnmMaxLen" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
  	--검증쿼리
      AND A.RQST_DCD = 'CU'
      AND LENGTH(A.APP_SDITM_PNM) > 30    
  </insert>
  

  <insert id="checkSditmLnmMaxLen" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
  	--검증쿼리
      AND A.RQST_DCD = 'CU'
      AND LENGTH(A.APP_SDITM_LNM) > 30    
  </insert>

  <insert id="checkSditmPnmStrNum" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
  	--검증쿼리
      AND A.RQST_DCD = 'CU'
      AND CASE WHEN SUBSTR(IFNULL(A.SDITM_PNM,'N'),1,1) BETWEEN '0' AND '9' THEN 'N' ELSE 'C' END = 'N'    
  </insert>

  <insert id="checkNotChgData" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
  	--검증쿼리
      AND A.REG_TYP_CD = 'U'
      AND EXISTS (SELECT 1
             FROM WAM_APP_SDITM D
            WHERE A.APP_SDITM_LNM = D.APP_SDITM_LNM
			  AND IFNULL(A.APP_SDITM_PNM    , '_')   = IFNULL(D.APP_SDITM_PNM    , '_')
			  AND IFNULL(A.LNM_CRI_DS   , '_')   = IFNULL(D.LNM_CRI_DS   , '_')
			  AND IFNULL(A.PNM_CRI_DS   , '_')   = IFNULL(D.PNM_CRI_DS   , '_')
			  AND IFNULL(A.OBJ_DESCN    , '_')   = IFNULL(D.OBJ_DESCN    , '_')
              AND D.REG_TYP_CD IN ('C','U')
                  )    
  </insert>
  
    <!-- 결재처리 -->
  <update id="updatervwStsCd" parameterType="kr.wise.dq.stnd.service.WaqSditm">
  	UPDATE WAQ_APP_SDITM
  	<set>
  	    RVW_STS_CD 	= #{rvwStsCd} , 
  		RVW_CONTS 	= #{rvwConts} , 
  		APRV_DTM	= now() ,
  		APRV_USER_ID = #{aprvUserId} ,
  	</set>
    WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      AND VRF_CD = '1'
      AND IFNULL(RVW_STS_CD, '_') != '2'
 
  </update>
  
    <select id="selectWaqC" parameterType="map" resultMap="BaseResultMap">
   	SELECT * FROM WAQ_APP_SDITM
   	WHERE RQST_NO = #{rqstNo}
   	  AND RVW_STS_CD = '1'  --승인
   	  AND REG_TYP_CD = 'C'  	
  </select>
    <update id="updateidByKey" parameterType="kr.wise.dq.app.service.WaqAppSditm">
   	UPDATE WAQ_APP_SDITM SET APP_SDITM_ID = #{appSditmId,jdbcType=VARCHAR} , OBJ_VERS = 1
  	 WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
       AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL} 
  
  </update>
    <select id="selectwamlist" parameterType="map" resultMap="BaseResultMap">
  		SELECT 
  			((SELECT IFNULL(MAX(RQST_SNO), 0) FROM WAQ_APP_SDITM WHERE RQST_NO = #{reqmst.rqstNo}) + ROWNUM) AS RQST_SNO
  		  , 'I' AS IBS_STATUS
		  , A.APP_SDITM_ID, A.APP_SDITM_LNM, A.APP_SDITM_PNM, A.LNM_CRI_DS, A.PNM_CRI_DS
		  , #{reqmst.rqstDcd} AS RQST_DCD
		  , A.OBJ_DESCN, A.OBJ_VERS
	  FROM WAM_APP_SDITM A
		  WHERE A.APP_SDITM_ID IN 
	  <foreach collection="list" item="item" open="(" separator="," close=")">
	  	#{item.appSditmId}
	  </foreach>
	    AND A.REG_TYP_CD IN ('C', 'U')  
  </select>
      <update id="updateWaqCUD" parameterType="map">
   	--WAQ ID, VERS 등을 업데이트...
	UPDATE WAQ_APP_SDITM A
	SET (APP_SDITM_ID, OBJ_VERS, FRS_RQST_DTM, FRS_RQST_USER_ID) = (
	    SELECT 
	          B.APP_SDITM_ID AS APP_SDITM_ID
	        , IFNULL(B.OBJ_VERS, 0) + 1 AS OBJ_VERS
	        , B.FRS_RQST_DTM
	        , B.FRS_RQST_USER_ID
	    FROM WAM_APP_SDITM B
	    WHERE B.APP_SDITM_LNM = A.APP_SDITM_LNM
	      AND B.REG_TYP_CD IN ('C', 'U')
	)
	WHERE A.RQST_NO = #{rqstNo}
	--AND A.VRF_CD = '1' 		--등록가능
	AND A.RVW_STS_CD = '1'  --승인
	AND EXISTS (
		SELECT 1
		  FROM WAM_APP_SDITM B
		 WHERE B.APP_SDITM_LNM = A.APP_SDITM_LNM
	       AND B.REG_TYP_CD IN ('C', 'U')
	)
   </update>
      <delete id="deleteWAM" parameterType="map">
    --WAM 삭제 (등록유형코드가REG_TYP_CD 변경, 삭제일 경우)
	DELETE FROM WAM_APP_SDITM A
	WHERE EXISTS (
	    SELECT 1 FROM WAQ_APP_SDITM B
	     WHERE B.RQST_NO = #{rqstNo}
	       AND B.RVW_STS_CD = '1'
	       AND B.APP_SDITM_LNM = A.APP_SDITM_LNM
	)
   </delete>
      <insert id="insertWAM" parameterType="map">
   	-- WAM 추가 (WAQ 내용을 추가, REG_TYP_CD 가 신규,변경일 경우)
	INSERT INTO WAM_APP_SDITM 
	SELECT 
		A.APP_SDITM_ID 
	<include refid="wam_col"/>
	 FROM WAQ_APP_SDITM A
	WHERE A.RQST_NO = #{rqstNo}
	  AND A.RVW_STS_CD = '1'
	  AND A.REG_TYP_CD IN ('C', 'U')
   </insert>
      <update id="updateWAH"  parameterType="map">
   	--WAH 이력 만료...
	UPDATE WAH_APP_SDITM A
	SET EXP_DTM = now()
	WHERE EXISTS (
	    SELECT 1 FROM WAQ_APP_SDITM B
	    WHERE B.RQST_NO = #{rqstNo}
	    AND B.RVW_STS_CD = '1'
	    AND B.APP_SDITM_LNM = A.APP_SDITM_LNM
	    )
	AND EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
   </update>
      <insert id="insertWAH"  parameterType="map">
   	--WAH이력 적재...
	INSERT INTO WAH_APP_SDITM
	SELECT
	    A.APP_SDITM_ID 
	    , DATE_FORMAT( '9999-12-31', '%Y-%m-%d') AS EXP_DTM
	    , now() AS STR_DTM 
	
	<include refid="wam_col"/>
	FROM WAQ_APP_SDITM A
	WHERE A.RQST_NO = #{rqstNo}
	  AND A.RVW_STS_CD = '1'
   </insert>   
</mapper>