<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.commons.user.service.CmpRateMapper" >
<resultMap id="BaseResultMap" type="kr.wise.commons.user.WaaUserg" extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap" >
	<result column="DB_NM"   		property="dbNm"   	   jdbcType="VARCHAR" />
	<result column="ORG_ITEM_COUNT"   		property="orgItemCount"   	   jdbcType="NUMERIC" />
    <result column="ORG_WORD_COUNT"   		property="orgWordCount"   	   jdbcType="NUMERIC" />
    <result column="ORG_DOMAIN_COUNT" 		property="orgDomainCount"      jdbcType="NUMERIC" />
    <result column="ORG_CODE_COUNT" 		property="orgCodeCount"        jdbcType="NUMERIC" />
    <result column="DB_ITEM_COUNT"   		property="dbItemCount"   	   jdbcType="NUMERIC" />
    <result column="DB_WORD_COUNT"   		property="dbWordCount"   	   jdbcType="NUMERIC" />
    <result column="DB_DOMAIN_COUNT" 		property="dbDomainCount"       jdbcType="NUMERIC" />
    <result column="DB_CODE_COUNT" 			property="dbCodeCount"         jdbcType="NUMERIC" />
	<result column="DB_ITEM_RQST_DTM"   	property="dbItemRqstDtm"   	   jdbcType="VARCHAR" />
	<result column="DB_WORD_RQST_DTM"   	property="dbWordRqstDtm"   	   jdbcType="VARCHAR" />
	<result column="DB_DOMAIN_RQST_DTM" 	property="dbDomainRqstDtm"     jdbcType="VARCHAR" />
	<result column="DB_CODE_RQST_DTM" 		property="dbCodeRqstDtm"       jdbcType="VARCHAR" />
	<result column="ORG_ITEM_RQST_DTM"   	property="orgItemRqstDtm"      jdbcType="VARCHAR" />
	<result column="ORG_WORD_RQST_DTM"   	property="orgWordRqstDtm"      jdbcType="VARCHAR" />
	<result column="ORG_DOMAIN_RQST_DTM" 	property="orgDomainRqstDtm"    jdbcType="VARCHAR" />
	<result column="ORG_CODE_RQST_DTM" 		property="orgCodeRqstDtm"      jdbcType="VARCHAR" />
    <result column="COMM_ITEM_COUNT"   		property="commItemCount"   	   jdbcType="NUMERIC" />
    <result column="COMM_WORD_COUNT"   		property="commWordCount"   	   jdbcType="NUMERIC" />
    <result column="COMM_DOMAIN_COUNT" 		property="commDomainCount"     jdbcType="NUMERIC" />
    <result column="COMM_ITEM_COUNT_RATE"   property="commItemCountRate"   jdbcType="VARCHAR" />
    <result column="COMM_DOMAIN_COUNT_RATE" property="commDomainCountRate" jdbcType="VARCHAR" />
    <result column="COMM_WORD_COUNT_RATE"   property="commWordCountRate"   jdbcType="VARCHAR" />
</resultMap>
<select id="getOrgCmpRateList" 
	parameterType="kr.wise.commons.user.WaaUserg" resultMap="BaseResultMap">
SELECT
	T.ORG_NM,							  	--기관명
	CASE WHEN T.COMM_ITEM_COUNT >0 THEN 
			  TO_CHAR(T.COMM_ITEM_COUNT) || ' / ' || TO_CHAR(ROUND(T.COMM_ITEM_COUNT / (T.ORG_ITEM_COUNT* 1.0) * 100.0,2))||'%' 
	ELSE '0' END AS COMM_ITEM_COUNT_RATE, 	--공통표준 용어 
	T.ORG_ITEM_COUNT,					  	--기관표준 용어
	CASE WHEN T.COMM_DOMAIN_COUNT > 0 THEN 
			  TO_CHAR(T.COMM_DOMAIN_COUNT) || ' / ' || TO_CHAR(ROUND(T.COMM_DOMAIN_COUNT / (T.ORG_DOMAIN_COUNT * 1.0) * 100.0,2))||'%' 
	ELSE '0' END AS COMM_DOMAIN_COUNT_RATE, --공통표준 도메인
	T.ORG_DOMAIN_COUNT,						--기관표준 도메인
	CASE WHEN T.COMM_WORD_COUNT > 0 THEN 
			  TO_CHAR(T.COMM_WORD_COUNT) || ' / ' || TO_CHAR(ROUND(T.COMM_WORD_COUNT / (T.ORG_WORD_COUNT* 1.0) * 100.0,2))||'%' 
	ELSE '0' END AS COMM_WORD_COUNT_RATE, 	--공통표준 단어
	T.ORG_WORD_COUNT 						--기관표준 단어
FROM
(SELECT 
	WO.ORG_NM,
	(SELECT COUNT(*) FROM WAM_SDITM WHERE ORG_NM=WO.ORG_NM) AS ORG_ITEM_COUNT,
	(SELECT COUNT(*) FROM WAM_DMN   WHERE ORG_NM=WO.ORG_NM) AS ORG_DOMAIN_COUNT,
	(SELECT COUNT(*) FROM WAM_STWD  WHERE ORG_NM=WO.ORG_NM) AS ORG_WORD_COUNT,
	(SELECT COUNT(*) FROM COMM_SDITM A INNER JOIN (SELECT SDITM_LNM,SDITM_PNM,INFOTP_LNM FROM WAM_SDITM WHERE ORG_NM = WO.ORG_NM) B 
	 ON (A.SDITM_LNM =B.SDITM_LNM AND A.SDITM_PNM = B.SDITM_PNM AND A.INFOTP_LNM =B.INFOTP_LNM)
	 ) 														AS COMM_ITEM_COUNT,
	(SELECT COUNT(*) FROM COMM_DMN A INNER JOIN (SELECT INFOTP_LNM,DATA_LEN,DATA_TYPE FROM WAM_DMN WHERE ORG_NM = WO.ORG_NM) B 
	ON(A.INFOTP_LNM=B.INFOTP_LNM AND A.DATA_LEN = B.DATA_LEN AND A.DATA_TYPE = B.DATA_TYPE)
	)														AS  COMM_DOMAIN_COUNT,
	(SELECT COUNT(*) FROM COMM_STWD A INNER JOIN (SELECT STWD_LNM,STWD_PNM FROM WAM_STWD WHERE ORG_NM = WO.ORG_NM) B 
	ON(A.ENG_MEAN=B.STWD_LNM AND A.STWD_LNM = B.STWD_PNM)
	)														AS  COMM_WORD_COUNT
FROM WAA_ORG WO
 WHERE WO.ORG_NM LIKE  CONCAT('%', #{orgNm}, '%')
) T

</select>


<select id="getDbCmpRateOrgItemList"
		parameterType="kr.wise.commons.user.WaaUserg" resultMap="BaseResultMap">
	select T.org_nm,
		   count(itemCount) AS ORG_ITEM_COUNT,
		   (SELECT COUNT(*) FROM WAM_DB_SDITM WHERE ORG_NM=T.ORG_NM)  AS DB_ITEM_COUNT    --DB표준 단어 수
	from (select
			  A.org_nm
			   ,count(*) as itemCount
			   , a.sditm_lnm
			   , a.sditm_pnm
			   , a.infotp_lnm
		  from wam_sditm a inner join wam_db_sditm B on (a.sditm_lnm = B.sditm_lnm and a.sditm_pnm = B.sditm_pnm and a.infotp_lnm = B.infotp_lnm and a.org_nm = B.org_nm)
						   inner join waa_org C on (C.target_yn='Y' and a.org_nm = C.org_nm)
	where a.confirm_yn ='Y'
  	and b.confirm_yn ='Y'
		  group by a.org_nm , a.sditm_lnm , a.sditm_pnm , a.infotp_lnm
		 ) T
	group by T.org_nm
</select>

<select id="getDbCmpRateOrgCodeList"
		parameterType="kr.wise.commons.user.WaaUserg" resultMap="BaseResultMap">
	select T.org_nm,
		   count(T.itemCount) as ORG_CODE_COUNT,
		   (SELECT COUNT(*) FROM wam_db_comm_cd  WHERE ORG_NM=T.ORG_NM and confirm_yn='Y') as DB_CODE_COUNT
	from
		(select
			 A.org_nm
			  ,count(*) as itemCount
			  ,A.comm_cd_nm
			  ,A.comn_cd_ennm
			  ,A.comm_dtl_cd_mn
		 FROM   wam_comm_cd A inner join wam_db_comm_cd  B on (A.comm_cd_nm =B.comm_cd_nm AND A.comn_cd_ennm = B.comn_cd_ennm AND A.comm_dtl_cd_mn =B.comm_dtl_cd_mn and A.org_nm = B.org_nm)
		 WHERE A.confirm_yn='Y'
		   and B.confirm_yn='Y'
		 group by A.org_nm, A.comm_cd_nm, A.comn_cd_ennm, A.comm_dtl_cd_mn
		) T
	group by T.org_nm
</select>

<select id="getDbCmpRateList"
	parameterType="kr.wise.commons.user.WaaUserg" resultMap="BaseResultMap">
	SELECT T.*
		FROM (
			SELECT
			WO.ORG_NM,
			WO.DB_NM,
			(SELECT COUNT(*) FROM COMM_SDITM A INNER JOIN (SELECT SDITM_LNM,SDITM_PNM,INFOTP_LNM FROM WAM_DB_SDITM WHERE ORG_NM = WO.ORG_NM AND db_nm = WO.DB_NM) B
			ON (A.SDITM_LNM =B.SDITM_LNM AND A.SDITM_PNM = B.SDITM_PNM AND A.INFOTP_LNM =B.INFOTP_LNM)
			) 														  AS COMM_ITEM_COUNT,   --공통표준 용어 일치 수
			(SELECT COUNT(*) FROM (SELECT sditm_lnm,sditm_pnm, infotp_lnm FROM wam_sditm WHERE INSTR(#{orgNm} , ORG_NM))  A
									INNER JOIN (SELECT  sditm_lnm,sditm_pnm, infotp_lnm FROM wam_db_sditm  WHERE ORG_NM = WO.ORG_NM AND db_nm = WO.DB_NM) B
									ON(A.sditm_lnm=B.sditm_lnm AND A.sditm_pnm = B.sditm_pnm and a.infotp_lnm = b.infotp_lnm)
			)														  AS  ORG_ITEM_COUNT,   --기관표준 단어 일치 수
			(SELECT rqst_dtm FROM wam_sditm WHERE ORG_NM = WO.ORG_NM order by rqst_dtm limit 1) AS ORG_ITEM_RQST_DTM,	-- ORG 제정일자
			(SELECT COUNT(*) FROM WAM_DB_SDITM WHERE ORG_NM=WO.ORG_NM and db_nm = WO.DB_NM) AS DB_ITEM_COUNT,	--DB표준 용어 수
			(SELECT to_char(rqst_dtm,'YYYY-MM-DD')  FROM WAM_DB_SDITM WHERE ORG_NM=WO.ORG_NM and db_nm = WO.DB_NM order by rqst_dtm limit 1) AS DB_ITEM_RQST_DTM, -- DB 제정일자
			(SELECT COUNT(*) FROM COMM_DMN  A INNER JOIN (SELECT INFOTP_LNM,DATA_LEN,DATA_TYPE FROM WAM_DB_DMN  WHERE ORG_NM = WO.ORG_NM and db_nm = WO.DB_NM) B
													  ON (A.INFOTP_LNM=B.INFOTP_LNM AND A.DATA_LEN = B.DATA_LEN AND A.DATA_TYPE = B.DATA_TYPE)
			) 														  AS COMM_DOMAIN_COUNT, --공통표준 도메인 일치 수
			(SELECT COUNT(*) FROM (SELECT ORG_NM, INFOTP_LNM,DATA_LEN,DATA_TYPE FROM WAM_DMN WHERE INSTR(#{orgNm} , ORG_NM))  A
										INNER JOIN (SELECT  ORG_NM, INFOTP_LNM,DATA_LEN,DATA_TYPE FROM WAM_DB_DMN  WHERE ORG_NM = WO.ORG_NM AND db_nm = WO.DB_NM) B
										ON(A.INFOTP_LNM=B.INFOTP_LNM AND A.DATA_LEN = B.DATA_LEN AND A.DATA_TYPE = B.DATA_TYPE and A.org_nm = B.org_nm)
			)														  AS  ORG_DOMAIN_COUNT,   --기관표준 도메인 일치 수
			(SELECT rqst_dtm FROM WAM_DMN WHERE ORG_NM = WO.ORG_NM order by rqst_dtm limit 1) AS ORG_DOMAIN_RQST_DTM,	-- ORG 제정일자
			(SELECT COUNT(*) FROM WAM_DB_DMN  WHERE ORG_NM = WO.ORG_NM and db_nm = WO.DB_NM)  AS DB_DOMAIN_COUNT,  --DB표준 도메인 수
			(SELECT to_char(rqst_dtm,'YYYY-MM-DD') FROM WAM_DB_DMN WHERE ORG_NM=WO.ORG_NM and db_nm = WO.DB_NM order by rqst_dtm limit 1) AS DB_DOMAIN_RQST_DTM, -- 제정일자
			(SELECT COUNT(*) FROM COMM_STWD A INNER JOIN (SELECT STWD_LNM,STWD_PNM FROM WAM_DB_STWD WHERE ORG_NM = WO.ORG_NM and db_nm = WO.DB_NM) B
													  ON(A.STWD_LNM=B.STWD_LNM AND A.ENG_MEAN = B.STWD_PNM))  AS  COMM_WORD_COUNT,  --공통표준 단어 일치 수
			(SELECT COUNT(*) FROM (SELECT ORG_NM, STWD_LNM,STWD_PNM FROM WAM_STWD WHERE INSTR(#{orgNm} , ORG_NM))  A
									INNER JOIN (SELECT  ORG_NM, STWD_LNM,STWD_PNM FROM WAM_DB_STWD  WHERE ORG_NM = WO.ORG_NM AND db_nm = WO.DB_NM) B
									ON(A.STWD_LNM=B.STWD_LNM AND A.STWD_PNM = B.STWD_PNM and A.org_nm = B.org_nm)
			)														  AS  ORG_WORD_COUNT,   --기관표준 단어 일치 수
			(SELECT rqst_dtm FROM WAM_STWD WHERE ORG_NM = WO.ORG_NM order by rqst_dtm limit 1) AS ORG_WORD_RQST_DTM,	-- ORG 제정일자
			(SELECT COUNT(*) FROM WAM_DB_STWD WHERE ORG_NM=WO.ORG_NM and db_nm = WO.DB_NM)  AS DB_WORD_COUNT,    --DB표준 단어 수
			(SELECT to_char(rqst_dtm,'YYYY-MM-DD') FROM WAM_DB_STWD WHERE ORG_NM=WO.ORG_NM and db_nm = WO.DB_NM order by rqst_dtm limit 1) AS DB_WORD_RQST_DTM, -- 제정일자
			(select count(*) from (
								   SELECT comm_cd_nm,comn_cd_ennm, comm_dtl_cd_mn FROM wam_comm_cd where INSTR(#{orgNm} , ORG_NM)
								   intersect
								   SELECT comm_cd_nm,comn_cd_ennm, comm_dtl_cd_mn FROM wam_db_comm_cd where ORG_NM = WO.org_nm and DB_NM = WO.db_nm))  AS  ORG_CODE_COUNT,   --기관표준 코드 일치 수
			(SELECT writ_dtm FROM wam_comm_cd WHERE ORG_NM = WO.ORG_NM order by writ_dtm limit 1) AS ORG_CODE_RQST_DTM,	-- ORG 제정일자
		    (SELECT COUNT(*) FROM wam_db_comm_cd  WHERE ORG_NM=WO.ORG_NM and db_nm = WO.DB_NM) AS DB_CODE_COUNT,	--DB표준 코드 수
			(SELECT to_char(writ_dtm,'YYYY-MM-DD') FROM wam_db_comm_cd WHERE ORG_NM=WO.ORG_NM and db_nm = WO.DB_NM order by writ_dtm limit 1) AS DB_CODE_RQST_DTM -- 제정일자
		 	FROM (select a.org_nm, b.db_nm from WAA_ORG a inner join waa_org_db b on (a.org_cd = b.org_cd)) WO
		) T
	where T.ORG_NM = #{orgNm}
	<if test="dbNm != null and dbNm != '' ">
	  and T.DB_NM = #{dbNm}
	 </if> 
</select>
</mapper>