<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.commons.user.service.RegistStatMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.commons.user.WaaUserg" extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap" >
    <result column="ORG_ITEM_COUNT"   property="orgItemCount"   jdbcType="NUMERIC" />
    <result column="ORG_WORD_COUNT"   property="orgWordCount"   jdbcType="NUMERIC" />
    <result column="ORG_DOMAIN_COUNT" property="orgDomainCount" jdbcType="NUMERIC" />
    <result column="ORG_CODE_COUNT"   property="orgCodeCount"   jdbcType="NUMERIC" />
    <result column="DB_ITEM_COUNT"    property="dbItemCount"    jdbcType="NUMERIC" />
    <result column="DB_WORD_COUNT"    property="dbWordCount"    jdbcType="NUMERIC" />
    <result column="DB_DOMAIN_COUNT"  property="dbDomainCount"  jdbcType="NUMERIC" />
    <result column="DB_CODE_COUNT"    property="dbCodeCount"    jdbcType="NUMERIC" />
    <result column="CM_ITEM_COUNT"    property="cmItemCount"    jdbcType="NUMERIC" />
    <result column="CM_WORD_COUNT"    property="cmWordCount"    jdbcType="NUMERIC" />
    <result column="CM_DOMAIN_COUNT"  property="cmDomainCount"  jdbcType="NUMERIC" />
    <result column="ORG_DB_COUNT"     property="orgDbCount"     jdbcType="NUMERIC" />
    <result column="ORG_COUNT"        property="orgCount"       jdbcType="NUMERIC" />
    <result column="TOTAL_ORG"        property="totalOrg"       jdbcType="NUMERIC" />
    <result column="REG_ORG"          property="regOrg"       	jdbcType="NUMERIC" />
    <result column="ITEM"     	      property="item"           jdbcType="NUMERIC" />
    <result column="WORD"         	  property="word"    	    jdbcType="NUMERIC" />
    <result column="DMN"   		      property="dmn"       		jdbcType="NUMERIC" />
    <result column="CODE"   	      property="code"  	        jdbcType="NUMERIC" />
    <result column="ORG_CD"  		  property="orgCd"  		jdbcType="VARCHAR" />
    <result column="DB_NM"  		  property="dbNm"  		    jdbcType="VARCHAR" />
    <result column="ORG_ITEM_YN"   	  property="orgItemYn"   	jdbcType="VARCHAR" />
    <result column="ORG_WORD_YN"   	  property="orgWordYn"   	jdbcType="VARCHAR" />
    <result column="ORG_DOMAIN_YN" 	  property="orgDomainYn" 	jdbcType="VARCHAR" />
    <result column="ORG_CODE_YN"   	  property="orgCodeYn"   	jdbcType="VARCHAR" />
    <result column="DB_ITEM_YN"    	  property="dbItemYn"    	jdbcType="VARCHAR" />
    <result column="DB_WORD_YN"    	  property="dbWordYn"    	jdbcType="VARCHAR" />
    <result column="DB_DOMAIN_YN"  	  property="dbDomainYn"  	jdbcType="VARCHAR" />
    <result column="DB_CODE_YN"    	  property="dbCodeYn"    	jdbcType="VARCHAR" />
    <result column="ORG_TYPE"    	  property="orgType"    	jdbcType="VARCHAR" />
    <result column="TITLE"    	  	  property="title"    		jdbcType="VARCHAR" />
    <result column="TOTAL_DB"         property="totalDb"        jdbcType="NUMERIC" />
    <result column="REG_DB"           property="regDb"          jdbcType="NUMERIC" />
    <result column="ORG_ITEM_RATE"    property="orgItemRate"   	jdbcType="FLOAT" />
    <result column="ORG_WORD_RATE"    property="orgWordRate"   	jdbcType="FLOAT" />
    <result column="ORG_DOMAIN_RATE"  property="orgDomainRate" 	jdbcType="FLOAT" />
    <result column="ORG_CODE_RATE"    property="orgCodeRate"   	jdbcType="FLOAT" />
    <result column="DB_ITEM_RATE"     property="dbItemRate"    	jdbcType="FLOAT" />
    <result column="DB_WORD_RATE"     property="dbWordRate"    	jdbcType="FLOAT" />
    <result column="DB_DOMAIN_RATE"   property="dbDomainRate"  	jdbcType="FLOAT" />
    <result column="DB_CODE_RATE"     property="dbCodeRate"    	jdbcType="FLOAT" />
    <result column="ITEM_RATE"     	  property="itemRate"    	jdbcType="FLOAT" />
    <result column="WORD_RATE"     	  property="wordRate"    	jdbcType="FLOAT" />
    <result column="DOMAIN_RATE"   	  property="domainRate"  	jdbcType="FLOAT" />
    <result column="CODE_RATE"     	  property="codeRate"    	jdbcType="FLOAT" />
    
  </resultMap>
  <!-- 기관표준 등록 현황 조회 -->
<select id="getRegistStatList" 
	parameterType="kr.wise.commons.user.WaaUserg" resultMap="BaseResultMap">

SELECT 
		WO.ORG_CD 																AS ORG_CD,			--기관코드
		WO.ORG_NM 																AS ORG_NM,			--기관명
		CASE WHEN B.ORG_ITEM_COUNT IS NULL THEN 0 ELSE B.ORG_ITEM_COUNT END 	AS ORG_ITEM_COUNT,  --기관표준용어
		CASE WHEN C.ORG_WORD_COUNT IS NULL THEN 0 ELSE C.ORG_WORD_COUNT END 	AS ORG_WORD_COUNT,  --기관표준단어
		CASE WHEN D.ORG_DOMAIN_COUNT IS NULL THEN 0 ELSE D.ORG_DOMAIN_COUNT END AS ORG_DOMAIN_COUNT,--기관표준도메인
		CASE WHEN E.ORG_CODE_COUNT IS NULL THEN 0 ELSE E.ORG_CODE_COUNT END 	AS ORG_CODE_COUNT,  --기관표준코드
		CASE WHEN B.ORG_ITEM_COUNT IS NULL THEN 'N' ELSE 'Y' END 			 	AS ORG_ITEM_YN,  	--기관표준용어YN
		CASE WHEN C.ORG_WORD_COUNT IS NULL THEN 'N' ELSE 'Y' END 				AS ORG_WORD_YN,  	--기관표준단어YN
		CASE WHEN D.ORG_DOMAIN_COUNT IS NULL THEN 'N' ELSE 'Y' END 				AS ORG_DOMAIN_YN,	--기관표준도메인YN
		CASE WHEN E.ORG_CODE_COUNT IS NULL THEN 'N' ELSE 'Y' END 				AS ORG_CODE_YN   	--기관표준코드YN
  FROM WAA_ORG WO 
  		LEFT OUTER JOIN (SELECT ORG_NM, COUNT(*) AS ORG_ITEM_COUNT FROM WAM_SDITM    GROUP BY ORG_NM) B ON (WO.ORG_NM = B.ORG_NM)
  		LEFT OUTER JOIN (SELECT ORG_NM, COUNT(*) AS ORG_WORD_COUNT FROM WAM_STWD     GROUP BY ORG_NM) C ON (WO.ORG_NM = C.ORG_NM)
  		LEFT OUTER JOIN (SELECT ORG_NM, COUNT(*) AS ORG_DOMAIN_COUNT FROM WAM_DMN    GROUP BY ORG_NM) D ON (WO.ORG_NM = D.ORG_NM)
  		LEFT OUTER JOIN (SELECT ORG_NM, COUNT(*) AS ORG_CODE_COUNT FROM WAM_COMM_CD  GROUP BY ORG_NM) E ON (WO.ORG_NM = E.ORG_NM)
  WHERE 1=1
    AND WO.TARGET_YN = 'Y'
  	<if test="orgNm != null and orgNm != '' ">
  	AND WO.ORG_NM LIKE  '%' || #{orgNm} || '%'
  	</if>
  	
</select>

 <!-- DB표준 등록 현황 조회 -->
<select id="getDbRegistStatList" 
	parameterType="kr.wise.commons.user.WaaUserg" resultMap="BaseResultMap">

SELECT 
    WO.ORG_NM																AS ORG_NM,			--기관명
	WO.DB_NM																AS DB_NM,			--DB명
	CASE WHEN F.DB_ITEM_COUNT IS NULL THEN 0 ELSE F.DB_ITEM_COUNT END 		AS DB_ITEM_COUNT,   --DB표준용어
	CASE WHEN G.DB_WORD_COUNT IS NULL THEN 0 ELSE G.DB_WORD_COUNT END 		AS DB_WORD_COUNT,   --DB표준단어
	CASE WHEN H.DB_DOMAIN_COUNT IS NULL THEN 0 ELSE H.DB_DOMAIN_COUNT END 	AS DB_DOMAIN_COUNT, --DB표준도메인
	CASE WHEN I.DB_CODE_COUNT IS NULL THEN 0 ELSE I.DB_CODE_COUNT END 		AS DB_CODE_COUNT,   --DB표준코드
	CASE WHEN F.DB_ITEM_COUNT IS NULL THEN 'N' ELSE 'Y' END 				AS DB_ITEM_YN,   	--DB표준용어YN
	CASE WHEN G.DB_WORD_COUNT IS NULL THEN 'N' ELSE 'Y' END 				AS DB_WORD_YN,   	--DB표준단어YN
	CASE WHEN H.DB_DOMAIN_COUNT IS NULL THEN 'N' ELSE 'Y' END 				AS DB_DOMAIN_YN, 	--DB표준도메인YN
	CASE WHEN I.DB_CODE_COUNT IS NULL THEN 'N' ELSE 'Y' END					AS DB_CODE_YN    	--DB표준코드YN
  FROM (SELECT A.ORG_CD, A.ORG_NM, A.TARGET_YN, B.DB_NM FROM  WAA_ORG A INNER JOIN WAA_ORG_DB B ON (A.ORG_CD = B.ORG_CD)) WO
	LEFT OUTER JOIN (SELECT ORG_NM, DB_NM, COUNT(DB_NM) AS DB_ITEM_COUNT FROM WAM_DB_SDITM WHERE DB_NM   != ''  GROUP BY ORG_NM, DB_NM ) F ON (WO.ORG_NM = F.ORG_NM AND WO.DB_NM = F.DB_NM)
	LEFT OUTER JOIN (SELECT ORG_NM, DB_NM, COUNT(DB_NM) AS DB_WORD_COUNT FROM WAM_DB_STWD WHERE DB_NM    != ''  GROUP BY ORG_NM, DB_NM ) G ON (WO.ORG_NM = G.ORG_NM AND WO.DB_NM = G.DB_NM)
	LEFT OUTER JOIN (SELECT ORG_NM, DB_NM, COUNT(DB_NM) AS DB_DOMAIN_COUNT FROM WAM_DB_DMN WHERE DB_NM   != ''  GROUP BY ORG_NM, DB_NM ) H ON (WO.ORG_NM = H.ORG_NM AND WO.DB_NM = H.DB_NM)
	LEFT OUTER JOIN (SELECT ORG_NM, DB_NM, COUNT(DB_NM) AS DB_CODE_COUNT FROM WAM_DB_COMM_CD WHERE DB_NM != ''  GROUP BY ORG_NM, DB_NM ) I ON (WO.ORG_NM = I.ORG_NM AND WO.DB_NM = I.DB_NM)
 WHERE (DB_ITEM_COUNT > 0 OR DB_WORD_COUNT > 0 OR DB_DOMAIN_COUNT > 0 OR DB_CODE_COUNT > 0)
   	AND WO.TARGET_YN = 'Y'
  	<if test="orgNm != null and orgNm != '' ">
  	AND WO.ORG_NM LIKE  '%' || #{orgNm} || '%'
  	</if>
  	
</select>

<select id="getTotalDbCountList1" resultType="java.util.Map" parameterType="java.util.Map">
	WITH db_count AS (SELECT
	db_info.instt_id,
	count(db_info.id) as cnt,
	CASE
	WHEN count(db_info.id)!=0 THEN 'has'
	END AS type
	FROM
	tb_qev_db_info db_info
	WHERE
	db_info.yr = 2022
	AND db_info.evl_trgt_candidate_yn='Y'
	GROUP BY
	db_info.instt_id     ) SELECT
	states.trgt_instt_yn AS is_target,
	count(distinct instt.id) AS cnt,
	'institution' AS type
	FROM
	tb_qev_instt instt
	JOIN
	tb_qev_instt_states states
	ON states.instt_id = instt.id
	WHERE
	states.evl_schd_id = 41
	GROUP BY
	states.trgt_instt_yn
	UNION
	SELECT
	states.trgt_instt_yn AS is_target,
	count(distinct instt.id) AS cnt,
	states.db_slctn_sttus AS type
	FROM
	tb_qev_instt_states states
	JOIN
	tb_qev_instt instt
	ON states.instt_id = instt.id
	WHERE
	states.evl_schd_id =   41
	GROUP BY
	states.trgt_instt_yn,
	db_slctn_sttus
	UNION
	SELECT
	instt_states.trgt_instt_yn AS is_target,
	CASE
	WHEN db_count.cnt IS NULL THEN count(distinct instt_states.instt_id)
	ELSE sum(db_count.cnt)
	END AS cnt,
	IFNULL(db_count.type,
	'has_not') AS type
	FROM
	tb_qev_instt_states instt_states
	JOIN
	tb_qev_evl_schedule schd
	ON schd.id = instt_states.evl_schd_id
	AND schd.evl_yr=2022
	LEFT JOIN
	db_count
	ON instt_states.instt_id = db_count.instt_id
	GROUP BY
	instt_states.trgt_instt_yn,
	type
	ORDER BY
	is_target
</select>

<select id="getTotalDbCount2" resultType="java.util.Map" parameterType="java.util.Map">
	select
		count(*) CNT
	from
		tb_qev_db_info d
	where
		yr = 2022
	  and evl_trgt_candidate_yn = 'N'
</select>

	<select id="getTotalOrgCount" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT SUM(`count`) CNT
		FROM (SELECT 'D'            as type,
					 db_slctn_sttus as state,
					 count(*)       as `count`
			  FROM tb_qev_instt_states
			  WHERE evl_schd_id = 41
				AND trgt_instt_yn = 'Y'
			  GROUP BY db_slctn_sttus)
	</select>

<!-- 종합 등록 현황 조회 -->
<select id="getTotalStatList" 
	parameterType="kr.wise.commons.user.WaaUserg" resultMap="BaseResultMap">

SELECT 
		ORG_TOTAL.ORG_TYPE,			--기관분류명
		ORG_TOTAL.ORG_COUNT, 		--평가대상 기관수
		ORG_TOTAL.ORG_ITEM_COUNT, 	--기관표준 > 용어
		ORG_TOTAL.ORG_ITEM_RATE, 	--기관표준 > 용어 제출율
		ORG_TOTAL.ORG_WORD_COUNT,	--기관표준 > 단어
		ORG_TOTAL.ORG_WORD_RATE,	--기관표준 > 단어 제출율
		ORG_TOTAL.ORG_DOMAIN_COUNT, --기관표준 > 도메인
		ORG_TOTAL.ORG_DOMAIN_RATE,  --기관표준 > 도메인 제출율
		ORG_TOTAL.ORG_CODE_COUNT,   --기관표준 > 코드
		ORG_TOTAL.ORG_CODE_RATE,    --기관표준 > 코드 제출율
		DB_TOTAL.ORG_DB_COUNT,      --평가DB수
		DB_TOTAL.DB_ITEM_COUNT,     --DB표준  > 용어
		DB_TOTAL.DB_ITEM_RATE,      --DB표준  > 용어 제출율
		DB_TOTAL.DB_WORD_COUNT,		--DB표준  > 단어
		DB_TOTAL.DB_WORD_RATE,		--DB표준  > 단어 제출율
		DB_TOTAL.DB_DOMAIN_COUNT,   --DB표준  > 도메인 
		DB_TOTAL.DB_DOMAIN_RATE,	--DB표준  > 도메인 제출율
		DB_TOTAL.DB_CODE_COUNT,	    --DB표준  > 코드
		DB_TOTAL.DB_CODE_RATE		--DB표준  > 코드 제출율
  FROM 
  	(SELECT 
			WO.ORG_TYPE,
			COUNT(WO.ORG_TYPE) AS ORG_COUNT,
			CASE WHEN SUM(B.ORG_ITEM_COUNT)   IS NULL THEN 0 ELSE COUNT(B.ORG_ITEM_COUNT) END AS ORG_ITEM_COUNT,
			CASE WHEN SUM(B.ORG_ITEM_COUNT)   IS NULL THEN 0 ELSE ROUND(COUNT(B.ORG_ITEM_COUNT) / (COUNT(WO.ORG_TYPE) * 1.0) * 100.0, 2)  END AS ORG_ITEM_RATE,
			CASE WHEN SUM(C.ORG_WORD_COUNT)   IS NULL THEN 0 ELSE COUNT(C.ORG_WORD_COUNT) END AS ORG_WORD_COUNT,
			CASE WHEN SUM(C.ORG_WORD_COUNT)   IS NULL THEN 0 ELSE ROUND(COUNT(C.ORG_WORD_COUNT) / (COUNT(WO.ORG_TYPE) * 1.0) * 100.0, 2)  END AS ORG_WORD_RATE,
			CASE WHEN SUM(D.ORG_DOMAIN_COUNT) IS NULL THEN 0 ELSE COUNT(D.ORG_DOMAIN_COUNT) END AS ORG_DOMAIN_COUNT,
			CASE WHEN SUM(D.ORG_DOMAIN_COUNT) IS NULL THEN 0 ELSE ROUND(COUNT(D.ORG_DOMAIN_COUNT) / (COUNT(WO.ORG_TYPE) * 1.0) * 100.0, 2)  END AS ORG_DOMAIN_RATE,
			CASE WHEN SUM(E.ORG_CODE_COUNT)   IS NULL THEN 0 ELSE COUNT(E.ORG_CODE_COUNT) END AS ORG_CODE_COUNT,
			CASE WHEN SUM(E.ORG_CODE_COUNT)   IS NULL THEN 0 ELSE ROUND(COUNT(E.ORG_CODE_COUNT) / (COUNT(WO.ORG_TYPE) * 1.0) * 100.0, 2)  END AS ORG_CODE_RATE
	  FROM  WAA_ORG WO
	  		LEFT OUTER JOIN (SELECT ORG_NM, COUNT(*) AS ORG_ITEM_COUNT   FROM WAM_SDITM   GROUP BY ORG_NM) B ON (WO.ORG_NM = B.ORG_NM)
	  		LEFT OUTER JOIN (SELECT ORG_NM, COUNT(*) AS ORG_WORD_COUNT   FROM WAM_STWD    GROUP BY ORG_NM) C ON (WO.ORG_NM = C.ORG_NM)
	  		LEFT OUTER JOIN (SELECT ORG_NM, COUNT(*) AS ORG_DOMAIN_COUNT FROM WAM_DMN     GROUP BY ORG_NM) D ON (WO.ORG_NM = D.ORG_NM)
	  		LEFT OUTER JOIN (SELECT ORG_NM, COUNT(*) AS ORG_CODE_COUNT   FROM WAM_COMM_CD GROUP BY ORG_NM) E ON (WO.ORG_NM = E.ORG_NM)
	 WHERE WO.TARGET_YN = 'Y'
	 GROUP BY WO.ORG_TYPE
	 ORDER BY 1 
	) ORG_TOTAL, 
	(SELECT 
			WO.ORG_TYPE,
			COUNT(WO.DB_NM) AS ORG_DB_COUNT,
			CASE WHEN SUM(F.DB_ITEM_COUNT)   IS NULL THEN 0 ELSE COUNT(F.DB_ITEM_COUNT)   END AS DB_ITEM_COUNT,
			CASE WHEN SUM(F.DB_ITEM_COUNT)   IS NULL THEN 0 ELSE ROUND(COUNT(F.DB_ITEM_COUNT) / (COUNT(WO.ORG_TYPE) * 1.0) * 100.0, 2)    END AS DB_ITEM_RATE,
			CASE WHEN SUM(G.DB_WORD_COUNT)   IS NULL THEN 0 ELSE COUNT(G.DB_WORD_COUNT)   END AS DB_WORD_COUNT,
			CASE WHEN SUM(G.DB_WORD_COUNT)   IS NULL THEN 0 ELSE ROUND(COUNT(G.DB_WORD_COUNT) / (COUNT(WO.ORG_TYPE) * 1.0) * 100.0, 2)    END AS DB_WORD_RATE,
			CASE WHEN SUM(H.DB_DOMAIN_COUNT) IS NULL THEN 0 ELSE COUNT(H.DB_DOMAIN_COUNT) END AS DB_DOMAIN_COUNT,
			CASE WHEN SUM(H.DB_DOMAIN_COUNT) IS NULL THEN 0 ELSE ROUND(COUNT(H.DB_DOMAIN_COUNT) / (COUNT(WO.ORG_TYPE) * 1.0) * 100.0, 2)  END AS DB_DOMAIN_RATE,
			CASE WHEN SUM(I.DB_CODE_COUNT)   IS NULL THEN 0 ELSE COUNT(I.DB_CODE_COUNT)   END AS DB_CODE_COUNT,
			CASE WHEN SUM(I.DB_CODE_COUNT)   IS NULL THEN 0 ELSE ROUND(COUNT(I.DB_CODE_COUNT) / (COUNT(WO.ORG_TYPE) * 1.0) * 100.0, 2)    END AS DB_CODE_RATE
	  FROM (SELECT A.ORG_CD, A.ORG_NM,A.ORG_TYPE, B.DB_NM FROM  WAA_ORG A INNER JOIN WAA_ORG_DB B ON (A.ORG_CD = B.ORG_CD) WHERE A.TARGET_YN = 'Y' AND B.TARGET_YN = 'Y') WO
	  LEFT OUTER JOIN (SELECT ORG_NM, DB_NM, COUNT(DB_NM) AS DB_ITEM_COUNT   FROM WAM_DB_SDITM   WHERE DB_NM != ''  GROUP BY ORG_NM, DB_NM ) F ON (WO.ORG_NM = F.ORG_NM AND WO.DB_NM = F.DB_NM)
	  LEFT OUTER JOIN (SELECT ORG_NM, DB_NM, COUNT(DB_NM) AS DB_WORD_COUNT   FROM WAM_DB_STWD    WHERE DB_NM != ''  GROUP BY ORG_NM, DB_NM ) G ON (WO.ORG_NM = G.ORG_NM AND WO.DB_NM = G.DB_NM)
	  LEFT OUTER JOIN (SELECT ORG_NM, DB_NM, COUNT(DB_NM) AS DB_DOMAIN_COUNT FROM WAM_DB_DMN     WHERE DB_NM != ''  GROUP BY ORG_NM, DB_NM ) H ON (WO.ORG_NM = H.ORG_NM AND WO.DB_NM = H.DB_NM)
	  LEFT OUTER JOIN (SELECT ORG_NM, DB_NM, COUNT(DB_NM) AS DB_CODE_COUNT   FROM WAM_DB_COMM_CD WHERE DB_NM != ''  GROUP BY ORG_NM, DB_NM ) I ON (WO.ORG_NM = I.ORG_NM AND WO.DB_NM = I.DB_NM)
	 GROUP BY WO.ORG_TYPE
	 ORDER BY 1
	) DB_TOTAL
 WHERE ORG_TOTAL.ORG_TYPE = DB_TOTAL.ORG_TYPE

</select>

<select id="getTotalStatSubList" 
	parameterType="kr.wise.commons.user.WaaUserg" resultMap="BaseResultMap">



WITH SUMMARY AS (
SELECT
        (SELECT COUNT(*) FROM WAA_ORG WHERE TARGET_YN = 'Y') AS TOTAL_ORG,
        ( SELECT
  			COUNT(WO.ORG_NM) 
  		  FROM WAA_ORG WO 
  		  LEFT OUTER JOIN (SELECT ORG_NM, COUNT(*) AS ORG_ITEM_COUNT FROM WAM_SDITM GROUP BY ORG_NM) B ON (WO.ORG_NM = B.ORG_NM)
  		  WHERE B.ORG_ITEM_COUNT IS NOT NULL
  		  AND   WO.TARGET_YN = 'Y') AS ITEM, --기관용어
        (SELECT
  			COUNT(WO.ORG_NM) 
  		 FROM WAA_ORG WO 
  		 LEFT OUTER JOIN (SELECT ORG_NM, COUNT(*) AS ORG_WORD_COUNT FROM WAM_STWD  GROUP BY ORG_NM) C ON (WO.ORG_NM = C.ORG_NM)
  		 WHERE C.ORG_WORD_COUNT IS NOT NULL 
  		 AND   WO.TARGET_YN = 'Y') AS WORD, --기관단어
        (SELECT
  			COUNT(WO.ORG_NM) 
  		 FROM WAA_ORG WO 
  		 LEFT OUTER JOIN (SELECT ORG_NM, COUNT(*) AS ORG_DOMAIN_COUNT FROM WAM_DMN  GROUP BY ORG_NM) D ON (WO.ORG_NM = D.ORG_NM)
 		 WHERE D.ORG_DOMAIN_COUNT IS NOT NULL 
 		 AND   WO.TARGET_YN = 'Y') AS DMN, --기관도메인
        (SELECT
  		   COUNT(WO.ORG_NM) 
  		 FROM WAA_ORG WO 
  		 LEFT OUTER JOIN (SELECT ORG_NM, COUNT(*) AS ORG_CODE_COUNT FROM WAM_COMM_CD  GROUP BY ORG_NM) E ON (WO.ORG_NM = E.ORG_NM)
  		 WHERE E.ORG_CODE_COUNT IS NOT NULL 
  		 AND   WO.TARGET_YN = 'Y') AS CODE, --기관코드
		(SELECT 
			COUNT(WO.ORG_NM) 
		 FROM (SELECT A.ORG_CD, A.ORG_NM, B.DB_NM FROM  WAA_ORG A INNER JOIN WAA_ORG_DB B ON (A.ORG_CD = B.ORG_CD) WHERE A.TARGET_YN = 'Y' AND B.TARGET_YN = 'Y') WO
		 LEFT OUTER JOIN (SELECT ORG_NM, DB_NM, COUNT(DB_NM) AS DB_ITEM_COUNT FROM WAM_DB_SDITM WHERE DB_NM != '' GROUP BY ORG_NM, DB_NM ) F 
		 ON (WO.ORG_NM = F.ORG_NM AND WO.DB_NM = F.DB_NM)
		 WHERE F.DB_ITEM_COUNT IS NOT NULL) AS DB_ITEM, --DB 용어
		(SELECT 
			COUNT(WO.ORG_NM) 
		 FROM (SELECT A.ORG_CD, A.ORG_NM, B.DB_NM FROM  WAA_ORG A INNER JOIN WAA_ORG_DB B ON (A.ORG_CD = B.ORG_CD) WHERE A.TARGET_YN = 'Y' AND B.TARGET_YN = 'Y') WO
	     LEFT OUTER JOIN (SELECT ORG_NM, DB_NM, COUNT(ORG_NM) AS DB_WORD_COUNT FROM WAM_DB_STWD WHERE DB_NM != ''  GROUP BY ORG_NM, DB_NM ) G 
		 ON (WO.ORG_NM = G.ORG_NM AND WO.DB_NM = G.DB_NM) 
		 WHERE G.DB_WORD_COUNT IS NOT NULL)  AS DB_WORD, --DB 단어
		(SELECT 
			COUNT(WO.ORG_NM) 
		FROM (SELECT A.ORG_CD, A.ORG_NM, B.DB_NM FROM  WAA_ORG A INNER JOIN WAA_ORG_DB B ON (A.ORG_CD = B.ORG_CD) WHERE A.TARGET_YN = 'Y' AND B.TARGET_YN = 'Y') WO
		LEFT OUTER JOIN (SELECT ORG_NM, DB_NM, COUNT(ORG_NM) AS DB_DOMAIN_COUNT FROM WAM_DB_DMN WHERE DB_NM != '' GROUP BY ORG_NM, DB_NM ) H 
		ON (WO.ORG_NM = H.ORG_NM AND WO.DB_NM = H.DB_NM)
		WHERE H.DB_DOMAIN_COUNT IS NOT NULL)  AS DB_DMN, --DB 도메인
		(SELECT 
			COUNT(WO.ORG_NM) 
		 FROM (SELECT A.ORG_CD, A.ORG_NM, B.DB_NM FROM  WAA_ORG A INNER JOIN WAA_ORG_DB B ON (A.ORG_CD = B.ORG_CD) WHERE A.TARGET_YN = 'Y' AND B.TARGET_YN = 'Y') WO
		 LEFT OUTER JOIN (SELECT ORG_NM, DB_NM, COUNT(ORG_NM) AS DB_CODE_COUNT FROM WAM_DB_COMM_CD WHERE DB_NM != '' GROUP BY ORG_NM, DB_NM ) I 
		 ON (WO.ORG_NM = I.ORG_NM AND WO.DB_NM = I.DB_NM)
		 WHERE I.DB_CODE_COUNT IS NOT NULL) AS DB_CODE, --DB 코드
        (SELECT COUNT(ORG_NM) FROM (
                                                                SELECT ORG_NM
                                                                          FROM
                                                                                        (
                                                                                        SELECT WO.ORG_NM FROM WAA_ORG WO 
  																						LEFT OUTER JOIN (SELECT ORG_NM, COUNT(*) AS ORG_ITEM_COUNT 
  																										FROM WAM_SDITM GROUP BY ORG_NM) B 
  																						ON (WO.ORG_NM = B.ORG_NM)
  																						WHERE B.ORG_ITEM_COUNT IS NOT NULL
  																						AND WO.TARGET_YN = 'Y'
                                                                                        UNION ALL
                                                                                        SELECT WO.ORG_NM FROM WAA_ORG WO 
  																						LEFT OUTER JOIN (SELECT ORG_NM, COUNT(*) AS ORG_WORD_COUNT 
  																										FROM WAM_STWD  GROUP BY ORG_NM) C 
  																						ON (WO.ORG_NM = C.ORG_NM)
  																						WHERE C.ORG_WORD_COUNT IS NOT NULL
  																						AND WO.TARGET_YN = 'Y'
                                                                                        UNION ALL
                                                                                        SELECT WO.ORG_NM FROM WAA_ORG WO 
  																						LEFT OUTER JOIN (SELECT ORG_NM, COUNT(*) AS ORG_DOMAIN_COUN 
  																										FROM WAM_DMN  GROUP BY ORG_NM) C 
  																						ON (WO.ORG_NM = C.ORG_NM)
  																						WHERE C.ORG_DOMAIN_COUN IS NOT NULL
  																						AND WO.TARGET_YN = 'Y'
                                                                                        UNION ALL
                                                                                        SELECT WO.ORG_NM FROM WAA_ORG WO 
  																						LEFT OUTER JOIN (SELECT ORG_NM, COUNT(*) AS ORG_CODE_COUNT 
  																										FROM WAM_COMM_CD  GROUP BY ORG_NM) C 
  																						ON (WO.ORG_NM = C.ORG_NM)
  																						WHERE C.ORG_CODE_COUNT IS NOT NULL
  																						AND WO.TARGET_YN = 'Y'
                                                                                        )
                                                                         GROUP BY ORG_NM
                                                                )) AS ORG_STND, --등록기관 수
        (SELECT COUNT(ORG_NM) FROM (
                                                                SELECT ORG_NM
                                                                          FROM
                                                                                        (
                                                                                        SELECT WO.ORG_NM FROM (SELECT A.ORG_CD, A.ORG_NM, B.DB_NM FROM  WAA_ORG A INNER JOIN WAA_ORG_DB B ON (A.ORG_CD = B.ORG_CD) WHERE A.TARGET_YN='Y' AND B.TARGET_YN = 'Y') WO
                                                                                        LEFT OUTER JOIN (SELECT ORG_NM, DB_NM, COUNT(ORG_NM) AS DB_ITEM_COUNT FROM WAM_DB_SDITM WHERE DB_NM != '' GROUP BY ORG_NM, DB_NM ) F ON (WO.ORG_NM = F.ORG_NM AND WO.DB_NM = F.DB_NM)
                                                                                        WHERE F.DB_ITEM_COUNT IS NOT NULL
                                                                                        UNION ALL
                                                                                        SELECT WO.ORG_NM FROM (SELECT A.ORG_CD, A.ORG_NM, B.DB_NM FROM  WAA_ORG A INNER JOIN WAA_ORG_DB B ON (A.ORG_CD = B.ORG_CD) WHERE A.TARGET_YN='Y' AND B.TARGET_YN = 'Y') WO
                                                                                        LEFT OUTER JOIN (SELECT ORG_NM, DB_NM, COUNT(DB_NM) AS DB_WORD_COUNT FROM WAM_DB_STWD WHERE DB_NM != ''  GROUP BY ORG_NM, DB_NM ) G ON (WO.ORG_NM = G.ORG_NM AND WO.DB_NM = G.DB_NM)
                                                                                        WHERE G.DB_WORD_COUNT IS NOT NULL
                                                                                        UNION ALL
                                                                                        SELECT WO.ORG_NM FROM (SELECT A.ORG_CD, A.ORG_NM, B.DB_NM FROM  WAA_ORG A INNER JOIN WAA_ORG_DB B ON (A.ORG_CD = B.ORG_CD) WHERE A.TARGET_YN='Y' AND B.TARGET_YN = 'Y') WO
                                                                                        LEFT OUTER JOIN (SELECT ORG_NM, DB_NM, COUNT(DB_NM) AS DB_DOMAIN_COUNT FROM WAM_DB_DMN WHERE DB_NM != '' GROUP BY ORG_NM, DB_NM ) H ON (WO.ORG_NM = H.ORG_NM AND WO.DB_NM = H.DB_NM)
                                                                                        WHERE H.DB_DOMAIN_COUNT IS NOT NULL
                                                                                        UNION ALL
                                                                                        SELECT WO.ORG_NM FROM (SELECT A.ORG_CD, A.ORG_NM, B.DB_NM FROM  WAA_ORG A INNER JOIN WAA_ORG_DB B ON (A.ORG_CD = B.ORG_CD) WHERE A.TARGET_YN='Y' AND B.TARGET_YN = 'Y') WO
                                                                                        LEFT OUTER JOIN (SELECT ORG_NM, DB_NM, COUNT(DB_NM) AS DB_CODE_COUNT FROM WAM_DB_COMM_CD WHERE DB_NM != '' GROUP BY ORG_NM, DB_NM ) I ON (WO.ORG_NM = I.ORG_NM AND WO.DB_NM = I.DB_NM)
                                                                                        WHERE I.DB_CODE_COUNT IS NOT NULL
                                                                                        )
                                                                        GROUP BY ORG_NM
                                                                )) AS DB_STND --등록DB기관 수
)
SELECT
        '기관표준' AS TITLE,
        TOTAL_ORG,
        ORG_STND AS REG_ORG,
        ITEM,
      	ROUND(ITEM / (TOTAL_ORG*1.0) *100.0,2) as ITEM_RATE,
        WORD,
        ROUND(WORD / (TOTAL_ORG*1.0) *100.0,2) as WORD_RATE,
        DMN,
        ROUND(DMN / (TOTAL_ORG*1.0) *100.0,2) as DOMAIN_RATE,
        CODE,
        ROUND(CODE / (TOTAL_ORG*1.0) *100.0,2) as CODE_RATE
 FROM SUMMARY
UNION ALL
SELECT
        'DB표준' AS TITLE,
        TOTAL_ORG,
        DB_STND AS REG_ORG,
        DB_ITEM,
        ROUND(DB_ITEM / (TOTAL_ORG*1.0) *100.0,2) as ITEM_RATE,
        DB_WORD,
        ROUND(DB_WORD / (TOTAL_ORG*1.0) *100.0,2) as WORD_RATE,
        DB_DMN,
        ROUND(DB_DMN / (TOTAL_ORG*1.0) *100.0,2) as DOMAIN_RATE,
        DB_CODE,
        ROUND(DB_CODE / (TOTAL_ORG*1.0) *100.0,2) as CODE_RATE
 FROM SUMMARY
</select>


<select id="RegTotalOrgSelectlist" 
	parameterType="kr.wise.commons.user.WaaUserg" resultMap="BaseResultMap">

	SELECT '등록DB'                                                  AS TITLE,
		   (SELECT COUNT(*) FROM WAA_ORG_DB WHERE TARGET_YN = 'Y') AS TOTAL_DB,
		   COUNT(A.DB_NM)                                          AS REG_DB
	FROM (SELECT C.DB_NM
		  FROM (SELECT DB_NM
				FROM WAM_DB_SDITM
				UNION
				SELECT DB_NM
				FROM WAM_DB_DMN
				UNION
				SELECT DB_NM
				FROM WAM_DB_STWD
				UNION
				SELECT DB_NM
				FROM WAM_DB_COMM_CD) C,
			   WAA_ORG_DB B
		  WHERE C.DB_NM = B.DB_NM
		    AND B.TARGET_YN ='Y') A
</select>
</mapper>