<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.commons.user.service.UserMapper" >
<!--  	<typeAlias  alias="loginVO" type="kr.wise.commons.cmm.LoginVO"/> -->

	<!--  로그인 처리를 위한 resultMap -->
	<resultMap id="login" type="kr.wise.commons.cmm.LoginVO">
		<result property="id" 		column="USER_ID" />
		<result property="name" 	column="USER_KNM" />
<!--  		<result property="ihidNum" 	column="EMP_NO" /> -->
		<result property="email" 	column="PRIMARY_EMAIL" />
		<result property="password" column="PASSWORD" />
		<result property="userSe" 	column="USER_GROUP_ID" />
		<result property="orgnztId" column="DEPT_CD" />
		<result property="uniqId" 	column="UNIQ_ID" />		
		<result property="isAdminYn" column="IS_ADMIN_YN" />
		<result property="isPwdExpYn" column="IS_PWD_EXP_YN" />
		<result property="userRole" column="USER_ROLE" />
		<result column="USER_GROUP_ID" property="usergId" jdbcType="VARCHAR" />
		
		
<!--      	<result column="USERG_LNM" property="usergLnm" jdbcType="VARCHAR" /> -->
<!--      	<result column="USERG_PNM" property="usergPnm" jdbcType="VARCHAR" />		 -->
	</resultMap>
	
	
	<select id="getLoginUserSso" parameterType="kr.wise.commons.cmm.LoginVO" resultMap="login">
	<![CDATA[ 
		 SELECT  ifnull(A.USER_ID, '')          AS USER_ID  
		 		,ifnull(A.PASSWORD, '')         AS PASSWORD         
		 		,ifnull(A.USER_KNM, '')         AS USER_KNM         
		 		,ifnull(A.USER_ENM, '')         AS USER_ENM         
		 		,ifnull(B.USER_GROUP_ENM, '')   AS USER_GROUP       
		 		,ifnull(A.IS_DELETED, '')       AS IS_DELETED       
		 		,ifnull(A.EMP_NO, '')           AS EMP_NO           
		 		,ifnull(A.DEPT_CD, '')          AS DEPT_CD          
		 		,ifnull(A.POSITION, '')         AS POSITION         
		 		,ifnull(A.OFFICE_TEL_NO, '')    AS OFFICE_TEL_NO    
		 		,ifnull(A.HOME_TEL_NO, '')      AS HOME_TEL_NO      
		 		,ifnull(A.IS_LOCKED, '')   	   AS IS_LOCKED         
		 		,ifnull(A.OF_PROFILE, '')   	   AS OF_PROFILE    
		 		,ifnull(A.MOBILE_TEL_NO, '')    AS MOBILE_TEL_NO    
		 		,ifnull(A.PRIMARY_EMAIL, '')    AS PRIMARY_EMAIL    
		 		,ifnull(A.SECONDARY_EMAIL, '')  AS SECONDARY_EMAIL  
		 		,ifnull(A.PWD_XPR_DTTM, '')     AS PWD_XPR_DTTM     
		 		,ifnull(A.ORGL_USER, '')        AS ORGL_USER        
		 		,''                          AS ORGL_DEPT        
		 		,''                          AS XPR_USER         
		 		,''                          AS XPR_DEPT         
		 		,ifnull(A.UPDT_USER, '')        AS UPDT_USER        
		 		,''                          AS UPDT_DEPT        
		 		,ifnull(A.DEFINITION, '')       AS DEFINITION       
		 		,ifnull(A.DESCRIPTION, '')      AS DESCRIPTION      
		 		,ifnull(A.REMARKS, '')          AS REMARKS          
		 		,ifnull(A.STA_DTTM, '')  AS STA_DTTM  
		 		,ifnull(A.XPR_DTTM, '')  AS XPR_DTTM  
		 		,ifnull(A.ORGL_DTTM,'')  AS ORGL_DTTM 
		 		,ifnull(A.UPDT_DTTM,'')  AS UPDT_DTTM 
		 		-- , abcd
		      ,ifnull(A.USER_GROUP_ID, '') AS USER_GROUP_ID 
		      ,ifnull(A.EXCEL_DOWNLOAD_AUTH, '') AS EXCEL_DOWN_AUTH 
		      ,C.OBJ_KNM AS DEPT_NM 
		      ,CHECK_USER_ADMIN_YN(A.USER_ID) AS IS_ADMIN_YN 
		      ,CHECK_USER_DA_YN(A.USER_ID) AS IS_DA_YN 
		      ,ifnull(A.ID_XPR_DTTM, '')			AS ID_XPR_DTTM 
		      ,ifnull(A.RETC_IP,'')		AS RETC_IP
			  ,ifnull(A.RETC_IP_LEVEL,'')  	AS RETC_IP_LEVEL
		  FROM WAA_USERS A INNER JOIN WAA_USER_GROUPS B 
		   ON A.USER_GROUP_ID  = B.USER_GROUP_ID     
		   AND A.XPR_DTTM   = DATE_FORMAT('9999-12-31','%Y-%m-%d')            
		   AND B.XPR_DTTM   = DATE_FORMAT('9999-12-31','%Y-%m-%d')            
		   AND A.IS_DELETED = 'N'                     
		   AND B.IS_DELETED = 'N'                     
		   AND A.USER_ID   = #{id}
		   left outer join WAA_DEPT C      
   		   on A.DEPT_CD = C.OBJ_ID 
         ]]>
	</select>
	<select id="getLoginUser" parameterType="kr.wise.commons.cmm.LoginVO" resultMap="login">
	<![CDATA[ 
		 SELECT  ifnull(A.USER_ID, '')          AS USER_ID  
		 		,ifnull(A.PASSWORD, '')         AS PASSWORD         
		 		,ifnull(A.USER_KNM, '')         AS USER_KNM         
		 		,ifnull(A.USER_ENM, '')         AS USER_ENM         
		 		,ifnull(B.USER_GROUP_ENM, '')   AS USER_GROUP       
		 		,ifnull(A.IS_DELETED, '')       AS IS_DELETED       
		 		,ifnull(A.EMP_NO, '')           AS EMP_NO           
		 		,ifnull(A.DEPT_CD, '')          AS DEPT_CD          
		 		,ifnull(A.POSITION, '')         AS POSITION         
		 		,ifnull(A.OFFICE_TEL_NO, '')    AS OFFICE_TEL_NO    
		 		,ifnull(A.HOME_TEL_NO, '')      AS HOME_TEL_NO      
		 		,ifnull(A.IS_LOCKED, '')   	   AS IS_LOCKED         
		 		,ifnull(A.OF_PROFILE, '')   	   AS OF_PROFILE    
		 		,ifnull(A.MOBILE_TEL_NO, '')    AS MOBILE_TEL_NO    
		 		,ifnull(A.PRIMARY_EMAIL, '')    AS PRIMARY_EMAIL    
		 		,ifnull(A.SECONDARY_EMAIL, '')  AS SECONDARY_EMAIL  
		 		,ifnull(A.PWD_XPR_DTTM, '')     AS PWD_XPR_DTTM     
		 		,ifnull(A.ORGL_USER, '')        AS ORGL_USER        
		 		,''                          AS ORGL_DEPT        
		 		,''                          AS XPR_USER         
		 		,''                          AS XPR_DEPT         
		 		,ifnull(A.UPDT_USER, '')        AS UPDT_USER        
		 		,''                          AS UPDT_DEPT        
		 		,ifnull(A.DEFINITION, '')       AS DEFINITION       
		 		,ifnull(A.DESCRIPTION, '')      AS DESCRIPTION      
		 		,ifnull(A.REMARKS, '')          AS REMARKS          
		 		,ifnull(A.STA_DTTM, '')  AS STA_DTTM  
		 		,ifnull(A.XPR_DTTM, '')  AS XPR_DTTM  
		 		,ifnull(A.ORGL_DTTM,'')  AS ORGL_DTTM 
		 		,ifnull(A.UPDT_DTTM,'')  AS UPDT_DTTM 
		 		-- , abcd
		      ,ifnull(A.USER_GROUP_ID, '') AS USER_GROUP_ID 
		      ,ifnull(A.EXCEL_DOWNLOAD_AUTH, '') AS EXCEL_DOWN_AUTH 
		      ,C.OBJ_KNM AS DEPT_NM 
		      ,CHECK_USER_ADMIN_YN(A.USER_ID) AS IS_ADMIN_YN 
		      ,CHECK_USER_DA_YN(A.USER_ID) AS IS_DA_YN 
		      ,ifnull(A.ID_XPR_DTTM, '')			AS ID_XPR_DTTM 
		      ,ifnull(A.RETC_IP,'')		AS RETC_IP
			  ,ifnull(A.RETC_IP_LEVEL,'')  	AS RETC_IP_LEVEL
		  FROM WAA_USERS A INNER JOIN WAA_USER_GROUPS B 
		   ON A.USER_GROUP_ID  = B.USER_GROUP_ID     
		   AND A.XPR_DTTM   = DATE_FORMAT('9999-12-31','%Y-%m-%d')            
		   AND B.XPR_DTTM   = DATE_FORMAT('9999-12-31','%Y-%m-%d')            
		   AND A.IS_DELETED = 'N'                     
		   AND B.IS_DELETED = 'N'                     
		   AND A.USER_ID   = #{id}
		   AND A.PASSWORD = #{password}
		   left outer join WAA_DEPT C      
   		   on A.DEPT_CD = C.OBJ_ID 
         ]]>
	</select>
	<sql id="Base_Column_List" >
	    USER_ID, EXP_DTM, STR_DTM, LOGIN_AC_ID, LOGIN_AC_PWD, USER_NM, USERG_ID, DEPT_ID, 
	    JGD_NM, USER_TELNO, USER_HTELNO, EMAIL_ADDR, EXCL_DWLD_AUTH_YN, ID_USE_EXP_DT, PWD_EXP_DT, 
	    OBJ_DESCN, OBJ_VERS, REG_TYP_CD, RQST_DTM, RQST_USER_ID, APRV_DCD, APRV_DTM, APRV_USER_ID
   </sql>
   
   <!--  WISE DA용 로그인 -->
	<select id="getLoginUserDA"  parameterType="kr.wise.commons.cmm.LoginVO" resultMap="login">
		SELECT  
              A.USER_ID       AS UNIQ_ID
            , A.LOGIN_AC_ID   AS USER_ID
            , A.LOGIN_AC_PWD  AS PASSWORD
            , A.USER_NM       AS USER_KNM
            , A.USERG_ID      AS USER_GROUP_ID
            , A.DEPT_ID       AS DEPT_CD
            -- , A.JGD_NM        AS JGD_NM
            , A.EMAIL_ADDR    AS PRIMARY_EMAIL
            , (CASE WHEN A.PWD_EXP_DT IS null THEN 'N' ELSE 'Y' END) AS IS_PWD_EXP_YN -- 비밀번호 만기 여부
            -- , B.USERG_LNM     AS USERG_LNM
        	, B.USERG_TYP_CD  -- 사용자 그룹 타입
            , (CASE WHEN B.USERG_TYP_CD = 'AD' THEN 'Y' ELSE 'N' END) AS  IS_ADMIN_YN -- 사용자 그룹 타입이 'AD'(관리자)인 경우 셋팅
            , A.USER_ROLE  AS USER_ROLE
        FROM WAA_USER A
		    LEFT OUTER JOIN WAA_USERG B
              ON A.USERG_ID = B.USERG_ID
              AND B.EXP_DTM = DATE_FORMAT('9999-12-31','%Y-%m-%d')
              AND B.REG_TYP_CD IN ('C', 'U')
        WHERE 1=1
          AND LOGIN_AC_ID  = #{id}
          AND LOGIN_AC_PWD = #{password}
          AND A.EXP_DTM = DATE_FORMAT('9999-12-31','%Y-%m-%d')
          AND A.REG_TYP_CD IN ('C', 'U')
          AND A.VERIFY = 'Y'
	</select>
	
	<select id="selectLoginUserbyAdmin" parameterType="kr.wise.commons.user.service.WaaUser" resultMap="login">
		-- 업무대행용 로그인 정보 조회....
		SELECT  
              A.USER_ID       AS UNIQ_ID
            , A.LOGIN_AC_ID   AS USER_ID
            -- , A.LOGIN_AC_PWD  AS PASSWORD
            , A.USER_NM       AS USER_KNM
            , A.USERG_ID      AS USER_GROUP_ID
            , A.DEPT_ID       AS DEPT_CD
            -- , A.JGD_NM        AS JGD_NM
            , A.EMAIL_ADDR    AS PRIMARY_EMAIL
            -- , B.USERG_LNM     AS USERG_LNM
        	, B.USERG_TYP_CD  -- 사용자 그룹 타입
            , (CASE WHEN B.USERG_TYP_CD = 'AD' THEN 'Y' ELSE 'N' END) AS  IS_ADMIN_YN -- 사용자 그룹 타입이 'AD'(관리자)인 경우 셋팅
            , A.DEPT_ID 
        FROM WAA_USER A
		    LEFT OUTER JOIN WAA_USERG B
              ON A.USERG_ID = B.USERG_ID
              AND B.EXP_DTM = DATE_FORMAT('9999-12-31','%Y-%m-%d')
              AND B.REG_TYP_CD IN ('C', 'U')
        WHERE 1=1
          AND LOGIN_AC_ID  = #{loginAcId}
          AND A.EXP_DTM = DATE_FORMAT('9999-12-31','%Y-%m-%d')
          AND A.REG_TYP_CD IN ('C', 'U')	
	</select>
	
</mapper>