<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.commons.autocom.service.AutoComMapper" >

	<select id="selectStndWordList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT STWD_LNM FROM WAM_STWD
				 WHERE UPPER(STWD_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				    OR UPPER(STWD_PNM) LIKE CONCAT('%', #{searchTerm}, '%')
				 ORDER BY STWD_LNM
				 limit ${maxRows}
		]]>
	</select>
	<select id="selectStndDmnList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT DMN_LNM FROM WAM_DMN
				 WHERE UPPER(DMN_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				    OR UPPER(DMN_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 ORDER BY DMN_LNM
                 limit ${maxRows}
		]]>
	</select>
	<select id="selectStndSditmList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT SDITM_LNM FROM WAM_SDITM
				 WHERE UPPER(SDITM_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				    OR UPPER(SDITM_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 ORDER BY SDITM_LNM
				 limit ${maxRows}
		]]>
	</select>
	<select id="selectSymnList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT SYMN_LNM FROM WAM_SYMN
				 WHERE UPPER(SYMN_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				    OR UPPER(SYMN_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 ORDER BY SYMN_LNM
				 limit ${maxRows}
		]]>
	</select>
	<select id="selectSymnSbswdList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT SBSWD_LNM FROM WAM_SYMN
				 WHERE UPPER(SBSWD_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				    OR UPPER(SBSWD_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 ORDER BY SBSWD_LNM
				 limit ${maxRows}
		]]>
	</select>
	<select id="selectSubjList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT SUBJ_LNM FROM WAA_SUBJ
				 WHERE (UPPER(SUBJ_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				   	   OR UPPER(SUBJ_PNM) LIKE CONCAT('%',#{searchTerm},'%'))
				   AND EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
				   AND REG_TYP_CD IN ('C', 'U')
				 ORDER BY SUBJ_LNM
				 limit ${maxRows}
		]]>
	</select>
	<select id="selectPdmTblList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT PDM_TBL_LNM FROM WAM_PDM_TBL
				 WHERE UPPER(PDM_TBL_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				    OR UPPER(PDM_TBL_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 GROUP BY PDM_TBL_LNM
				 ORDER BY PDM_TBL_LNM
				 limit ${maxRows}
		]]>
	</select>
	<select id="selectPdmColList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT PDM_COL_LNM FROM WAM_PDM_COL
				 WHERE UPPER(PDM_COL_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				    OR UPPER(PDM_COL_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 GROUP BY PDM_COL_LNM
				 ORDER BY PDM_COL_LNM
				 limit ${maxRows}
		]]>
	</select>
	<select id="selectDdlTblList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT DDL_TBL_LNM FROM WAM_DDL_TBL
				 WHERE UPPER(DDL_TBL_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				    OR UPPER(DDL_TBL_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 GROUP BY DDL_TBL_LNM
				UNION ALL
				SELECT DDL_TBL_PNM AS DDL_TBL_LNM FROM WAM_DDL_TBL
				 WHERE UPPER(DDL_TBL_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				    OR UPPER(DDL_TBL_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 GROUP BY DDL_TBL_PNM
				 ORDER BY DDL_TBL_LNM
                 limit ${maxRows}
		]]>
	</select>
	<select id="selectDbcTblList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT DBC_TBL_NM FROM WAT_DBC_TBL
				 WHERE UPPER(DBC_TBL_NM) LIKE CONCAT('%',#{searchTerm},'%')
				GROUP BY DBC_TBL_NM
				UNION ALL
				SELECT DBC_TBL_KOR_NM AS DBC_TBL_NM FROM WAT_DBC_TBL
				 WHERE UPPER(DBC_TBL_KOR_NM) LIKE CONCAT('%',#{searchTerm},'%')
				 GROUP BY DBC_TBL_KOR_NM
				 ORDER BY DBC_TBL_NM
				 limit ${maxRows}
		]]>
	</select>
	<select id="selectBizLnmList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT BIZ_AREA_LNM FROM WAM_BIZ_AREA
				 WHERE UPPER(BIZ_AREA_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				UNION ALL
				SELECT BIZ_AREA_PNM AS BIZ_AREA_LNM FROM WAM_BIZ_AREA
				 WHERE UPPER(BIZ_AREA_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 ORDER BY BIZ_AREA_LNM
				 limit ${maxRows}
		]]>
	</select>
	<select id="selectDqiLnmList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT DQI_LNM FROM WAM_DQI
				 WHERE UPPER(DQI_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				UNION ALL
				SELECT DQI_PNM AS DQI_LNM FROM WAM_DQI
				 WHERE UPPER(DQI_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 ORDER BY DQI_LNM
				limit ${maxRows}
		]]>
	</select>
	<select id="selectCtqLnmList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT CTQ_LNM FROM WAM_CTQ
				 WHERE UPPER(CTQ_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				UNION ALL
				SELECT CTQ_PNM AS CTQ_LNM FROM WAM_CTQ
				 WHERE UPPER(CTQ_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 ORDER BY CTQ_LNM
				limit ${maxRows}
		]]>
	</select>
	<select id="selectDbSchList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT DB_SCH_LNM FROM WAA_DB_SCH
				 WHERE UPPER(DB_SCH_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				 AND EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
         		 AND REG_TYP_CD IN ('C','U')
				UNION ALL
				SELECT DB_SCH_PNM AS DB_SCH_LNM FROM WAA_DB_SCH
				 WHERE UPPER(DB_SCH_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 AND EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
         		 AND REG_TYP_CD IN ('C','U')
				 ORDER BY DB_SCH_LNM
				limit ${maxRows}
		]]>
	</select>
	<select id="selectDbcColList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT DBC_COL_NM FROM WAT_DBC_COL
				 WHERE UPPER(DBC_COL_NM) LIKE CONCAT('%',#{searchTerm},'%')
				 GROUP BY DBC_COL_NM
				UNION ALL
				SELECT DBC_COL_KOR_NM AS DBC_COL_NM FROM WAT_DBC_COL
				 WHERE UPPER(DBC_COL_KOR_NM) LIKE CONCAT('%',#{searchTerm},'%')
				 GROUP BY DBC_COL_KOR_NM
				 ORDER BY DBC_COL_NM
				limit ${maxRows}
		]]>
	</select>
	<select id="selectBrNmList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT BR_NM FROM WAM_BR_MSTR
				 WHERE UPPER(BR_NM) LIKE CONCAT('%',#{searchTerm},'%')
				 ORDER BY BR_NM
				limit ${maxRows}
		]]>
	</select>
	<select id="selectShdLnmList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT SHD_LNM FROM WAM_SHD_MSTR
				 WHERE UPPER(SHD_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				UNION ALL
				SELECT SHD_PNM AS SHD_LNM FROM WAM_SHD_MSTR
				 WHERE UPPER(SHD_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 ORDER BY SHD_LNM
				limit ${maxRows}
		]]>
	</select>
	<select id="selectUserNmList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT USER_NM FROM WAA_USER
				 WHERE UPPER(USER_NM) LIKE CONCAT('%',#{searchTerm},'%')
				 AND REG_TYP_CD IN ('C', 'U')
				 AND EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
				 ORDER BY USER_NM
				 limit ${maxRows}
		]]>
	</select>
	<select id="selectObjNmList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		-- 작업명
		SELECT BR_NM AS OBJ_NM FROM WAM_BR_MSTR 
				 WHERE UPPER(BR_NM) LIKE CONCAT('%',#{searchTerm},'%')
				 AND REG_TYP_CD IN ('C','U')
			UNION ALL
				SELECT CONCAT('[스키마수집]',DB_CONN_TRG_PNM) AS OBJ_NM FROM WAA_DB_CONN_TRG
				 WHERE UPPER(DB_CONN_TRG_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 OR '[스키마수집]' LIKE CONCAT('%',#{searchTerm},'%')
				 AND EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d') 
				 AND REG_TYP_CD IN ('C','U')
			UNION ALL
				SELECT CONCAT('[',C.COMM_DTL_CD_NM,']',A.DBC_TBL_NM,'.',A.OBJ_NM) AS OBJ_NM
					FROM WAM_PRF_MSTR A
					        LEFT OUTER JOIN WAA_COMM_DTL_CD C
							        ON C.EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
							        AND C.REG_TYP_CD IN ('C','U')
							        AND A.PRF_KND_CD = C.COMM_DTL_CD
							        AND COMM_DCD_ID = 'OBJ_00000000342' 
					WHERE A.PRF_KND_CD LIKE CONCAT('%','PC','%')
				 	AND UPPER(C.COMM_DTL_CD_NM) LIKE CONCAT('%',#{searchTerm},'%')
				 	OR UPPER(A.DBC_TBL_NM) LIKE CONCAT('%',#{searchTerm},'%')
				 	OR UPPER(A.OBJ_NM) LIKE CONCAT('%',#{searchTerm},'%')
			UNION ALL
				SELECT CONCAT('[',C.COMM_DTL_CD_NM,']',A.OBJ_NM) AS OBJ_NM
					FROM WAM_PRF_MSTR A
					        LEFT OUTER JOIN WAA_COMM_DTL_CD C
							        ON C.EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
							        AND C.REG_TYP_CD IN ('C','U')
							        AND A.PRF_KND_CD = C.COMM_DTL_CD
							        AND COMM_DCD_ID = 'OBJ_00000000342' 
					WHERE A.PRF_KND_CD LIKE CONCAT('%','PT','%')
				 	AND UPPER(C.COMM_DTL_CD_NM) LIKE CONCAT('%',#{searchTerm},'%')
				 	OR UPPER(A.OBJ_NM) LIKE CONCAT('%',#{searchTerm},'%')
			UNION ALL
				SELECT ETC_JOB_NM FROM WAM_SHD_JOB 
				 WHERE UPPER(ETC_JOB_NM) LIKE CONCAT('%',#{searchTerm},'%')
				 AND REG_TYP_CD IN ('C','U')
		ORDER BY OBJ_NM
        limit ${maxRows}
        -- 출력결과는 오라클과 같으나 쿼리 결과가 매우 늦게 나옴
		]]>
	</select>
   
   <select id="selectDbmsList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT DB_CONN_TRG_LNM FROM WAA_DB_CONN_TRG
				 WHERE UPPER(DB_CONN_TRG_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				 AND EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
         		 AND REG_TYP_CD IN ('C','U')
				UNION ALL
				SELECT DB_CONN_TRG_PNM AS DB_CONN_TRG_LNM FROM WAA_DB_CONN_TRG
				 WHERE UPPER(DB_CONN_TRG_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 AND EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
         		 AND REG_TYP_CD IN ('C','U')
				 ORDER BY DB_CONN_TRG_LNM
				limit ${maxRows}
		]]>
	</select>
   
   <select id="selectDeptList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT DEPT_NM FROM WAA_DEPT
				 WHERE UPPER(DEPT_NM) LIKE CONCAT('%',#{searchTerm},'%')
				 AND EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
         		 AND REG_TYP_CD IN ('C','U')
				 ORDER BY DEPT_NM
				limit ${maxRows}
		]]>
	</select>
   <select id="selectDmngList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT DMNG_LNM FROM WAA_DMNG
				 WHERE UPPER(DMNG_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				 AND EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
         		 AND REG_TYP_CD IN ('C','U')
				UNION ALL
				SELECT DMNG_PNM AS DMNG_LNM FROM WAA_DMNG
				 WHERE UPPER(DMNG_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 AND EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
         		 AND REG_TYP_CD IN ('C','U')
				 ORDER BY DMNG_LNM
				limit ${maxRows}
		]]>
	</select>
	
	<select id="selectMenuList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT MENU_NM FROM WAA_PRGM_MENU
				 WHERE UPPER(MENU_NM) LIKE CONCAT('%',#{searchTerm},'%')
				 AND EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
         		 AND REG_TYP_CD IN ('C','U')
				 ORDER BY MENU_NM
				limit ${maxRows}
		]]>
	</select>
	
	<select id="selectDdlTsfTblList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 단어 리스트 조회 10개만 가져온다....
		SELECT DDL_TBL_LNM FROM WAM_DDL_TSF_TBL
				 WHERE UPPER(DDL_TBL_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				    OR UPPER(DDL_TBL_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 GROUP BY DDL_TBL_LNM
				UNION ALL
				SELECT DDL_TBL_PNM AS DDL_TBL_LNM FROM WAM_DDL_TSF_TBL
				 WHERE UPPER(DDL_TBL_LNM) LIKE CONCAT('%',#{searchTerm},'%')
				    OR UPPER(DDL_TBL_PNM) LIKE CONCAT('%',#{searchTerm},'%')
				 GROUP BY DDL_TBL_PNM
				 ORDER BY DDL_TBL_LNM
				limit ${maxRows}
		]]>
	</select>

	<select id="selectSlcItemList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete 매립지공사 기술용어 리스트 조회 10개만 가져온다....
				SELECT SLC_GLOSSARY_NM FROM SLC_GLOSSARY_M
				 WHERE UPPER(SLC_GLOSSARY_NM ) LIKE CONCAT('%',#{searchTerm},'%')
				    OR UPPER(SLC_GLOSSARY_ENG_NM ) LIKE CONCAT('%',#{searchTerm},'%')
				 GROUP BY SLC_GLOSSARY_NM
				UNION ALL
				SELECT SLC_GLOSSARY_ENG_NM AS DDL_TBL_LNM FROM SLC_GLOSSARY_M
				 WHERE UPPER(SLC_GLOSSARY_NM) LIKE CONCAT('%',#{searchTerm},'%')
				    OR UPPER(SLC_GLOSSARY_ENG_NM ) LIKE CONCAT('%',#{searchTerm},'%')
				 GROUP BY SLC_GLOSSARY_ENG_NM
				 -- ORDER BY SLC_GLOSSARY_NM
				limit ${maxRows}
		]]>
	</select>
	
	<select id="selectAppStwdList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete APP단어 리스트 조회 10개만 가져온다....
		SELECT APP_STWD_LNM FROM WAM_APP_STWD
				 WHERE UPPER(APP_STWD_LNM ) LIKE CONCAT('%',#{searchTerm},'%')
				    OR UPPER(APP_STWD_PNM ) LIKE CONCAT('%',#{searchTerm},'%')
				 GROUP BY APP_STWD_LNM
				limit ${maxRows}
		]]>
	</select>
	
	<select id="selectAppSditmList" parameterType="map" resultType="string">
		<![CDATA[
		-- AutoComplete APP항목 리스트 조회 10개만 가져온다....
		SELECT APP_SDITM_LNM FROM WAM_APP_SDITM
				 WHERE UPPER(APP_SDITM_LNM ) LIKE CONCAT('%',#{searchTerm},'%')
				    OR UPPER(APP_SDITM_PNM ) LIKE CONCAT('%',#{searchTerm},'%')
				 GROUP BY APP_SDITM_LNM
				limit ${maxRows}
		]]>
	</select>
   
</mapper>





