@charset "utf-8";

/* common */
body{color:#444444; font-size:12px; line-height:1.2; font-family:Dotum, Gulim, Verdana, AppleGothic, sans-serif;}

a {text-decoration:none; cursor:pointer;}
a:link {color:#444444; cursor:pointer;}
a:visited {color:#444444; cursor:pointer;}
a:hover, a:focus, a:active {color:#444444;text-decoration:none; cursor:pointer;}

img{border:none; vertical-align:top; font-size:0px;}
select,input,textarea{font-family:Dotum, Gulim, Verdana, AppleGothic, sans-serif; font-size:12px; color:#444444; line-height:1.2;}


/* wrap */
.wrap{width:100%; min-width:980px;}

/* top */
.top{width:100%; background:url(../images/top_bg.gif) repeat-x;}

.top_menu_01{float:right;}
.top_menu_01 li{display:inline; font-size:11px; word-spacing:-1px; font-family:Dotum, Gulim, Verdana, AppleGothic, sans-serif;}

.top_menu_01_01 a{display:block; float:left; color:#999999; text-decoration:none; cursor:pointer; padding-left:25px; padding-right:10px; height:20px; padding-top:5px; background:url(../images/top_menu_icon01.gif) no-repeat 5px 4px;}
.top_menu_01_01 a:visited{display:block; float:left; color:#999999; text-decoration:none; cursor:pointer;}
.top_menu_01_01 a:hover{display:block; float:left; color:#444444; text-decoration:underline; cursor:pointer;}

.top_menu_01_02 a{display:block; float:left; color:#999999; text-decoration:none; cursor:pointer; padding-left:25px; padding-right:10px; height:20px; padding-top:7px; background:url(../images/top_menu_icon02.gif) no-repeat 5px 4px;}
.top_menu_01_02 a:visited{display:block; float:left; color:#999999; text-decoration:none; cursor:pointer;}
.top_menu_01_02 a:hover{display:block; float:left; color:#444444; text-decoration:underline; cursor:pointer;}

.top_menu_01_03 a{display:block; float:left; color:#999999; text-decoration:none; cursor:pointer; padding-left:25px; padding-right:10px; height:20px; padding-top:7px; background:url(../images/top_menu_icon03.gif) no-repeat 5px 4px;}
.top_menu_01_03 a:visited{display:block; float:left; color:#999999; text-decoration:none; cursor:pointer;}
.top_menu_01_03 a:hover{display:block; float:left; color:#444444; text-decoration:underline; cursor:pointer;}

.top_menu_01_04 a{display:block; float:left; color:#999999; text-decoration:none; cursor:pointer; padding-left:25px; padding-right:10px; height:20px; padding-top:7px; background:url(../images/top_menu_icon04.gif) no-repeat 5px 4px;}
.top_menu_01_04 a:visited{display:block; float:left; color:#999999; text-decoration:none; cursor:pointer;}
.top_menu_01_04 a:hover{display:block; float:left; color:#444444; text-decoration:underline; cursor:pointer;}

.top_menu_01_05 a{display:block; float:left; color:#999999; text-decoration:none; cursor:pointer; padding-left:25px; padding-right:10px; height:20px; padding-top:7px; background:url(../images/top_menu_icon05.gif) no-repeat 5px 4px;}
.top_menu_01_05 a:visited{display:block; float:left; color:#999999; text-decoration:none; cursor:pointer;}
.top_menu_01_05 a:hover{display:block; float:left; color:#444444; text-decoration:underline; cursor:pointer;}


/* .cont{background:url(../images/tab_bg.gif) repeat-x top;} */
.tab{padding-top:2px; height:25px; float:left;}
.tab div{float:left;}
.tab_over_s{}
.tab_over_c{background:url(../images/tab_over_c.gif); height:19px; padding-top:6px; padding-left:10px; padding-right:10px; font-size:11px; font-weight:bold;}
.tab_over_x{margin-right:2px;}
.tab_normal_s{}
.tab_normal_c{background:url(../images/tab_normal_c.gif); height:19px; padding-top:6px; padding-left:10px; padding-right:10px; font-size:11px; font-weight:bold; color:#FFFFFF;}
.tab_normal_x{margin-right:2px;}

.tab_navi{float:right; padding-top:5px; padding-right:5px;}

/* 통합검색 */
.allsearch_wrap{margin:0px auto; width:350px;}
.allsearch{float:left; width:250px; height:19px; padding:4px 0px 4px 4px; background:url(../images/allsearch_bg_input.gif) no-repeat;}
.allsearch input{border:0px; height:16px; padding-top:2px; width:242px;}
.allsearch_bt{float:left;}

.mainbanner{width:941px; margin:0px auto;}

/* 공지사항 자료실 바로가기 */
.round_tit{float:left; padding-top:14px; padding-bottom:14px;}
.round_more{float:right; padding-top:14px;}
.round_list{clear:both;}
.round_list li{padding-left:15px; line-height:1.4; background:url(../images/round_icon_1.gif) no-repeat 0px 3px; position:relative;}
.round_list .date{position:absolute; top:0px; right:2px; color:#888888; font-size:11px; font-family:tahoma, Dotum, Gulim, Verdana, AppleGothic, sans-serif;}

/* 그리드 탭 */
.stab{width:100%; height:23px; background:url(../images/stab_line.gif) repeat-x;}
.stab_more{float:right; padding-top:2px; padding-right:2px;}

/* 탭 사이즈별 가로사이즈 _숫자  */
.stab_78_over{float:left; width:78px; height:17px; padding-top:6px; background:url(../images/stab_78_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold;}
.stab_78 a{float:left; width:78px; height:17px; padding-top:6px; background:url(../images/stab_78.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_78 a:visited{float:left; width:78px; height:17px; padding-top:6px; background:url(../images/stab_78.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_78 a:hover{float:left; width:78px; height:17px; padding-top:6px; background:url(../images/stab_78_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold; text-decoration:none;}

.stab_88_over{float:left; width:88px; height:17px; padding-top:6px; background:url(../images/stab_88_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold;}
.stab_88 a{float:left; width:88px; height:17px; padding-top:6px; background:url(../images/stab_88.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_88 a:visited{float:left; width:88px; height:17px; padding-top:6px; background:url(../images/stab_88.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_88 a:hover{float:left; width:88px; height:17px; padding-top:6px; background:url(../images/stab_88_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold; text-decoration:none;}

.stab_98_over{float:left; width:98px; height:17px; padding-top:6px; background:url(../images/stab_98_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold;}
.stab_98 a{float:left; width:98px; height:17px; padding-top:6px; background:url(../images/stab_98.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_98 a:visited{float:left; width:98px; height:17px; padding-top:6px; background:url(../images/stab_98.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_98 a:hover{float:left; width:98px; height:17px; padding-top:6px; background:url(../images/stab_98_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold; text-decoration:none;}

.stab_108_over{float:left; width:108px; height:17px; padding-top:6px; background:url(../images/stab_108_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold;}
.stab_108 a{float:left; width:108px; height:17px; padding-top:6px; background:url(../images/stab_108.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_108 a:visited{float:left; width:108px; height:17px; padding-top:6px; background:url(../images/stab_108.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_108 a:hover{float:left; width:108px; height:17px; padding-top:6px; background:url(../images/stab_108_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold; text-decoration:none;}

.stab_118_over{float:left; width:118px; height:17px; padding-top:6px; background:url(../images/stab_118_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold;}
.stab_118 a{float:left; width:118px; height:17px; padding-top:6px; background:url(../images/stab_118.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_118 a:visited{float:left; width:118px; height:17px; padding-top:6px; background:url(../images/stab_118.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_118 a:hover{float:left; width:118px; height:17px; padding-top:6px; background:url(../images/stab_118_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold; text-decoration:none;}

.stab_128_over{float:left; width:128px; height:17px; padding-top:6px; background:url(../images/stab_128_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold;}
.stab_128 a{float:left; width:128px; height:17px; padding-top:6px; background:url(../images/stab_128.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_128 a:visited{float:left; width:128px; height:17px; padding-top:6px; background:url(../images/stab_128.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_128 a:hover{float:left; width:128px; height:17px; padding-top:6px; background:url(../images/stab_128_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold; text-decoration:none;}

.stab_138_over{float:left; width:138px; height:17px; padding-top:6px; background:url(../images/stab_138_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold;}
.stab_138 a{float:left; width:138px; height:17px; padding-top:6px; background:url(../images/stab_138.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_138 a:visited{float:left; width:138px; height:17px; padding-top:6px; background:url(../images/stab_138.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_138 a:hover{float:left; width:138px; height:17px; padding-top:6px; background:url(../images/stab_138_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold; text-decoration:none;}

.stab_148_over{float:left; width:148px; height:17px; padding-top:6px; background:url(../images/stab_148_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold;}
.stab_148 a{float:left; width:148px; height:17px; padding-top:6px; background:url(../images/stab_148.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_148 a:visited{float:left; width:148px; height:17px; padding-top:6px; background:url(../images/stab_148.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_148 a:hover{float:left; width:148px; height:17px; padding-top:6px; background:url(../images/stab_148_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold; text-decoration:none;}

.stab_158_over{float:left; width:158px; height:17px; padding-top:6px; background:url(../images/stab_158_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold;}
.stab_158 a{float:left; width:158px; height:17px; padding-top:6px; background:url(../images/stab_158.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_158 a:visited{float:left; width:158px; height:17px; padding-top:6px; background:url(../images/stab_158.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_158 a:hover{float:left; width:158px; height:17px; padding-top:6px; background:url(../images/stab_158_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold; text-decoration:none;}

.stab_168_over{float:left; width:168px; height:17px; padding-top:6px; background:url(../images/stab_168_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold;}
.stab_168 a{float:left; width:168px; height:17px; padding-top:6px; background:url(../images/stab_168.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_168 a:visited{float:left; width:168px; height:17px; padding-top:6px; background:url(../images/stab_168.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_168 a:hover{float:left; width:168px; height:17px; padding-top:6px; background:url(../images/stab_168_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold; text-decoration:none;}

.stab_178_over{float:left; width:178px; height:17px; padding-top:6px; background:url(../images/stab_178_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold;}
.stab_178 a{float:left; width:178px; height:17px; padding-top:6px; background:url(../images/stab_178.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_178 a:visited{float:left; width:178px; height:17px; padding-top:6px; background:url(../images/stab_178.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_178 a:hover{float:left; width:178px; height:17px; padding-top:6px; background:url(../images/stab_178_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold; text-decoration:none;}

.stab_188_over{float:left; width:188px; height:17px; padding-top:6px; background:url(../images/stab_188_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold;}
.stab_188 a{float:left; width:188px; height:17px; padding-top:6px; background:url(../images/stab_188.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_188 a:visited{float:left; width:188px; height:17px; padding-top:6px; background:url(../images/stab_188.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_188 a:hover{float:left; width:188px; height:17px; padding-top:6px; background:url(../images/stab_188_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold; text-decoration:none;}

.stab_198_over{float:left; width:198px; height:17px; padding-top:6px; background:url(../images/stab_198_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold;}
.stab_198 a{float:left; width:198px; height:17px; padding-top:6px; background:url(../images/stab_198.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_198 a:visited{float:left; width:198px; height:17px; padding-top:6px; background:url(../images/stab_198.gif) no-repeat; text-align:center; color:#888888; font-weight:bold;}
.stab_198 a:hover{float:left; width:198px; height:17px; padding-top:6px; background:url(../images/stab_198_.gif) no-repeat; text-align:center; color:#4F99DD; font-weight:bold; text-decoration:none;}



/* 그리드 참고용 디자인 */
.grid_01{width:100%;}
.grid_01 table{border-top:1px solid #D1D1D1; border-left:1px solid #D1D1D1; width:100%;}
.grid_01 th{border-bottom:1px solid #D1D1D1; border-right:1px solid #D1D1D1;padding:2px; text-align:center; background:#F1F8FF;}
.grid_01 td{border-bottom:1px solid #D1D1D1; border-right:1px solid #D1D1D1; padding:2px;}



/* footer */
.footer{height:19px; padding-top:5px; padding-right:10px; background:#ECECEC; text-align:right; font-size:9px; font-family:tahoma, Dotum, Gulim, Verdana, AppleGothic, sans-serif;}



/* 서브메뉴 */
.smenu_in{position:absolute; top:61px; left:-294px; width:323px; height:543px; background:url(../images/smenu_bg.gif) no-repeat;}
.smenu_out{position:absolute; top:61px; left:2px; width:323px; height:543px; background:url(../images/smenu_bg.gif) no-repeat;}
.smenu_bg{width:270px; height:498px; float:left; padding:15px;}
.smenu_bt_bar{float:left; padding-top:30px;}

.smenu_mywork{height:16px; padding-top:2px; padding-left:20px; padding-bottom:5px; background:url(../images/smenu_icon_my.gif) no-repeat; font-weight:bold;}
.smenu_favor{height:16px; padding-top:2px; padding-left:20px; padding-bottom:5px; background:url(../images/smenu_icon_favor.gif) no-repeat; font-weight:bold; float:left;}
.smenu_favor_bt{float:right;padding-left:1px;}
.smenu_tit{color:#23518C; font-size:14px; word-spacing:-1px; font-weight:bold; font-family:Dotum, Gulim, Verdana, AppleGothic, sans-serif; text-decoration:none; padding-left:10px;}

.smenu_tree{height:370px; overflow-y:auto;}
.smenu_folder_01{line-height:1.4; font-weight:bold; margin-bottom:4px;}
.smenu_folder_01 img{padding-right:4px;}
.smenu_folder_02{line-height:1.4; font-weight:bold; margin-bottom:4px;}
.smenu_folder_02 img{padding-right:4px;}
.smenu_folder_03{color:#23518C; margin-bottom:4px; padding-left:16px;}
.smenu_folder_03 a{color:#23518C; margin-bottom:4px; padding:2px;}
.smenu_folder_03 a:visited{color:#23518C; margin-bottom:4px; padding:2px;}
.smenu_folder_03 a:hover{color:#23518C; margin-bottom:4px; padding:2px; background:#EAF4FF;}




/* 서브페이지 관련 */
.location{float:right; font-size:11px; letter-spacing:-1px; color:#888888; padding-left:4px;}
.process{float:right; color:#666666; }
.stit{float:left; background:url(../images/stit_icon.gif) no-repeat 0px 1px; padding-left:12px; font-weight:bold; color:#666666;}

/* bt01 가로 사이즈별 _숫자 */
.bt01{float:right;}
.bt01 li{display:inline;}

.bt01_68 a{width:68px; height:18px; padding-top:5px; font-size:11px; font-weight:bold; color:#FFFFFF; background:url(../images/bt01_68.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt01_68 a:visited{width:68px; height:18px; padding-top:5px; font-size:11px; font-weight:bold; color:#FFFFFF; background:url(../images/bt01_68.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt01_68 a:hover{width:68px; height:18px; padding-top:5px; font-size:11px; font-weight:bold; color:#FFFFFF; background:url(../images/bt01_68_.gif) no-repeat; text-align:center; margin-left:2px; float:left;}

.bt01_78 a{width:78px; height:18px; padding-top:5px; font-size:11px; font-weight:bold; color:#FFFFFF; background:url(../images/bt01_78.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt01_78 a:visited{width:78px; height:18px; padding-top:5px; font-size:11px; font-weight:bold; color:#FFFFFF; background:url(../images/bt01_78.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt01_78 a:hover{width:78px; height:18px; padding-top:5px; font-size:11px; font-weight:bold; color:#FFFFFF; background:url(../images/bt01_78_.gif) no-repeat; text-align:center; margin-left:2px; float:left;}

.bt01_88 a{width:88px; height:18px; padding-top:5px; font-size:11px; font-weight:bold; color:#FFFFFF; background:url(../images/bt01_88.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt01_88 a:visited{width:88px; height:18px; padding-top:5px; font-size:11px; font-weight:bold; color:#FFFFFF; background:url(../images/bt01_88.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt01_88 a:hover{width:88px; height:18px; padding-top:5px; font-size:11px; font-weight:bold; color:#FFFFFF; background:url(../images/bt01_88_.gif) no-repeat; text-align:center; margin-left:2px; float:left;}

.bt01_98 a{width:98px; height:18px; padding-top:5px; font-size:11px; font-weight:bold; color:#FFFFFF; background:url(../images/bt01_98.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt01_98 a:visited{width:98px; height:18px; padding-top:5px; font-size:11px; font-weight:bold; color:#FFFFFF; background:url(../images/bt01_98.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt01_98 a:hover{width:98px; height:18px; padding-top:5px; font-size:11px; font-weight:bold; color:#FFFFFF; background:url(../images/bt01_98_.gif) no-repeat; text-align:center; margin-left:2px; float:left;}

.bt01_108 a{width:108px; height:18px; padding-top:5px; font-size:11px; font-weight:bold; color:#FFFFFF; background:url(../images/bt01_108.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt01_108 a:visited{width:108px; height:18px; padding-top:5px; font-size:11px; font-weight:bold; color:#FFFFFF; background:url(../images/bt01_108.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt01_108 a:hover{width:108px; height:18px; padding-top:5px; font-size:11px; font-weight:bold; color:#FFFFFF; background:url(../images/bt01_108_.gif) no-repeat; text-align:center; margin-left:2px; float:left;}



/* bt02 가로 사이즈별 _숫자 */
.bt02{float:right;}
.bt02 li{display:inline;}

.bt03{float:left;}
.bt03 li{display:inline;}

.bt02_40 a{width:40px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_40.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_40 a:visited{width:40px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_40.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_40 a:hover{width:40px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#FFFFFF; background:url(../images/bt02_40_.gif) no-repeat; text-align:center; margin-left:2px; float:left;}

.bt02_50 a{width:50px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_50.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_50 a:visited{width:50px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_50.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_50 a:hover{width:50px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#FFFFFF; background:url(../images/bt02_50_.gif) no-repeat; text-align:center; margin-left:2px; float:left;}

.bt02_60 a{width:60px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_60.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_60 a:visited{width:60px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_60.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_60 a:hover{width:60px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#FFFFFF; background:url(../images/bt02_60_.gif) no-repeat; text-align:center; margin-left:2px; float:left;}

.bt02_70 a{width:70px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_70.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_70 a:visited{width:70px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_70.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_70 a:hover{width:70px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#FFFFFF; background:url(../images/bt02_70_.gif) no-repeat; text-align:center; margin-left:2px; float:left;}

.bt02_80 a{width:80px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_80.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_80 a:visited{width:80px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_80.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_80 a:hover{width:80px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#FFFFFF; background:url(../images/bt02_80_.gif) no-repeat; text-align:center; margin-left:2px; float:left;}

.bt02_90 a{width:90px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_90.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_90 a:visited{width:90px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_90.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_90 a:hover{width:90px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#FFFFFF; background:url(../images/bt02_90_.gif) no-repeat; text-align:center; margin-left:2px; float:left;}

.bt02_100 a{width:100px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_100.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_100 a:visited{width:100px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_100.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_100 a:hover{width:100px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#FFFFFF; background:url(../images/bt02_100_.gif) no-repeat; text-align:center; margin-left:2px; float:left;}

.bt02_110 a{width:110px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_110.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_110 a:visited{width:110px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_110.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_110 a:hover{width:110px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#FFFFFF; background:url(../images/bt02_110_.gif) no-repeat; text-align:center; margin-left:2px; float:left;}

.bt02_120 a{width:120px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_120.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_120 a:visited{width:120px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#666666; background:url(../images/bt02_120.gif) no-repeat; text-align:center; margin-left:2px; float:left;}
.bt02_120 a:hover{width:120px; height:15px; padding-top:3px; font-size:11px; letter-spacing:-1px; color:#FFFFFF; background:url(../images/bt02_120_.gif) no-repeat; text-align:center; margin-left:2px; float:left;}




/* 입력박스 테이블 */
.tb_basic{width:100%;}
.tb_basic table{border-top:1px solid #D1D1D1; border-left:1px solid #D1D1D1; width:100%;}
.tb_basic th{border-bottom:1px solid #D1D1D1; border-right:1px solid #D1D1D1;padding:2px; text-align:center; background:#F6FAEF;}
.tb_basic td{border-bottom:1px solid #D1D1D1; border-right:1px solid #D1D1D1; padding:2px;}

.tb_basic .th_require{background:#F6FAEF url(../images/th_require.gif) no-repeat 100% 0%;}
.tb_basic input, .tb_basic textarea{background:#FFFFFF; border-top:1px solid #CBCBCB; border-left:1px solid #CBCBCB; border-bottom:1px solid #E4E4E4; border-right:1px solid #E4E4E4; padding:2px;}
.tb_basic textarea{font-size:12px; line-height:1.2; font-family:Dotum, Gulim, Verdana, AppleGothic, sans-serif;}
.tb_basic select{}
.tb_basic .input_inactive input{background:#F3F3F3;}
.tb_basic .input_file input{border:1px solid #E4E4E4;}
.tb_basic .input_check input{border:0px; background:none; width:13px;}
.tb_basic .input_radio input{border:0px; background:none; width:13px;}
.tb_basic .tb_down a{color:#0068CC; text-decoration:underline;}
.tb_basic .tb_down a:visited{color:#0068CC; text-decoration:underline;}
.tb_basic .tb_down a:hover{color:#0068CC; text-decoration:underline;}

.tb_comment{color:#888888; padding-top:5px;}
.tb_word img{padding-right:0px;}




/* 로그인 */
.login{background:url(../images/login_bg.gif) repeat-x top; min-height:606px;}
.login_ver{margin:0px auto; width:980px; height:148px; padding-top:5px; text-align:right; color:#E3E3E3; letter-spacing:-1px;}
.login_form{width:550px; height:204px; padding-bottom:10px; margin:0px auto; background:url(../images/login_bg_img.gif) no-repeat; position:relative;}
.login_id{position:absolute; top:105px; left:15px;}
.login_id input{width:170px; height:19px; border-top:1px solid #A2A2A2; border-left:1px solid #A2A2A2; border-bottom:1px solid #DEDEDE; border-right:1px solid #DEDEDE; line-height:19px;}
.login_pass{position:absolute; top:130px; left:15px;}
.login_pass input{width:170px; height:19px; border-top:1px solid #A2A2A2; border-left:1px solid #A2A2A2; border-bottom:1px solid #DEDEDE; border-right:1px solid #DEDEDE; line-height:19px;}
.login_bt{position:absolute; top:102px; left:191px;}
.login_txt_01{position:absolute; top:160px; left:0px;}
.login_txt_02{position:absolute; top:180px; left:13px; font-size:11px; color:#888888;}
.login_explain{width:550px; height:239px; margin:0px auto;}
.login_txt_03{padding-left:13px; padding-bottom:5px;}
.login_txt_04{padding-left:13px; font-size:11px; color:#888888;}
.login_footer{background:url(../images/login_bg_footer.gif) repeat-x; color:#B6B6B6; height:19px; padding-top:5px; padding-right:10px; text-align:right; font-size:9px; font-family:tahoma, Dotum, Gulim, Verdana, AppleGothic, sans-serif;}
.login_bt2{position:absolute; top:102px; left:250px;}



/* 검색결과 */
.search_tit{font-size:14px; font-weight:bold; letter-spacing:-1px; padding-top:2px; padding-bottom:10px; padding-left:5px;}
.search_stit{float:left; padding-left:15px;}
.search_stit a{color:#0141DC; text-decoration:underline;}
.search_stit a:visited{color:#0141DC; text-decoration:underline;}
.search_stit a:hover{color:#0141DC; text-decoration:underline;}
.search_loc{float:left; padding-left:15px; padding-right:15px; color:#888888;}
.search_word{font-weight:bold;}
.search_txt{clear:both; padding-left:15px; padding-right:15px; padding-top:5px; padding-bottom:10px; line-height:1.4;}
.search_more{text-align:right; padding-right:15px; padding-bottom:10px;}
.search_more a{text-decoration:underline;}
.search_more a:visited{text-decoration:underline;}
.search_more a:hover{text-decoration:underline;}
.search_dotline{background:url(../images/search_dotline.gif) repeat-x; height:1px; margin-left:5px; margin-right:5px; padding-bottom:10px;}

.search_navi{text-align:center; font-weight:bold; margin-bottom:15px;}

.search_prev a{color:#888888; padding:4px;}
.search_prev a:visited{color:#888888; padding:4px;}
.search_prev a:hover{color:#F7941C; padding:4px;}

.search_next a{color:#888888; padding:4px;}
.search_next a:visited{color:#888888; padding:4px;}
.search_next a:hover{color:#F7941C; padding:4px;}

.search_no a{color:#444444; padding:4px;}
.search_no a:visited{color:#444444; padding:4px;}
.search_no a:hover{color:#F7941C; padding:4px;}


/* gnb */
.m_top{background:url(../images/gnb/m_top_bg.gif) repeat-x; height:49px;}
.m_top_left{float:left; margin-top:7px; margin-left:36px;}
.m_top_right{float:right; margin-right:16px; margin-top:12px; width:100px; height:24px;}
.m_tit{background:#898989; height:27px;}
.m_tit_tit{float:left; color:#FFFFFF; font-family:Dotum, Gulim, Verdana, AppleGothic, sans-serif; font-weight:bold; font-size:11pt; padding-left:40px; padding-top:5px;}
.m_tit_location{float:right; font-family:Dotum, Gulim, Verdana, AppleGothic, sans-serif; font-size:9pt; color:#DDDDDD; background:url(../images/gnb/m_tit_icon_home.png) no-repeat 0px 7px; padding-left:14px; padding-top:6px; padding-right:16px;}



.m_navi{float:left; width:268px; padding:7px; border:1px solid #bebebe; background:#f5f5f5;}
.m_navi{
	background: #fbfbfb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbfbfb 1%, #f5f5f5 5%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fbfbfb), color-stop(5%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbfbfb 1%,#f5f5f5 5%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbfbfb 1%,#f5f5f5 5%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbfbfb 1%,#f5f5f5 5%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbfbfb 1%,#f5f5f5 5%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
	}
.m_navi_tit{font-family:tahoma, Dotum, Gulim, Verdana, AppleGothic, sans-serif; font-size:8pt; text-align:center; height:24px; padding-top:2px; color:#5c5c5c;}
.m_navi_tit_bold{font-weight:bold;}
.m_navi_cont_01{background:#FFFFFF; border:1px solid #bebebe; border-radius:4px; font-family:Dotum, Gulim, Verdana, AppleGothic, sans-serif; font-size:9pt; padding:7px; margin-bottom:7px;}
.m_navi_cont_02{font-family:Dotum, Gulim, Verdana, AppleGothic, sans-serif; font-size:9pt;}
/* .m_navi_cont_02{font-family:Dotum, Gulim, Verdana, AppleGothic, sans-serif; font-size:9pt; padding:7px;} */



.m_navi_sub{margin:0px; padding:0px;}
.m_navi_sub li{list-style:none; margin:0; padding:0px;}
.m_navi_sub a{display:block; height:18px; padding-top:5px; padding-left:10px; font-family:Dotum, Gulim, Verdana, AppleGothic, sans-serif; font-size:9pt; color:#777777; text-decoration:none; font-weight:bold;}
.m_navi_sub a:hover{background:#89cbec; color:#FFFFFF; text-decoration:none;}

/* gnb */

/* 팝업관련 */
/* bt03 가로 사이즈별 _숫자 */
.pop_bt03_57{text-align:center;}
.pop_bt03_57 a{display:inline-block; width:57px; height:20px; padding-top:4px; background:url(../images/bt03_57.gif) no-repeat; text-align:center; color:#FFFFFF; padding-right:1px;}
.pop_bt03_57 a:visited{display:inline-block; width:57px; height:20px; padding-top:4px; background:url(../images/bt03_57.gif) no-repeat; text-align:center; color:#FFFFFF; padding-right:1px;}
.pop_bt03_57 a:hover{display:inline-block; width:57px; height:20px; padding-top:4px; background:url(../images/bt03_57_.gif) no-repeat; text-align:center; color:#FFFFFF; padding-right:1px;}

.pop_bt03_67{text-align:center;}
.pop_bt03_67 a{display:inline-block; width:67px; height:20px; padding-top:4px; background:url(../images/bt03_67.gif) no-repeat; text-align:center; color:#FFFFFF; padding-right:1px;}
.pop_bt03_67 a:visited{display:inline-block; width:67px; height:20px; padding-top:4px; background:url(../images/bt03_67.gif) no-repeat; text-align:center; color:#FFFFFF; padding-right:1px;}
.pop_bt03_67 a:hover{display:inline-block; width:67px; height:20px; padding-top:4px; background:url(../images/bt03_67_.gif) no-repeat; text-align:center; color:#FFFFFF; padding-right:1px;}

.pop_bt03_77{text-align:center;}
.pop_bt03_77 a{display:inline-block; width:77px; height:20px; padding-top:4px; background:url(../images/bt03_77.gif) no-repeat; text-align:center; color:#FFFFFF; padding-right:1px;}
.pop_bt03_77 a:visited{display:inline-block; width:77px; height:20px; padding-top:4px; background:url(../images/bt03_77.gif) no-repeat; text-align:center; color:#FFFFFF; padding-right:1px;}
.pop_bt03_77 a:hover{display:inline-block; width:77px; height:20px; padding-top:4px; background:url(../images/bt03_77_.gif) no-repeat; text-align:center; color:#FFFFFF; padding-right:1px;}

.pop_bt03_87{text-align:center;}
.pop_bt03_87 a{display:inline-block; width:87px; height:20px; padding-top:4px; background:url(../images/bt03_87.gif) no-repeat; text-align:center; color:#FFFFFF; padding-right:1px;}
.pop_bt03_87 a:visited{display:inline-block; width:87px; height:20px; padding-top:4px; background:url(../images/bt03_87.gif) no-repeat; text-align:center; color:#FFFFFF; padding-right:1px;}
.pop_bt03_87 a:hover{display:inline-block; width:87px; height:20px; padding-top:4px; background:url(../images/bt03_87_.gif) no-repeat; text-align:center; color:#FFFFFF; padding-right:1px;}




/* 로딩창 */
.loading{width:357px; height:159px; background:url(../images/loading_bg_png.png) no-repeat;}
.loading img{padding-top:30px; padding-left:152px;}


/* 메인페이지 */
/* .m_container{} */
.m_meta{text-align:center;}
.m_search{height:114px; background:#f6f6f6; text-align:center;}
.m_search_bar{width:586px; height:29px; border:3px solid #538dc3; display:inline-block; background:#FFFFFF; vertical-align:middle; text-align:left; position:relative;}
.m_search_bar span{border:0px; display:inline-block; vertical-align:middle; width:auto; padding:5px 10px; font-size:11pt; color:#538dc3; font-weight:bold;}
.m_search_bar a{border:0px; vertical-align:middle; display:inline-block;}
.m_search_bar input{width:300px; padding-top:5px; font-size:11pt; font-weight:bold; border:0px; vertical-align:middle;}
.m_search_bar button{display:inline-block; vertical-align:middle; width:115px; height:29px; background:url(../images/m_search_bt.png) no-repeat; border:0px; float:right; cursor:pointer; text-indent:-10000px;}

.m_search_type{width:auto; padding:5px; border:1px solid #c9e5ff; background:#FFFFFF; position:absolute; top:33px; left:-3px; font-size:11pt;}
.m_search_type li{list-style:none;}
.m_search_type a{display:block; padding:3px 10px;color:#333333; text-decoration:none;}
.m_search_type a:visited{color:#333333;}
.m_search_type a:hover{background:#73a3cf; text-decoration:none; color:#FFFFFF;}

.m_search_txt{font-size:9pt; text-align:left; width:586px; margin:0px auto; padding-top:10px; line-height:1.5; color:#5e5e5e;}

.m_bt_all{text-align:center;}
.m_bt_all a{display:inline-block; margin:0 10px;}


/* 팝업 */
.m_pop_tab_cont{text-align:center;}
.m_pop_tab{display:inline-block; vertical-align:middle;}
.m_pop_tit{width:120px; height:20px; padding-top:8px; text-align:center; background:url(../images/m_pop_tab.gif) no-repeat; display:inline-block; font-weight:bold; color:#1e93db; font-size:9pt;}
.m_pop_list{padding:10px; border:1px solid #cfcfcf; font-size:9pt; background:#FFFFFF; margin:0px; width:98px;}
.m_pop_list li{background:url(../images/m_pop_list_icon.gif) no-repeat 0px 3px; padding-left:10px; list-style:none; margin-bottom:5px; text-align:left;}
.m_pop_list .m_pop_icon_none{background:none;}