/* 파란색 메뉴 */
.top_bg_01{background:url(../images/top_gnb_left_blue.gif) no-repeat; width:7px; height:27px;}
.top_bg_02{background:url(../images/top_gnb_center_blue.gif) repeat-x; height:27px;}
.top_bg_03{background:url(../images/top_gnb_right_blue.gif) no-repeat; width:7px; height:27px;}

.top_menu_02{text-align:left; padding-left:30px;}
.top_menu_02 li{display:inline;}

.top_menu_02_01 a{display:block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_01.gif) no-repeat 0 0;}
.top_menu_02_01 a:visited{display:block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_01.gif) no-repeat 0 0;}
.top_menu_02_01 a:hover{display:block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_01_.gif) no-repeat 0 0;}

.top_menu_02_02 a{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_02.gif) no-repeat 0 0;}
.top_menu_02_02 a:visited{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_02.gif) no-repeat 0 0;}
.top_menu_02_02 a:hover{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_02_.gif) no-repeat 0 0;}

.top_menu_02_03 a{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_03.gif) no-repeat 0 0;}
.top_menu_02_03 a:visited{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_03.gif) no-repeat 0 0;}
.top_menu_02_03 a:hover{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_03_.gif) no-repeat 0 0;}

.top_menu_02_04 a{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_04.gif) no-repeat 0 0;}
.top_menu_02_04 a:visited{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_04.gif) no-repeat 0 0;}
.top_menu_02_04 a:hover{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_04_.gif) no-repeat 0 0;}

.top_menu_02_05 a{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_05.gif) no-repeat 0 0;}
.top_menu_02_05 a:visited{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_05.gif) no-repeat 0 0;}
.top_menu_02_05 a:hover{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_05_.gif) no-repeat 0 0;}

.top_menu_02_06 a{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_06.gif) no-repeat 0 0;}
.top_menu_02_06 a:visited{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_06.gif) no-repeat 0 0;}
.top_menu_02_06 a:hover{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_06_.gif) no-repeat 0 0;}

/* DQ 메뉴 */
.top_menu_dq_01 a{display:block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq01.gif) no-repeat 0 0;}
.top_menu_dq_01 a:visited{display:block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq01.gif) no-repeat 0 0;}
.top_menu_dq_01 a:hover{display:block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq01_.gif) no-repeat 0 0;}

.top_menu_dq_02 a{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq02.gif) no-repeat 0 0;}
.top_menu_dq_02 a:visited{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq02.gif) no-repeat 0 0;}
.top_menu_dq_02 a:hover{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq02_.gif) no-repeat 0 0;}

.top_menu_dq_03 a{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq03.gif) no-repeat 0 0;}
.top_menu_dq_03 a:visited{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq03.gif) no-repeat 0 0;}
.top_menu_dq_03 a:hover{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq03_.gif) no-repeat 0 0;}

.top_menu_dq_04 a{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq04.gif) no-repeat 0 0;}
.top_menu_dq_04 a:visited{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq04.gif) no-repeat 0 0;}
.top_menu_dq_04 a:hover{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq04_.gif) no-repeat 0 0;}

.top_menu_dq_05 a{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq05.gif) no-repeat 0 0;}
.top_menu_dq_05 a:visited{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq05.gif) no-repeat 0 0;}
.top_menu_dq_05 a:hover{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq05_.gif) no-repeat 0 0;}

.top_menu_dq_06 a{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq06.gif) no-repeat 0 0;}
.top_menu_dq_06 a:visited{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq06.gif) no-repeat 0 0;}
.top_menu_dq_06 a:hover{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_dq06_.gif) no-repeat 0 0;}

.top_menu_dq_07 a{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_06.gif) no-repeat 0 0;}
.top_menu_dq_07 a:visited{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_06.gif) no-repeat 0 0;}
.top_menu_dq_07 a:hover{display:inline-block; float:left; width:95px; padding-top:27px; height:0px; overflow:hidden; background:url(../images/top_blue_06_.gif) no-repeat 0 0;}


/* 서브메뉴 파랑 */
.smenu_bt_bar_in{float:left; width:23px; height:200px; background:url(../images/smenu_bar_blue_in.gif) no-repeat;}
.smenu_bt_bar_in a{float:left; width:23px; height:200px; background:url(../images/smenu_bar_blue_in.gif) no-repeat;}
.smenu_bt_bar_in a:visited{float:left; width:23px; height:200px; background:url(../images/smenu_bar_blue_in.gif) no-repeat;}
.smenu_bt_bar_in a:hover{float:left; width:23px; height:200px; background:url(../images/smenu_bar_blue_in_.gif) no-repeat;}

.smenu_bt_bar_out{float:left; width:23px; height:200px; background:url(../images/smenu_bar_blue_out.gif) no-repeat;}
.smenu_bt_bar_out a{float:left; width:23px; height:200px; background:url(../images/smenu_bar_blue_out.gif) no-repeat;}
.smenu_bt_bar_out a:visited{float:left; width:23px; height:200px; background:url(../images/smenu_bar_blue_out.gif) no-repeat;}
.smenu_bt_bar_out a:hover{float:left; width:23px; height:200px; background:url(../images/smenu_bar_blue_out_.gif) no-repeat;}


/* 팝업타이틀 파랑 */
.pop_tit{height:38px; background:url(../images/pop_tit_bg_blue.gif) repeat-x;}
.pop_tit_icon{float:left; width:27px; height:38px; background:url(../images/pop_tit_icon_blue.gif) no-repeat;}
.pop_tit_txt{float:left; color:#FFFFFF; font-size:14px; font-weight:bold; padding-top:10px;}
.pop_tit_close{float:right; width:52px; height:38px; background:url(../images/pop_tit_close_blue.gif) no-repeat;}
.pop_tit_close a{display:inline-block; padding-top:38px; height:0px; overflow:hidden; width:52px; }
.pop_content{clear:both; padding:10px; zoom:1;}


/* 팝업메세지창 파랑 */
.pop_message{border-top:1px solid #D7E1F0; border-bottom:1px solid #D7E1F0; margin-bottom:20px;}
.pop_message div{text-align:center;}
.pop_message span{font-weight:bold; color:#0086DE;}

.wd98ph{width:98%;height:98%;}


