@charset "utf-8";
/* 개발자 전용 CSS */
/* 개발하시는 분들은 design.css는 수정하지마시고 추가할 내용이 있으면 여기에 class나 id 추가해서 쓰시기 바랍니다. */
/* class, id는 중복되지 않게 네이밍해주세요. */

/* 공통 템플릿 */
.ellipsis{overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:block;}

.wd10{width:10px;}
.wd20{width:20px;}
.wd30{width:30px;}
.wd40{width:40px;}
.wd50{width:50px;}
.wd60{width:60px;}
.wd70{width:70px;}
.wd80{width:80px;}
.wd90{width:90px;}
.wd100{width:100px;}
.wd110{width:110px;}
.wd120{width:120px;}
.wd125{width:125px;}
.wd130{width:130px;}
.wd140{width:140px;}
.wd150{width:150px;}
.wd160{width:160px;}
.wd170{width:170px;}
.wd180{width:180px;}
.wd190{width:190px;}
.wd200{width:200px;}
.wd220{width:220px;}
.wd240{width:240px;}
.wd260{width:260px;}
.wd280{width:280px;}
.wd300{width:300px;}
.wd320{width:320px;}
.wd340{width:340px;}
.wd360{width:360px;}
.wd380{width:380px;}
.wd400{width:400px;}
.wd410{width:410px;}
.wd500{width:500px;}
.wd30p{width:30%;}
.wd33p{width:33%;}
.wd45p{width:45%;}
.wd50p{width:50%;}
.wd60p{width:60%;}
.wd70p{width:70%;}
.wd80p{width:80%;}
.wd90p{width:90%;}
.wd95p{width:95%;}
.wd98p{width:98%;}
.wd99p{width:99%;}

.ht10{height:10px; clear:both;}
.ht20{height:20px; clear:both;}
.ht30{height:30px; clear:both;}
.ht40{height:40px; clear:both;}
.ht50{height:50px; clear:both;}
.ht60{height:60px; clear:both;}
.ht70{height:70px; clear:both;}
.ht80{height:80px; clear:both;}
.ht90{height:90px; clear:both;}
.ht100{height:100px; clear:both;}
.ht200{height:200px; clear:both;}
.ht300{height:300px; clear:both;}
.ht400{height:400px; clear:both;}
.ht500{height:500px; clear:both;}

.wd98ph{width:98%;height:98%;}
/* 메뉴 제목 */
.menu_subject {height: 20px; display: none;}
.menu_title {font-size:11pt; color:#3c77c8; font-weight:bold; letter-spacing:-1px;}

/* 시트와 폼사이 메세지 영역 */
.selected_title_area{ background-color: #FFFFFF; padding: 10px 0px 10px 10px; border:2px solid #2682ca; margin:10px 0; font-weight:500;}
/* .selected_title_area{"height:26px; font-size:9pt; font-family:Dotum, Gulim, Verdana, AppleGothic, sans-serif; background:#f4f4f4; color:#3c77c8; font-weight:bold;} */
.selected_title {font-size: 14px; color:#625F53;}

/* 검색버튼 */
.search_button {width: 18px; height: 18px; vertical-align: bottom; color:#3c77c8;}

.frm_input_icon {display: inline-block; vertical-align: text-top; }


.smenu_link {display: inline-block;  vertical-align: bottom;}


/*jquery validate plugin error message css */
label.error{  margin-left:10px;  color:red; }



table.ui-jqgrid-ftable tr td {background-color: #FFFFDA}

/* jquery ui resize 이벤트 발생시 헬퍼 css  */
.ui-resizable-helper { border: 2px dotted #00F; }

/* 상세화면 readonly 사용*/
.b0{border:none !important;border:1px solid #fff; width:48%;}
.b0wd98{border:none !important;border:1px solid #fff; width:98%;}

/* 다이어그램용 div 셋 */
/* #cy { */
/* 	  height: 500px; */
/* 	  width: 100%; */
/* 	  position: absolute; */
/* 	  left: 300; */
/* 	  top: 400; */
/* 	} */

/* tab 초기화*/
div#tabs{display: none;}


/* 입력박스 테이블 */
.tb_basic3{width:100%;}
.tb_basic3 table{border-top:1px solid #D1D1D1; border-left:1px solid #D1D1D1; width:100%;}
.tb_basic3 th{border-bottom:1px solid #D1D1D1; border-right:1px solid #D1D1D1;padding:2px; text-align:center; background:#F6FAEF;}
.tb_basic3 td{border-bottom:1px solid #D1D1D1; border-right:1px solid #D1D1D1; padding:2px;}

.tb_basic3 .th_require{background:#F6FAEF url(../images/th_require.gif) no-repeat 100% 0%;}
.tb_basic3 input, .tb_basic3 textarea{background:#FFFFFF; border-top:1px solid #CBCBCB; border-left:1px solid #CBCBCB; border-bottom:1px solid #E4E4E4; border-right:1px solid #E4E4E4; padding:2px;}
.tb_basic3 textarea{ line-height:1.2; }
.tb_basic3 select{}
.tb_basic3 .input_inactive input{background:#F3F3F3;}
.tb_basic3 .input_file input{border:1px solid #E4E4E4;}
.tb_basic3 .input_check input{border:0px; background:none; width:13px;}
.tb_basic3 .input_radio input{border:0px; background:none; width:13px;}
.tb_basic3 .tb_down a{color:#0068CC; text-decoration:underline;}
.tb_basic3 .tb_down a:visited{color:#0068CC; text-decoration:underline;}
.tb_basic3 .tb_down a:hover{color:#0068CC; text-decoration:underline;}


.tb_basic4{background-color:#f8f8f8; width:100%;}
.tb_basic4 table{width:100%;}
.tb_basic4 td{PADDING-BOTTOM: 5px;}

.sitemap_title {font-size:13pt; color:#888888; font-weight:bold; letter-spacing:-1px;padding-left:30px;padding-bottom:5px; background:url(../images/tab_move_right_.gif) no-repeat 10px 0px; }
.sitemap_title2 {font-size:11pt; color:#3c77c8; font-weight:bold; letter-spacing:-1px;padding-left:45px;padding-bottom:5px;padding-top:5px; background:url(../images/tab_move_right.gif) no-repeat 25px 0px;}
.sitemap_text1 {font-size:10pt;  color:#3c77c8; letter-spacing:-1px;padding-left:45px;padding-bottom:5px;}

.tb_comment{color:#888888; padding-top:5px;}
.tb_word img{padding-right:0px;}


.pop_container2{padding:8px;clear:both;}
.login_bt2{position:absolute; top:102px; left:250px;}

.ui-widget{font-family:'Noto Sans KR', Malgun Gothic, dotum, gulim, Verdana, sans-serif !important; letter-spacing:-0.05em;font-size: 13px;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family:'Noto Sans KR', Malgun Gothic, dotum, gulim, Verdana, sans-serif !important; letter-spacing:-0.05em;font-size: 13px;}




.ui-tabs{border:none; padding:0; margin:0; background:none; border-bottom:1px solid #0072bc; height:34px;}
.ui-state-default{padding:0px !important;}

.ui-tabs .ui-widget-header{background:none; border:none; padding:0px; margin:0px;}
.ui-tabs .ui-state-default{border:1px solid #ddd; border-radius:8px 8px 0px 0px; border-bottom:none; background:none; margin-left:0px;}
.ui-tabs .ui-state-default:hover{background:#f5f5f5;}
.ui-tabs .ui-state-default a{padding:10px 20px; color:#444; font-size:14px;}

.ui-tabs .ui-state-active{border:1px solid #1d6ead; border-bottom:none; background:#2682ca;}
.ui-tabs .ui-state-active:hover{border:1px solid #1d6ead; border-bottom:none; background:#2682ca;}
.ui-tabs .ui-state-active a{color:#fff; background:none/* #2682ca */;border-radius:8px 8px 0px 0px}

.ui-tabs .ui-tabs-panel{padding:0; margin:10px 0 50px 0;}


