@charset "utf-8";
/* CSS Document */
div#comFileList div{margin-top: 5px;}
div#comFileList input{width: 50px; margin-left: 10px;}

.ui-tabs{border:none; background:none;}
.ui-tabs-navi{background:none; border-top:none; border-left:none; border-right:none;}
.ui-widget-header{border-top:none; border-left:none; border-right:none; background:none;}

.ui-tabs-active a:link{color:#2e6e9e;}

.ui-datepicker-header {background-color: rgb(92, 156, 204);}

/*jquery validate plugin error message css */
label.error{  margin-left:10px;  color:red; }

/* adminfooter */
.adminfooter{width : 100%; bottom : 0; position :fixed; height:19px; padding-top:5px; padding-right:10px; background:#ECECEC; text-align:right; font-size:9px; font-family:tahoma, Dotum, Gulim, Verdana, AppleGothic, sans-serif;}

/* .btn_subForm{float: left;overflow: auto; text-overflow:auto; white-space: normal;} */

table.ui-jqgrid-ftable tr td {background-color: #FFFFDA}
