
/*    Default Setting   */

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td,textarea, option,button,span,a,a:visited  { 
    margin:0px; 
    padding:0px; 
    font-size:11px;
    font-family:dotum, tahoma; 
    color:#373737;
    }

img   {border:0;}
input, select	{ 
    font-size:11px;
    font-family:dotum, tahoma; 
    color:#373737;
    }
a  { 
    font-family:dotum, tahoma; 
	text-decoration:none;
    }
a:hover	{
	text-decoration:underline;
}
textarea			{overflow:auto;}
ol,ul,li            {list-style:none;}
a,img,input,button  {outline: none !important; }        /* �겢由��떆 留곹겕�옄援� �젣嫄�  */

select		{ border:1px solid #b5b6f3; padding:3px; }

.red		{ border:1px solid red;		}	
.blue		{ border:1px solid blue;	}
.green		{ border:1px solid green;	}
.yellow		{ border:1px solid yellow;	}



/*      Default Setting : Table   */
TABLE       { 
    border-collapse: collapse; 
    width:100%; 
    }
TABLE.wfree { 
    border-collapse: collapse; 
    width:auto;
    }




BODY		{ 
	}

BODY.body-popup		{ 
	padding:70px 20px 20px 20px;
	}
.tit-popup	{
	position:absolute; 
	top:0px;
	left:0px;
}
.logo-ajax	{ 
	position:absolute; 
	top:80px; 
	}
.navi		{
	position:absolute; 
	top:130px; 
	left:10px;
	width:201px;
	}
.navi li	{
	margin:5px 0 5px 0;
	height:19px;
}
.navi li.on-bg	{
	background-color:#c0e393;
	padding-left:10px;
}
.navi a	{
	position:relative; 
	top:4px; 
	left:10px;
	font-size:12px;
	letter-spacing:-1px;
}
.navi a.on	{
	color:#5f09ec;
}



.clear-both		{	clear:both;		}
.height-7		{	height:7px;	}
.height-10		{	height:10px;	}

.margin-r5		{	margin-right:5px;	}
.margin-r10		{	margin-right:10px;	}
.margin-r20		{	margin-right:20px;	}
.margin-t5		{	margin-top:5px;	}
.margin-t10		{	margin-top:10px;	}
.margin-t20		{	margin-top:20px;	}

.float-left		{	float:left;		}
.float-right	{	float:right;	}
.align-center	{	text-align:center;	}



/*  Buttons  */
.buttonA ul {
    padding-left:4px;
    height:19px;
	float:left;
	margin-right:4px;
}
.buttonA li {
    padding-right:4px;
    height:19px;
	float:left;
}
.buttonA span {
    height:19px;
	display:block;
}
.buttonA a {
    color:white;
	letter-spacing:-1px;
	position:relative; 
	margin-left:5px;
	margin-right:5px;
	top:4px;
	top:5px\9;	/* hack for all of IE */
}
.buttonB	{
	float:right;
}
.buttonB ul {
    padding-left:2px;
    height:19px;
	float:left;
	margin-left:4px;
}
.buttonB li {
    padding-right:2px;
    height:19px;
	float:left;
}
.buttonB span {
    height:19px;
	display:block;
}
.buttonB a {
    color:#3c3864;
	letter-spacing:-1px;
	position:relative; 
	margin-left:5px;
	margin-right:5px;
	top:4px;
	top:5px\9;	/* hack for all of IE */
}

.buttonC ul {
    padding-left:2px;
    height:18px;
	float:left;
	margin-right:4px;
}
.buttonC li {
    padding-right:2px;
    height:18px;
	float:left;
}
.buttonC span {
    height:18px;
	display:block;
}
.buttonC a {
    color:#3c3864;
	letter-spacing:-1px;
	position:relative; 
	margin-left:5px;
	margin-right:5px;
	top:3px;
	top:4px\9;	/* hack for all of IE */
}

.buttonD	{
	float:right;
}
.buttonD ul {
    padding-left:2px;
    height:18px;
	float:left;
	margin-left:4px;
}
.buttonD li {
    padding-right:2px;
    height:18px;
	float:left;
}
.buttonD span {
    height:18px;
	display:block;
}
.buttonD a {
    color:#3c3864;
	letter-spacing:-1px;
	position:relative; 
	margin-left:5px;
	margin-right:5px;
	top:3px;
	top:4px\9;	/* hack for all of IE */
}


/*  Contents  */
.contents	{
	border:1px solid #c4a4f8;
	position:absolute; 
	top:79px; 
	left:211px;
	width:800px;
	float:none;
	background-color:white;
}
.header-bg	{
	position:absolute;
	top:0px;
	width:100%;
	z-index:100;
	background-color:#c1e397;
	height:30px;
}
.header-bg-viewall	{
	position:absolute;
	top:0px;
	width:100%;
	z-index:100;
	background-color:#c1e397;
	min-height:30px;
}
.header	{
	margin:6px;
	float:left;
}
.header-none	{
	height:30px;
}
.title	{
	font-size:14px;
	letter-spacing:-2px;
	font-weight:bold;
	color:#5f09ec;
	float:left;
}
.desc	{
	color:#594c90;
	letter-spacing:-1px;
	line-height:17px;
	margin-left:15px;
	float:left;
}
.desc-tit	{
	font-weight:bold;
	margin-top:12px;
	clear:both;
	padding-left:15px;
	color:#32028b;
}
a.viewall, a:visited.viewall	{
	color:#99aa93;
	text-decoration:underline;
}
a:hover.viewall	{
	color:#594c90;
	text-decoration:underline;
}
.viewall-box	{
	height:20px;
	height:30px\9;	/* hack for all of IE */;
	margin-top:20px;
}
.function	{
	width:750px;
	margin:25px 0 0 24px;
	float:left;
	clear:both;
}
.f-option-bg	{
	float:auto;
	clear:both;
	margin-top:5px;
	background-color:#fff8ae;
	padding:8px;

	max-height:150px;
	overflow:auto;
	overflow-x:hidden;
}
.f-option-container	{
	float:left;
}
.f-option-block, .f-option-title	{
	float:left;
}
.f-option-block-r		{
	float:right;
}
.f-option-title	{
	font-weight:bold;
	color:#5f5e5e;
}
.sheet	{
	width:150px;
	float:left;
	margin-top:6px;
}
.performance ul.perf-ul	{
	clear:both;
}
.performance li.perf-li	{	
	width:365px;	
	margin-bottom:10px;
}
.eventlog-l	{
	width:230px;
	height:343px;
	padding:9px;
	background-color:#e1f3fa;
	border:1px solid #d1dafb;
	color:#0064e6;
	overflow:auto;
}
.eventlog-r	{
	width:480px;
}
.datasample	{
	padding:5px;
}
.logo-ibleaders	{ 
	float:left;
	clear:both;
	position:absolute;
	bottom:30px;
	left:20px;
	}

.f-table td, .f-table th	{
	background-color:#fffeef;
	border:1px solid #ffe38f;
	padding:2px 5px;
}
.f-table th	{	padding:4px 5px;	}
.f-table a	{
	text-decoration:underline;
}

.auth-on	{
}
.auth-off	{
}

.space-bottom	{
	height:25px;
	clear:both;
	float:left;
	width:100px;
}
.btn-pages	{
	display:block;
	width:100%;
	text-align:center;
	float:left;
	padding-top:10px;
}

.image{
	position:relative
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
div#menuLeft {
    position:absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 200px;
    list-style: none;
    z-index:9999;
}

#leftframe{
	width:210px; 
	height:500px;
	position:absolute; 
	visibility:hidden;
	z-index:9999;
}

#files { margin:2em 0 5em; width:200px; }
.tree { font-size:1.5em; }
.tree,.tree ul,.tree li { list-style:none; margin:0; padding:0; zoom: 1; }
.tree ul { margin-left:8px; }
.tree li a { color:#555; padding:.1em 7px .1em 27px; display:block; text-decoration:none; border:1px dashed #fff; background:url(../images/tree/icon-file.gif) 5px 50% no-repeat; }
.tree li a.tree-parent { background:url(../images/tree/icon-folder-open.gif) 5px 50% no-repeat; }
.tree li a.tree-parent-collapsed { background:url(../images/tree/icon-folder.gif) 5px 50% no-repeat; }
.tree li a:hover,.tree li a.tree-parent:hover,.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active { color:#000; border:1px solid#eee; background-color:#fafafa; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active { border:1px solid #e2f3fb; background-color:#f2fafd; }
.tree ul.tree-group-collapsed { display:none; }


