<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.dq.stnd.service.WamCdValMapper">
  <resultMap id="BaseResultMap" type="kr.wise.dq.stnd.service.WamCdVal" extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap">
    <id column="CD_VAL_ID" property="cdValId" jdbcType="VARCHAR" />
    <result column="CD_VAL" property="cdVal" jdbcType="VARCHAR" />
    <result column="CD_VAL_NM" property="cdValNm" jdbcType="VARCHAR" />
    <result column="DMN_ID" property="dmnId" jdbcType="VARCHAR" />
    <result column="UPP_CD_VAL_ID" property="uppCdValId" jdbcType="VARCHAR" />
    <result column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" />
    <result column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" />
    <result column="RQST_DTL_SNO" property="rqstDtlSno" jdbcType="DECIMAL" />
    <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" />
    <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" />
    <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" />
    <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" />
    <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" />
    <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" />
    <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" />
    <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" />
    <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" />
    <result column="DISP_ORD" property="dispOrd" jdbcType="DECIMAL" />
    <result column="APL_STR_DT" property="aplStrDt" jdbcType="VARCHAR" />
    <result column="APL_END_DT" property="aplEndDt" jdbcType="VARCHAR" />
    <result column="EXP_DTM" property="expDtm" jdbcType="DATE" />
    <result column="STR_DTM" property="strDtm" jdbcType="DATE" />
    <result column="UPP_CD_VAL" property="uppCdVal" 	jdbcType="VARCHAR" />
    <result column="VV_NOTE1" property="vvNote1" 	jdbcType="VARCHAR" />
    <result column="VV_NOTE2" property="vvNote2" 	jdbcType="VARCHAR" />
    <result column="VV_NOTE3" property="vvNote3" 	jdbcType="VARCHAR" />
    <result column="VV_NOTE4" property="vvNote4" 	jdbcType="VARCHAR" />
    <result column="VV_NOTE5" property="vvNote5" 	jdbcType="VARCHAR" />
    <result column="VV_NOTE_NM1" property="vvNoteNm1" 	jdbcType="VARCHAR" />
    <result column="VV_NOTE_NM2" property="vvNoteNm2" 	jdbcType="VARCHAR" />
    <result column="VV_NOTE_NM3" property="vvNoteNm3" 	jdbcType="VARCHAR" />
    <result column="VV_NOTE_NM4" property="vvNoteNm4" 	jdbcType="VARCHAR" />
    <result column="VV_NOTE_NM5" property="vvNoteNm5" 	jdbcType="VARCHAR" />
    <result column="OUTL_CNTN1" property="outlCntn1" 	jdbcType="VARCHAR" />
    <result column="OUTL_CNTN2" property="outlCntn2" 	jdbcType="VARCHAR" />
    <result column="USE_YN" property="useYn" 	jdbcType="VARCHAR" />
    <result column="COMM_CD_NM" property="commCdNm" jdbcType="VARCHAR"/>
    <result column="ORG_NM" property="orgNm" jdbcType="VARCHAR"/>
    <result column="DB_NM" property="dbNm" jdbcType="VARCHAR"/>
  </resultMap>
   <resultMap id="BaseResultMapCode" type="kr.wise.dq.stnd.service.WamCdVal" >
        <id column="CD_VAL_ID" property="cdValId" jdbcType="VARCHAR" />
        <result column="LCCD"         property="lccd"          jdbcType="VARCHAR" />  
        <result column="MCCD"         property="mccd"          jdbcType="VARCHAR" />  
        <result column="SCCD"         property="sccd"          jdbcType="VARCHAR" />  
        <result column="LCLS_NM"      property="lclsNm"        jdbcType="VARCHAR" />  
        <result column="MDCF_NM"      property="mdcfNm"        jdbcType="VARCHAR" />  
        <result column="SCLS_NM"      property="sclsNm"        jdbcType="VARCHAR" />  
        <result column="USE_YN"       property="useYn"         jdbcType="VARCHAR" />  
        <result column="DISP_ORD"     property="dispOrd"       jdbcType="VARCHAR" />  
        <result column="ETC1"         property="etc1"          jdbcType="VARCHAR" />  
        <result column="ETC_NM1"      property="etcNm1"        jdbcType="VARCHAR" />  
        <result column="ETC2"         property="etc2"          jdbcType="VARCHAR" />  
        <result column="ETC_NM2"      property="etcNm2"        jdbcType="VARCHAR" />  
        <result column="ETC3"         property="etc3"          jdbcType="VARCHAR" />  
        <result column="ETC_NM3"      property="etcNm3"        jdbcType="VARCHAR" />  
        <result column="ETC4"         property="etc4"          jdbcType="VARCHAR" />  
        <result column="ETC_NM4"      property="etcNm4"        jdbcType="VARCHAR" />  
        <result column="ETC5"         property="etc5"          jdbcType="VARCHAR" />  
        <result column="ETC_NM5"      property="etcNm5"        jdbcType="VARCHAR" />  
        <result column="RMRK_CNTN"    property="rmrkCntn"      jdbcType="VARCHAR" />  
        <result column="OUTL_CNTN1"   property="outlCntn1"     jdbcType="VARCHAR" />  
        <result column="OUTL_CNTN2"   property="outlCntn2"     jdbcType="VARCHAR" />  
        <result column="DMN_LNM"      property="dmnLnm"        jdbcType="VARCHAR" />  
        <result column="DMN_PNM"      property="dmnPnm"        jdbcType="VARCHAR" />  
        <result column="DMN_ID"       property="dmnId"         jdbcType="VARCHAR" />  
        <result column="CD_VAL"       property="cdVal"         jdbcType="VARCHAR" />  
        <result column="CD_VAL_NM"       property="cdValNm"         jdbcType="VARCHAR" />  
        <result column="UPP_CD_VAL"       property="uppCdVal"         jdbcType="VARCHAR" />  
        <result column="CODE_LEVEL"       property="codeLevel"         jdbcType="VARCHAR" />
  </resultMap>  
  <sql id="Base_Column_List" >
    CD_VAL_ID, CD_VAL, CD_VAL_NM, DMN_ID, UPP_CD_VAL_ID, RQST_NO, RQST_SNO, RQST_DTL_SNO, 
    OBJ_DESCN, OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, 
    APRV_DTM, APRV_USER_ID, DISP_ORD, APL_STR_DT, APL_END_DT, 
    VV_NOTE1, VV_NOTE2, VV_NOTE3, VV_NOTE4, VV_NOTE5, VV_NOTE_NM1, VV_NOTE_NM2, VV_NOTE_NM3, VV_NOTE_NM4, VV_NOTE_NM5, OUTL_CNTN1, OUTL_CNTN2, USE_YN
  </sql>
<select id="selectDmnValueList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    
    SELECT A.*
      ,GET_CD_VAL_NM(A.UPP_CD_VAL_ID) AS UPP_CD_VAL
      FROM WAM_CD_VAL A 
     INNER JOIN WAM_DMN B
        ON A.DMN_ID = B.DMN_ID
       AND B.REG_TYP_CD IN ('C', 'U')
      <where>
       AND A.DMN_ID = #{dmnId,jdbcType=VARCHAR}
      </where>
      
  </select>
  
  <select id="selectDmnValueChangeList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    
    SELECT A.*
    	 , CASE WHEN A.EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d') AND A.REG_TYP_CD IN ('C', 'U') THEN '#0000FF'
    	   ELSE NULL END AS FontColor
      FROM WAH_CD_VAL A 
     INNER JOIN WAM_DMN B
        ON A.DMN_ID = B.DMN_ID
       AND B.REG_TYP_CD IN ('C', 'U')
      <where>
       AND A.DMN_ID = #{dmnId,jdbcType=VARCHAR}
      </where>
     ORDER BY A.CD_VAL, EXP_DTM DESC, STR_DTM DESC
  </select>
  <select id="selectSimpleCodeLst" resultMap="BaseResultMapCode" parameterType="kr.wise.dq.stnd.service.WamCdVal" >
SELECT 
A.DMN_DSCD                           LCCD                --대분류코드          
,''                           MCCD                 --중분류코드                            
,B.CD_VAL                              SCCD              --소분류코드                          
,A.DMN_LNM                            LCLS_NM            --대분류코드명                            
,''                          MDCF_NM            --증분류코드명                           
,B.CD_VAL_NM                          SCLS_NM            --소분류코드명    
,USE_YN                              USE_YN        --사용여부
,DISP_ORD                            DISP_ORD           --표시순서
,VV_NOTE1                            ETC1              
,VV_NOTE_NM1                             ETC_NM1           
,VV_NOTE2                           ETC2              
,VV_NOTE_NM2                             ETC_NM2           
,VV_NOTE3                             ETC3              
,VV_NOTE_NM3                          ETC_NM3           
,VV_NOTE4                          ETC4              
,VV_NOTE_NM4                          ETC_NM4           
,VV_NOTE5                          ETC5              
,VV_NOTE_NM5                          ETC_NM5           
,B.OBJ_DESCN                          RMRK_CNTN             --비고
,B.OUTL_CNTN1                         OUTL_CNTN1        
,B.OUTL_CNTN2                          OUTL_CNTN2        
,A.DMN_LNM                             DMN_LNM           
,A.DMN_PNM                             DMN_PNM           
,A.DMN_ID                              DMN_ID            
,B.CD_VAL_ID                           CD_VAL_ID             
FROM WAM_DMN A                        
INNER JOIN WAM_CD_VAL B             
ON A.DMN_ID = B.DMN_ID              
AND A.CD_VAL_TYP_CD = 'O'           
WHERE A.REG_TYP_CD IN ('C', 'U')
AND B.REG_TYP_CD IN ('C', 'U') 
 
 <if test='dmnLnm != null'>
 AND (A.DMN_LNM LIKE '%'||#{dmnLnm,jdbcType=VARCHAR}||'%' OR A.DMN_PNM LIKE '%'||#{dmnLnm,jdbcType=VARCHAR}||'%') 
</if>
 <if test='cdVal != null'>     
AND (A.DMN_DSCD LIKE '%'||#{cdVal,jdbcType=VARCHAR}||'%' OR B.CD_VAL LIKE '%'||#{cdVal,jdbcType=VARCHAR}||'%')
</if>
 <if test='cdValNm != null'>  
AND (A.DMN_LNM LIKE '%'||#{cdValNm,jdbcType=VARCHAR}||'%' OR B.CD_VAL_NM LIKE '%'||#{cdValNm,jdbcType=VARCHAR}||'%')
</if>
AND UPP_CD_VAL_ID IS NULL    
UNION ALL                           
SELECT 
A.DMN_DSCD                           LCCD                --대분류코드          
,B.CD_VAL                           MCCD                 --중분류코드                            
,C.CD_VAL                              SCCD              --소분류코드                          
,A.DMN_LNM                            LCLS_NM            --대분류코드명                            
,B.CD_VAL_NM                          MDCF_NM            --증분류코드명                           
,C.CD_VAL_NM                          SCLS_NM            --소분류코드명                             
,C.USE_YN                             USE_YN        --사용여부                              
,C.DISP_ORD                           DISP_ORD           --표시순서                               
,C.VV_NOTE1                           ETC1                                                         
,C.VV_NOTE_NM1                             ETC_NM1                                                   
,C.VV_NOTE2                           ETC2                                                         
,C.VV_NOTE_NM2                             ETC_NM2                                                   
,C.VV_NOTE3                            ETC3                                                         
,C.VV_NOTE_NM3                         ETC_NM3                                                      
,C.VV_NOTE4                        ETC4                                                            
,C.VV_NOTE_NM4                          ETC_NM4                                                      
,C.VV_NOTE5                        ETC5                                                            
,C.VV_NOTE_NM5                          ETC_NM5                                                      
,C.OBJ_DESCN                         RMRK_CNTN             --비고                                 
,C.OUTL_CNTN1                         OUTL_CNTN1                                                   
,C.OUTL_CNTN2                          OUTL_CNTN2                                                   
,A.DMN_LNM                             DMN_LNM                                                      
,A.DMN_PNM                             DMN_PNM                                                              
,A.DMN_ID                              DMN_ID                                                               
,C.CD_VAL_ID                           CD_VAL_ID      
 FROM WAM_DMN A            
 INNER JOIN WAM_CD_VAL B   
 ON A.DMN_ID = B.DMN_ID                                                              
AND A.CD_VAL_TYP_CD = 'O'           
INNER JOIN WAM_CD_VAL C             
ON B.CD_VAL_ID = C.UPP_CD_VAL_ID    
WHERE A.REG_TYP_CD IN ('C', 'U')
AND B.REG_TYP_CD IN ('C', 'U') 
 <if test='dmnLnm != null'>
 AND (A.DMN_LNM LIKE '%'||#{dmnLnm,jdbcType=VARCHAR}||'%' OR A.DMN_PNM LIKE '%'||#{dmnLnm,jdbcType=VARCHAR}||'%') 
</if>
 <if test='cdVal != null'>     
AND (A.DMN_DSCD LIKE '%'||#{cdVal,jdbcType=VARCHAR}||'%' OR B.CD_VAL LIKE '%'||#{cdVal,jdbcType=VARCHAR}||'%' OR C.CD_VAL LIKE '%'||#{cdVal,jdbcType=VARCHAR}||'%')
</if>
 <if test='cdValNm != null'>  
AND (A.DMN_LNM LIKE '%'||#{cdValNm,jdbcType=VARCHAR}||'%' OR B.CD_VAL_NM LIKE '%'||#{cdValNm,jdbcType=VARCHAR}||'%' OR C.CD_VAL_NM LIKE '%'||#{cdValNm,jdbcType=VARCHAR}||'%')
</if>
AND C.UPP_CD_VAL_ID IS NOT NULL   
ORDER BY DMN_LNM,LCCD,SCCD, DISP_ORD     
  </select>
   <select id="selectComplexCodeLst" resultMap="BaseResultMapCode" parameterType="kr.wise.dq.stnd.service.WamCdVal" >
SELECT  LEVEL AS CODE_LEVEL,A.* FROM (
SELECT  A.DMN_ID                              DMN_ID                                                               
,A.DMN_LNM                             DMN_LNM                                                      
,A.DMN_PNM                             DMN_PNM                
,A.DMN_DSCD                              CD_VAL                 
,NULL                           UPP_CD_VAL
,'000' AS UPP_CD_VAL_ID
,A.DMN_LNM                           CD_VAL_NM  
--,'1'                            AS CODE_LEVEL
,'Y'                              USE_YN           
,1                            DISP_ORD                            
,''                            ETC1                                                         
,''                         ETC_NM1                                                   
,''                            ETC2                                                         
,''                         ETC_NM2                                                   
,''                            ETC3                                                         
,''                         ETC_NM3                                                      
,''                            ETC4                                                            
,''                         ETC_NM4                                                      
,''                            ETC5                                                            
,''                         ETC_NM5                                                      
,''                           RMRK_CNTN                                 
,''                          OUTL_CNTN1                                                   
,''                          OUTL_CNTN2                                                                        
,''                           CD_VAL_ID      
 FROM WAM_DMN A      
WHERE A.CD_VAL_TYP_CD = 'C' 
AND A.REG_TYP_CD IN ('C', 'U')
UNION ALL
SELECT 
 A.DMN_ID                              DMN_ID                                                               
,A.DMN_LNM                             DMN_LNM                                                      
,A.DMN_PNM                             DMN_PNM                
,B.CD_VAL                              CD_VAL                 
,IFNULL(GET_CD_VAL(B.UPP_CD_VAL_ID),A.DMN_DSCD)  UPP_CD_VAL
,B.UPP_CD_VAL_ID
,B.CD_VAL_NM                           CD_VAL_NM  
--,LEVEL AS CODE_LEVEL
,B.USE_YN                              USE_YN           
,NULL   --B.DISP_ORD                            DISP_ORD                            
,B.VV_NOTE1                            ETC1                                                         
,B.VV_NOTE_NM1                         ETC_NM1                                                   
,B.VV_NOTE2                            ETC2                                                         
,B.VV_NOTE_NM2                         ETC_NM2                                                   
,B.VV_NOTE3                            ETC3                                                         
,B.VV_NOTE_NM3                         ETC_NM3                                                      
,B.VV_NOTE4                            ETC4                                                            
,B.VV_NOTE_NM4                         ETC_NM4                                                      
,B.VV_NOTE5                            ETC5                                                            
,B.VV_NOTE_NM5                         ETC_NM5                                                      
,B.OBJ_DESCN                           RMRK_CNTN                                 
,B.OUTL_CNTN1                          OUTL_CNTN1                                                   
,B.OUTL_CNTN2                          OUTL_CNTN2                                                                        
,B.CD_VAL_ID                           CD_VAL_ID      
 FROM WAM_DMN A            
 INNER JOIN WAM_CD_VAL B   
 ON A.DMN_ID = B.DMN_ID                                                              
AND A.CD_VAL_TYP_CD = 'C'           
WHERE A.REG_TYP_CD IN ('C', 'U')
AND B.REG_TYP_CD IN ('C', 'U')       
) A
WHERE 1=1
 <if test='dmnLnm != null'>
 AND (A.DMN_LNM LIKE '%'||#{dmnLnm,jdbcType=VARCHAR}||'%' OR A.DMN_PNM LIKE '%'||#{dmnLnm,jdbcType=VARCHAR}||'%') 
</if>
 <if test='cdVal != null'>     
AND A.CD_VAL LIKE '%'||#{cdVal,jdbcType=VARCHAR}||'%'
</if>
 <if test='cdValNm != null'>  
AND A.CD_VAL_NM LIKE '%'||#{cdValNm,jdbcType=VARCHAR}||'%'
</if>
 <if test='uppCdVal != null'>  
AND A.UPP_CD_VAL LIKE '%'||#{uppCdVal,jdbcType=VARCHAR}||'%'
</if>    
START WITH UPP_CD_VAL IS NULL
CONNECT BY PRIOR CD_VAL = UPP_CD_VAL
ORDER BY DMN_LNM, CD_VAL
  </select>
  
  <select id="selectList" resultMap="BaseResultMap" parameterType="kr.wise.dq.stnd.service.WamCdVal" >
  	SELECT * FROM 
  	
  	(SELECT A.*,
  		   GET_USER_NM(A.FRS_RQST_USER_ID) AS FRS_RQST_USER_NM,
    	   GET_USER_NM(A.RQST_USER_ID) AS RQST_USER_NM,
    	   GET_USER_NM(A.APRV_USER_ID) AS APRV_USER_NM
   	FROM WAM_CD_VAL A) FSQ -- 임시 Alias
  	<where>
		AND REG_TYP_CD IN ('C', 'U')
      <if test="uppCdVal != null" >
        AND UPPER(UPP_CD_VAL) LIKE CONCAT('%' , UPPER(#{uppCdVal,jdbcType=VARCHAR}) , '%')
      </if>
      <if test="cdVal != null" >
        AND CD_VAL = #{cdVal,jdbcType=VARCHAR}
      </if>
      <if test="cdValNm != null" >
        AND CD_VAL_NM = #{cdValNm,jdbcType=VARCHAR}
      </if>
      <if test="objDescn != null" >
        AND OBJ_DESCN LIKE CONCAT('%' , #{objDescn,jdbcType=VARCHAR} , '%')
      </if>
      <if test="objVers != null" >
        AND OBJ_VERS = #{objVers,jdbcType=DECIMAL}
      </if>
      <if test="regTypCd != null" >
        AND REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR}
      </if>
      <if test="frsRqstDtm != null" >
        AND FRS_RQST_DTM = #{frsRqstDtm,jdbcType=DATE}
      </if>
      <if test="frsRqstUserId != null" >
        AND FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR}
      </if>
      <if test="rqstDtm != null" >
        AND RQST_DTM = #{rqstDtm,jdbcType=DATE}
      </if>
      <if test="rqstUserId != null" >
        AND RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR}
      </if>
      <if test="aprvDtm != null" >
        AND APRV_DTM = #{aprvDtm,jdbcType=DATE}
      </if>
      <if test="aprvUserId != null" >
        AND APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR}
      </if>
      <if test="searchBgnDe !=null and searchBgnDe !=''">
		<![CDATA[ AND DATE_FORMAT(APRV_DTM, '%Y-%m-%d') >= #{searchBgnDe} ]]>
	  </if>
	  <if test="searchEndDe !=null and searchEndDe !=''">
		<![CDATA[ AND DATE_FORMAT(APRV_DTM, '%Y-%m-%d') <= #{searchEndDe} ]]>
	  </if>
	  <if test="orgNm != null" >
        AND UPPER(ORG_NM) LIKE CONCAT('%',UPPER(#{orgNm,jdbcType=VARCHAR}),'%')
      </if>
	  <if test="commCdNm != null" >
        AND UPPER(COMM_CD_NM) LIKE CONCAT('%',UPPER(#{commCdNm,jdbcType=VARCHAR}),'%')
      </if>      
  	</where>
  	ORDER BY CD_VAL_NM
  </select>  
  
	<insert id="insertSelective" parameterType="kr.wise.dq.stnd.service.WamCdVal" >
	    insert into WAM_CD_VAL
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="cdValId != null" >
	        CD_VAL_ID,
	      </if>
	      <if test="cdVal != null" >
	        CD_VAL,
	      </if>
	      <if test="cdValNm != null" >
	        CD_VAL_NM,
	      </if>
	      <if test="dmnId != null" >
	        DMN_ID,
	      </if>
	      <if test="orgNm != null">
	      	ORG_NM,
	      </if>
	      <if test="commCdNm != null">
	      	COMM_CD_NM,
	      </if>
	      <if test="rqstNo != null" >
	        RQST_NO,
	      </if>
	      <if test="rqstSno != null" >
	        RQST_SNO,
	      </if>
	      <if test="objDescn != null" >
	        OBJ_DESCN,
	      </if>
	      <if test="objVers != null" >
	        OBJ_VERS,
	      </if>
	      <if test="regTypCd != null" >
	        REG_TYP_CD,
	      </if>
	        FRS_RQST_DTM,
	      <if test="frsRqstUserId != null" >
	        FRS_RQST_USER_ID,
	      </if>
	        RQST_DTM,
	      <if test="rqstUserId != null" >
	        RQST_USER_ID,
	      </if>
	      <if test="aprvDtm != null" >
	        APRV_DTM,
	      </if>
	      <if test="aprvUserId != null" >
	        APRV_USER_ID,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="cdValId != null" >
	        #{cdValId, jdbcType=VARCHAR},
	      </if>
	      <if test="cdVal != null" >
	        #{cdVal, jdbcType=VARCHAR},
	      </if>
	      <if test="cdValNm != null" >
	        #{cdValNm, jdbcType=VARCHAR},
	      </if>
	      <if test="dmnId != null" >
	        #{dmnId, jdbcType=VARCHAR},
	      </if>
	      <if test="orgNm != null">
	      	#{orgNm, jdbcType=VARCHAR},
	      </if>
	      <if test="commCdNm != null">
	      	#{commCdNm, jdbcType=VARCHAR},
	      </if>	      
	      <if test="rqstNo != null" >
	        #{rqstNo,jdbcType=VARCHAR},
	      </if>
	      <if test="rqstSno != null" >
	        #{rqstSno,jdbcType=DECIMAL},
	      </if>
	      <if test="objDescn != null" >
	        #{objDescn,jdbcType=VARCHAR},
	      </if>
	      <if test="objVers != null" >
	        #{objVers,jdbcType=DECIMAL},
	      </if>
	      <if test="regTypCd != null" >
	        #{regTypCd,jdbcType=VARCHAR},
	      </if>
	        now(),
	      <if test="frsRqstUserId != null" >
	        #{frsRqstUserId,jdbcType=VARCHAR},
	      </if>
	        now(),
	      <if test="rqstUserId != null" >
	        #{rqstUserId,jdbcType=VARCHAR},
	      </if>
	      <if test="aprvDtm != null" >
	        #{aprvDtm,jdbcType=DATE},
	      </if>
	      <if test="aprvUserId != null" >
	        #{aprvUserId,jdbcType=VARCHAR},
	      </if>
	    </trim>
	  </insert>
	  
	<update id="updateByPrimaryKey" parameterType="kr.wise.dq.stnd.service.WamCdVal" >
    update WAM_CD_VAL
    set CD_VAL = #{cdVal,jdbcType=VARCHAR},
      CD_VAL_NM = #{cdValNm, jdbcType=VARCHAR},
      DMN_ID = #{dmnId,jdbcType=VARCHAR},
      ORG_NM = #{orgNm,jdbcType=VARCHAR},
      COMM_CD_NM = #{commCdNm, jdbcType=VARCHAR},
      RQST_NO = #{rqstNo,jdbcType=VARCHAR},
      RQST_SNO = #{rqstSno,jdbcType=DECIMAL},
      REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      FRS_RQST_DTM = #{frsRqstDtm,jdbcType=DATE},
      FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      RQST_DTM = #{rqstDtm,jdbcType=DATE},
      RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      APRV_DTM = #{aprvDtm,jdbcType=DATE},
      APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR}
    where CD_VAL_ID = #{cdValId,jdbcType=VARCHAR}
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WAM_CD_VAL
    where CD_VAL_ID = #{cdValId,jdbcType=VARCHAR}
  </delete>
  
</mapper>