<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.dq.stnd.service.WamMsgMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.dq.stnd.service.WamMsg"  extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap">
    <id column="RQST_NO" 		property="rqstNo" 	jdbcType="VARCHAR" />
    <id column="RQST_SNO" 		property="rqstSno" 	jdbcType="DECIMAL" />
    <result column="MSG_ID" 	property="msgId" 	jdbcType="VARCHAR" />
    <result column="MSG_CD" 	property="msgCd" jdbcType="VARCHAR" />
    <result column="MSG_CONTS" 	property="msgConts" jdbcType="VARCHAR" />
    <result column="USE_YN" 	property="useYn" jdbcType="VARCHAR" />
    <result column="TYP_DIV_CD" 	property="typDivCd" jdbcType="VARCHAR" />
    <result column="BIZ_DIV_CD" 	property="bizDivCd" jdbcType="VARCHAR" />
    <result column="SYS_DIV_CD" 	property="sysDivCd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
  RQST_NO,RQST_SNO,MSG_ID,MSG_CD,MSG_CONTS,USE_YN,OBJ_DESCN,OBJ_VERS,REG_TYP_CD,FRS_RQST_DTM
,FRS_RQST_USER_ID,RQST_DTM,RQST_USER_ID,APRV_DTM,APRV_USER_ID,TYP_DIV_CD,BIZ_DIV_CD,SYS_DIV_CD
  </sql>
  
  <sql id="wam_col_list">
  	  RQST_NO,RQST_SNO,MSG_ID,MSG_CD,MSG_CONTS,USE_YN,OBJ_DESCN,OBJ_VERS,REG_TYP_CD,FRS_RQST_DTM
      ,FRS_RQST_USER_ID,RQST_DTM,RQST_USER_ID,APRV_DTM,APRV_USER_ID,TYP_DIV_CD,BIZ_DIV_CD,SYS_DIV_CD
  </sql>
  

  <select id="selectList" parameterType="kr.wise.dq.stnd.service.WamMsg" resultMap="BaseResultMap">
    SELECT A.*
	  FROM WAM_MSG A
	  <where>
	   1=1
	    <if test='msgCd != null '>
	      AND A.MSG_CD LIKE '%'||#{msgCd,jdbcType=VARCHAR}||'%'
	   </if>
	     <if test='useYn != null '>
	      AND A.USE_YN LIKE '%'||#{useYn,jdbcType=VARCHAR}||'%'
	   </if>
	     <if test='typDivCd != null '>
	      AND A.TYP_DIV_CD LIKE '%'||#{typDivCd,jdbcType=VARCHAR}||'%'
	   </if>
	     <if test='bizDivCd != null '>
	      AND A.BIZ_DIV_CD LIKE '%'||#{bizDivCd,jdbcType=VARCHAR}||'%'
	   </if>
	     <if test='objDescn != null '>
	      AND A.OBJ_DESCN LIKE '%'||#{objDescn,jdbcType=VARCHAR}||'%'
	   </if>
	   </where> 
  </select>
  
   <select id="selectMessageDtl" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT A.*
	  FROM WAM_MSG A
	  <where>
	   MSG_ID = #{msgId,jdbcType=VARCHAR}  
	   </where> 
  </select>
   <select id="selectChangeList" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT A.*
	  FROM WAH_MSG A
	  <where>
	   MSG_ID = #{msgId,jdbcType=VARCHAR}  
	   </where> 
	ORDER BY OBJ_VERS DESC
  </select>
  
  
</mapper>



