<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.dq.stnd.service.WamStwdAbrMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.dq.stnd.service.WamStwdAbr" >
    <result column="ABR_ID" property="abrId" jdbcType="VARCHAR" />
    <result column="DTL_SEQ" property="dtlSeq" jdbcType="DECIMAL" />
    <result column="STR_DTM" property="strDtm" jdbcType="TIMESTAMP" />
    <result column="ORGL_USER" property="orglUser" jdbcType="VARCHAR" />
    <result column="RESULT_CD" property="resultCd" jdbcType="VARCHAR" />
    <result column="RESULT_TXT" property="resultTxt" jdbcType="VARCHAR" />
    <result column="TERM_KNM" property="termKnm" jdbcType="VARCHAR" />
    <result column="ENG_FULL_NM" property="engFullNm" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="DEFINITION" property="definition" jdbcType="VARCHAR" />
    <result column="CHIN_CHAR" property="chinChar" jdbcType="VARCHAR" />
    <result column="SRC_TYPE" property="srcType" jdbcType="VARCHAR" />
    <result column="DICTION_TYPE" property="dictionType" jdbcType="VARCHAR" />
    <result column="INIT_ENM_01" property="initEnm01" jdbcType="VARCHAR" />
    <result column="INIT_ENM_02" property="initEnm02" jdbcType="VARCHAR" />
    <result column="INIT_ENM_03" property="initEnm03" jdbcType="VARCHAR" />
    <result column="INIT_ENM_04" property="initEnm04" jdbcType="VARCHAR" />
    <result column="INIT_ENM_05" property="initEnm05" jdbcType="VARCHAR" />
    <result column="INIT_ENM_06" property="initEnm06" jdbcType="VARCHAR" />
    <result column="ERR_TXT_01" property="errTxt01" jdbcType="VARCHAR" />
    <result column="ERR_TXT_02" property="errTxt02" jdbcType="VARCHAR" />
    <result column="ERR_TXT_03" property="errTxt03" jdbcType="VARCHAR" />
    <result column="ERR_TXT_04" property="errTxt04" jdbcType="VARCHAR" />
    <result column="ERR_TXT_05" property="errTxt05" jdbcType="VARCHAR" />
    <result column="ERR_TXT_06" property="errTxt06" jdbcType="VARCHAR" />
    <result column="GEN_RULE" property="genRule" jdbcType="VARCHAR" />
    <result column="KOR_FULL_NM" property="korFullNm" jdbcType="VARCHAR" />
    <result column="KOR_DISP_NM" property="korDispNm" jdbcType="VARCHAR" />
    <result column="OVERLAP_COUNT" property="overlapCount" jdbcType="DECIMAL" />
    <result column="ABR_LENGTH" property="abrLength" jdbcType="DECIMAL" />
    <result column="WD_DCD" property="wdDcd" jdbcType="VARCHAR" />
    <result column="DMN_YN" property="dmnYn" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="insert" parameterType="kr.wise.dq.stnd.service.WamStwdAbr" >
    insert into WAM_STWD_ABR (ABR_ID, DTL_SEQ, STR_DTM, 
      ORGL_USER, RESULT_CD, RESULT_TXT, 
      TERM_KNM, ENG_FULL_NM, DESCRIPTION, 
      DEFINITION, CHIN_CHAR, SRC_TYPE, 
      DICTION_TYPE, INIT_ENM_01, INIT_ENM_02, 
      INIT_ENM_03, INIT_ENM_04, INIT_ENM_05, 
      INIT_ENM_06, ERR_TXT_01, ERR_TXT_02, 
      ERR_TXT_03, ERR_TXT_04, ERR_TXT_05, 
      ERR_TXT_06, GEN_RULE, KOR_FULL_NM, 
      KOR_DISP_NM)
    values (#{abrId,jdbcType=VARCHAR}, #{dtlSeq,jdbcType=DECIMAL}, #{strDtm,jdbcType=TIMESTAMP}, 
      #{orglUser,jdbcType=VARCHAR}, #{resultCd,jdbcType=VARCHAR}, #{resultTxt,jdbcType=VARCHAR}, 
      #{termKnm,jdbcType=VARCHAR}, #{engFullNm,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{definition,jdbcType=VARCHAR}, #{chinChar,jdbcType=VARCHAR}, #{srcType,jdbcType=VARCHAR}, 
      #{dictionType,jdbcType=VARCHAR}, #{initEnm01,jdbcType=VARCHAR}, #{initEnm02,jdbcType=VARCHAR}, 
      #{initEnm03,jdbcType=VARCHAR}, #{initEnm04,jdbcType=VARCHAR}, #{initEnm05,jdbcType=VARCHAR}, 
      #{initEnm06,jdbcType=VARCHAR}, #{errTxt01,jdbcType=VARCHAR}, #{errTxt02,jdbcType=VARCHAR}, 
      #{errTxt03,jdbcType=VARCHAR}, #{errTxt04,jdbcType=VARCHAR}, #{errTxt05,jdbcType=VARCHAR}, 
      #{errTxt06,jdbcType=VARCHAR}, #{genRule,jdbcType=VARCHAR}, #{korFullNm,jdbcType=VARCHAR}, 
      #{korDispNm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="kr.wise.dq.stnd.service.WamStwdAbr" >
    insert into WAM_STWD_ABR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="abrId != null" >
        ABR_ID,
      </if>
      <if test="dtlSeq != null" >
        DTL_SEQ,
      </if>
        STR_DTM,
      <if test="orglUser != null" >
        ORGL_USER,
      </if>
      <if test="resultCd != null" >
        RESULT_CD,
      </if>
      <if test="resultTxt != null" >
        RESULT_TXT,
      </if>
      <if test="termKnm != null" >
        TERM_KNM,
      </if>
      <if test="engFullNm != null" >
        ENG_FULL_NM,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="definition != null" >
        DEFINITION,
      </if>
      <if test="chinChar != null" >
        CHIN_CHAR,
      </if>
      <if test="srcType != null" >
        SRC_TYPE,
      </if>
      <if test="dictionType != null" >
        DICTION_TYPE,
      </if>
      <if test="initEnm01 != null" >
        INIT_ENM_01,
      </if>
      <if test="initEnm02 != null" >
        INIT_ENM_02,
      </if>
      <if test="initEnm03 != null" >
        INIT_ENM_03,
      </if>
      <if test="initEnm04 != null" >
        INIT_ENM_04,
      </if>
      <if test="initEnm05 != null" >
        INIT_ENM_05,
      </if>
      <if test="initEnm06 != null" >
        INIT_ENM_06,
      </if>
      <if test="errTxt01 != null" >
        ERR_TXT_01,
      </if>
      <if test="errTxt02 != null" >
        ERR_TXT_02,
      </if>
      <if test="errTxt03 != null" >
        ERR_TXT_03,
      </if>
      <if test="errTxt04 != null" >
        ERR_TXT_04,
      </if>
      <if test="errTxt05 != null" >
        ERR_TXT_05,
      </if>
      <if test="errTxt06 != null" >
        ERR_TXT_06,
      </if>
      <if test="genRule != null" >
        GEN_RULE,
      </if>
      <if test="korFullNm != null" >
        KOR_FULL_NM,
      </if>
      <if test="korDispNm != null" >
        KOR_DISP_NM,
      </if>
      <if test="wdDcd != null" >
        WD_DCD,
      </if>
      <if test="dmnYn != null" >
        DMN_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="abrId != null" >
        #{abrId,jdbcType=VARCHAR},
      </if>
      <if test="dtlSeq != null" >
        #{dtlSeq,jdbcType=DECIMAL},
      </if>
      now(),
      <if test="orglUser != null" >
        #{orglUser,jdbcType=VARCHAR},
      </if>
      <if test="resultCd != null" >
        #{resultCd,jdbcType=VARCHAR},
      </if>
      <if test="resultTxt != null" >
        #{resultTxt,jdbcType=VARCHAR},
      </if>
      <if test="termKnm != null" >
        #{termKnm,jdbcType=VARCHAR},
      </if>
      <if test="engFullNm != null" >
        #{engFullNm,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="definition != null" >
        #{definition,jdbcType=VARCHAR},
      </if>
      <if test="chinChar != null" >
        #{chinChar,jdbcType=VARCHAR},
      </if>
      <if test="srcType != null" >
        #{srcType,jdbcType=VARCHAR},
      </if>
      <if test="dictionType != null" >
        #{dictionType,jdbcType=VARCHAR},
      </if>
      <if test="initEnm01 != null" >
        #{initEnm01,jdbcType=VARCHAR},
      </if>
      <if test="initEnm02 != null" >
        #{initEnm02,jdbcType=VARCHAR},
      </if>
      <if test="initEnm03 != null" >
        #{initEnm03,jdbcType=VARCHAR},
      </if>
      <if test="initEnm04 != null" >
        #{initEnm04,jdbcType=VARCHAR},
      </if>
      <if test="initEnm05 != null" >
        #{initEnm05,jdbcType=VARCHAR},
      </if>
      <if test="initEnm06 != null" >
        #{initEnm06,jdbcType=VARCHAR},
      </if>
      <if test="errTxt01 != null" >
        #{errTxt01,jdbcType=VARCHAR},
      </if>
      <if test="errTxt02 != null" >
        #{errTxt02,jdbcType=VARCHAR},
      </if>
      <if test="errTxt03 != null" >
        #{errTxt03,jdbcType=VARCHAR},
      </if>
      <if test="errTxt04 != null" >
        #{errTxt04,jdbcType=VARCHAR},
      </if>
      <if test="errTxt05 != null" >
        #{errTxt05,jdbcType=VARCHAR},
      </if>
      <if test="errTxt06 != null" >
        #{errTxt06,jdbcType=VARCHAR},
      </if>
      <if test="genRule != null" >
        #{genRule,jdbcType=VARCHAR},
      </if>
      <if test="korFullNm != null" >
        #{korFullNm,jdbcType=VARCHAR},
      </if>
      <if test="korDispNm != null" >
        #{korDispNm,jdbcType=VARCHAR},
      </if>
      <if test="wdDcd != null" >
        #{wdDcd,jdbcType=VARCHAR},
      </if>
      <if test="dmnYn != null" >
        #{dmnYn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectStwdAbbreviatedList" parameterType="kr.wise.dq.stnd.service.WamStwdAbr" resultMap="BaseResultMap">
  SELECT A.*, LENGTH(A.INIT_ENM_06) AS ABR_LENGTH
  FROM WAM_STWD_ABR A
  <where>
  	<if test="abrId != null" >
       AND ABR_ID = #{abrId,jdbcType=VARCHAR}
    </if>
  </where>
  
  </select>
  <select id="checkOverlap" parameterType="java.lang.String" resultMap="BaseResultMap">
  	SELECT COUNT(1) AS OVERLAP_COUNT
  	FROM WAM_STWD
  	WHERE STWD_PNM = #{checkWord,jdbcType=VARCHAR}
  	AND REG_TYP_CD IN ('C', 'U')
  </select>
  
  
  
  
  
  <insert id="insertStndWordByAbr" parameterType="kr.wise.dq.stnd.service.WamStwdAbr" >
    INSERT INTO WAQ_STWD
    <trim prefix="(" suffix=")" suffixOverrides="," >
<!--       <if test="stwdId != null"> -->
<!--       	STWD_ID , -->
<!--       </if> -->
        RQST_NO,
        RQST_SNO,
      <if test="termKnm != null" >
        STWD_LNM,
      </if>
      <if test="initEnm06 != null" >
        STWD_PNM,
      </if>
        RQST_DCD,
      <if test="rvwStsCd != null" >
        RVW_STS_CD,
      </if>
      <if test="engFullNm != null" >
        ENG_MEAN,
      </if>
      <if test="chinChar != null" >
        CCH_NM,
      </if>
      <if test="srcType != null" >
        ORG_DS,
      </if>
      <if test="description != null" >
        OBJ_DESCN,
      </if>
      <if test="dmnYn != null" >
        DMN_YN,
      </if>
        OBJ_VERS,
        FRS_RQST_DTM,
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID,
      </if>
		RQST_DTM,
		RQST_USER_ID
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
<!--       <if test="stwdId != null"> -->
<!--         #{stwdId,jdbcType=VARCHAR}, -->
<!--       </if> -->
        #{rqstNo,jdbcType=VARCHAR},
        (SELECT IFNULL(MAX(RQST_SNO), 0) + 1 FROM WAQ_STWD AS W_S WHERE RQST_NO = #{rqstNo}) ,
      <if test="termKnm != null" >
        #{termKnm,jdbcType=VARCHAR},
      </if>
      <if test="initEnm06 != null" >
        #{initEnm06,jdbcType=VARCHAR},
      </if>
        #{rqstDcd,jdbcType=VARCHAR},
      <if test="rvwStsCd != null" >
        #{rvwStsCd,jdbcType=VARCHAR},
      </if>
      <if test="engFullNm != null" >
        #{engFullNm,jdbcType=VARCHAR},
      </if>
      <if test="chinChar != null" >
        #{chinChar,jdbcType=VARCHAR},
      </if>
      <if test="srcType != null" >
        #{srcType,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="dmnYn != null" >
        #{dmnYn,jdbcType=VARCHAR},
      </if>
        1,
        now(),
      <if test="frsRqstUserId != null" >
        #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      now(),
      #{rqstUserId,jdbcType=VARCHAR}
    </trim>
  </insert>
  
   <delete id="delStwdAbrLst" parameterType="kr.wise.dq.stnd.service.WamStwdAbr" >
	DELETE FROM WAM_STWD_ABR 
	WHERE ABR_ID = #{abrId,jdbcType=VARCHAR}
	   AND TERM_KNM = #{termKnm,jdbcType=VARCHAR}
  </delete>
  
</mapper>