<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.dq.profile.mstr.service.WahPrfMstrMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.dq.profile.mstr.service.WahPrfMstrVO" >
    <id column="PRF_ID" property="prfId" jdbcType="VARCHAR" />
    <id column="PRF_KND_CD" property="prfKndCd" jdbcType="VARCHAR" />
    <id column="EXP_DTM" property="expDtm" jdbcType="TIMESTAMP" />
    <result column="STR_DTM" property="strDtm" jdbcType="TIMESTAMP" />
    <result column="PRF_NM" property="prfNm" jdbcType="VARCHAR" />
    <result column="DB_CONN_TRG_ID" property="dbConnTrgId" jdbcType="VARCHAR" />
    <result column="DB_SCH_ID" property="dbSchId" jdbcType="VARCHAR" />
    <result column="DBC_TBL_NM" property="dbcTblNm" jdbcType="VARCHAR" />
    <result column="OBJ_NM" property="objNm" jdbcType="VARCHAR" />
    <result column="ADT_CND_SQL" property="adtCndSql" jdbcType="VARCHAR" />
    <result column="HNT_SQL" property="hntSql" jdbcType="VARCHAR" />
    <result column="USE_YN" property="useYn" jdbcType="VARCHAR" />
    <result column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" />
    <result column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" />
    <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" />
    <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" />
    <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" />
    <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" />
    <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" />
    <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" />
    <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" />
    <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" />
    <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PRF_ID, PRF_KND_CD, EXP_DTM, STR_DTM, PRF_NM, DB_CONN_TRG_ID, DB_SCH_ID, DBC_TBL_NM, 
    OBJ_NM, ADT_CND_SQL, HNT_SQL, USE_YN, RQST_NO, RQST_SNO, OBJ_DESCN, OBJ_VERS, 
    REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from WAH_PRF_MSTR
    where PRF_ID = #{prfId,jdbcType=VARCHAR}
      and PRF_KND_CD = #{prfKndCd,jdbcType=VARCHAR}
      and EXP_DTM = #{expDtm,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from WAH_PRF_MSTR
    where PRF_ID = #{prfId,jdbcType=VARCHAR}
      and PRF_KND_CD = #{prfKndCd,jdbcType=VARCHAR}
      and EXP_DTM = #{expDtm,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="kr.wise.dq.profile.mstr.service.WahPrfMstrVO" >
    insert into WAH_PRF_MSTR (PRF_ID, PRF_KND_CD, EXP_DTM, 
      STR_DTM, PRF_NM, DB_CONN_TRG_ID, 
      DB_SCH_ID, DBC_TBL_NM, OBJ_NM, 
      ADT_CND_SQL, HNT_SQL, USE_YN, 
      RQST_NO, RQST_SNO, OBJ_DESCN, 
      OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, 
      FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, 
      APRV_DTM, APRV_USER_ID)
    values (#{prfId,jdbcType=VARCHAR}, #{prfKndCd,jdbcType=VARCHAR}, #{expDtm,jdbcType=TIMESTAMP}, 
      #{strDtm,jdbcType=TIMESTAMP}, #{prfNm,jdbcType=VARCHAR}, #{dbConnTrgId,jdbcType=VARCHAR}, 
      #{dbSchId,jdbcType=VARCHAR}, #{dbcTblNm,jdbcType=VARCHAR}, #{objNm,jdbcType=VARCHAR}, 
      #{adtCndSql,jdbcType=VARCHAR}, #{hntSql,jdbcType=VARCHAR}, #{useYn,jdbcType=VARCHAR}, 
      #{rqstNo,jdbcType=VARCHAR}, #{rqstSno,jdbcType=DECIMAL}, #{objDescn,jdbcType=VARCHAR}, 
      #{objVers,jdbcType=DECIMAL}, #{regTypCd,jdbcType=VARCHAR}, #{frsRqstDtm,jdbcType=TIMESTAMP}, 
      #{frsRqstUserId,jdbcType=VARCHAR}, #{rqstDtm,jdbcType=TIMESTAMP}, #{rqstUserId,jdbcType=VARCHAR}, 
      #{aprvDtm,jdbcType=TIMESTAMP}, #{aprvUserId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="kr.wise.dq.profile.mstr.service.WamPrfMstrVO" >
    insert into WAH_PRF_MSTR
    <trim prefix="(" suffix=")" suffixOverrides="," >
        PRF_ID,
        PRF_KND_CD,
        EXP_DTM,
        STR_DTM,
      <if test="prfNm != null" >
        PRF_NM,
      </if>
        DB_CONN_TRG_ID,
        DB_SCH_ID,
        DBC_TBL_NM,
        OBJ_NM,
      <if test="adtCndSql != null" >
        ADT_CND_SQL,
      </if>
      <if test="hntSql != null" >
        HNT_SQL,
      </if>
      <if test="useYn != null" >
        USE_YN,
      </if>
      <if test="rqstNo != null" >
        RQST_NO,
      </if>
      <if test="rqstSno != null" >
        RQST_SNO,
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
        OBJ_VERS,
      <if test="regTypCd != null" >
        REG_TYP_CD,
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM,
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID,
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM,
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID,
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM,
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID,
      </if>
	  <if test="mngUserId != null" >
        MNG_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{prfId,jdbcType=VARCHAR},
        #{prfKndCd,jdbcType=VARCHAR},
        DATE_FORMAT( '99991231', '%Y%m%d'),
        now(),
      <if test="prfNm != null" >
        #{prfNm,jdbcType=VARCHAR},
      </if>
        #{dbConnTrgId,jdbcType=VARCHAR},
        #{dbSchId,jdbcType=VARCHAR},
        #{dbcTblNm,jdbcType=VARCHAR},
        #{objNm,jdbcType=VARCHAR},
      <if test="adtCndSql != null" >
        #{adtCndSql,jdbcType=VARCHAR},
      </if>
      <if test="hntSql != null" >
        #{hntSql,jdbcType=VARCHAR},
      </if>
      <if test="useYn != null" >
        #{useYn,jdbcType=VARCHAR},
      </if>
      <if test="rqstNo != null" >
        #{rqstNo,jdbcType=VARCHAR},
      </if>
      <if test="rqstSno != null" >
        #{rqstSno,jdbcType=DECIMAL},
      </if>
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
      	(SELECT IFNULL(MAX(OBJ_VERS), 0) + 1 FROM  WAM_PRF_MSTR WHERE PRF_ID = #{prfId,jdbcType=VARCHAR} ),
      <if test="regTypCd != null" >
        #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        #{aprvUserId,jdbcType=VARCHAR},
      </if>
	  <if test="mngUserId != null" >
        #{mngUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.dq.profile.mstr.service.WahPrfMstrVO" >
    update WAH_PRF_MSTR
    <set >
      <if test="strDtm != null" >
        STR_DTM = #{strDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="prfNm != null" >
        PRF_NM = #{prfNm,jdbcType=VARCHAR},
      </if>
      <if test="dbConnTrgId != null" >
        DB_CONN_TRG_ID = #{dbConnTrgId,jdbcType=VARCHAR},
      </if>
      <if test="dbSchId != null" >
        DB_SCH_ID = #{dbSchId,jdbcType=VARCHAR},
      </if>
      <if test="dbcTblNm != null" >
        DBC_TBL_NM = #{dbcTblNm,jdbcType=VARCHAR},
      </if>
      <if test="objNm != null" >
        OBJ_NM = #{objNm,jdbcType=VARCHAR},
      </if>
      <if test="adtCndSql != null" >
        ADT_CND_SQL = #{adtCndSql,jdbcType=VARCHAR},
      </if>
      <if test="hntSql != null" >
        HNT_SQL = #{hntSql,jdbcType=VARCHAR},
      </if>
      <if test="useYn != null" >
        USE_YN = #{useYn,jdbcType=VARCHAR},
      </if>
      <if test="rqstNo != null" >
        RQST_NO = #{rqstNo,jdbcType=VARCHAR},
      </if>
      <if test="rqstSno != null" >
        RQST_SNO = #{rqstSno,jdbcType=DECIMAL},
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where PRF_ID = #{prfId,jdbcType=VARCHAR}
      and PRF_KND_CD = #{prfKndCd,jdbcType=VARCHAR}
      and EXP_DTM = #{expDtm,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="kr.wise.dq.profile.mstr.service.WahPrfMstrVO" >
    update WAH_PRF_MSTR
    set STR_DTM = #{strDtm,jdbcType=TIMESTAMP},
      PRF_NM = #{prfNm,jdbcType=VARCHAR},
      DB_CONN_TRG_ID = #{dbConnTrgId,jdbcType=VARCHAR},
      DB_SCH_ID = #{dbSchId,jdbcType=VARCHAR},
      DBC_TBL_NM = #{dbcTblNm,jdbcType=VARCHAR},
      OBJ_NM = #{objNm,jdbcType=VARCHAR},
      ADT_CND_SQL = #{adtCndSql,jdbcType=VARCHAR},
      HNT_SQL = #{hntSql,jdbcType=VARCHAR},
      USE_YN = #{useYn,jdbcType=VARCHAR},
      RQST_NO = #{rqstNo,jdbcType=VARCHAR},
      RQST_SNO = #{rqstSno,jdbcType=DECIMAL},
      OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR}
    where PRF_ID = #{prfId,jdbcType=VARCHAR}
      and PRF_KND_CD = #{prfKndCd,jdbcType=VARCHAR}
      and EXP_DTM = #{expDtm,jdbcType=TIMESTAMP}
  </update>
  
<!-- <update id="updateWahPrf" parameterType="java.lang.String" > -->
<!--  UPDATE ${wahTblNm}  -->
<!--       SET EXP_DTM = now() -->
<!--   WHERE EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d') -->
<!--      AND PRF_ID = #{prfId,jdbcType=VARCHAR} -->
<!--   </update> -->
  
 <update id="updateWahPrf" parameterType="map" >
 UPDATE ${wahTblNm} 
      SET EXP_DTM = now()
  WHERE EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
     AND PRF_ID = #{prfId,jdbcType=VARCHAR}
     <if test="prfKndCd == 'PC02'" >
     AND USER_DF_EFVA = #{subPrfObjNm,jdbcType=VARCHAR}
      </if>
     <if test="prfKndCd == 'PT02'" >
     AND DBC_COL_NM = #{subPrfObjNm,jdbcType=VARCHAR}
      </if>
  </update>
  
  <insert id="insertWahPrfMstr" parameterType="kr.wise.commons.rqstmst.service.WaqMstr" >
	insert into WAH_PRF_MSTR
	select
	         IFNULL(B.PRF_ID, A.PRF_ID) as PRF_ID
	       , A.PRF_KND_CD
	       , DATE_FORMAT( '99991231', '%Y%m%d') as EXP_DTM 
           , now() as STR_DTM
	       , A.PRF_NM
	       , A.DB_CONN_TRG_ID
	       , A.DB_SCH_ID
	       , A.DBC_TBL_NM
	       , A.OBJ_NM
	       , A.ADT_CND_SQL
	       , A.HNT_SQL
	       , A.USE_YN
           , A.RQST_NO
           , A.RQST_SNO
           , A.OBJ_DESCN
           , IFNULL(B.OBJ_VERS, 0) + 1 as OBJ_VERS
           , A.REG_TYP_CD
           , IFNULL(B.FRS_RQST_DTM, A.RQST_DTM) as FRS_RQST_DTM
           , IFNULL(B.FRS_RQST_USER_ID, A.RQST_USER_ID) as FRS_RQST_USER_ID
           , A.RQST_DTM
           , A.RQST_USER_ID
           , now() AS APRV_DTM   --A.APRV_DTM
           , A.RQST_USER_ID  AS APRV_USER_ID  <!-- #{aprvUserId,jdbcType=VARCHAR} --> 
	from WAQ_PRF_MSTR A
	      left outer join WAM_PRF_MSTR B
	       on A.PRF_ID = B.PRF_ID
	     and B.REG_TYP_CD in ('C','U')
	where A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
	  and A.VRF_CD = '1' --등록가능
  </insert>
  
  
  <update id="updateWahPrfExpDtm" parameterType="map" >
	update ${wahTblNm} A
	     set A.EXP_DTM = now()
<!-- 	set A.EXP_DTM = (select M.STR_DTM 
	                        from ${wahTblNm} B
	                               INNER JOIN WAH_PRF_MSTR M	                                
	                                   ON M.PRF_ID = B.PRF_ID
	                                  AND M.OBJ_VERS = B.OBJ_VERS
	                                  AND M.REG_TYP_CD IN ('C','U')	                                  
			              where A.PRF_ID = B.PRF_ID
			                 and A.OBJ_VERS = B.OBJ_VERS ) -->
    where A.EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
      and exists (select 1 from ${waqTblNm} B
	                 where A.PRF_ID = B.PRF_ID
	                    and B.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
	                    and A.OBJ_VERS = B.OBJ_VERS)
  </update>
  
</mapper>