<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.dq.profile.mstr.service.WaqPrfMstrMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.dq.profile.mstr.service.WaqPrfMstrVO" extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap">
    <result column="PRF_ID" property="prfId" jdbcType="VARCHAR" />
    <result column="PRF_KND_CD" property="prfKndCd" jdbcType="VARCHAR" />
    <result column="PRF_NM" property="prfNm" jdbcType="VARCHAR" />
    <result column="DB_CONN_TRG_ID" property="dbConnTrgId" jdbcType="VARCHAR" />
    <result column="DB_CONN_TRG_PNM" property="dbConnTrgPnm" jdbcType="VARCHAR" />
    <result column="DB_SCH_ID" property="dbSchId" jdbcType="VARCHAR" />
    <result column="DB_SCH_PNM" property="dbSchPnm" jdbcType="VARCHAR" />
    <result column="DBC_TBL_NM" property="dbcTblNm" jdbcType="VARCHAR" />
    <result column="OBJ_NM" property="objNm" jdbcType="VARCHAR" />
    <result column="ADT_CND_SQL" property="adtCndSql" jdbcType="VARCHAR" />
    <result column="HNT_SQL" property="hntSql" jdbcType="VARCHAR" />
    <result column="USE_YN" property="useYn" jdbcType="VARCHAR" />
    <result column="DQI_LNM" property="dqiLnm" jdbcType="VARCHAR" />
    <result column="DQI_ID" property="dqiId" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    RQST_NO, RQST_SNO, PRF_ID, PRF_KND_CD, PRF_NM, DB_CONN_TRG_ID, DB_SCH_ID, DBC_TBL_NM, 
    OBJ_NM, ADT_CND_SQL, HNT_SQL, USE_YN, RQST_DCD, RVW_STS_CD, RVW_CONTS, VRF_CD, 
    VRF_RMK, OBJ_DESCN, OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, 
    RQST_USER_ID, APRV_DTM, APRV_USER_ID
  </sql>
  
  <sql id="PRF_MSTR_RQST_COLUMN_LIST" >
        M.RQST_NO
       ,M.RQST_SNO
       ,M.PRF_ID
       ,M.PRF_KND_CD
       ,M.PRF_NM
       ,M.DB_CONN_TRG_ID
       ,M.DB_CONN_TRG_PNM
       ,M.DB_SCH_ID
       ,M.DB_SCH_PNM
       ,M.DBC_TBL_NM
       ,M.OBJ_NM
       ,M.ADT_CND_SQL
       ,M.HNT_SQL
       ,M.USE_YN
  </sql>
  
  <sql id="getPrfRqstDqi" >
	SELECT A.RQST_NO, A.PRF_NM
	       ,GROUP_CONCAT(A.DQI_LNM ORDER BY A.DQI_LNM SEPARATOR ',') AS DQI_LNM
	       ,GROUP_CONCAT(A.DQI_ID ORDER BY A.DQI_LNM SEPARATOR ',') AS DQI_ID
	  FROM (SELECT RQST_NO, PRF_NM, DQI_LNM, DQI_ID 
              FROM WAQ_PRF_DQI_MAP
             GROUP BY RQST_NO, PRF_NM, DQI_LNM, DQI_ID 
           )A
	 WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
	 GROUP BY A.RQST_NO, A.PRF_NM
  </sql> 
       
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from WAQ_PRF_MSTR
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </select>
  
  <select id="selectPrfKndCd" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select max(PRF_KND_CD) as PRF_KND_CD
    from WAQ_PRF_MSTR
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="kr.wise.dq.profile.mstr.service.WaqPrfMstrVO" >
    delete from WAQ_PRF_MSTR
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </delete>

  <insert id="insertSelective" parameterType="kr.wise.dq.profile.mstr.service.WaqPrfMstrVO" >
    insert into WAQ_PRF_MSTR
    <trim prefix="(" suffix=")" suffixOverrides="," >
        RQST_NO,
        RQST_SNO,
        PRF_KND_CD,
        DB_CONN_TRG_PNM,
        DB_SCH_PNM,
        DBC_TBL_NM,
        OBJ_NM,
        PRF_NM,
      <if test="prfId != null" >
        PRF_ID,
      </if>
      <if test="dbConnTrgId != null" >
        DB_CONN_TRG_ID,
      </if>
      <if test="dbSchId != null" >
        DB_SCH_ID,
      </if>
      <if test="adtCndSql != null" >
        ADT_CND_SQL,
      </if>
      <if test="hntSql != null" >
        HNT_SQL,
      </if>
      <if test="useYn != null" >
        USE_YN,
      </if>
      <if test="rqstDcd != null" >
        RQST_DCD,
      </if>
      <if test="rvwStsCd != null" >
        RVW_STS_CD,
      </if>
      <if test="rvwConts != null" >
        RVW_CONTS,
      </if>
      <if test="vrfCd != null" >
        VRF_CD,
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK,
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
      <if test="objVers != null" >
        OBJ_VERS,
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD,
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM,
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID,
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM,
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID,
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM,
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{rqstNo,jdbcType=VARCHAR},
<!--         #{rqstSno,jdbcType=DECIMAL},    -->
        (SELECT IFNULL(MAX(RQST_SNO), 0) + 1 FROM WAQ_PRF_MSTR FSQ WHERE RQST_NO = #{rqstNo}) ,
        TRIM(UPPER(#{prfKndCd,jdbcType=VARCHAR})),
        TRIM(UPPER(#{dbConnTrgPnm,jdbcType=VARCHAR})),
        TRIM(UPPER(#{dbSchPnm,jdbcType=VARCHAR})),
        TRIM(UPPER(#{dbcTblNm,jdbcType=VARCHAR})),
        TRIM(UPPER(#{objNm,jdbcType=VARCHAR})),
        TRIM(UPPER(#{prfNm,jdbcType=VARCHAR} ))  ,
      <if test="prfId != null" >
        #{prfId,jdbcType=VARCHAR},
      </if>
      <if test="dbConnTrgId != null" >
        #{dbConnTrgId,jdbcType=VARCHAR},
      </if>
      <if test="dbSchId != null" >
        #{dbSchId,jdbcType=VARCHAR},
      </if>
      <if test="adtCndSql != null" >
        #{adtCndSql,jdbcType=VARCHAR},
      </if>
      <if test="hntSql != null" >
        #{hntSql,jdbcType=VARCHAR},
      </if>
      <if test="useYn != null" >
        #{useYn,jdbcType=VARCHAR},
      </if>
      <if test="rqstDcd != null" >
        #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="rvwStsCd != null" >
        #{rvwStsCd,jdbcType=VARCHAR},
      </if>
      <if test="rvwConts != null" >
        #{rvwConts,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        #{aprvUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 요청 수정 등록 -->
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.dq.profile.mstr.service.WaqPrfMstrVO" >
    update WAQ_PRF_MSTR
    <set >
        PRF_KND_CD = TRIM(UPPER(#{prfKndCd,jdbcType=VARCHAR})),
        DB_CONN_TRG_PNM = TRIM(UPPER(#{dbConnTrgPnm,jdbcType=VARCHAR})),
        DB_SCH_PNM =TRIM(UPPER(#{dbSchPnm,jdbcType=VARCHAR})),
        DBC_TBL_NM =  TRIM(UPPER(#{dbcTblNm,jdbcType=VARCHAR})),
        OBJ_NM = TRIM(UPPER(#{objNm,jdbcType=VARCHAR})),
        PRF_NM = TRIM(UPPER(#{prfNm,jdbcType=VARCHAR} )), 
      <if test="prfId != null" >
        PRF_ID = #{prfId,jdbcType=VARCHAR},
      </if>
      <if test="dbConnTrgId != null" >
        DB_CONN_TRG_ID = #{dbConnTrgId,jdbcType=VARCHAR},
      </if>
      <if test="dbSchId != null" >
        DB_SCH_ID = #{dbSchId,jdbcType=VARCHAR},
      </if>
      <if test="adtCndSql != null" >
        ADT_CND_SQL = #{adtCndSql,jdbcType=VARCHAR},
      </if>
      <if test="hntSql != null" >
        HNT_SQL = #{hntSql,jdbcType=VARCHAR},
      </if>
      <if test="useYn != null" >
        USE_YN = #{useYn,jdbcType=VARCHAR},
      </if>
      <if test="rqstDcd != null" >
        RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="rvwStsCd != null" >
        RVW_STS_CD = #{rvwStsCd,jdbcType=VARCHAR},
      </if>
      <if test="rvwConts != null" >
        RVW_CONTS = #{rvwConts,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </update>

<!-- 검증 -->
<update id="updatePrfInfo" parameterType="java.lang.String" >
  update WAQ_PRF_MSTR A
       set (A.REG_TYP_CD , A.OBJ_VERS  , A.FRS_RQST_DTM , A.FRS_RQST_USER_ID, A.PRF_ID ) 
           =(select case when A.RQST_DCD = 'DD' then 'D' else case when MAX(B.PRF_ID) IS NULL then 'C' else 'U' end end
                     ,case when max(B.OBJ_VERS) is null then 1
                             else max(B.OBJ_VERS) + 1
                             end as OBJ_VERS
                     , IFNULL(MAX(B.FRS_RQST_DTM), A.RQST_DTM) as FRS_RQST_DTM
           			 , IFNULL(MAX(B.FRS_RQST_USER_ID), A.RQST_USER_ID) as FRS_RQST_USER_ID           
           			 , IFNULL(MAX(B.PRF_ID) ,A.PRF_ID) as PRF_ID           
              from WAM_PRF_MSTR B
            where B.REG_TYP_CD in ('C','U')
               and B.PRF_KND_CD = A.PRF_KND_CD
               and B.DB_CONN_TRG_ID = A.DB_CONN_TRG_ID 
               and B.DB_SCH_ID = A.DB_SCH_ID 
               and UPPER(B.DBC_TBL_NM) = TRIM(UPPER(A.DBC_TBL_NM))
               and UPPER(B.OBJ_NM) =  TRIM(UPPER(A.OBJ_NM))  )
     where A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
</update>
  
<update id="updatePrfDtlInfo" parameterType="map" >
  update ${tblNm} A
       set (A.REG_TYP_CD , A.OBJ_VERS  , A.FRS_RQST_DTM , A.FRS_RQST_USER_ID, A.PRF_ID ) 
           =(select B.REG_TYP_CD , B.OBJ_VERS  , B.FRS_RQST_DTM , B.FRS_RQST_USER_ID, B.PRF_ID       
              from WAQ_PRF_MSTR B
            where B.RQST_NO = A.RQST_NO
               and B.RQST_SNO = A.RQST_SNO
<!--                and B.REG_TYP_CD in ('C','U') -->
                )
     where A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
</update>

 <!--  엑셀일괄등록 체크 로직 -->
   <!--  검증코드 UPDATE  -->
<update id="updateCheckInit"  parameterType="map" >
  update ${tblNm} A
     set VRF_CD = '4' -- 검증전
         ,RVW_STS_CD = '0' -- 검토전
  where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
  
<!--    (A.REG_TYP_CD , A.OBJ_VERS , A.FRS_RQST_DTM , A.FRS_RQST_USER_ID ,A.PRF_ID) -->
</update>


<insert id="checkDupPrf" parameterType="map" >
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
	-- 검증쿼리
      AND EXISTS (SELECT 1
                  FROM WAQ_PRF_MSTR D
                  WHERE A.DB_CONN_TRG_ID = D.DB_CONN_TRG_ID
                    AND A.DB_SCH_ID = D.DB_SCH_ID
                    AND UPPER(A.DBC_TBL_NM) = TRIM(UPPER(D.DBC_TBL_NM))
                    AND UPPER(A.OBJ_NM) = TRIM(UPPER(D.OBJ_NM))
                    AND A.PRF_KND_CD = D.PRF_KND_CD
                    AND A.RQST_NO = D.RQST_NO
                    AND A.RQST_SNO != D.RQST_SNO
                  )
  </insert>
  
<!-- DB_CONN_TRG_ID  DB_SCH_ID DBC_TBL_NM OBJ_NM -->
<!-- 진단대상DB ID UDATE -->
<update id="updateDbConnTrgId"  parameterType="java.lang.String" >
  update WAQ_PRF_MSTR M
       set M.DB_CONN_TRG_ID = (SELECT D.DB_CONN_TRG_ID
									     FROM WAA_DB_CONN_TRG D
									    WHERE D.EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
									      AND D.REG_TYP_CD IN ('C','U')
									      AND UPPER(M.DB_CONN_TRG_PNM) = TRIM(UPPER(D.DB_CONN_TRG_PNM)) ) 
  where M.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
</update>

<!-- 진단대상 스키마ID UDATE -->
<update id="updateDbSchId"  parameterType="java.lang.String" >
  update WAQ_PRF_MSTR M
       set M.DB_SCH_ID = (SELECT S.DB_SCH_ID
							     FROM WAA_DB_CONN_TRG D
							             INNER JOIN WAA_DB_SCH S
							                 ON D.DB_CONN_TRG_ID = S.DB_CONN_TRG_ID
							                AND S.EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
								            AND S.REG_TYP_CD IN ('C','U') 
							    WHERE D.EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
								   AND D.REG_TYP_CD IN ('C','U')
								   AND M.DB_CONN_TRG_ID = S.DB_CONN_TRG_ID  
								   AND UPPER(M.DB_SCH_PNM) = TRIM(UPPER(S.DB_SCH_PNM)) ) 
  where M.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
</update>


<insert id="chkDbConnTrg" parameterType="map" >
 	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
   <![CDATA[ 
-- 검증쿼리
     AND A.DB_CONN_TRG_ID IS NULL
   ]]>
 </insert>
 
<insert id="chkDbSch" parameterType="map" >
 	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
   <![CDATA[ 
-- 검증쿼리
     AND A.DB_SCH_ID IS NULL
   ]]>
 </insert>
 
<insert id="chkDbcTbl" parameterType="map" >
 	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
   <![CDATA[ 
-- 검증쿼리
   AND NOT EXISTS (SELECT 1
		                   FROM WAT_DBC_TBL D
		                  WHERE A.DB_CONN_TRG_ID = D.DB_CONN_TRG_ID
		                     AND A.DB_SCH_ID = D.DB_SCH_ID
		                     AND UPPER(A.DBC_TBL_NM) = TRIM(UPPER(D.DBC_TBL_NM))	            
		                    -- AND IFNULL(D.REG_TYP, 'C') IN ('C','U')
		                  )
   ]]>
 </insert>
 
<insert id="chkDbcCol" parameterType="map" >
 	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
   <![CDATA[ 
-- 검증쿼리
   AND NOT EXISTS ( SELECT 1
				            FROM WAT_DBC_TBL D
				                    INNER JOIN WAT_DBC_COL C
				                        ON D.DB_SCH_ID = C.DB_SCH_ID
				                       AND D.DBC_TBL_NM = C.DBC_TBL_NM
				                    --   AND IFNULL(C.REG_TYP, 'C') IN ('C','U')
				           WHERE A.DB_CONN_TRG_ID = D.DB_CONN_TRG_ID
				              AND A.DB_SCH_ID = D.DB_SCH_ID
				              AND UPPER(A.DBC_TBL_NM) = TRIM(UPPER(C.DBC_TBL_NM))	            
				              AND UPPER(A.OBJ_NM) = TRIM(UPPER(C.DBC_COL_NM))            
				           --   AND IFNULL(D.REG_TYP, 'C') IN ('C','U')
				            )
   ]]>
 </insert>
  
 <insert id="checkNotExistPrf" parameterType="map" >
    <include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
	-- 검증쿼리
      AND A.RQST_DCD = 'DD'
      AND NOT EXISTS (SELECT 1
			                  FROM WAM_PRF_MSTR D
			                 WHERE A.DB_CONN_TRG_ID = D.DB_CONN_TRG_ID
			                    AND A.DB_SCH_ID = D.DB_SCH_ID
                                AND A.PRF_KND_CD = D.PRF_KND_CD
                                AND UPPER(A.DBC_TBL_NM) = TRIM(UPPER(D.DBC_TBL_NM))
                                AND UPPER(A.OBJ_NM) = TRIM(UPPER(D.OBJ_NM))
			                    AND D.REG_TYP_CD IN ('C', 'U')
			               )
  </insert>
 
   <delete id="deletebyRqstSno" parameterType="map">
  	DELETE FROM ${tblnm} 
  	WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
  	   AND RQST_SNO IN
  	<foreach collection="ids" item="sid" index="index" open="(" separator="," close=")">
  		#{sid}
  	</foreach>
  </delete>
  
  <update id="updatervwStsCd" parameterType="kr.wise.dq.profile.mstr.service.WaqPrfMstrVO" >
  	UPDATE WAQ_PRF_MSTR
  	<set>
  	    RVW_STS_CD 	= #{rvwStsCd} , 
  		RVW_CONTS 	= #{rvwConts} , 
  		APRV_DTM	= now() ,
  		APRV_USER_ID = #{aprvUserId} ,
  	</set>
    WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      AND VRF_CD = '1'
      AND IFNULL(RVW_STS_CD, '_') != '2'
  </update>
  
   <update id="updateDtlrvwStsCd" parameterType="map" >
  	UPDATE ${tblnm}
  	<set>
  	    RVW_STS_CD 	= #{rvwStsCd} , 
  		RVW_CONTS 	= #{rvwConts} , 
  		APRV_DTM	= now() ,
  		APRV_USER_ID = #{aprvUserId} ,
  	</set>
    WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      AND VRF_CD = '1'
      AND IFNULL(RVW_STS_CD, '_') != '2'
  </update>
 
    <select id="selectWaqC" parameterType="map" resultMap="BaseResultMap">
   	SELECT * FROM WAQ_PRF_MSTR
   	WHERE RQST_NO = #{rqstNo}
   	  AND RVW_STS_CD = '1'  -- 승인
   	  AND REG_TYP_CD = 'C'
   </select>
   
 <update id="updateidByKey" parameterType="kr.wise.dq.profile.mstr.service.WaqPrfMstrVO" >
  	UPDATE WAQ_PRF_MSTR 
  	     SET PRF_ID = #{prfId,jdbcType=VARCHAR}
  	 WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
        AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </update>
  
 <update id="updateDtlIdByKey" parameterType="map" >
 	UPDATE ${tblnm} A 
 	     SET A.PRF_ID = (SELECT M.PRF_ID
 	                          FROM WAQ_PRF_MSTR M
 	                         WHERE M.RQST_NO = A.RQST_NO
 	                            AND M.RQST_SNO = A.RQST_SNO
 	                         ) 
 	 WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
 </update>
  
  <update id="updateWaqCUD" parameterType="map">
   	-- WAQ ID, VERS 등을 업데이트...
	UPDATE WAQ_PRF_MSTR A
	SET (STWD_ID, OBJ_VERS, FRS_RQST_DTM, FRS_RQST_USER_ID) = (
	    SELECT 
	          B.STWD_ID AS STWD_ID
	        , IFNULL(B.OBJ_VERS, 0) + 1 AS OBJ_VERS
	        , B.FRS_RQST_DTM
	        , B.FRS_RQST_USER_ID
	    FROM WAM_PRF_MSTR B
	    WHERE B.STWD_LNM = A.STWD_LNM
	    AND B.STWD_PNM = A.STWD_PNM
	    AND B.REG_TYP_CD IN ('C', 'U')
	)
	WHERE A.RQST_NO = #{rqstNo}
	-- AND A.VRF_CD = '1' 		-- 등록가능
	AND A.RVW_STS_CD = '1'  -- 승인
	AND EXISTS (
		SELECT 1
		  FROM WAM_PRF_MSTR B
		 WHERE B.STWD_LNM = A.STWD_LNM
	       AND B.STWD_PNM = A.STWD_PNM
	       AND B.REG_TYP_CD IN ('C', 'U')
	)
   </update>

   <update id="updateWaqC" parameterType="map">
   	
   </update>

   <delete id="deleteWAM" parameterType="map">
    -- WAM 삭제 (등록유형코드가REG_TYP_CD 변경, 삭제일 경우)
	DELETE FROM WAM_PRF_MSTR A
	WHERE EXISTS (
	    SELECT 1 FROM WAQ_PRF_MSTR B
	    WHERE B.RQST_NO = #{rqstNo}
<!-- 	      검토상태코드 승인 : 1 , 반려 : 2 -->
	      AND B.RVW_STS_CD = '1'
	      AND B.PRF_ID = A.PRF_ID
	)
   </delete>
   
   <insert id="insertWAM" parameterType="map">
   	-- WAM 추가 (WAQ 내용을 추가, REG_TYP_CD 가 신규,변경일 경우)
	INSERT INTO WAM_PRF_MSTR
	SELECT 
	<include refid="kr.wise.dq.profile.mstr.service.WamPrfMstrMapper.Base_Column_List"/>
	FROM WAQ_PRF_MSTR A
<!-- 	        INNER JOIN (SELECT RQST_NO AS GP_RQST_NO
	                                 ,PRF_NM AS GP_PRF_NM
	                                 ,MAX(RQST_SNO) AS GP_RQST_SNO
	                          FROM WAQ_PRF_MSTR
	                         WHERE RQST_NO = #{rqstNo}
	                         GROUP BY RQST_NO, PRF_NM ) B	
	           ON A.RQST_NO = B.GP_RQST_NO
	          AND A.RQST_SNO = B.GP_RQST_SNO	    -->
	WHERE A.RQST_NO = #{rqstNo}
	AND A.RVW_STS_CD = '1'
	AND A.REG_TYP_CD IN ('C', 'U')
   </insert>
   
   <update id="updateWAH"  parameterType="map">
   	-- WAH 이력 만료...
	UPDATE WAH_PRF_MSTR A
	SET EXP_DTM = now()
	WHERE EXISTS (
	    SELECT 1 FROM WAQ_PRF_MSTR B
	    WHERE B.RQST_NO = #{rqstNo}
	       AND B.RVW_STS_CD = '1'
	       AND B.PRF_ID = A.PRF_ID
	    )
	AND EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
   </update>
   
   <insert id="insertWAH"  parameterType="map">
   	-- WAH이력 적재...
	INSERT INTO WAH_PRF_MSTR (
		 <include refid="kr.wise.dq.profile.mstr.service.WamPrfMstrMapper.Base_Column_List"/>
		 ,EXP_DTM
		 ,STR_DTM
	)
	SELECT
	      <include refid="kr.wise.dq.profile.mstr.service.WamPrfMstrMapper.Base_Column_List"/>
	    , DATE_FORMAT( '9999-12-31', '%Y-%m-%d') AS EXP_DTM
	    , now() AS STR_DTM 	
	FROM WAQ_PRF_MSTR A
<!-- 	        INNER JOIN (SELECT RQST_NO AS GP_RQST_NO
	                                 ,PRF_NM AS GP_PRF_NM
	                                 ,MAX(RQST_SNO) AS GP_RQST_SNO
	                          FROM WAQ_PRF_MSTR
	                         WHERE RQST_NO = #{rqstNo}
	                         GROUP BY RQST_NO, PRF_NM ) B	
	           ON A.RQST_NO = B.GP_RQST_NO
	          AND A.RQST_SNO = B.GP_RQST_SNO	      -->                    
   WHERE A.RQST_NO = #{rqstNo}
      AND A.RVW_STS_CD = '1'
   </insert>
   
<!--    	프로파일 마스터 그룹핑 후 MAX(RQST_SNO) 외 삭제  -->
<delete id="deleteByPrfNmGroup" parameterType="java.lang.String">
<![CDATA[ 
DELETE WAQ_PRF_MSTR A
 WHERE EXISTS (SELECT 1
                 FROM ( SELECT B.RQST_NO, B.PRF_NM, MAX(B.RQST_SNO) RQST_SNO
                            FROM WAQ_PRF_MSTR B
                           WHERE B.RQST_NO = #{rqstNo}
                              AND B.VRF_CD = '1'
                          GROUP BY B.RQST_NO, B.PRF_NM ) B
                WHERE A.RQST_NO = B.RQST_NO
                  AND A.PRF_NM = B.PRF_NM
                  AND A.RQST_SNO <> B.RQST_SNO )
   AND A.RQST_NO = #{rqstNo}
  ]]>   
</delete>


<delete id="deleteByMstrRow" parameterType="map">
	DELETE FROM ${tblnm} A
    WHERE A.RQST_NO = #{rqstNo}
       AND A.VRF_CD = '1'
	   AND NOT EXISTS (SELECT M.RQST_SNO 
						       FROM WAQ_PRF_MSTR M
							  WHERE M.RQST_NO = A.RQST_NO
							     AND M.RQST_SNO = A.RQST_SNO
							     AND M.VRF_CD = '1'
							  )
</delete>

<update id="updateRqstSno" parameterType="map" >
<![CDATA[ 
UPDATE ${tblnm} A
   SET A.RQST_SNO = (SELECT MAX(M.RQST_SNO)
		                     FROM WAQ_PRF_MSTR M
		                    WHERE M.RQST_NO = #{rqstNo}
		                       AND M.RQST_NO = A.RQST_NO
		                       AND M.PRF_NM = A.PRF_NM)
 WHERE A.RQST_NO = #{rqstNo}
   ]]>  
</update>

<update id="updateMstrDtoU" parameterType="map" >
<![CDATA[ 
UPDATE ${Utblnm} M
    SET M.REG_TYP_CD = 'U'
 WHERE M.RQST_NO = #{rqstNo}
   AND M.VRF_CD = '1'
   AND M.REG_TYP_CD = 'D'
   AND M.PRF_ID IN (SELECT A.PRF_ID
                      FROM (SELECT M.PRF_ID
                                   ,COUNT(M.PRF_ID) AS M_CNT
                                   ,MAX(Q.Q_CNT) AS Q_CNT
                              FROM ${Mtblnm} M
                                   INNER JOIN (SELECT PRF_ID, COUNT(PRF_ID) AS Q_CNT
                                                 FROM ${Qtblnm}
                                                WHERE RQST_NO = #{rqstNo}
                                                  AND VRF_CD = '1'
                                                  AND REG_TYP_CD = 'D'
                                                GROUP BY PRF_ID ) Q
                                     ON M.PRF_ID = Q.PRF_ID
                             GROUP BY M.PRF_ID ) A
                   WHERE A.M_CNT <> A.Q_CNT )
   ]]>  
</update>
   
</mapper>