<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.dq.profile.mstr.service.WaqPrfDqiMapMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.dq.profile.mstr.service.WaqPrfDqiMap"  extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap">
    <result column="DQI_LNM" property="dqiLnm" jdbcType="VARCHAR" />
    <result column="DQI_ID" property="dqiId" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    RQST_NO, RQST_SNO, PRF_ID, DQI_LNM, DQI_ID, VRF_CD, VRF_RMK, RVW_STS_CD, RVW_CONTS, 
    OBJ_DESCN, OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, 
    APRV_DTM, APRV_USER_ID
  </sql>
  
    <sql id="wam_col">
   		, OBJ_DESCN , OBJ_VERS , RQST_NO , RQST_SNO ,  REG_TYP_CD 
		, FRS_RQST_DTM , FRS_RQST_USER_ID , RQST_DTM , RQST_USER_ID , APRV_DTM
		, APRV_USER_ID  
   </sql>
  
  

<insert id="insertSelective" parameterType="kr.wise.dq.profile.mstr.service.WaqPrfMstrVO" >
    insert into WAQ_PRF_DQI_MAP
    <trim prefix="(" suffix=")" suffixOverrides="," >
        RQST_NO,
        RQST_SNO,
        RQST_DTL_SNO,
        PRF_NM,
      <if test="prfId != null" >
        PRF_ID,
      </if>
        DQI_LNM,
      <if test="vrfCd != null" >
        VRF_CD,
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK,
      </if>
      <if test="rvwStsCd != null" >
        RVW_STS_CD,
      </if>
      <if test="rvwConts != null" >
        RVW_CONTS,
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
      <if test="objVers != null" >
        OBJ_VERS,
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD,
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM,
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID,
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM,
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID,
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM,
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{rqstNo,jdbcType=VARCHAR},
        (SELECT MAX(RQST_SNO) FROM WAQ_PRF_MSTR WHERE RQST_NO = #{rqstNo} AND PRF_NM = #{prfNm} ) ,
        (SELECT IFNULL(MAX(RQST_DTL_SNO),0)+1 FROM WAQ_PRF_DQI_MAP FSQ WHERE RQST_NO = #{rqstNo} AND PRF_NM = #{prfNm} ) ,
        #{prfNm,jdbcType=VARCHAR},
      <if test="prfId != null" >
        #{prfId,jdbcType=VARCHAR},
      </if>
        replace(replace(RTRIM(LTRIM(#{dqiLnm,jdbcType=VARCHAR})),chr(10),''),chr(13),''),
      <if test="vrfCd != null" >
        #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="rvwStsCd != null" >
        #{rvwStsCd,jdbcType=VARCHAR},
      </if>
      <if test="rvwConts != null" >
        #{rvwConts,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        #{aprvUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
    <delete id="deletePrfDqiByPrfNm" parameterType="map">
	DELETE FROM WAQ_PRF_DQI_MAP A
	WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
	  AND PRF_NM = #{prfNm,jdbcType=VARCHAR}
   </delete>
  
  
  
  <select id="selectDqiExists" resultMap="BaseResultMap" parameterType="map">
  	SELECT DQI_LNM
  	  FROM WAQ_PRF_DQI_MAP
  	 WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
<!--   	   AND RQST_SNO = #{rqstSno,jdbcType=VARCHAR} -->
  	   AND upper(replace(replace(RTRIM(LTRIM(DQI_LNM)),chr(10),''),chr(13),'')) = upper(replace(replace(RTRIM(LTRIM(#{dqiLnm,jdbcType=VARCHAR})),chr(10),''),chr(13),''))
  </select>
  
  <update id="updateDqiId" parameterType="java.lang.String">
    update WAQ_PRF_DQI_MAP A
       set A.DQI_ID = (select B.DQI_ID   
                         from WAM_DQI B
                        where 1=1
                          and B.REG_TYP_CD in ('C','U')
                          and upper(replace(replace(RTRIM(LTRIM(A.DQI_LNM)),chr(10),''),chr(13),'')) = upper(replace(replace(RTRIM(LTRIM(B.FULL_PATH)),chr(10),''),chr(13),''))
                          )
     where A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
  </update>  
  
 
 <insert id="checkNotExistDqi" parameterType="map" >
	INSERT INTO WAQ_RQST_VRF_DTLS
	(
	    BIZ_DTL_CD
      , RQST_NO
	  , RQST_SNO
	  , VRF_SNO
	  , RQST_DTL_SNO
	  , VRF_DTL_CD
	  , VRF_DTLS
	)
	SELECT DISTINCT
	       #{bizDtlCd} AS BIZ_DTL_CD
           ,A.RQST_NO
	       ,A.RQST_SNO
	       ,IFNULL(C.VRF_SNO,0) + 1 AS VRF_SNO
	       ,0 AS RQST_DTL_SNO
	       ,#{vrfDtlCd} AS VRF_DTL_CD
	       ,NULL AS VRF_DTLS
	FROM ${tblnm} A
	INNER JOIN WAQ_PRF_MSTR B
	ON A.RQST_NO = B.RQST_NO
	AND A.RQST_SNO = B.RQST_SNO
	LEFT OUTER JOIN (SELECT MAX(VRF_SNO) AS VRF_SNO
	                       ,RQST_NO
	                       ,RQST_SNO
	                 FROM WAQ_RQST_VRF_DTLS A
	                 WHERE A.BIZ_DTL_CD = #{bizDtlCd}
	                   AND A.RQST_NO = #{rqstNo}
	                 GROUP BY RQST_NO, RQST_SNO) C
	   ON A.RQST_NO = C.RQST_NO
	  AND A.RQST_SNO = C.RQST_SNO
	  WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
-- 검증쿼리
      and B.RQST_DCD = 'CU'
      and A.DQI_ID IS NULL
  </insert> 
  
  <insert id="insertWahSelective" parameterType="kr.wise.dq.profile.mstr.service.WaqPrfMstrVO" >
    insert into WAH_PRF_DQI_MAP
    <trim prefix="(" suffix=")" suffixOverrides="," >
        PRF_ID,
        DQI_ID,
        EXP_DTM,
        STR_DTM,
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
        OBJ_VERS,
       <if test="rqstNo != null" >
        RQST_NO,
      </if>
      <if test="rqstSno != null" >
        RQST_SNO,
      </if>
        REG_TYP_CD,
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM,
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID,
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM,
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID,
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM,
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{prfId,jdbcType=VARCHAR},
        #{dqiId,jdbcType=VARCHAR},
        DATE_FORMAT( '99991231', '%Y%m%d'),
        now(),  
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
		(SELECT IFNULL(MAX(OBJ_VERS), 0) + 1 FROM  WAM_PRF_DQI_MAP WHERE PRF_ID = #{prfId,jdbcType=VARCHAR} AND DQI_ID = #{dqiId,jdbcType=VARCHAR} ),
       <if test="rqstNo != null" >
        #{rqstNo,jdbcType=VARCHAR},
      </if>
      <if test="rqstSno != null" >
        #{rqstSno,jdbcType=VARCHAR},
      </if>        
        #{regTypCd,jdbcType=VARCHAR},
      <if test="frsRqstDtm != null" >
        #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        #{aprvUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  
  <update id="updatervwStsCd" parameterType="kr.wise.dq.profile.mstr.service.WaqPrfMstrVO" >
  	UPDATE WAQ_PRF_DQI_MAP
  	<set>
  	    RVW_STS_CD 	= #{rvwStsCd} , 
  		RVW_CONTS 	= #{rvwConts} , 
  		APRV_DTM	= now() ,
  		APRV_USER_ID = #{aprvUserId} ,
  	</set>
    WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      AND VRF_CD = '1'
      AND IFNULL(RVW_STS_CD, '_') != '2'
  </update>
  
  <update id="updateidByKey" parameterType="kr.wise.dq.profile.mstr.service.WaqPrfMstrVO" >
  	UPDATE WAQ_PRF_DQI_MAP SET PRF_ID = #{prfId,jdbcType=VARCHAR}
  	 WHERE PRF_ID = #{prfId, jdbcType=VARCHAR}
  	   AND RQST_NO = #{rqstNo,jdbcType=VARCHAR}
       AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </update>
  
  <update id="updateWaqCUD" parameterType="map">
   	-- WAQ ID, VERS 등을 업데이트...
	UPDATE WAQ_PRF_DQI_MAP A
	SET (PRF_ID, OBJ_VERS, FRS_RQST_DTM, FRS_RQST_USER_ID) = (
	    SELECT 
	          B.PRF_ID AS PRF_ID
	        , IFNULL(B.OBJ_VERS, 0) + 1 AS OBJ_VERS
	        , B.FRS_RQST_DTM
	        , B.FRS_RQST_USER_ID
	    FROM WAM_PRF_DQI_MAP B
	    WHERE B.PRF_ID = A.PRF_ID
	    AND B.DQI_ID = A.DQI_ID
	)
	WHERE A.PRF_ID = #{prfId, jdbcType=VARCHAR}
	
	AND EXISTS (
		SELECT 1
		  FROM WAM_PRF_DQI_MAP B
		 WHERE B.PRF_ID = A.PRF_ID
		   AND B.DQI_ID = A.DQI_ID
	        
	)
   </update>
  
  <delete id="deleteWAM" parameterType="map">
    -- WAM 삭제 (등록유형코드가REG_TYP_CD 변경, 삭제일 경우)
	DELETE FROM WAM_PRF_DQI_MAP A
	WHERE EXISTS (
	    SELECT 1 FROM WAQ_PRF_DQI_MAP B
	    WHERE B.RQST_NO = #{prfId, jdbcType=VARCHAR}
	    AND B.PRF_ID = A.PRF_ID
	    -- AND B.DQI_ID = A.DQI_ID
	)
   </delete>
   
   <delete id="deleteWAMByPrfId" parameterType="map">
    -- WAM 삭제 (등록유형코드가REG_TYP_CD 변경, 삭제일 경우)
	DELETE FROM WAM_PRF_DQI_MAP A
	WHERE EXISTS (
	    SELECT 1 FROM WAQ_PRF_DQI_MAP B
	    WHERE B.PRF_ID = #{prfId}
	    AND B.PRF_ID = A.PRF_ID
	    -- AND B.DQI_ID = A.DQI_ID
	)
   </delete>
   
   <insert id="insertWAM" parameterType="map">
   	-- WAM 추가 (WAQ 내용을 추가, REG_TYP_CD 가 신규,변경일 경우)
	INSERT INTO WAM_PRF_DQI_MAP
	SELECT 
		PRF_ID , DQI_ID
	
	<include refid="wam_col"/>
	
	FROM WAQ_PRF_DQI_MAP A
	WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
	AND A.REG_TYP_CD IN ('C', 'U')
   </insert>
  
  <update id="updateWAH"  parameterType="map">
   	-- WAH 이력 만료...
	UPDATE WAH_PRF_DQI_MAP A
	SET EXP_DTM = now()
	WHERE EXISTS (
	    SELECT 1 FROM WAQ_PRF_DQI_MAP B
	    WHERE B.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
	    AND B.PRF_ID = A.PRF_ID
	    AND B.DQI_ID = A.DQI_ID
	    )
	AND EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
   </update>
  
  <insert id="insertWAH"  parameterType="map">
   	-- WAH이력 적재...
	INSERT INTO WAH_PRF_DQI_MAP
	SELECT
	    A.PRF_ID AS PRF_ID
	    , A.DQI_ID AS DQI_ID
	    , DATE_FORMAT( '9999-12-31', '%Y-%m-%d') AS EXP_DTM
	    , now() AS STR_DTM 
	
	<include refid="wam_col"/>
   
	FROM WAQ_PRF_DQI_MAP A
	WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
   </insert>
  
  <update id="updateDelId" parameterType="java.lang.String">
    update WAQ_PRF_DQI_MAP A
       set (A.PRF_ID, A.OBJ_VERS) =
                          
             (select D.PRF_ID, D.OBJ_VERS
                            
             from WAQ_PRF_MSTR B 
             JOIN WAM_PRF_MSTR C 
               ON B.PRF_NM  = C.PRF_NM   
             INNER JOIN WAM_PRF_DQI_MAP D
               ON C.PRF_ID = D.PRF_ID 
             where 1=1 
             AND B.RQST_NO = A.RQST_NO
             AND B.RQST_SNO = A.RQST_SNO
                               )
	 where PRF_ID = #{prfId, jdbcType=VARCHAR}

     
  </update>
  
   <!--  OBJ_ID, OBJ_VERS UPDATE  -->
  <update id="updatePrfDqiInfo" parameterType="java.lang.String">
    update WAQ_PRF_DQI_MAP A
       set (A.REG_TYP_CD, A.PRF_ID) = 
             (SELECT case when max(B.RQST_DCD) = 'DD' then 'D' else case when MAX(B.PRF_ID) IS NULL then 'C' else 'U' end end
                     ,B.PRF_ID
                 FROM WAQ_PRF_MSTR B
                WHERE B.REG_TYP_CD in ('C','U')
                  AND A.RQST_NO = B.RQST_NO
                  AND B.RQST_NO = #{rqstNo, jdbcType=VARCHAR}
                GROUP BY B.PRF_ID )
      WHERE A.RQST_NO = #{rqstNo, jdbcType=VARCHAR}
  </update>
  
  <select id="selectRqstNo" parameterType="java.lang.String">
  	SELECT RQST_NO
  	FROM   WAM_PRF_MSTR
  	WHERE  PRF_ID = #{prfId, jdbcType=VARCHAR}
  </select>
  
   <insert id="insertWAMbyByPrfId" parameterType="map">
   	-- WAM 추가 (WAQ 내용을 추가, REG_TYP_CD 가 신규,변경일 경우)
	INSERT INTO WAM_PRF_DQI_MAP
	SELECT 
		PRF_ID , DQI_ID
	<include refid="wam_col"/>
	  FROM WAH_PRF_DQI_MAP A
	 WHERE A.PRF_ID = #{prfId, jdbcType=VARCHAR}
 	   AND A.REG_TYP_CD IN ('C', 'U')
 	   AND A.EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
   </insert>  
</mapper>