<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.wise.advisor.prepare.udefoutlier.datafilter.service.WadUodcDaseCndDvCndMapper">
  <resultMap id="BaseResultMap" type="kr.wise.advisor.prepare.udefoutlier.datafilter.service.WadUodcDaseCndDvCnd" extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap" >
    <id column="UDF_OTL_DTC_ID"   jdbcType="VARCHAR"   property="udfOtlDtcId" />
    <id column="CRE_COMP_ID"      jdbcType="VARCHAR"   property="creCompId" />
    <id column="CND_SNO"          jdbcType="DECIMAL"   property="cndSno"    />
    <result column="ANA_VAR_ID"   jdbcType="VARCHAR"   property="anaVarId"  />
    <result column="COL_PNM"      jdbcType="VARCHAR"   property="colPnm"    />
    <result column="CND_CD"       jdbcType="VARCHAR"   property="cndCd"     />
    <result column="OPR_CD"       jdbcType="VARCHAR"   property="oprCd"     />
    <result column="CND_VAL"      jdbcType="VARCHAR"   property="cndVal"    />    
    
    <result column="ANA_DASE_NM"      jdbcType="VARCHAR"   property="anaDaseNm"    />
    <result column="SRC_ANA_DASE_NM"  jdbcType="VARCHAR"   property="srcAnaDaseNm" />
    <result column="CND_CONTS"        jdbcType="VARCHAR"   property="cndConts"     />
  </resultMap>
  
  <sql id="Base_Column_List">
    UDF_OTL_DTC_ID, CRE_COMP_ID, CND_SNO, ANA_VAR_ID, COL_PNM, CND_CD, OPR_CD, CND_VAL, 
    OBJ_DESCN, OBJ_VERS, REG_TYP_CD, WRIT_USER_ID, WRIT_DTM
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from WAD_UODC_DASE_CND_DV_CND
    where UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
      and CRE_COMP_ID = #{creCompId,jdbcType=VARCHAR}
      and CND_SNO = #{cndSno,jdbcType=DECIMAL}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from WAD_UODC_DASE_CND_DV_CND
    where UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
      and CRE_COMP_ID = #{creCompId,jdbcType=VARCHAR}
      and CND_SNO = #{cndSno,jdbcType=DECIMAL}
  </delete>
   
  <delete id="deleteCreCompId" parameterType="map">
    DELETE FROM WAD_UODC_DASE_CND_DV_CND
     WHERE UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
       AND CRE_COMP_ID    = #{creCompId,jdbcType=VARCHAR}      
  </delete>
  
  <delete id="deleteByUdfOtlDtcId" parameterType="map">
    DELETE FROM WAD_UODC_DASE_CND_DV_CND
     WHERE UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="kr.wise.advisor.prepare.udefoutlier.datafilter.service.WadUodcDaseCndDvCnd">
    insert into WAD_UODC_DASE_CND_DV_CND (UDF_OTL_DTC_ID, CRE_COMP_ID, CND_SNO, 
      ANA_VAR_ID, COL_PNM, CND_CD, 
      OPR_CD, CND_VAL, OBJ_DESCN, 
      OBJ_VERS, REG_TYP_CD, WRIT_USER_ID, 
      WRIT_DTM)
    values (#{udfOtlDtcId,jdbcType=VARCHAR}, #{creCompId,jdbcType=VARCHAR}, #{cndSno,jdbcType=DECIMAL}, 
      #{anaVarId,jdbcType=VARCHAR}, #{colPnm,jdbcType=VARCHAR}, #{cndCd,jdbcType=VARCHAR}, 
      #{oprCd,jdbcType=VARCHAR}, #{cndVal,jdbcType=VARCHAR}, #{objDescn,jdbcType=VARCHAR}, 
      #{objVers,jdbcType=DECIMAL}, #{regTypCd,jdbcType=VARCHAR}, #{writUserId,jdbcType=VARCHAR}, 
      #{writDtm,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="kr.wise.advisor.prepare.udefoutlier.datafilter.service.WadUodcDaseCndDvCnd">
    <selectKey keyProperty="cndSno" resultType="int" statementType="PREPARED" order="BEFORE">
  		SELECT IFNULL(MAX(CND_SNO), 0) + 1 
  		  FROM WAD_UODC_DASE_CND_DV_CND 
  		 WHERE UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
  		   AND CRE_COMP_ID    = #{creCompId,jdbcType=VARCHAR}
  	</selectKey> 
    INSERT INTO WAD_UODC_DASE_CND_DV_CND
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="udfOtlDtcId != null">
        UDF_OTL_DTC_ID,
      </if>
      <if test="creCompId != null">
        CRE_COMP_ID,
      </if>
      <if test="cndSno != null">
        CND_SNO,
      </if>
      <if test="anaVarId != null">
        ANA_VAR_ID,
      </if>
      <if test="colPnm != null">
        COL_PNM,
      </if>
      <if test="cndCd != null">
        CND_CD,
      </if>
      <if test="oprCd != null">
        OPR_CD,
      </if>
      <if test="cndVal != null">
        CND_VAL,
      </if>
      <if test="objDescn != null">
        OBJ_DESCN,
      </if>
      
        OBJ_VERS,      
        REG_TYP_CD,      
        WRIT_USER_ID,      
        WRIT_DTM 
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="udfOtlDtcId != null">
        #{udfOtlDtcId,jdbcType=VARCHAR},
      </if>
      <if test="creCompId != null">
        #{creCompId,jdbcType=VARCHAR},
      </if>
      <if test="cndSno != null">
        #{cndSno,jdbcType=DECIMAL},
      </if>
      <if test="anaVarId != null">
        #{anaVarId,jdbcType=VARCHAR},
      </if>
      <if test="colPnm != null">
        #{colPnm,jdbcType=VARCHAR},
      </if>
      <if test="cndCd != null">
        #{cndCd,jdbcType=VARCHAR},
      </if>
      <if test="oprCd != null">
        #{oprCd,jdbcType=VARCHAR},
      </if>
      <if test="cndVal != null">
        #{cndVal,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null">
        #{objDescn,jdbcType=VARCHAR},
      </if>
        1,
       'C',      
        #{writUserId,jdbcType=VARCHAR},      
        now() 
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.advisor.prepare.udefoutlier.datafilter.service.WadUodcDaseCndDvCnd">
    update WAD_UODC_DASE_CND_DV_CND
    <set>
      <if test="anaVarId != null">
        ANA_VAR_ID = #{anaVarId,jdbcType=VARCHAR},
      </if>
      <if test="colPnm != null">
        COL_PNM = #{colPnm,jdbcType=VARCHAR},
      </if>
      <if test="cndCd != null">
        CND_CD = #{cndCd,jdbcType=VARCHAR},
      </if>
      <if test="oprCd != null">
        OPR_CD = #{oprCd,jdbcType=VARCHAR},
      </if>
      <if test="cndVal != null">
        CND_VAL = #{cndVal,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null">
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null">
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null">
        REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="writUserId != null">
        WRIT_USER_ID = #{writUserId,jdbcType=VARCHAR},
      </if>
      <if test="writDtm != null">
        WRIT_DTM = #{writDtm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
      and CRE_COMP_ID = #{creCompId,jdbcType=VARCHAR}
      and CND_SNO = #{cndSno,jdbcType=DECIMAL}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="kr.wise.advisor.prepare.udefoutlier.datafilter.service.WadUodcDaseCndDvCnd">
    update WAD_UODC_DASE_CND_DV_CND
    set ANA_VAR_ID = #{anaVarId,jdbcType=VARCHAR},
      COL_PNM = #{colPnm,jdbcType=VARCHAR},
      CND_CD = #{cndCd,jdbcType=VARCHAR},
      OPR_CD = #{oprCd,jdbcType=VARCHAR},
      CND_VAL = #{cndVal,jdbcType=VARCHAR},
      OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      WRIT_USER_ID = #{writUserId,jdbcType=VARCHAR},
      WRIT_DTM = #{writDtm,jdbcType=TIMESTAMP}
    where UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
      and CRE_COMP_ID = #{creCompId,jdbcType=VARCHAR}
      and CND_SNO = #{cndSno,jdbcType=DECIMAL} 
  </update>
  
  <select id="selectUodcDataFilterColList" parameterType="kr.wise.advisor.prepare.udefoutlier.datafilter.service.WadUodcDaseCndDvCnd" resultMap="BaseResultMap" >
  	SELECT A.UDF_OTL_DTC_ID
  	     , A.CRE_COMP_ID
  	     , B.CND_SNO        
         , B.ANA_VAR_ID     
         , B.COL_PNM        
         , B.CND_CD         
         , B.OPR_CD         
         , B.CND_VAL        
  	  FROM WAD_UODC_DASE_CND_DV A
  	       INNER JOIN WAD_UODC_DASE_CND_DV_CND B
  	          ON B.UDF_OTL_DTC_ID = A.UDF_OTL_DTC_ID
  	         AND B.CRE_COMP_ID    = A.CRE_COMP_ID
  	 WHERE 1 = 1       
  	   AND A.UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
       AND A.CRE_COMP_ID    = #{creCompId,jdbcType=VARCHAR}   
  </select>
  
  <select id="selectUodcDaseCndDvCndForScrt" parameterType="kr.wise.advisor.prepare.udefoutlier.datafilter.service.WadUodcDaseCndDvCnd" resultMap="BaseResultMap" >
  	SELECT A.UDF_OTL_DTC_ID
	     , B.CRE_COMP_ID
	     , C.ANA_DASE_NM
	     , D.ANA_DASE_NM AS SRC_ANA_DASE_NM
	     , A.CND_CONTS
	     , B.COL_PNM	
	     , B.CND_CD				
	     , B.OPR_CD	
	     , B.CND_VAL	
	  FROM WAD_UODC_DASE_CND_DV A
	       INNER JOIN WAD_UODC_DASE_CND_DV_CND B
	          ON B.UDF_OTL_DTC_ID = A.UDF_OTL_DTC_ID
	         AND B.CRE_COMP_ID    = A.CRE_COMP_ID
	       LEFT JOIN WAD_UODC_ANA_DASE C
	         ON C.ANA_DASE_ID = A.ANA_DASE_ID  
	       LEFT JOIN WAD_UODC_ANA_DASE D 
	         ON D.ANA_DASE_ID = A.SRC_ANA_DASE_ID  
  	 WHERE 1 = 1       
  	   AND A.UDF_OTL_DTC_ID = #{udfOtlDtcId,jdbcType=VARCHAR}
       AND A.CRE_COMP_ID    = #{creCompId,jdbcType=VARCHAR}   
     ORDER BY B.CND_SNO  
  </select>
</mapper>