<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.commons.damgmt.dmnginfo.service.WaaInfoTypeMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.commons.damgmt.dmnginfo.service.WaaInfoType" extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap">
    <id column="INFOTP_ID" property="infotpId" jdbcType="VARCHAR" />
<!--     <result column="EXP_DTM" property="expDtm" jdbcType="DATE" /> -->
<!--     <result column="STR_DTM" property="strDtm" jdbcType="DATE" /> -->
    <result column="INFOTP_LNM" property="infotpLnm" jdbcType="VARCHAR" />
    <result column="DATA_TYPE" property="dataType" jdbcType="VARCHAR" />
    <result column="DATA_LEN" property="dataLen" jdbcType="DECIMAL" />
    <result column="DATA_SCAL" property="dataScal" jdbcType="DECIMAL" />
<!--     <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" /> -->
<!--     <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" /> -->
<!--     <result column="WRIT_DTM" property="writDtm" jdbcType="DATE" /> -->
<!--     <result column="WRIT_USER_ID" property="writUserId" jdbcType="VARCHAR" /> -->
  </resultMap>
  <sql id="Base_Column_List" >
    INFOTP_ID, EXP_DTM, STR_DTM, INFOTP_LNM, DATA_TYPE, DATA_LEN, DATA_SCAL, OBJ_DESCN, 
    OBJ_VERS, WRIT_DTM, WRIT_USER_ID
  </sql>
  
    <select id="selectInfotpList" resultMap="BaseResultMap">
    SELECT 
	    INFOTP_ID
	    ,DATA_TYPE
	    ,DATA_LEN
	    ,DATA_SCAL
    FROM WAA_INFO_TYPE
    WHERE EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
  </select>
  
  <select id="selectByName" resultMap="BaseResultMap" parameterType="kr.wise.commons.damgmt.dmnginfo.service.WaaInfoType">
  -- 기존 인포타입이 있는지 확인한다.
    SELECT 
	    INFOTP_ID
	    ,DATA_TYPE
	    ,DATA_LEN
	    ,DATA_SCAL
    FROM WAA_INFO_TYPE
    WHERE EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
      AND  INFOTP_LNM = #{infotpLnm}
  
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from WAA_INFO_TYPE
    where INFOTP_ID = #{infotpId,jdbcType=VARCHAR}
    AND EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WAA_INFO_TYPE
    where INFOTP_ID = #{infotpId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="kr.wise.commons.damgmt.dmnginfo.service.WaaInfoType" >
    <selectKey keyProperty="infotpId"  resultType="string" order="BEFORE" statementType="STATEMENT">
   SELECT OBJ_ID.NEXTVAL FROM DUAL
  	</selectKey> 
  	 insert into WAA_INFO_TYPE (INFOTP_ID, EXP_DTM, STR_DTM, 
      INFOTP_LNM, DATA_TYPE, DATA_LEN, 
      DATA_SCAL, OBJ_DESCN, OBJ_VERS, 
      WRIT_DTM, WRIT_USER_ID)
    values (#{infotpId,jdbcType=VARCHAR}, #{expDtm,jdbcType=DATE}, #{strDtm,jdbcType=DATE}, 
      #{infotpLnm,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, #{dataLen,jdbcType=DECIMAL}, 
      #{dataScal,jdbcType=DECIMAL}, #{objDescn,jdbcType=VARCHAR}, #{objVers,jdbcType=DECIMAL}, 
      #{writDtm,jdbcType=DATE}, #{writUserId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="kr.wise.commons.damgmt.dmnginfo.service.WaaInfoType" >
    INSERT INTO WAA_INFO_TYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
        INFOTP_ID,
        EXP_DTM,
        STR_DTM,
        INFOTP_LNM,
        DATA_TYPE,
      <if test="dataLen != null" >
        DATA_LEN,
      </if>
      <if test="dataScal != null" >
        DATA_SCAL,
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
      <if test="objVers != null" >
        OBJ_VERS,
      </if>
        WRIT_DTM,
      <if test="writUserId != null" >
        WRIT_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{infotpId,jdbcType=VARCHAR},
        DATE_FORMAT( '9999-12-31', '%Y-%m-%d'),
        now(),
        #{infotpLnm,jdbcType=VARCHAR},
        #{dataType,jdbcType=VARCHAR},
      <if test="dataLen != null" >
        #{dataLen,jdbcType=DECIMAL},
      </if>
      <if test="dataScal != null" >
        #{dataScal,jdbcType=DECIMAL},
      </if>
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        #{objVers,jdbcType=DECIMAL},
      </if>
        now(),
      <if test="writUserId != null" >
        #{writUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.commons.damgmt.dmnginfo.service.WaaInfoType" >
    update WAA_INFO_TYPE
    <set >
      <if test="expDtm != null" >
        EXP_DTM = #{expDtm,jdbcType=DATE},
      </if>
      <if test="strDtm != null" >
        STR_DTM = #{strDtm,jdbcType=DATE},
      </if>
      <if test="infotpLnm != null" >
        INFOTP_LNM = #{infotpLnm,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="dataLen != null" >
        DATA_LEN = #{dataLen,jdbcType=DECIMAL},
      </if>
      <if test="dataScal != null" >
        DATA_SCAL = #{dataScal,jdbcType=DECIMAL},
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="writDtm != null" >
        WRIT_DTM = #{writDtm,jdbcType=DATE},
      </if>
      <if test="writUserId != null" >
        WRIT_USER_ID = #{writUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where INFOTP_ID = #{infotpId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="kr.wise.commons.damgmt.dmnginfo.service.WaaInfoType" >
    update WAA_INFO_TYPE
    set EXP_DTM = #{expDtm,jdbcType=DATE},
      STR_DTM = #{strDtm,jdbcType=DATE},
      INFOTP_LNM = #{infotpLnm,jdbcType=VARCHAR},
      DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      DATA_LEN = #{dataLen,jdbcType=DECIMAL},
      DATA_SCAL = #{dataScal,jdbcType=DECIMAL},
      OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      WRIT_DTM = #{writDtm,jdbcType=DATE},
      WRIT_USER_ID = #{writUserId,jdbcType=VARCHAR}
    where INFOTP_ID = #{infotpId,jdbcType=VARCHAR}
  </update>

    <select id="selectList" parameterType="kr.wise.commons.damgmt.dmnginfo.service.WaaInfoType" resultMap="BaseResultMap">
  	select 
    	 <include refid="Base_Column_List" /> 
    from WAA_INFO_TYPE  	
    where
       	EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
    
      <if test="infotpLnm != null" >
       AND (INFOTP_LNM LIKE CONCAT( '%' , #{infotpLnm,jdbcType=VARCHAR} , '%')
       		OR INFOTP_LNM LIKE CONCAT( '%' , UPPER(#{infotpLnm,jdbcType=VARCHAR}) , '%'))
      </if>     
       <if test="infotpId != null" >
       AND INFOTP_ID = #{infotpId,jdbcType=VARCHAR}
      </if>
      <if test="expDtm != null" >
       AND EXP_DTM = #{expDtm,jdbcType=DATE}
      </if>
      <if test="strDtm != null" >
       AND STR_DTM = #{strDtm,jdbcType=DATE}
      </if>
      <if test="dataType != null" >
       AND DATA_TYPE = #{dataType,jdbcType=VARCHAR}
      </if>
      <if test="dataLen != null" >
       AND DATA_LEN = #{dataLen,jdbcType=DECIMAL}
      </if>
      <if test="dataScal != null" >
       AND DATA_SCAL = #{dataScal,jdbcType=DECIMAL}
      </if>
      <if test="objDescn != null" >
       AND OBJ_DESCN = #{objDescn,jdbcType=VARCHAR}
      </if>
      <if test="objVers != null" >
       AND OBJ_VERS = #{objVers,jdbcType=DECIMAL}
      </if>
      <if test="writDtm != null" >
       AND WRIT_DTM = #{writDtm,jdbcType=DATE}
      </if>
      <if test="writUserId != null" >
       AND WRIT_USER_ID = #{writUserId,jdbcType=VARCHAR}
      </if>
      ORDER BY INFOTP_LNM
      </select>
      <update id="updateExpDtm" parameterType="kr.wise.commons.damgmt.dmnginfo.service.WaaInfoType">
  	UPDATE WAA_INFO_TYPE SET
  		EXP_DTM = now()
  	WHERE INFOTP_ID = #{infotpId}
  	  AND EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
  </update>
      
</mapper>