<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.wise.dq.model.service.WaqPdmColMapper">
  <resultMap id="BaseResultMap" type="kr.wise.dq.model.service.WaqPdmCol">
    <result column="PDM_COL_ID" jdbcType="VARCHAR" property="pdmColId" />
    <result column="PDM_COL_SNO" jdbcType="DECIMAL" property="pdmColSno" />
    <result column="PDM_COL_PNM" jdbcType="VARCHAR" property="pdmColPnm" />
    <result column="PDM_COL_LNM" jdbcType="VARCHAR" property="pdmColLnm" />
    <result column="DB_CONN_TRG_ID" jdbcType="VARCHAR" property="dbConnTrgId" />
    <result column="DB_SCH_ID" jdbcType="VARCHAR" property="dbSchId" />
    <result column="RQST_DCD" jdbcType="VARCHAR" property="rqstDcd" />
    <result column="VRF_CD" jdbcType="VARCHAR" property="vrfCd" />
    <result column="VRF_RMK" jdbcType="VARCHAR" property="vrfRmk" />
    <result column="PDM_TBL_ID" jdbcType="VARCHAR" property="pdmTblId" />
    <result column="PDM_TBL_PNM" jdbcType="VARCHAR" property="pdmTblPnm" />
    <result column="COL_ORD" jdbcType="DECIMAL" property="colOrd" />
    <result column="DATA_TYPE" jdbcType="VARCHAR" property="dataType" />
    <result column="DATA_LEN" jdbcType="DECIMAL" property="dataLen" />
    <result column="DATA_SCAL" jdbcType="DECIMAL" property="dataScal" />
    <result column="PK_YN" jdbcType="VARCHAR" property="pkYn" />
    <result column="PK_ORD" jdbcType="DECIMAL" property="pkOrd" />
    <result column="NONUL_YN" jdbcType="VARCHAR" property="nonulYn" />
    <result column="DEFLT_VAL" jdbcType="VARCHAR" property="defltVal" />
    <result column="OBJ_DESCN" jdbcType="VARCHAR" property="objDescn" />
    <result column="OBJ_VERS" jdbcType="DECIMAL" property="objVers" />
    <result column="REG_TYP_CD" jdbcType="VARCHAR" property="regTypCd" />
    <result column="RQST_DTM" jdbcType="VARCHAR" property="rqstDtm" />
    <result column="RQST_USER_ID" jdbcType="VARCHAR" property="rqstUserId" />
    <result column="ENC_YN" jdbcType="VARCHAR" property="encYn" />
  </resultMap>
  <insert id="insert" parameterType="kr.wise.dq.model.service.WaqPdmCol">
    insert into WAQ_PDM_COL (PDM_COL_ID, PDM_COL_SNO, PDM_COL_PNM, 
      PDM_COL_LNM, DB_CONN_TRG_ID, DB_SCH_ID, 
      RQST_DCD, VRF_CD, VRF_RMK, 
      PDM_TBL_ID, PDM_TBL_PNM, COL_ORD, 
      DATA_TYPE, DATA_LEN, DATA_SCAL, 
      PK_YN, PK_ORD, NONUL_YN, 
      DEFLT_VAL, OBJ_DESCN, OBJ_VERS, 
      REG_TYP_CD, RQST_DTM, RQST_USER_ID, 
      ENC_YN)
    values (#{pdmColId,jdbcType=VARCHAR}, #{pdmColSno,jdbcType=DECIMAL}, #{pdmColPnm,jdbcType=VARCHAR}, 
      #{pdmColLnm,jdbcType=VARCHAR}, #{dbConnTrgId,jdbcType=VARCHAR}, #{dbSchId,jdbcType=VARCHAR}, 
      #{rqstDcd,jdbcType=VARCHAR}, #{vrfCd,jdbcType=VARCHAR}, #{vrfRmk,jdbcType=VARCHAR}, 
      #{pdmTblId,jdbcType=VARCHAR}, #{pdmTblPnm,jdbcType=VARCHAR}, #{colOrd,jdbcType=DECIMAL}, 
      #{dataType,jdbcType=VARCHAR}, #{dataLen,jdbcType=DECIMAL}, #{dataScal,jdbcType=DECIMAL}, 
      #{pkYn,jdbcType=VARCHAR}, #{pkOrd,jdbcType=DECIMAL}, #{nonulYn,jdbcType=VARCHAR}, 
      #{defltVal,jdbcType=VARCHAR}, #{objDescn,jdbcType=VARCHAR}, #{objVers,jdbcType=DECIMAL}, 
      #{regTypCd,jdbcType=VARCHAR}, #{rqstDtm,jdbcType=VARCHAR}, #{rqstUserId,jdbcType=VARCHAR}, 
      #{encYn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="kr.wise.dq.model.service.WaqPdmCol">
    insert into WAQ_PDM_COL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pdmColId != null">
        PDM_COL_ID,
      </if>
      <if test="pdmColSno != null">
        PDM_COL_SNO,
      </if>
      <if test="pdmColPnm != null">
        PDM_COL_PNM,
      </if>
      <if test="pdmColLnm != null">
        PDM_COL_LNM,
      </if>
      <if test="dbConnTrgId != null">
        DB_CONN_TRG_ID,
      </if>
      <if test="dbSchId != null">
        DB_SCH_ID,
      </if>
      <if test="rqstDcd != null">
        RQST_DCD,
      </if>
      <if test="vrfCd != null">
        VRF_CD,
      </if>
      <if test="vrfRmk != null">
        VRF_RMK,
      </if>
      <if test="pdmTblId != null">
        PDM_TBL_ID,
      </if>
      <if test="pdmTblPnm != null">
        PDM_TBL_PNM,
      </if>
      <if test="colOrd != null">
        COL_ORD,
      </if>
      <if test="dataType != null">
        DATA_TYPE,
      </if>
      <if test="dataLen != null">
        DATA_LEN,
      </if>
      <if test="dataScal != null">
        DATA_SCAL,
      </if>
      <if test="pkYn != null">
        PK_YN,
      </if>
      <if test="pkOrd != null">
        PK_ORD,
      </if>
      <if test="nonulYn != null">
        NONUL_YN,
      </if>
      <if test="defltVal != null">
        DEFLT_VAL,
      </if>
      <if test="objDescn != null">
        OBJ_DESCN,
      </if>
      <if test="objVers != null">
        OBJ_VERS,
      </if>
      <if test="regTypCd != null">
        REG_TYP_CD,
      </if>
      <if test="rqstDtm != null">
        RQST_DTM,
      </if>
      <if test="rqstUserId != null">
        RQST_USER_ID,
      </if>
      <if test="encYn != null">
        ENC_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pdmColId != null">
        #{pdmColId,jdbcType=VARCHAR},
      </if>
      <if test="pdmColSno != null">
        #{pdmColSno,jdbcType=DECIMAL},
      </if>
      <if test="pdmColPnm != null">
        #{pdmColPnm,jdbcType=VARCHAR},
      </if>
      <if test="pdmColLnm != null">
        #{pdmColLnm,jdbcType=VARCHAR},
      </if>
      <if test="dbConnTrgId != null">
        #{dbConnTrgId,jdbcType=VARCHAR},
      </if>
      <if test="dbSchId != null">
        #{dbSchId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDcd != null">
        #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null">
        #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null">
        #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="pdmTblId != null">
        #{pdmTblId,jdbcType=VARCHAR},
      </if>
      <if test="pdmTblPnm != null">
        #{pdmTblPnm,jdbcType=VARCHAR},
      </if>
      <if test="colOrd != null">
        #{colOrd,jdbcType=DECIMAL},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="dataLen != null">
        #{dataLen,jdbcType=DECIMAL},
      </if>
      <if test="dataScal != null">
        #{dataScal,jdbcType=DECIMAL},
      </if>
      <if test="pkYn != null">
        #{pkYn,jdbcType=VARCHAR},
      </if>
      <if test="pkOrd != null">
        #{pkOrd,jdbcType=DECIMAL},
      </if>
      <if test="nonulYn != null">
        #{nonulYn,jdbcType=VARCHAR},
      </if>
      <if test="defltVal != null">
        #{defltVal,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null">
        #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null">
        #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null">
        #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null">
        #{rqstDtm,jdbcType=VARCHAR},
      </if>
      <if test="rqstUserId != null">
        #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="encYn != null">
        #{encYn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>