<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.commons.damgmt.schedule.service.WahShdMstrMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.commons.damgmt.schedule.service.WahShdMstr" >
    <id column="SHD_ID" property="shdId" jdbcType="VARCHAR" />
    <id column="EXP_DTM" property="expDtm" jdbcType="TIMESTAMP" />
    <result column="STR_DTM" property="staDtm" jdbcType="TIMESTAMP" />
    <result column="SHD_LNM" property="shdLnm" jdbcType="VARCHAR" />
    <result column="SHD_PNM" property="shdPnm" jdbcType="VARCHAR" />
    <result column="SHD_KND_CD" property="shdKndCd" jdbcType="VARCHAR" />
    <result column="SHD_USE_YN" property="shdUseYn" jdbcType="VARCHAR" />
    <result column="SHD_BPR_YN" property="shdBprYn" jdbcType="VARCHAR" />
    <result column="ER_DATA_LD_YN" property="erDataLdYn" jdbcType="VARCHAR" />
    <result column="ER_DATA_LD_CNT" property="erDataLdCnt" jdbcType="DECIMAL" />
    <result column="PK_DATA_LD_YN" property="pkDataLdYn" jdbcType="VARCHAR" />
    <result column="PK_DATA_LD_CNT" property="pkDataLdCnt" jdbcType="DECIMAL" />
    <result column="ANA_DGR" property="anaDgr" jdbcType="DECIMAL" />
    <result column="ANA_DGR_AUTO_INC_YN" property="anaDgrAutoIncYn" jdbcType="VARCHAR" />
    <result column="SHD_TYP_CD" property="shdTypCd" jdbcType="VARCHAR" />
    <result column="SHD_STR_DTM" property="shdStrDtm" jdbcType="TIMESTAMP" />
    <result column="SHD_STR_HR" property="shdStrHr" jdbcType="VARCHAR" />
    <result column="SHD_STR_MNT" property="shdStrMnt" jdbcType="VARCHAR" />
    <result column="SHD_DLY" property="shdDly" jdbcType="VARCHAR" />
    <result column="SHD_DLY_VAL" property="shdDlyVal" jdbcType="VARCHAR" />
    <result column="SHD_WKL" property="shdWkl" jdbcType="VARCHAR" />
    <result column="SHD_WKL_VAL" property="shdWklVal" jdbcType="VARCHAR" />
    <result column="SHD_MNY" property="shdMny" jdbcType="VARCHAR" />
    <result column="SHD_MNY_VAL" property="shdMnyVal" jdbcType="VARCHAR" />
    <result column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" />
    <result column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" />
    <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" />
    <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" />
    <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" />
    <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" />
    <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" />
    <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" />
    <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" />
    <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" />
    <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SHD_ID, EXP_DTM, STR_DTM, SHD_LNM, SHD_PNM, SHD_KND_CD, SHD_USE_YN, SHD_BPR_YN, ER_DATA_LD_YN, 
    ER_DATA_LD_CNT, PK_DATA_LD_YN, PK_DATA_LD_CNT, ANA_DGR, ANA_DGR_AUTO_INC_YN, SHD_TYP_CD, 
    SHD_STR_DTM, SHD_STR_HR, SHD_STR_MNT, SHD_DLY, SHD_DLY_VAL, SHD_WKL, SHD_WKL_VAL, 
    SHD_MNY, SHD_MNY_VAL, RQST_NO, RQST_SNO, OBJ_DESCN, OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, 
    FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID
  </sql>
  
  <update id="updateWahShd" parameterType="map" >
	 UPDATE ${wahTblNm} 
	      SET EXP_DTM = now()
	  WHERE EXP_DTM = DATE_FORMAT( '99991231', '%Y%m%d')
	     AND SHD_ID = #{shdId,jdbcType=VARCHAR}
  </update>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from WAH_SHD_MSTR
    where SHD_ID = #{shdId,jdbcType=VARCHAR}
      and EXP_DTM = #{expDtm,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from WAH_SHD_MSTR
    where SHD_ID = #{shdId,jdbcType=VARCHAR}
      and EXP_DTM = #{expDtm,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="kr.wise.commons.damgmt.schedule.service.WahShdMstr" >
    insert into WAH_SHD_MSTR (SHD_ID, EXP_DTM, STR_DTM, 
      SHD_LNM, SHD_PNM, SHD_KND_CD, 
      SHD_USE_YN, SHD_BPR_YN, ER_DATA_LD_YN, 
      ER_DATA_LD_CNT, PK_DATA_LD_YN, PK_DATA_LD_CNT, 
      ANA_DGR, ANA_DGR_AUTO_INC_YN, SHD_TYP_CD, 
      SHD_STR_DTM, SHD_STR_HR, SHD_STR_MNT, 
      SHD_DLY, SHD_DLY_VAL, SHD_WKL, 
      SHD_WKL_VAL, SHD_MNY, SHD_MNY_VAL, 
      RQST_NO, RQST_SNO, OBJ_DESCN, 
      OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, 
      FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, 
      APRV_DTM, APRV_USER_ID)
    values (#{shdId,jdbcType=VARCHAR}, #{expDtm,jdbcType=TIMESTAMP}, #{strDtm,jdbcType=TIMESTAMP}, 
      #{shdLnm,jdbcType=VARCHAR}, #{shdPnm,jdbcType=VARCHAR}, #{shdKndCd,jdbcType=VARCHAR}, 
      #{shdUseYn,jdbcType=VARCHAR}, #{shdBprYn,jdbcType=VARCHAR}, #{erDataLdYn,jdbcType=VARCHAR}, 
      #{erDataLdCnt,jdbcType=DECIMAL}, #{pkDataLdYn,jdbcType=VARCHAR}, #{pkDataLdCnt,jdbcType=DECIMAL}, 
      #{anaDgr,jdbcType=DECIMAL}, #{anaDgrAutoIncYn,jdbcType=VARCHAR}, #{shdTypCd,jdbcType=VARCHAR}, 
      #{shdStrDtm,jdbcType=TIMESTAMP}, #{shdStrHr,jdbcType=VARCHAR}, #{shdStrMnt,jdbcType=VARCHAR}, 
      #{shdDly,jdbcType=VARCHAR}, #{shdDlyVal,jdbcType=VARCHAR}, #{shdWkl,jdbcType=VARCHAR}, 
      #{shdWklVal,jdbcType=VARCHAR}, #{shdMny,jdbcType=VARCHAR}, #{shdMnyVal,jdbcType=VARCHAR}, 
      #{rqstNo,jdbcType=VARCHAR}, #{rqstSno,jdbcType=DECIMAL}, #{objDescn,jdbcType=VARCHAR}, 
      #{objVers,jdbcType=DECIMAL}, #{regTypCd,jdbcType=VARCHAR}, #{frsRqstDtm,jdbcType=TIMESTAMP}, 
      #{frsRqstUserId,jdbcType=VARCHAR}, #{rqstDtm,jdbcType=TIMESTAMP}, #{rqstUserId,jdbcType=VARCHAR}, 
      #{aprvDtm,jdbcType=TIMESTAMP}, #{aprvUserId,jdbcType=VARCHAR})
  </insert>
  
  
  <insert id="insertSelective" parameterType="kr.wise.commons.damgmt.schedule.service.WamShd" >
    insert into WAH_SHD_MSTR
    <trim prefix="(" suffix=")" suffixOverrides="," >
        SHD_ID,
        EXP_DTM,
        STR_DTM,
      <if test="shdLnm != null" >
        SHD_LNM,
      </if>
      <if test="shdPnm != null" >
        SHD_PNM,
      </if>
      <if test="shdKndCd != null" >
        SHD_KND_CD,
      </if>
      <if test="shdUseYn != null" >
        SHD_USE_YN,
      </if>
      <if test="shdBprYn != null" >
        SHD_BPR_YN,
      </if>
      <if test="erDataLdYn != null" >
        ER_DATA_LD_YN,
      </if>
      <if test="erDataLdCnt != null" >
        ER_DATA_LD_CNT,
      </if>
      <if test="pkDataLdYn != null" >
        PK_DATA_LD_YN,
      </if>
      <if test="pkDataLdCnt != null" >
        PK_DATA_LD_CNT,
      </if>
      <if test="anaDgr != null" >
        ANA_DGR,
      </if>
      <if test="anaDgrAutoIncYn != null" >
        ANA_DGR_AUTO_INC_YN,
      </if>
      <if test="shdTypCd != null" >
        SHD_TYP_CD,
      </if>
      <if test="shdStrDtm != null" >
        SHD_STR_DTM,
      </if>
      <if test="shdStrHr != null" >
        SHD_STR_HR,
      </if>
      <if test="shdStrMnt != null" >
        SHD_STR_MNT,
      </if>
      <if test="shdDly != null" >
        SHD_DLY,
      </if>
      <if test="shdDlyVal != null" >
        SHD_DLY_VAL,
      </if>
      <if test="shdWkl != null" >
        SHD_WKL,
      </if>
      <if test="shdWklVal != null" >
        SHD_WKL_VAL,
      </if>
      <if test="shdMny != null" >
        SHD_MNY,
      </if>
      <if test="shdMnyVal != null" >
        SHD_MNY_VAL,
      </if>
      <if test="rqstNo != null" >
        RQST_NO,
      </if>
      <if test="rqstSno != null" >
        RQST_SNO,
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
        OBJ_VERS,
      <if test="regTypCd != null" >
        REG_TYP_CD,
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM,
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID,
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM,
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID,
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM,
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID,
      </if>
      <if test="mngUserId != null and mngUserId !='' ">
        MNG_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{shdId,jdbcType=VARCHAR},
       DATE_FORMAT( '99991231', '%Y%m%d'),
       now(),
      <if test="shdLnm != null" >
        #{shdLnm,jdbcType=VARCHAR},
      </if>
      <if test="shdPnm != null" >
        #{shdPnm,jdbcType=VARCHAR},
      </if>
      <if test="shdKndCd != null" >
        #{shdKndCd,jdbcType=VARCHAR},
      </if>
      <if test="shdUseYn != null" >
        #{shdUseYn,jdbcType=VARCHAR},
      </if>
      <if test="shdBprYn != null" >
        #{shdBprYn,jdbcType=VARCHAR},
      </if>
      <if test="erDataLdYn != null" >
        #{erDataLdYn,jdbcType=VARCHAR},
      </if>
      <if test="erDataLdCnt != null" >
        #{erDataLdCnt,jdbcType=DECIMAL},
      </if>
      <if test="pkDataLdYn != null" >
        #{pkDataLdYn,jdbcType=VARCHAR},
      </if>
      <if test="pkDataLdCnt != null" >
        #{pkDataLdCnt,jdbcType=DECIMAL},
      </if>
      <if test="anaDgr != null" >
        #{anaDgr,jdbcType=DECIMAL},
      </if>
      <if test="anaDgrAutoIncYn != null" >
        #{anaDgrAutoIncYn,jdbcType=VARCHAR},
      </if>
      <if test="shdTypCd != null" >
        #{shdTypCd,jdbcType=VARCHAR},
      </if>
      <if test="shdStrDtm != null" >
        DATE_FORMAT(#{shdStrDtm,jdbcType=TIMESTAMP},'%Y%m%d'),
<!--         #{shdStrDtm,jdbcType=TIMESTAMP}, -->
      </if>
      <if test="shdStrHr != null" >
        #{shdStrHr,jdbcType=VARCHAR},
      </if>
      <if test="shdStrMnt != null" >
        #{shdStrMnt,jdbcType=VARCHAR},
      </if>
      <if test="shdDly != null" >
        #{shdDly,jdbcType=VARCHAR},
      </if>
      <if test="shdDlyVal != null" >
        #{shdDlyVal,jdbcType=VARCHAR},
      </if>
      <if test="shdWkl != null" >
        #{shdWkl,jdbcType=VARCHAR},
      </if>
      <if test="shdWklVal != null" >
        #{shdWklVal,jdbcType=VARCHAR},
      </if>
      <if test="shdMny != null" >
        #{shdMny,jdbcType=VARCHAR},
      </if>
      <if test="shdMnyVal != null" >
        #{shdMnyVal,jdbcType=VARCHAR},
      </if>
      <if test="rqstNo != null" >
        #{rqstNo,jdbcType=VARCHAR},
      </if>
      <if test="rqstSno != null" >
        #{rqstSno,jdbcType=DECIMAL},
      </if>
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
       (SELECT IFNULL(MAX(OBJ_VERS), 0) + 1 FROM  WAM_SHD_MSTR WHERE SHD_ID = #{shdId,jdbcType=VARCHAR} ),
      <if test="regTypCd != null" >
        #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        #{aprvUserId,jdbcType=VARCHAR},
      </if>
      <if test="mngUserId != null and mngUserId !='' ">
        #{mngUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.commons.damgmt.schedule.service.WahShdMstr" >
    update WAH_SHD_MSTR
    <set >
      <if test="strDtm != null" >
        STR_DTM = #{strDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="shdLnm != null" >
        SHD_LNM = #{shdLnm,jdbcType=VARCHAR},
      </if>
      <if test="shdPnm != null" >
        SHD_PNM = #{shdPnm,jdbcType=VARCHAR},
      </if>
      <if test="shdKndCd != null" >
        SHD_KND_CD = #{shdKndCd,jdbcType=VARCHAR},
      </if>
      <if test="shdUseYn != null" >
        SHD_USE_YN = #{shdUseYn,jdbcType=VARCHAR},
      </if>
      <if test="shdBprYn != null" >
        SHD_BPR_YN = #{shdBprYn,jdbcType=VARCHAR},
      </if>
      <if test="erDataLdYn != null" >
        ER_DATA_LD_YN = #{erDataLdYn,jdbcType=VARCHAR},
      </if>
      <if test="erDataLdCnt != null" >
        ER_DATA_LD_CNT = #{erDataLdCnt,jdbcType=DECIMAL},
      </if>
      <if test="pkDataLdYn != null" >
        PK_DATA_LD_YN = #{pkDataLdYn,jdbcType=VARCHAR},
      </if>
      <if test="pkDataLdCnt != null" >
        PK_DATA_LD_CNT = #{pkDataLdCnt,jdbcType=DECIMAL},
      </if>
      <if test="anaDgr != null" >
        ANA_DGR = #{anaDgr,jdbcType=DECIMAL},
      </if>
      <if test="anaDgrAutoIncYn != null" >
        ANA_DGR_AUTO_INC_YN = #{anaDgrAutoIncYn,jdbcType=VARCHAR},
      </if>
      <if test="shdTypCd != null" >
        SHD_TYP_CD = #{shdTypCd,jdbcType=VARCHAR},
      </if>
      <if test="shdStrDtm != null" >
        SHD_STR_DTM = #{shdStrDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="shdStrHr != null" >
        SHD_STR_HR = #{shdStrHr,jdbcType=VARCHAR},
      </if>
      <if test="shdStrMnt != null" >
        SHD_STR_MNT = #{shdStrMnt,jdbcType=VARCHAR},
      </if>
      <if test="shdDly != null" >
        SHD_DLY = #{shdDly,jdbcType=VARCHAR},
      </if>
      <if test="shdDlyVal != null" >
        SHD_DLY_VAL = #{shdDlyVal,jdbcType=VARCHAR},
      </if>
      <if test="shdWkl != null" >
        SHD_WKL = #{shdWkl,jdbcType=VARCHAR},
      </if>
      <if test="shdWklVal != null" >
        SHD_WKL_VAL = #{shdWklVal,jdbcType=VARCHAR},
      </if>
      <if test="shdMny != null" >
        SHD_MNY = #{shdMny,jdbcType=VARCHAR},
      </if>
      <if test="shdMnyVal != null" >
        SHD_MNY_VAL = #{shdMnyVal,jdbcType=VARCHAR},
      </if>
      <if test="rqstNo != null" >
        RQST_NO = #{rqstNo,jdbcType=VARCHAR},
      </if>
      <if test="rqstSno != null" >
        RQST_SNO = #{rqstSno,jdbcType=DECIMAL},
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where SHD_ID = #{shdId,jdbcType=VARCHAR}
      and EXP_DTM = #{expDtm,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="kr.wise.commons.damgmt.schedule.service.WahShdMstr" >
    update WAH_SHD_MSTR
    set STR_DTM = #{strDtm,jdbcType=TIMESTAMP},
      SHD_LNM = #{shdLnm,jdbcType=VARCHAR},
      SHD_PNM = #{shdPnm,jdbcType=VARCHAR},
      SHD_KND_CD = #{shdKndCd,jdbcType=VARCHAR},
      SHD_USE_YN = #{shdUseYn,jdbcType=VARCHAR},
      SHD_BPR_YN = #{shdBprYn,jdbcType=VARCHAR},
      ER_DATA_LD_YN = #{erDataLdYn,jdbcType=VARCHAR},
      ER_DATA_LD_CNT = #{erDataLdCnt,jdbcType=DECIMAL},
      PK_DATA_LD_YN = #{pkDataLdYn,jdbcType=VARCHAR},
      PK_DATA_LD_CNT = #{pkDataLdCnt,jdbcType=DECIMAL},
      ANA_DGR = #{anaDgr,jdbcType=DECIMAL},
      ANA_DGR_AUTO_INC_YN = #{anaDgrAutoIncYn,jdbcType=VARCHAR},
      SHD_TYP_CD = #{shdTypCd,jdbcType=VARCHAR},
      SHD_STR_DTM = #{shdStrDtm,jdbcType=TIMESTAMP},
      SHD_STR_HR = #{shdStrHr,jdbcType=VARCHAR},
      SHD_STR_MNT = #{shdStrMnt,jdbcType=VARCHAR},
      SHD_DLY = #{shdDly,jdbcType=VARCHAR},
      SHD_DLY_VAL = #{shdDlyVal,jdbcType=VARCHAR},
      SHD_WKL = #{shdWkl,jdbcType=VARCHAR},
      SHD_WKL_VAL = #{shdWklVal,jdbcType=VARCHAR},
      SHD_MNY = #{shdMny,jdbcType=VARCHAR},
      SHD_MNY_VAL = #{shdMnyVal,jdbcType=VARCHAR},
      RQST_NO = #{rqstNo,jdbcType=VARCHAR},
      RQST_SNO = #{rqstSno,jdbcType=DECIMAL},
      OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR}
    where SHD_ID = #{shdId,jdbcType=VARCHAR}
      and EXP_DTM = #{expDtm,jdbcType=TIMESTAMP}
  </update>
</mapper>