<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.commons.sysmgmt.menu.service.WaaUsergMenuAuthMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.commons.sysmgmt.menu.service.WaaUsergMenuAuth" extends="kr.wise.commons.sysmgmt.menu.service.MenuManageMapper.BaseResultMap">
<!--     <id column="MENU_ID" property="menuId" jdbcType="VARCHAR" /> -->
    <id column="USERG_ID" property="usergId" jdbcType="VARCHAR" />
    <result column="ROOT_MENU" property="rootMenuId" jdbcType="VARCHAR" />
    <result column="ROOT_MENU_NM" property="rootMenuNm" jdbcType="VARCHAR" />
<!--     <result column="EXP_DTM" property="expDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="STR_DTM" property="strDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" /> -->
<!--     <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" /> -->
<!--     <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" /> -->
<!--     <result column="WRIT_DTM" property="writDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="WRIT_USER_ID" property="writUserId" jdbcType="VARCHAR" /> -->
  </resultMap>
  
    <resultMap id="UsergMenuresMap" type="kr.wise.commons.sysmgmt.menu.service.UsergMenuMapVo" >
  <result column="MENU_ID" property="menuId" jdbcType="VARCHAR"/>
  <result column="MENU_ID" property="menuId" jdbcType="VARCHAR"/>
  <result column="USERG_ID" property="usergId" jdbcType="VARCHAR"/>
  </resultMap>
  
  <resultMap id="resultMap2" type="kr.wise.commons.sysmgmt.menu.service.WaaUsergMenuAuthVO" >
  <id column="USERG_ID" property="usergId" jdbcType="VARCHAR" />
  <id column="MENU_DCD" property="menuDcd" jdbcType="VARCHAR" />
  <collection property="menulist" ofType="kr.wise.commons.sysmgmt.menu.service.WaaUsergMenuAuth" resultMap="BaseResultMap">
  </collection>
  </resultMap>

  <resultMap id="subMenuresultMap" type="kr.wise.commons.sysmgmt.menu.service.WaaUsergMenuAuthVO" >
  <id column="USERG_ID" property="usergId" jdbcType="VARCHAR" />
  <id column="MENU_DCD" property="menuDcd" jdbcType="VARCHAR" />
  <id column="ROOT_MENU" property="rootMenuId" jdbcType="VARCHAR" />
  <collection property="menulist" ofType="kr.wise.commons.sysmgmt.menu.service.WaaUsergMenuAuth" resultMap="BaseResultMap">
  </collection>
  </resultMap>
  
  <sql id="Base_Column_List" >
    MENU_ID, USERG_ID, EXP_DTM, STR_DTM, OBJ_DESCN, OBJ_VERS, REG_TYP_CD, WRIT_DTM, WRIT_USER_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from WAA_USERG_MENU_AUTH
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
      and USERG_ID = #{usergId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectTopMenuList" parameterType="kr.wise.commons.sysmgmt.menu.service.WaaUsergMenuAuth" resultMap="BaseResultMap">
 <!-- 요청 URL에 따라 메인메뉴 리스트 조회한다. -->
  	SELECT	
  		  B.MENU_ID, B.MENU_NM, B.UPP_MENU_ID, B.MENU_LVL, B.FILE_PATH
  		, B.FILE_NM, B.DISP_YN, B.DISP_ORD
     	, B.MNGR_MENU_YN, A.USERG_ID, B.MENU_DCD, B.IMG_PATH
     	, B.MENU_ID AS ROOT_MENU
	  FROM  WAA_PRGM_MENU b
	  JOIN WAA_USERG_MENU_AUTH A
	    ON A.MENU_ID = B.MENU_ID
	  AND A.EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d')
	  AND A.REG_TYP_CD IN ('C', 'U')
	where A.USERG_ID = #{usergId,jdbcType=VARCHAR}
	  AND B.DISP_YN = 'Y'
	  AND B.EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d') 
	  AND B.REG_TYP_CD IN ('C', 'U')
	  AND B.MENU_LVL = 0
	  AND B.MENU_DCD = #{menuDcd,jdbcType=VARCHAR}
	  AND B.FILE_NM != 'main'
<!-- 	  AND B.MENU_DCD = (SELECT MENU_DCD FROM WAA_PRGM_MENU  -->
<!-- 						 WHERE FILE_PATH = #{filePath,jdbcType=VARCHAR} -->
<!-- 						   AND EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d') -->
<!-- 						   AND REG_TYP_CD IN ('C', 'U') -->
<!-- 					   ) -->
    ORDER BY B.MENU_DCD, B.DISP_ORD
  </select>
  
  <select id="selectRequestMenu" parameterType="kr.wise.commons.sysmgmt.menu.service.WaaUsergMenuAuth" resultMap="BaseResultMap">
 <!-- 요청 URL에 대한 현재 메뉴 정보를 가져온다. -->
  SELECT  (CASE WHEN B.ROOT_MENU_ID IS NULL THEN B.MENU_ID ELSE B.ROOT_MENU_ID END) AS ROOT_MENU
           , B.FULL_PATH
           , B.MENU_ID
           , B.MENU_NM
           , B.UPP_MENU_ID
           , B.MENU_LVL
           , B.FILE_PATH
	  	   , B.FILE_NM
	  	   , B.DISP_YN
	  	   , B.DISP_ORD
	       , B.MNGR_MENU_YN
	       , A.USERG_ID
	       , B.MENU_DCD
	       , B.IMG_PATH
  FROM V_WAA_PRGM_MENU B
       INNER JOIN WAA_USERG_MENU_AUTH A
          ON B.MENU_ID = A.MENU_ID
      /*   AND A.EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d') */
		 AND A.REG_TYP_CD IN ('C', 'U')
 WHERE 1 = 1
   AND B.DISP_YN = 'Y'
   AND B.FILE_NM NOT IN ('dir', 'link')
   AND B.FILE_PATH = #{filePath}
   AND A.USERG_ID = #{usergId,jdbcType=VARCHAR}
 ORDER BY B.FULL_DISP_ORD
<!--   SELECT  -->
<!--       CONNECT_BY_ROOT  MENU_ID AS ROOT_MENU -->
<!-- 	, SUBSTR(SYS_CONNECT_BY_PATH(MENU_NM, '>'), 2) AS FULL_PATH -->
<!-- 	, b.* -->
<!-- 	FROM  (   -->
<!-- 		SELECT	 -->
<!-- 	  		  B.MENU_ID, B.MENU_NM, B.UPP_MENU_ID, B.MENU_LVL, B.FILE_PATH -->
<!-- 	  		, B.FILE_NM, B.DISP_YN, B.DISP_ORD -->
<!-- 	     	, B.MNGR_MENU_YN, A.USERG_ID, B.MENU_DCD, B.IMG_PATH -->
<!-- 		  FROM  WAA_PRGM_MENU b -->
<!-- 		  JOIN WAA_USERG_MENU_AUTH A -->
<!-- 		    ON A.MENU_ID = B.MENU_ID	    -->
<!-- 		  AND A.EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d') -->
<!-- 		  AND A.REG_TYP_CD IN ('C', 'U') -->
<!-- 		where A.USERG_ID = #{usergId,jdbcType=VARCHAR} -->
<!-- 		  AND B.DISP_YN = 'Y' -->
<!-- 		  AND B.EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d') -->
<!-- 		  AND B.REG_TYP_CD IN ('C', 'U') -->
<!-- 	) b -->
<!-- 	WHERE 1=1 -->
<!-- 	  AND FILE_PATH = #{filePath} -->
<!-- 	  AND FILE_NM NOT IN ('dir', 'link') -->
<!-- 	START WITH MENU_LVL = 0 -->
<!-- 	CONNECT BY PRIOR MENU_ID=UPP_MENU_ID -->
<!-- 	ORDER SIBLINGS BY DISP_ORD -->
  </select>
  <select id="selectSubMenuList" parameterType="kr.wise.commons.sysmgmt.menu.service.WaaUsergMenuAuth" resultMap="BaseResultMap">
<!--  요청 URL에 대한 Sub 메뉴 정보를 가져온다. -->
 SELECT  B.MENU_ID
        , B.MENU_NM
        , B.UPP_MENU_ID
        , B.MENU_LVL
        , B.FILE_PATH
        , B.IMG_PATH 
	  	, B.FILE_NM
        , B.DISP_YN
        , B.DISP_ORD
	    , B.MNGR_MENU_YN
        , B.MENU_DCD
        , B.FULL_PATH
        , B.ROOT_MENU_ID AS ROOT_MENU
        , A.USERG_ID
  FROM V_WAA_PRGM_MENU B
       INNER JOIN WAA_USERG_MENU_AUTH A
          ON B.MENU_ID = A.MENU_ID
         AND A.EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d')
		 AND A.REG_TYP_CD IN ('C', 'U')
 WHERE (B.MENU_ID = #{rootMenuId} OR B.UPP_MENU_ID = #{rootMenuId} OR B.ROOT_MENU_ID = #{rootMenuId} )  
   AND B.DISP_YN = 'Y'
   AND A.USERG_ID = #{usergId,jdbcType=VARCHAR}
 ORDER BY B.FULL_DISP_ORD

<!--   SELECT  -->
<!--       CONNECT_BY_ROOT  MENU_ID AS ROOT_MENU -->
<!-- 	, SUBSTR(SYS_CONNECT_BY_PATH(MENU_NM, '>'), 2) AS FULL_PATH -->
<!-- 	, b.* -->
<!-- 	FROM  (   -->
<!-- 		SELECT	 -->
<!-- 	  		  B.MENU_ID, B.MENU_NM, B.UPP_MENU_ID, B.MENU_LVL, B.FILE_PATH -->
<!-- 	  		, B.FILE_NM, B.DISP_YN, B.DISP_ORD -->
<!-- 	     	, B.MNGR_MENU_YN, A.USERG_ID, B.MENU_DCD, B.IMG_PATH -->
<!-- 		  FROM  WAA_PRGM_MENU b -->
<!-- 		  JOIN WAA_USERG_MENU_AUTH A -->
<!-- 		    ON A.MENU_ID = B.MENU_ID	    -->
<!-- 		  AND A.EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d') -->
<!-- 		  AND A.REG_TYP_CD IN ('C', 'U') -->
<!-- 		where A.USERG_ID = #{usergId,jdbcType=VARCHAR} -->
<!-- 		  AND B.DISP_YN = 'Y' -->
<!-- 		  AND B.EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d') -->
<!-- 		  AND B.REG_TYP_CD IN ('C', 'U') -->
<!-- 	) b -->
<!-- 	START WITH MENU_ID = #{rootMenuId} -->
<!-- 	CONNECT BY PRIOR MENU_ID=UPP_MENU_ID -->
<!-- 	ORDER SIBLINGS BY DISP_ORD -->
  </select>
  
  <select id="selectSubMenuListAll" resultMap="subMenuresultMap" parameterType="string">
  <!-- 사용자 그룹별 서브메뉴 리스트 -->
	 SELECT  B.MENU_ID
   		   <if test='langDcd == "kr" ' >
           , B.FULL_PATH
           , B.MENU_NM
           </if>
  		   <if test='langDcd == "en" ' >
           , B.FULL_PATH_EN AS FULL_PATH
           , B.MENU_NM_EN AS MENU_NM
           </if>   
	        , B.UPP_MENU_ID
	        , B.MENU_LVL
	        , B.FILE_PATH
	        , B.IMG_PATH 
		  	, B.FILE_NM
	        , B.DISP_YN
	        , B.DISP_ORD
		    , B.MNGR_MENU_YN
	        , B.MENU_DCD
	        , B.ROOT_MENU_ID AS ROOT_MENU
	        , A.USERG_ID
	  FROM V_WAA_PRGM_MENU B
	       INNER JOIN WAA_USERG_MENU_AUTH A
	          ON B.MENU_ID = A.MENU_ID
	         AND A.EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d')
			 AND A.REG_TYP_CD IN ('C', 'U')
	 WHERE 1=1  
	   AND B.DISP_YN = 'Y'
<!-- 	   AND A.USERG_ID = #{usergId,jdbcType=VARCHAR} -->
   ORDER BY A.USERG_ID, B.MENU_DCD, B.ROOT_MENU_ID, B.MENU_LVL,  B.DISP_ORD
  </select>
  
  <select id="selectTopMenuListAll" resultMap="resultMap2" parameterType="string">
<!--사용자 그룹별 메인메뉴 리스트 조회한다.-->
  	SELECT	
  		  B.MENU_ID
   		   <if test='langDcd == "kr" ' >
           , B.FULL_PATH
           , B.MENU_NM
           </if>
  		   <if test='langDcd == "en" ' >
           , B.FULL_PATH_EN AS FULL_PATH
           , B.MENU_NM_EN AS MENU_NM
           </if>   
  		  , B.UPP_MENU_ID, B.MENU_LVL, B.FILE_PATH
  		, B.FILE_NM, B.DISP_YN, B.DISP_ORD
     	, B.MNGR_MENU_YN, A.USERG_ID, B.MENU_DCD, B.IMG_PATH
     	, B.MENU_ID AS ROOT_MENU
	  FROM  WAA_PRGM_MENU B
	  JOIN WAA_USERG_MENU_AUTH A
	    ON A.MENU_ID = B.MENU_ID
	   
	  AND A.EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d')
	  AND A.REG_TYP_CD IN ('C', 'U')
	where 1=1 
	  AND B.DISP_YN = 'Y'
	  AND B.EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d')
	  AND B.REG_TYP_CD IN ('C', 'U')
	  AND B.MENU_LVL = 0
	  -- AND ( (B.MENU_DCD = 'ADMIN' AND B.MENU_LVL = 1)
	  --   OR (B.MENU_DCD != 'ADMIN' AND B.MENU_LVL = 0 )
	  -- ) 
<!-- 	  AND B.MENU_DCD = #{menuDcd,jdbcType=VARCHAR} -->
	  AND B.FILE_NM != 'main'
<!-- 	  AND B.MENU_DCD = (SELECT MENU_DCD FROM WAA_PRGM_MENU  -->
<!-- 						 WHERE FILE_PATH = #{filePath,jdbcType=VARCHAR} -->
<!-- 						   AND EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d') -->
<!-- 						   AND REG_TYP_CD IN ('C', 'U') -->
<!-- 					   ) -->
    ORDER BY A.USERG_ID, B.MENU_DCD, B.MENU_LVL, B.DISP_ORD
  </select>
  
  
    <select id="selectMenuList" resultMap="BaseResultMap" parameterType="String">
<!-- 전체메뉴 조회 -->
  SELECT  (CASE WHEN B.ROOT_MENU_ID IS NULL THEN B.MENU_ID ELSE B.ROOT_MENU_ID END) AS ROOT_MENU
  		   , B.ROOT_MENU_NM
   		   <if test='langDcd == "kr" ' >
           , B.FULL_PATH
           , B.MENU_NM
           </if>
  		   <if test='langDcd == "en" ' >
           , B.FULL_PATH_EN AS FULL_PATH
           , B.MENU_NM_EN AS MENU_NM
           </if>             
           , B.MENU_ID
           , B.UPP_MENU_ID
           , B.UPP_MENU_NM
           , B.MENU_LVL
           , B.FILE_PATH
	  	   , B.FILE_NM
	  	   , B.DISP_YN
	  	   , B.DISP_ORD
	       , B.MNGR_MENU_YN
	       , 'system' AS USERG_ID
	       , B.MENU_DCD
	       , B.IMG_PATH
	       , B.HELP_ID
	       , B.FULL_ID
  FROM V_WAA_PRGM_MENU B
 WHERE 1=1
<!--    AND B.FILE_NM NOT IN ('dir', 'link') -->
 ORDER BY MENU_DCD, MENU_LVL, DISP_ORD
  </select>
  
  <select id="selectMenuMapAll" resultMap="UsergMenuresMap">
<!-- 사용자 그룹별 메뉴ID를 조회한다. -->
  SELECT MENU_ID, USERG_ID
    FROM WAA_USERG_MENU_AUTH
   WHERE 1=1
     AND EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d')
     AND REG_TYP_CD IN ('C', 'U')
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from WAA_USERG_MENU_AUTH
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
      and USERG_ID = #{usergId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="kr.wise.commons.sysmgmt.menu.service.WaaUsergMenuAuth" >
    insert into WAA_USERG_MENU_AUTH (MENU_ID, USERG_ID, EXP_DTM, 
      STR_DTM, OBJ_DESCN, OBJ_VERS, 
      REG_TYP_CD, WRIT_DTM, WRIT_USER_ID
      )
    values (#{menuId,jdbcType=VARCHAR}, #{usergId,jdbcType=VARCHAR}, #{expDtm,jdbcType=TIMESTAMP}, 
      #{strDtm,jdbcType=TIMESTAMP}, #{objDescn,jdbcType=VARCHAR}, #{objVers,jdbcType=DECIMAL}, 
      #{regTypCd,jdbcType=VARCHAR}, #{writDtm,jdbcType=TIMESTAMP}, #{writUserId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="kr.wise.commons.sysmgmt.menu.service.MenuManageVO" >
    insert into WAA_USERG_MENU_AUTH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="usergId != null" >
        USERG_ID,
      </if>
        EXP_DTM,
        STR_DTM,
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
      <if test="objVers != null" >
        OBJ_VERS,
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD,
      </if>
        WRIT_DTM,
      <if test="writUserId != null" >
        WRIT_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="usergId != null" >
        #{usergId,jdbcType=VARCHAR},
      </if>
        DATE_FORMAT( '9999-12-31', '%Y-%m-%d'),
        now(),
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        #{regTypCd,jdbcType=VARCHAR},
      </if>
      	now(),
      <if test="writUserId != null" >
        #{writUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.commons.sysmgmt.menu.service.WaaUsergMenuAuth" >
    update WAA_USERG_MENU_AUTH
    <set >
      <if test="expDtm != null" >
        EXP_DTM = #{expDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="strDtm != null" >
        STR_DTM = #{strDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="writDtm != null" >
        WRIT_DTM = #{writDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="writUserId != null" >
        WRIT_USER_ID = #{writUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
      and USERG_ID = #{usergId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="kr.wise.commons.sysmgmt.menu.service.WaaUsergMenuAuth" >
    update WAA_USERG_MENU_AUTH
    set EXP_DTM = #{expDtm,jdbcType=TIMESTAMP},
      STR_DTM = #{strDtm,jdbcType=TIMESTAMP},
      OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      WRIT_DTM = #{writDtm,jdbcType=TIMESTAMP},
      WRIT_USER_ID = #{writUserId,jdbcType=VARCHAR}
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
      and USERG_ID = #{usergId,jdbcType=VARCHAR}
  </update>
  <select id="getMenuWithUserg" resultMap="BaseResultMap"  parameterType="kr.wise.commons.sysmgmt.menu.service.WaaUsergMenuAuth" >
    SELECT A.*
          ,CASE WHEN EXISTS (SELECT 1 FROM
                             WAA_USERG_MENU_AUTH
                             WHERE REG_TYP_CD IN ('C', 'U')
                               AND EXP_DTM = DATE_FORMAT( '9999-12-31', '%Y-%m-%d')
                               AND MENU_ID = A.MENU_ID
                               AND USERG_ID = #{usergId,jdbcType=VARCHAR})
                      THEN '1'
                      ELSE '0' 
                      END AS IBS_CHECK
  FROM V_WAA_PRGM_MENU A
 ORDER BY A.MENU_DCD DESC 
        , REPLACE(SUBSTRING_INDEX(A.FULL_DISP_ORD,'>',2),'>','')
        <!--  ,REGEXP_SUBSTR(A.FULL_DISP_ORD,'[^>]+',1,1) || REGEXP_SUBSTR(A.FULL_DISP_ORD,'[^>]+',1,2)
         -->
        , A.MENU_LVL
        , A.DISP_ORD          
<!-- 	    FROM -->
<!-- 	    ( -->
<!-- 	        SELECT * FROM -->
<!-- 	            (SELECT * -->
<!-- 	              FROM WAA_PRGM_MENU  -->
<!-- 	             WHERE EXP_DTM = DATE_FORMAT('9999-12-31', '%Y-%m-%d') -->
<!-- 	                AND REG_TYP_CD IN ('C', 'U')  )  -->
<!-- 	              START WITH MENU_LVL = 0 -->
<!-- 	         CONNECT BY PRIOR MENU_ID = UPP_MENU_ID -->
<!-- 	            ORDER SIBLINGS BY DISP_ORD ) A -->
  </select>
  
  <delete id="deleteByUsergId" parameterType="java.lang.String" >
    delete from WAA_USERG_MENU_AUTH
    where USERG_ID = #{usergId,jdbcType=VARCHAR}
      
  </delete>
  
</mapper>